﻿
<style type="text/css">
    #wndTMAddTaskPopupWizard, #wndTMAddHWBPopup {
        overflow: hidden;
    }

   

    #awbWizardContent .k-tooltip-validation, #frmHWBAddEdit .k-tooltip-validation {
        font-size: 11px;
        margin: 0px !important;
        display: block;
        padding: 0px !important;
    }


    #divRateEditor .k-tooltip-validation {
        font-size: 11px;
        margin: 0px !important;
        display: block;
        padding: 0px !important;
    }

     #wndAddEditPartner .k-tooltip-validation {
        font-size: 11px;
        margin: 0px !important;
        display: block;
        padding: 0px !important;
    }

    /*span.k-tooltip-validation:before {
            content: "\000A";
            white-space: pre;
        }*/


    #AircraftType_validationMessage {
        display: none !important;
    }


    #AWBNumber {
        background-color: rgb(234, 236, 206) !important;
        color: #555 !important;
    }

    /*AWB Step*/

    #frmAWBStep li:nth-child(1) {
        width: 53%;
        margin-right: 10px;
        min-width: 350px;
    }

    #frmAWBStep li:nth-child(2) {
        width: 46%;
        min-width: 250px;
    }

    @@media (min-width: 885px) and (max-width: 1200px) {
        #frmAWBStep li:nth-child(1) {
            margin-right: 3px;
        }
    }

    @@media (max-width: 885px) {

        #frmAWBStep li:nth-child(1) {
            width: 100%;
            margin-right: 0px;
        }

        #frmAWBStep li:nth-child(2) {
            width: 100%;
        }
    }
  .disableddiv {
        pointer-events: none;
        opacity: 0.7;
    }
    /*Charges Step*/

    #divChargesStep > div {
        width:100%;
        float: left;
    }
  
    #divChargesStepFirst > .leftcontrols:nth-child(1) {
        width: 17%;
    }

    #divChargesStepFirst > .leftcontrols:nth-child(2) {
        width: 53%;
    }


    #divChargesStepFirst > .leftcontrols:nth-child(3) {
        width: 30%;
    }


    #divChargesStepThird > .leftcontrols:nth-child(1) {
        width: 40%;
    }

    #divChargesStepThird > .leftcontrols:nth-child(2) {
        width: 30%;
    }

    #divChargesStepThird > .leftcontrols:nth-child(3) {
        width: 30%;
    }


  

      @@media (min-width: 900px) and (max-width: 1200px) {
        #divChargeDeclarations {
            display:block !important;
        }
    #divChargesStepFirst > .leftcontrols:nth-child(1) {
        width: 30%;
    }

    #divChargesStepFirst > .leftcontrols:nth-child(2) {
        width: 40%;
    }

    #divChargesStepFirst > .leftcontrols:nth-child(3) {
        width: 30%;
    }


    #divChargesStepThird > .leftcontrols:nth-child(1) {
        width: 100%;
    }

    #divChargesStepThird > .leftcontrols:nth-child(2) {
        width: 50%;
    }

    #divChargesStepThird > .leftcontrols:nth-child(3) {
        width: 50%;
    }
    }


    @@media (max-width: 900px) {
           #divChargeDeclarations {
            display:block !important;
        }
        #divChargesStepFirst > .leftcontrols:nth-child(1) {
            width: 100%;
        }

        #divChargesStepFirst > .leftcontrols:nth-child(2) {
            width: 100%;
        }

        #divChargesStepFirst > .leftcontrols:nth-child(3) {
            width: 100%;
        }

        #divChargesStepThird > .leftcontrols:nth-child(1) {
            width: 100%;
        }

        #divChargesStepThird > .leftcontrols:nth-child(2) {
            width: 100%;
        }

        #divChargesStepThird > .leftcontrols:nth-child(3) {
            width: 100%;
        }
    }

  

    .goods_grid {
        height: 150px;
        width: 100%;
        min-width: 400px;
        font-size: 12px !important;
    }



    @@media (min-width: 1365px) {
        .rdcontrols span.cnt_100 {
            width: 40%;
            vertical-align: top;
        }
    }

    /*ULDs*/

    .ulds_grid {
        height: 250px;
        width: 60%;
        min-width: 400px;
        font-size: 12px !important;
    }



    /*HWB AddEdit Step*/

    #frmHWBAddEdit li:nth-child(1) {
        width: 60%;
        min-width: 350px;
    }

    #frmHWBAddEdit li:nth-child(2) {
        width: 40%;
        min-width: 250px;
    }


    @@media (max-width: 720px) {

        #frmHWBAddEdit li:nth-child(1) {
            width: 100%;
        }

        #frmHWBAddEdit li:nth-child(2) {
            width: 100%;
        }
    }
</style>

<script type="text/javascript">
    var HWBAddEditModel = {
        hwbValidator: null,

        SaveHWBAddEdit: '@Url.Action("SaveHWBAddEdit", "AWBWizard")',
        onSave: function (addnew) {
            debugger;
            $("#btnSaveHWB").attr("disabled", "disabled");
            if ($("#btnSaveAndAddHWB").length > 0) {
                $("#btnSaveAndAddHWB").attr("disabled", "disabled");
            }

            HWBAddEditModel.hwbValidator = $("#frmHWBAddEdit").kendoValidator({
                rules: {
                    inputempty: function (input) {
                        if ($(input).attr('inputempty') != undefined) {
                            var retVal = true;
                            var val = $(input).val().trim();

                            if (val == "") {
                                retVal = false;
                                $(input).val(val);
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    comboselected: function (input) {
                        if ($(input).attr('comboselected') != undefined) {
                            var retVal = true;
                            var kendoCombo = $(input).data("kendoComboBox");
                            if (kendoCombo) {
                                if (kendoCombo.value() != "" && kendoCombo.selectedIndex == -1) {
                                    retVal = false;
                                }
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    custom: function (input) {
                        if ($(input).attr('customRequired') != undefined) {
                            var elementValue = $.trim($(input).val());
                            if (elementValue == "0" || elementValue == "") return false;
                            else return true;
                        }
                        else {
                            return true;
                        }
                    },
                    checkdestination: function (input) {
                        if ($(input).attr('checkdestination') != undefined) {

                            $("input[name='DestinationId_input']").blur();
                        }
                        return true;
                    },
                    duplicatedports: function (input) {
                        if ($(input).attr('duplicatedports') != undefined) {

                            var retVal = true;
                            var destValue = $.trim($(input).val());

                            var originValue = $.trim($("#cbOrigin").val());

                            if (destValue != "" && originValue != "" && destValue == originValue) {
                                retVal = false;
                            }

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    dublicatedValue: function (input) {
                        if ($(input).attr('dublicatedValue') != undefined) {
                            //
                            var retVal = true;
                            var inputs = $(input).closest("div").prevAll("div").find("input[dublicatedValue='true']");
                            var elementValue = $.trim($(input).val());
                            $.each(inputs, function (i, v) {
                                var val = $.trim($(v).val());
                                if (val != "" && val == elementValue)
                                    retVal = false;
                            })

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    partrequired: function (input) {
                        if ($(input).attr('partrequired') != undefined) {

                            var retVal = false;
                            var inputs = $(input).closest("table").find("input[partrequired='true']");
                            $.each(inputs, function (i, v) {
                                var val = $.trim($(v).val());
                                if (val != "") {
                                    retVal = true;
                                }
                            })

                            if (retVal)
                                $("#CustomSelection_validationMessage").hide();
                            else
                                $("#CustomSelection_validationMessage").show();

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                },
                validateOnBlur: true
            }).data("kendoValidator");


            var disabled = $("#lihwbSecond").find(':input:disabled').removeAttr('disabled');

            if (!HWBAddEditModel.hwbValidator.validate()) {
                disabled.attr('disabled', 'disabled');

                $("#btnSaveHWB").removeAttr("disabled");
                if ($("#btnSaveAndAddHWB").length > 0) {
                    $("#btnSaveAndAddHWB").removeAttr("disabled");
                }
            }
            else {

                var formElementsJson = $("#frmHWBAddEdit").serializeObject();
                disabled.attr('disabled', 'disabled');

                delete formElementsJson['ChargeDeclarations[NVD]'];
                formElementsJson['ChargeDeclarations[NVD]'] = $("#NVD").is(":checked");
                delete formElementsJson['ChargeDeclarations[NCV]'];
                formElementsJson['ChargeDeclarations[NCV]'] = $("#NCV").is(":checked");
                delete formElementsJson['ChargeDeclarations[XXX]'];
                formElementsJson['ChargeDeclarations[XXX]'] = $("#XXX").is(":checked");

                delete formElementsJson['ChargeDeclarations[WTVALChargesType]'];
                formElementsJson['ChargeDeclarations[WTVALChargesType]'] = $("#WTVALChargesType:checked").val();

                delete formElementsJson['ChargeDeclarations[OtherChargesType]'];
                formElementsJson['ChargeDeclarations[OtherChargesType]'] = $("#OtherChargesType:checked").val();

                AWBHWBCommonModel.arrangeJson(formElementsJson);


                $.ajax({
                    //  async: true,
                    type: 'POST',
                    dataType: "json",
                    traditional: true,
                    url: HWBAddEditModel.SaveHWBAddEdit,
                    data: JSON.stringify(formElementsJson),
                    success: function (html) {

                        $("#btnSaveHWB").removeAttr("disabled");
                        if ($("#btnSaveAndAddHWB").length > 0) {
                            $("#btnSaveAndAddHWB").removeAttr("disabled");
                        }

                        if (html.data == "Error") {
                            //alert(html.ErrorMessage);
                            window.DIALOG_HANDLER.openAlert("Error", html.ErrorMessage);
                        }
                        else {
                            HWBAddEditModel.hwbValidator = null;
                            $("#frmHWBStep").trigger("hwbUpdateCompleted", addnew);
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    },
                    cache: false,
                    contentType: 'application/json, charset=utf-8',
                    processData: false
                });
            }
        },
    }

    var AWBHWBCommonModel = {
        PreviewAWBUrl: '@Url.Action("PreviewAWB", "AWBWizard")',
        PreviewHWBUrl: '@Url.Action("PreviewHWB", "AWBWizard")',

        arrangeJson: function (data) {
            var initMatch = /^([a-z0-9]+?)\[/i;
            var first = /^\[[a-z0-9]+?\]/i;
            var isNumber = /^[0-9]$/;
            var bracers = /[\[\]]/g;
            var splitter = /\]\[|\[|\]/g;

            for (var key in data) {
                if (initMatch.test(key)) {
                    data[key.replace(initMatch, '[$1][')] = data[key];
                }
                else {
                    data[key.replace(/^(.+)$/, '[$1]')] = data[key];
                }
                delete data[key];
            }

            for (var key in data) {
                processExpression(data, key, data[key]);
                delete data[key];
            }

            function processExpression(dataNode, key, value) {
                var e = key.split(splitter);
                if (e) {
                    var e2 = [];
                    for (var i = 0; i < e.length; i++) {
                        if (e[i] !== '') { e2.push(e[i]); }
                    }
                    e = e2;
                    if (e.length > 1) {
                        var x = e[0];
                        var target = dataNode[x];
                        if (!target) {
                            if (isNumber.test(e[1])) {
                                dataNode[x] = [];
                            }
                            else {
                                dataNode[x] = {}
                            }
                        }
                        processExpression(dataNode[x], key.replace(first, ''), value);
                    }
                    else if (e.length == 1) {
                        dataNode[e[0]] = value;
                    }
                    else {

                    }
                }
            }
        },

        previewDoc: function (id, entityType) {
            var url = (entityType.toUpperCase() == "HWB") ? AWBHWBCommonModel.PreviewHWBUrl : AWBHWBCommonModel.PreviewAWBUrl;

            $.ajax({
                url: url,
                type: "POST",
                data: { id: id },
                dataType: "json",
                traditional: true,
                success: function (data) {

                    if (data.url) {
                        var tmpKendoWindow = $("#wndDocumentViewer").data("kendoWindow");
                        if (tmpKendoWindow) {
                            tmpKendoWindow.title(entityType.toUpperCase() + " Viewer");
                            tmpKendoWindow.setOptions({ width: 1200, height: 800 });

                            var windowContent = "<iframe src='" + data.url + "' width='1180px' height='750px' >";

                            tmpKendoWindow.content(windowContent);

                            tmpKendoWindow.center().open();
                        } else {
                            console.log("common-controls.js : Image viewer window is missing.")
                        }
                    }


                },
                error: function (msg) {
                    alert(msg);
                },
                fail: function (msg) {
                    alert(msg);
                }
            });




        }
    }
</script>