﻿@model MCH.Web.Models.AWBWizard.SimpleChargeTypeValue

@{
    Layout = null;
    var chtype = Convert.ToInt32(ViewData["ChargesType"]);
}


@Html.Hidden(Model.Title.Replace(" ", "") + "[Id]", Model.Id)
@Html.Hidden(Model.Title.Replace(" ", "") + "[Title]", Model.Title)
<div class="lg_controls  rdcontrols">
    <span class="cnt_100">@Model.Title:</span>
    <div style="display: inline-table">
        @(Html.Kendo().NumericTextBoxFor(v => v.Prepaid)
                .Name(Model.Title.Replace(" ", "") + "[Prepaid]")
                         .Step((decimal)0.01)
                        .Min(0)
                        .Decimals(2)
        .Enable(chtype == 0)
                .HtmlAttributes(new
                {
                    style = "width:100px;",
                    maxlength = 9,
                    onChange = "ChargesModel.CalcTotalPrepaid()"
                }))
    </div>

    <div style="display: inline-table">
        @(Html.Kendo().NumericTextBoxFor(v => v.Collect)
                           .Name(Model.Title.Replace(" ", "") + "[Collect]")
                       .Step((decimal)0.01)
                        .Min(0)
                        .Decimals(2)
                                .Enable(chtype == 1)
                .HtmlAttributes(new
                        {
                            style = "width:100px;",
                            maxlength = 9,
                            onChange = "ChargesModel.CalcTotalCollect()"
                        }))
    </div>
</div>