﻿@using MCH.Web.Models.Shared;
@model ChargeDeclarations

<style type="text/css">

    .rdlabel {
        margin-right: 10px !important;
    }

    #divChargeDeclarations>div:nth-child(1) .rdcontrols span.cnt_100 {
   width: 30%;
   margin-left:-10px;
}
     #divChargeDeclarations>div:nth-child(2) .rdcontrols span.cnt_100 {
   width: 25%;
    margin-left:-15px;
}
</style>

@{
    ViewBag.Title = "_ChargeDeclarations";
    Layout = null;
}

<script type="text/javascript">
    function disableAmount(e) {
        var element = null;
        var validationel = null;
        switch ($(e).attr("id")) {
            case "NVD":
                {
                    element = $("#numDeclaredValueForCarrige");
                    validationel = $("#ChargeDeclarations\\[DeclaredValueForCarrige\\]_validationMessage");
                    break;
                }
            case "NCV":
                {
                    element = $("#numDeclaredValueForCustoms");
                    validationel = $("#ChargeDeclarations\\[DeclaredValueForCustoms\\]_validationMessage");
                    break;
                }
            case "XXX":
                {
                    element = $("#numInsuranceAmount");
                    validationel = $("#ChargeDeclarations\\[InsuranceAmount\\]_validationMessage");
                    break;
                }

        }

        $(element).data("kendoNumericTextBox").value(0);
        var isChecked = $(e).prop('checked');
        $(element).data("kendoNumericTextBox").enable(!isChecked);
        if (isChecked) {
            $(element).removeAttr("customRequired");
            $(validationel).hide();
        }
        else {
            $(element).attr("customRequired", "true");
        }
    }


    function otherChargeTypeChange() {
        $("#divChargeDeclarations").trigger("otherChargeTypeChange");
    }
    function WTVALChargeTypeChange() {
        $("#divChargeDeclarations").trigger("WTVALChargeTypeChange");
    }
    function ChargeTypeCurrencyChange(e) {
        
        var sym = $(e.sender.element).data("kendoComboBox").dataItem().Symbol;
        $("#divChargeDeclarations").trigger("ChargeTypeCurrencyChange", sym);
    }

</script>

@Html.Hidden("ChargeDeclarations[Id]", Model.Id)

<div id="divChargeDeclarations" style="display: -webkit-box;">
    <div>
        <div class="lg_controls  rdcontrols">
            <span class="cnt_100 cnt_170">Currency*:</span>
            <div>
                @(Html.Kendo().ComboBoxFor(m => m.CurrencyId).DataSource(d => d.Read(r => r.Action("GetCurrencies", "AWBWizard"))).DataTextField("Code").DataValueField("Id")
                     .Placeholder("- select -")
                                     .Events(e => e.Change("ChargeTypeCurrencyChange").DataBound("ChargeTypeCurrencyChange"))
                     .HtmlAttributes(new
                     {
                         name = "ChargeDeclarations[CurrencyId]",
                         style = "width:110px;",
                         comboselected = "",
                         data_comboselected_msg = "Currency is invalid",
                         inputempty = "",
                         data_inputempty_msg = "Currency is required"
                     })
                     .Filter(FilterType.Contains)
                )
            </div>
        </div>

        <div class="lg_controls  rdcontrols">
            <span class="cnt_100 cnt_170">WT/VAL Charges*:</span>
            @foreach (var a in (List<SimpleType>)ViewBag.ChargeTypes)
        {
                <label class="rdlabel"> @Html.RadioButton("ChargeDeclarations[WTVALChargesType]", a.Id, a.Id == Model.WTVALChargesType, new { id = "WTVALChargesType", style = "width:auto !important", onchange = "WTVALChargeTypeChange()" })  @a.Name</label>
        }
        </div>

        <div class="lg_controls  rdcontrols">
            <span class="cnt_100 cnt_170">Other Charges*:</span>

            @foreach (var a in (List<SimpleType>)ViewBag.ChargeTypes)
        {
                <label class="rdlabel"> @Html.RadioButton("ChargeDeclarations[OtherChargesType]", a.Id, a.Id == Model.OtherChargesType, new { id = "OtherChargesType", style = "width:auto !important", onchange = "otherChargeTypeChange()" })  @a.Name</label>
        }
        </div>

    </div>

    <div>
        <div class="lg_controls  rdcontrols">
            <span class="cnt_100 cnt_170">Declared Value For Carriage*:</span>
            <div>
                @(Html.Kendo().NumericTextBoxFor(v => v.DeclaredValueForCarrige)
                         .Step((decimal)0.01)
                .Min(0)
                .Decimals(2)
                .HtmlAttributes(new
                {
                    name = "ChargeDeclarations[DeclaredValueForCarrige]",
                    style = "width:110px;",
                    id = "numDeclaredValueForCarrige",
                    maxlength = 9,
                    data_custom_msg = "Declared Value For Carriage is required",
                    customRequired = true
                })
                .Enable(Model.NVD == false))
                <label class="rdlabel" style=" margin-left: 20px;"> @Html.CheckBox("ChargeDeclarations[NVD]", Model.NVD, new { id = "NVD", style = "width:auto !important", onChange = "disableAmount(this)" })  NVD</label>

                <span class="k-invalid-msg" data-for="ChargeDeclarations[DeclaredValueForCarrige]"></span>
            </div>


        </div>

        <div class="lg_controls  rdcontrols">
            <span class="cnt_100 cnt_170">Declared Value For Customs*:</span>
            <div>
                @(Html.Kendo().NumericTextBoxFor(v => v.DeclaredValueForCustoms)
                         .Step((decimal)0.01)
                .Min(0)
                .Decimals(2)
                .HtmlAttributes(new
                {
                    name = "ChargeDeclarations[DeclaredValueForCustoms]",
                    style = "width:110px;",
                    id = "numDeclaredValueForCustoms",
                    maxlength = 9,
                    data_custom_msg = "Declared Value For Customs is required",
                    customRequired = true
                })
                         .Enable(Model.NCV == false))

                <label class="rdlabel" style=" margin-left: 20px;"> @Html.CheckBox("ChargeDeclarations[NCV]", Model.NCV, new { id = "NCV", style = "width:auto !important", onChange = "disableAmount(this)" })  NCV</label>
                <span class="k-invalid-msg" data-for="ChargeDeclarations[DeclaredValueForCustoms]"></span>
            </div>


        </div>

        <div class="lg_controls  rdcontrols">
            <span class="cnt_100 cnt_170">Insurance Amount*:</span>
            <div>
                @(Html.Kendo().NumericTextBoxFor(v => v.InsuranceAmount)
                         .Step((decimal)0.01)
                .Min(0)
                .Decimals(2)
                .HtmlAttributes(new
                {
                    name = "ChargeDeclarations[InsuranceAmount]",
                    style = "width:110px;",
                    id = "numInsuranceAmount",
                    maxlength = 9,
                    data_custom_msg = "Insurance Amount is required",
                    customRequired = true
                })
                         .Enable(Model.XXX == false))
                <label class="rdlabel" style=" margin-left: 20px;"> @Html.CheckBox("ChargeDeclarations[XXX]", Model.XXX, new { id = "XXX", style = "width:auto !important", onChange = "disableAmount(this)" })  XXX</label>

                <span class="k-invalid-msg" data-for="ChargeDeclarations[InsuranceAmount]"></span>
            </div>


        </div>
    </div>
</div>

