﻿@model List<MCH.Web.Models.AWBWizard.Dimentions>
<style type="text/css">
 
</style>



<div class="lg_controls">
    <span class="cnt_100">Dimentions:</span>
    @(Html.Kendo().Grid<MCH.Web.Models.AWBWizard.Dimentions>()
    .Name("goodDescsGrid")
    .Events(e => e.Cancel("onGoodDescCancel").Remove("onGoodDescRemove").Save("onGoodDescSave"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Visible(false);
        columns.Bound(p => p.Pieces).Width(10).EditorTemplateName("Number");
        //columns.Bound(p => p.Weight).Width(10).EditorTemplateName("Double");
        //columns.Bound(p => p.WeightUOMId).Width(10).Title("Weight UOM").ClientTemplate("#= WeightUOM #").EditorTemplateName("UOMWeightDD");
        columns.Bound(p => p.Length).Width(10).EditorTemplateName("Double");
        columns.Bound(p => p.Width).Width(10).EditorTemplateName("Double");
        columns.Bound(p => p.Height).Width(10).EditorTemplateName("Double");
        columns.Bound(p => p.DimUOMId).Width(10).Title("Dim UOM").ClientTemplate("#= DimUOM #").EditorTemplateName("UOMDimDD");

        columns.Command(command => { command.Edit().UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Width(7);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))

    .Sortable()
    .Scrollable()
                    .HtmlAttributes(new { @class = "goods_grid cm-grid-compact" })
             .BindTo(Model)
            .DataSource(dataSource => dataSource
                .Ajax()
                        .Model(m =>
                        {
                            m.Id(p => p.Id);
                        })
                        .Create(update => update.Action("GoodsInline_Create", "AWBWizard"))
                        .Update(update => update.Action("GoodsInline_Update", "AWBWizard"))
                        .Destroy(update => update.Action("GoodsInline_Destroy", "AWBWizard"))
            )
    )
    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" id="Goods_validationMessage" role="alert" style="display:none !important;">
        Goods Description is required
    </span>

</div>