﻿@model System.Collections.Generic.List<MCH.Web.Models.AWBWizard.Flight>

@{
    Layout = null;
}
<style type="text/css">
    .dis {
    }
</style>


@functions {
    object getHtmlAttributes(bool ReadOnly)
    {
        if (ReadOnly)
        {
            return new
            {
                inputempty = "",
                data_inputempty_msg = "Port is required",
                comboselected = "",
                data_comboselected_msg = "Port is invalid",                       
                dublicatedTo = "true",
                data_dublicatedTo_msg = "Port is duplicated",
                style = "width:100%",
                disabled = "disabled"
            };
        }
        else
        {
            return new
            {
                inputempty = "",
                data_inputempty_msg = "Port is required",
                comboselected = "",
                data_comboselected_msg = "Port is invalid",     
                dublicatedTo = "true",
                data_dublicatedTo_msg = "Port is duplicated",
                style = "width:100%"
            };
        }
    }
}
<div class="inlinecontrols">
    <div class="lg_controls" style="width:15%; display:inline-flex;">
        <span class="cnt_100">From*</span>
    </div>
    <div class="lg_controls" style="width:19%; display:inline-flex;">
        <span class="cnt_100">To*</span>
    </div>
    <div class="lg_controls" style="width:17%;  display:inline-flex;">
        <span class="cnt_100">Carrier*</span>
    </div>
    <div class="lg_controls" style="width:20%;">
        <span class="cnt_100">Flight*</span>
    </div>
    <div class="lg_controls" style="width:20%;">
        <span class="cnt_100">Date*</span>
    </div>
</div>

@for (int i = 0; i < Model.Count(); i++)
{
    var flight = Model[i];
    var dsp = string.IsNullOrWhiteSpace(flight.FlightFromId) ? "display:none;" : "display:block;";

    <div class="inlinecontrols" id="divleg_@i" style="@dsp">
        @*<div class="lg_controls" style="width:5%">
                <span class="cnt_100">Leg @(i + 1):</span>
            </div>*@
        <div class="lg_controls" style="width:15%; display:inline-flex;">

            @(Html.Kendo().ComboBox().Name("Flights[" + i + "][FlightFromId]").Value(flight.FlightFromId)
                  .DataSource(d => d.Read(r => r.Action("GetPorts", "Common")))
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                            .Placeholder("select")
                                                        .HtmlAttributes(new { style = "width:100%", disabled = "" })
                                                    .Filter(FilterType.Contains)
            )
        </div>
        <div class="lg_controls" style="width:19%; display:inline-flex;">

            @(Html.Kendo().ComboBox().Name("Flights[" + i + "][FlightToId]").Value(flight.FlightToId)
              .DataSource(d => d.Read(r => r.Action("GetPorts", "Common")))
                .Events(e => e.Change("onChangedTo"))
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                            .Placeholder("select")
                                                    .HtmlAttributes(getHtmlAttributes(i == Model.Count() - 1))
                                                .Filter(FilterType.Contains)
            )
        </div>
        <div class="lg_controls" style="width:17%;  display:inline-flex;">

            @(Html.Kendo().ComboBox().Name("Flights[" + i + "][FlightCarrierId]").Value(flight.FlightCarrierId)
        .DataSource(d => d.Read(r => r.Action("GetCarrierList", "AWBWizard"))).DataTextField("Name").DataValueField("Id").Placeholder("select")

                     .HtmlAttributes(new
                     {
                         style = "width:100%;",
                         comboselected = "",
                         data_comboselected_msg = "Carrier is invalid",
                         inputempty = "",
                         data_inputempty_msg = "Carrier is required"
                     })
                 .Filter(FilterType.Contains)
            )
        </div>
        <div class="lg_controls" style="width:20%;">
            @Html.Kendo().TextBox().Name("Flights[" + i + "][FlightNo]").Value(flight.FlightNo).HtmlAttributes(new { style = "width:100%", maxlength = "5", inputempty = "", data_inputempty_msg = "Flight is required" })
        </div>
        <div class="lg_controls" style="width:20%;">
            @(Html.Kendo().DatePicker().Name("Flights[" + i + "][FlightDate]").Value(flight.FlightDate)
.HtmlAttributes(
new { inputempty = "", 
    data_inputempty_msg = "Date is required", 
    greaterDate = "", 
    data_greaterDate_msg = "Smaller than previous", 
     dateValidation = "",
    data_dateValidation_msg = "Date is invalid",
    style = "width:100%" }))
            <span class="k-invalid-msg" data-for="Flights[@i][FlightDate]"></span>
        </div>
    </div>

}
