﻿@model List<MCH.Web.Models.AWBWizard.SimpleCharge>
<style type="text/css">
    .othercharges_grid {
        height: 180px;
        width: 100%;
        font-size: 12px !important;
    }
</style>
<script type="text/javascript">

    function onChargeRemove(ev) {
        
        var grid = $("#otherChargesGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#otherChargesGrid .k-grid-add").show();
        }

        ChargesModel.TotalOtherCharges();
    }

    function onChargeCancel(ev) {
        
        var grid = $("#otherChargesGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#otherChargesGrid .k-grid-add").show();
        }
    }
    function onChargeSave(ev) {
        $(event.srcElement)
      .addClass("k-state-disabled")
      .bind("click", disable = function (e) { e.preventDefault(); return false; })

        var grid = $("#otherChargesGrid").data("kendoGrid");
        if (grid.dataSource.data().length == 12) {
            $("#otherChargesGrid .k-grid-add").hide();
        }

        ChargesModel.TotalOtherCharges();
    }
    function onChargeBound(ev) {
        
      //  TotalOtherCharges();
    }
</script>

@Html.Hidden("otherChargesCheck")
<div class="lg_controls rdcontrols">
    @(Html.Kendo().Grid<MCH.Web.Models.AWBWizard.SimpleCharge>()
    .Name("otherChargesGrid")
    .Events(e => e.Cancel("onChargeCancel").Remove("onChargeRemove").Save("onChargeSave").DataBound("onChargeBound"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Visible(false);
        columns.Bound(p => p.IsCodeDueCarrier).Visible(false).Title("Is").Width(4);
        columns.Bound(p => p.CodeId).Width(5).Title("Charge Code").ClientTemplate("#= Code #").EditorTemplateName("ChargeCodeCB");
        columns.Bound(p => p.Amount).Width(5).Title("Amount").EditorTemplateName("Decimal");

        columns.Command(command => { command.Edit().UpdateText(" ").CancelText(" ").Text(" "); command.Destroy().Text(" "); }).Width(3);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))

    .Sortable()
    .Scrollable()
                    .HtmlAttributes(new { @class = "othercharges_grid cm-grid-compact" })
             .BindTo(Model)
            .DataSource(dataSource => dataSource
                .Ajax()
                        .Model(m =>
                        {
                            m.Id(p => p.Id);
                        })
                        .Create(update => update.Action("ChargeInline_Create", "AWBWizard"))
                        .Update(update => update.Action("ChargeInline_Update", "AWBWizard"))
                        .Destroy(update => update.Action("ChargeInline_Destroy", "AWBWizard"))
            )
    )
    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" id="OtherCharges_validationMessage" role="alert" style="display:none !important;">
        Other Charges are required
    </span>

</div>