﻿@using MCH.Web.Models.AWBWizard
@model List<CustomInfo>
<style type="text/css">
    .otherCustomsInfo_grid {
        height: 150px;
        width: 100%;
        font-size: 12px !important;
    }


</style>

               <script type="text/javascript">

    //register custom validation rules
    (function ($, kendo) {
        $.extend(true, kendo.ui.validator, {
            rules: { // custom rules
                partrequired: function (input, params) {
                    
                    //check for the rule attribute
                    if (input.filter("[partrequired]").length) {
                        var retVal = false;
                        var inputs = $(input).closest("table").find("input[partrequired='true']");
                        $.each(inputs, function (i, v) {
                            var val = $.trim($(v).val());
                            if (val != "") {
                                retVal = true;
                            }
                        })

                        if (retVal)
                            $("#CustomSelection_validationMessage").hide();
                        else
                            $("#CustomSelection_validationMessage").show();

                        return retVal;
                    }
                    return true;
                },

                comboselected: function (input) {

                    if ($(input).attr('comboselected') != undefined) {
                        var retVal = true;
                        var kendoCombo = $(input).data("kendoComboBox");
                        if (kendoCombo) {
                            if (kendoCombo.value() != "" && kendoCombo.selectedIndex == -1) {
                                retVal = false;
                            }
                        }
                        return retVal;
                    }
                    else {
                        return true;
                    }
                },
            }
        });
    })(jQuery, kendo);

    //show server errors if any
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
               </script>

<script type="text/javascript">

    function onCustomInfoSave(ev) {
        $(event.srcElement)
       .addClass("k-state-disabled")
       .bind("click", disable = function (e) { e.preventDefault(); return false; })

    }
</script>


    @(Html.Kendo().Grid<CustomInfo>()
    .Name("otherCustomsInfoGrid")
    .Events(e => e.Save("onCustomInfoSave"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Visible(false);
        columns.Bound(p => p.CountryCodeId).Width(9).Title("Country").ClientTemplate("#= CountryCode #").EditorTemplateName("CountryCB");
        columns.Bound(p => p.InfoIdentifierId).Width(10).Title("Info Identifier").ClientTemplate("#= InfoIdentifier #").EditorTemplateName("InfoCB");
        columns.Bound(p => p.CustomsInfoIdentifierId).Width(14).Title("Customs Info Ident").ClientTemplate("#= CustomsInfoIdentifier #").EditorTemplateName("CustomsInfoCB");
        columns.Bound(p => p.SupplementaryCustomsInfo).Title("Supplementary Customs Info").Width(21);

        columns.Command(command => { command.Edit().UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Width(8);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))

    .Sortable()
    .Scrollable()
                    .HtmlAttributes(new { @class = "otherCustomsInfo_grid cm-grid-compact" })
             .BindTo(Model)
            .DataSource(dataSource => dataSource
                .Ajax()
                        .Model(m =>
                        {
                            m.Id(p => p.Id);
                        })
                                .Create(update => update.Action("OtherCustomsInfoInline_Create", "AWBWizard"))
                                .Update(update => update.Action("OtherCustomsInfoInline_Update", "AWBWizard"))
                                .Destroy(update => update.Action("OtherCustomsInfoInline_Destroy", "AWBWizard"))
            )
    )



