﻿<style type="text/css">
    .rates_grid {
        height: 110px;
        width: 100%;
        min-width: 630px;
        font-size: 12px !important;
    }
</style>

<script type="text/javascript">

    function onRateRemove(ev) {
        debugger;
        var grid = $("#ratesGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#ratesGrid .k-grid-add").show();
        }
        ChargesModel.TotalWeightCharges();

    }

    function onRateCancel(ev) {
        debugger;
        var grid = $("#ratesGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#ratesGrid .k-grid-add").show();
        }
    }
    function onRateSave(ev) {
        debugger;
        $(event.srcElement)
    .addClass("k-state-disabled")
    .bind("click", disable = function (e) { e.preventDefault(); return false; })


        var grid = $("#ratesGrid").data("kendoGrid");
        if (grid.dataSource.data().length == 12) {
            $("#ratesGrid .k-grid-add").hide();
        }
        ChargesModel.TotalWeightCharges();
    }

    function onRateBound(ev) {

        // TotalWeightCharges();
    }


    function onGoodDescRemove(ev) {

        var grid = $("#goodDescsGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#goodDescsGrid .k-grid-add").show();
        }
    }

    function onGoodDescCancel(ev) {

        var grid = $("#goodDescsGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#goodDescsGrid .k-grid-add").show();
        }
    }
    function onGoodDescSave(ev) {
        $(event.srcElement)
      .addClass("k-state-disabled")
      .bind("click", disable = function (e) { e.preventDefault(); return false; })

        var grid = $("#goodDescsGrid").data("kendoGrid");
        if (grid.dataSource.data().length == 12) {
            $("#goodDescsGrid .k-grid-add").hide();
        }
    }
</script>

@Html.Hidden("ratesCheck")
<div class="lg_controls">
    
    <div style="width:90px;">
        <input type="button" class="k-button k-primary" value="Add New" id="btnAddEditRate" onclick="ChargesModel.OpenAddEdtiRate()" />
    </div>
    @(Html.Kendo().Grid<MCH.Web.Models.AWBWizard.RateDescription>()
    .Name("ratesGrid")
             .Events(e => e.DataBound("ChargesModel.onRateBound"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Visible(false);
        columns.Bound(p => p.NoOfPieces).Width(8).Title("No of Pieces").EditorTemplateName("Number");
        columns.Bound(p => p.GrossWeight).Width(9).Title("Gross Weight").EditorTemplateName("Double");
        columns.Bound(p => p.UOMWeightId).Width(6).Title("KG/LB").ClientTemplate("#= UOMWeight #").EditorTemplateName("UOMWeightDD");
        columns.Bound(p => p.RateClass).Width(7).Title("Rate Class").EditorTemplateName("RateClassCB");
        columns.Bound(p => p.CommodityItemNo).Width(12).Title("Commodity Item#");
        columns.Bound(p => p.ChargeableWeight).Width(11).Title("Chargeable Wgt").EditorTemplateName("Double");
        columns.Bound(p => p.RateCharge).Width(10).Title("Rate Charge").EditorTemplateName("Decimal");
        columns.Bound(p => p.Total).Width(9).Title("Total").EditorTemplateName("Decimal");
        columns.Bound(p => p.GoodsDescription).Width(26).Title("Nature & Quantity Of Goods");
        columns.Command(c => c.Custom("edit").Text(" ")).Width(3)
         .HtmlAttributes(new
         {
             @class = "center",
             title = "Edit",
             onclick = "ChargesModel.OpenAddEdtiRate(\"#=Id#\")"
         });
        columns.Command(c => c.Custom("destroy").Text(" ")).Width(3)
           .HtmlAttributes(new
           {
               @class = "center",
               title = "Remove",
               onclick = "ChargesModel.onDeleteRate(\"#=Id#\")"
           });
       // columns.Command(command => { command.Edit().UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Width(7);
    })
            //   .ToolBar(toolbar => toolbar.Create().Text("Add Rate"))
            //           .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("Rate"))

    .Sortable()
    .Scrollable()
                    .HtmlAttributes(new { @class = "rates_grid cm-grid-compact" })
                                        .DataSource(d => d
                    .Ajax()
                            .Read(r => r.Action("GetAWBRates", "AWBWizard")
                        ))

                    // .BindTo(Model)
            //.DataSource(dataSource => dataSource
            //    .Ajax()
            //            .Model(m =>
            //            {
            //                m.Id(p => p.Id);
            //            })
            //    .Create(update => update.Action("RateInline_Create", "AWBWizard"))
            //    .Update(update => update.Action("RateInline_Update", "AWBWizard"))
            //    .Destroy(update => update.Action("RateInline_Destroy", "AWBWizard"))
            //)
    )
    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" id="Rates_validationMessage" role="alert" style="display:none !important;">
        Rates are required
    </span>

</div>
