﻿@model MCH.Web.Models.AWBWizard.RateDescription

<form id="divRateEditor">
    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m => m.IdToDB)
    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">No of Pieces*:</span>
        <div>
            @(Html.Kendo().NumericTextBoxFor(v => v.NoOfPieces)
                             .Format("#")
                        .Min(0)
                        .Decimals(0)
                .HtmlAttributes(new
                {
                    style = "width:130px;",
                    inputempty = "",
                    data_inputempty_msg = "No of Pieces is required"
                }))

            <span class="k-invalid-msg" data-for="NoOfPieces"></span>
        </div>
    </div>

    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">Gross Weight*:</span>
        <div>
            @(Html.Kendo().NumericTextBoxFor(v => v.GrossWeight)
                         .Step((double)0.01)
                .Min(0)
                .Decimals(2)
                .HtmlAttributes(new
                {
                    style = "width:130px;",
                    inputempty = "",
                    data_inputempty_msg = "Gross Weight is required"
                }))

            <span class="k-invalid-msg" data-for="GrossWeight"></span>
            </div>
        <div>
            @(Html.Kendo().ComboBoxFor(m => m.UOMWeightId)
    .DataValueField("Id")
    .DataTextField("Name")
    .Placeholder("select")
                  .HtmlAttributes(new
                  {
                      required = "",
                      data_required_msg = "UOM is required",
                      comboselected = "",
                      data_comboselected_msg = "UOM is invalid",
                      id = "rateUOMWeightId",
                      style = "width:90px;",
                  })
    .DataSource(d => d.Read(r => r.Action("GetWeightUOMsForTemplate", "AWBWizard")))
            )


           
            <span class="k-invalid-msg" data-for="UOMWeightId"></span>
        </div>
    </div>

    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">Rate Class*:</span>
        <div>
            @(Html.Kendo().ComboBoxFor(m => m.RateClass)
                        .DataValueField("Name")
                                    .DataTextField("Name")
        .Placeholder("select")
                                    .HtmlAttributes(new
                                    {
                                        comboselected = "",
                                        data_comboselected_msg = "Rate Class is invalid",
                                        inputempty = "",
                                        data_inputempty_msg = "Rate Class is required"
                                    })
                                        .DataSource(d => d.Read(r => r.Action("GetRateClasses", "Common")))
            )
            <span class="k-invalid-msg" data-for="RateClass"></span>
        </div>
    </div>

    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">Item #:</span>
        <div>
            @Html.TextBoxFor(m => m.CommodityItemNo, new {maxlength = '7', @class = "k-textbox" })
            <span class="k-invalid-msg" data-for="CommodityItemNo"></span>
        </div>
    </div>

    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">Chargeable Weight*:</span>
        <div>
            @(Html.Kendo().NumericTextBoxFor(v => v.ChargeableWeight)
                         .Step((double)0.01)
                .Min(0)
                .Decimals(2)
                .HtmlAttributes(new
                {
                    style = "width:130px;",
                    inputempty = "",
                    data_inputempty_msg = "Chargeable Weight is required"
                }))


            <span class="k-invalid-msg" data-for="ChargeableWeight"></span>
        </div>
    </div>

    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">Rate Charge*:</span>
        <div>
            @(Html.Kendo().NumericTextBoxFor(v => v.RateCharge)
                         .Step((decimal)0.01)
                .Min(0)
                .Decimals(2)
                .HtmlAttributes(new
                {
                    style = "width:130px;",
                    inputempty = "",
                    data_inputempty_msg = "Rate Charge is required"
                }))
            <span class="k-invalid-msg" data-for="RateCharge"></span>
        </div>
       
    </div>

    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">Total*:</span>
        <div>
            @(Html.Kendo().NumericTextBoxFor(v => v.Total)
                         .Step((decimal)0.01)
                .Min(0)
                .Decimals(2)
                .HtmlAttributes(new
                {
                    style = "width:130px;",
                    inputempty = "",
                    data_inputempty_msg = "Total is required"
                }))
            <span class="k-invalid-msg" data-for="Total"></span>
        </div>
       
    </div>

    <div class="lg_controls rdcontrols">
        <span class="cnt_100">Goods Description*:</span>
        <div>
            @Html.TextAreaFor(m => m.GoodsDescription, new { inputempty = "", data_inputempty_msg = "Goods Description is required", style = "width:250px !important;", })
            <span class="k-invalid-msg" data-for="GoodsDescription"></span>
            </div>
        </div>

    @*<div class="lg_controls">
        @Html.Partial("_DimensionsGrid", Model.Dimensions)
    </div>


    <div class="lg_controls rdcontrols">
        <span class="cnt_100">Volume:</span>
        <div style="display: inline-table">
            @(Html.Kendo().NumericTextBoxFor(v => v.Volume)
                      .Step((double)0.01)
                        .Min(0)
                        .Decimals(2)
                .HtmlAttributes(new
                {
                    style = "width:130px;",
                    id = "numVolume",
                    maxlength = 9,
                }))
        </div>

        @(Html.Kendo().ComboBoxFor(m => m.VolumeUOMId).DataSource(d => d.Read(r => r.Action("GetVolumeUOMs", "AWBWizard")))
                .DataTextField("Name")
                .DataValueField("Id")
                .Placeholder("- select -")
                .HtmlAttributes(new { style = "width:90px;" })
                        .Filter(FilterType.Contains)
        )

    </div>

    <div class="lg_controls  rdcontrols">
        <span class="cnt_100 cnt_170">ULD:</span>
        <div>
            @Html.TextBoxFor(m => m.ULD, new { tyle = "width:220px;", @class = "k-textbox" })
           
        </div>
        <span class="cnt_100 cnt_170" style="font-style:italic;  width: auto;"> ex: PMC12345AA</span>
    </div>

    <div class="lg_controls rdcontrols">
        <span class="cnt_100">STC:</span>
        <div style="display: inline-table">
            @(Html.Kendo().NumericTextBoxFor(v => v.STC)
                .Format("#")
                .Min(0)
                .Decimals(0)
                .HtmlAttributes(new
                {
                    style = "width:220px;",
                    id = "numSLAC",
                    maxlength = 9,
                }))
        </div>

    </div>*@

    <div class="pull-right" style="margin-top:10px;">
        @if (Model.Id == null || Model.Id == 0)
        {
            <input type="button" class="k-button" value="Save & Add New" id="btnSaveAndAddRate" onclick="ChargesModel.onSaveRate(true)" />
        }
        <input type="button" class="k-button" value="Save & Close" id="btnSaveRate" onclick="ChargesModel.onSaveRate()" />
    </div>


</form>

