﻿@model List<MCH.Web.Models.AWBWizard.UnitLoadDevice>

<script type="text/javascript">

    function onULDsRemove(ev) {
        
        var grid = $("#uldsGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#uldsGrid .k-grid-add").show();
        }
    }

    function onULDsCancel(ev) {
        
        var grid = $("#uldsGrid").data("kendoGrid");
        if (grid.dataSource.data().length <= 12) {
            $("#uldsGrid .k-grid-add").show();
        }
    }
    function onULDsSave(ev) {
        $(event.srcElement)
    .addClass("k-state-disabled")
    .bind("click", disable = function (e) { e.preventDefault(); return false; })


        var grid = $("#uldsGrid").data("kendoGrid");
        if (grid.dataSource.data().length == 12) {
            $("#uldsGrid .k-grid-add").hide();
        }
    }
</script>


<div class="lg_controls">
        <span class="cnt_100">Unit Load Devices:</span>
    @(Html.Kendo().Grid<MCH.Web.Models.AWBWizard.UnitLoadDevice>()
    .Name("uldsGrid")
    .Events(e => e.Cancel("onULDsCancel").Remove("onULDsRemove").Save("onULDsSave"))
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Visible(false);
        columns.Bound(p => p.ULDTypeId).Width(20).Title("ULD Type").ClientTemplate("#= ULDType #").EditorTemplateName("ULDTypeDD");
        columns.Bound(p => p.ULDNo).Title("ULD No").Width(10);
        columns.Bound(p => p.OwnerId).Width(10).Title("Owner").ClientTemplate("#= Owner #").EditorTemplateName("OwnerCB");
        columns.Bound(p => p.Said).Title("Said to Contain").Width(10).EditorTemplateName("Number");

        columns.Command(command => { command.Edit().UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Width(7);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))

    .Sortable()
    .Scrollable()
                    .HtmlAttributes(new { @class = "ulds_grid cm-grid-compact" })
             .BindTo(Model)
            .DataSource(dataSource => dataSource
                .Ajax()
                        .Model(m =>
                        {
                            m.Id(p => p.Id);
                        })
                        .Create(update => update.Action("ULDsInline_Create", "AWBWizard"))
                        .Update(update => update.Action("ULDsInline_Update", "AWBWizard"))
                        .Destroy(update => update.Action("ULDsInline_Destroy", "AWBWizard"))
            )
    )

</div>