﻿@using MCH.Web.Models.AWBWizard
@using MCH.Web.Models.Shared;
@model AWBStep

@{
    var editmodeldisabled = Model.AirwaybillId > 0 ? "disableddiv" : "todisable";
    var addmodeldisabled = Model.AirwaybillId > 0 ? "" : "disableddiv";
}
<style type="text/css">
    .flights_grid {
        height: 300px;
        width: 100%;
        font-size: 12px !important;
    }
</style>
<script type="text/javascript">

    function onRemove(ev) {

        var flightsGrid = $("#flightsGrid").data("kendoGrid");
        if (flightsGrid.dataSource.data().length <= 3) {
            $("#flightsGrid .k-grid-add").show();
        }
    }

    function onCancel(ev) {

        var flightsGrid = $("#flightsGrid").data("kendoGrid");
        if (flightsGrid.dataSource.data().length <= 3) {
            $("#flightsGrid .k-grid-add").show();
        }
    }
    function onSave(ev) {

        $(event.srcElement)
        .addClass("k-state-disabled")
        .bind("click", disable = function (e) { e.preventDefault(); return false; })

        this.dataSource.one("requestEnd", function () {
            $("[data-role=window] .k-grid-update").off("click", disable).removeClass("k-state-disabled");
        })


        var flightsGrid = $("#flightsGrid").data("kendoGrid");
        if (flightsGrid.dataSource.data().length == 3) {
            $("#flightsGrid .k-grid-add").hide();
        }
    }

    function onChangedCarrier(e) {

        var item = $("#CarrierId").data("kendoComboBox").dataItem();
        if(item!= undefined)            
            $("#AirwaybillSerialNumber").val(item.Carrier3Code);
    }

</script>

<script type="text/javascript">
    function onChangedOrigin(e) {
        
        var id = parseInt(e.sender._selectedValue);
        if (isNaN(id))
            return;
        $("#divleg_0").show();
        $("[name='Flights[0][FlightFromId]']").data("kendoComboBox").value(id);

    }

    function onChangedDest(e) {

        var id = parseInt(e.sender._selectedValue);
        if (isNaN(id))
            return;
        var div = $("[id^='divleg']:visible").last();
        if (div.length == 0) {
            div = $("#divleg_0");
        }
        $(div).show();
        $(div).find("[name$='[FlightToId]']").data("kendoComboBox").value(id);

    }

    function onChangedTo(e) {

        var id = parseInt(e.sender._selectedValue);
        if (isNaN(id))
            return;

        if (id == $("#cbDestination").val()) {

            var nextdivs = $(e.sender.element).parents("[id^='divleg']").nextAll();
            $(nextdivs).find("[name$='[FlightFromId]']").data("kendoComboBox").value("");
            $(nextdivs).find("[name$='[FlightToId]']").data("kendoComboBox").value("");
            $(nextdivs).find("[name$='[FlightCarrierId]']").data("kendoComboBox").value("");
            $(nextdivs).find("[name$='[FlightNo]']").val("");
            $(nextdivs).find("[name$='[FlightDate]']").data("kendoDatePicker").value("");
            $(nextdivs).hide();

        }
        else {

            var nextdiv = $(e.sender.element).parents("[id^='divleg']").next();
            $(nextdiv).show();
            $(nextdiv).find("[name$='[FlightFromId]']").data("kendoComboBox").value(id);
            $(nextdiv).find("[name$='[FlightToId]']").data("kendoComboBox").value($("#cbDestination").val());
        }

    }
</script>

@Html.Hidden("hdnStepNumber", AWBWizardSteps.AWBStep)
@Html.Hidden("hdnAWBStepAwbId", Model.AirwaybillId)
<form id="frmAWBStep">
    <ul class="ul_inline">
        <li>
            <div class="inlinecontrols @editmodeldisabled" id="divFindAWB" style="margin-bottom:15px;">
                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100">Airline*:</span>

                    @(Html.Kendo().ComboBoxFor(m => m.CarrierId).DataSource(d =>
                                     d.Read(r => r.Action("GetAccountCarrierList", "AWBWizard"))).DataTextField("Name").DataValueField("Id").Placeholder("select")
                                      .Events(e => e.Change("onChangedCarrier"))
                     .HtmlAttributes(new
                     {
                         style = "width:100%;",
                         comboselected = "",
                         data_comboselected_msg = "Airline is invalid",
                         inputempty = "",
                         data_inputempty_msg = "Airline is required"
                     })
                                    .IgnoreCase(true).Suggest(true).Filter(FilterType.Contains)
                    )
                    <span class="k-invalid-msg" data-for="CarrierId"></span>
                </div>



                <div class="lg_controls" style="width:30%">
                    <span class="cnt_100">AWB Serial Number*:</span>

                    @Html.TextBoxFor(m => m.AirwaybillSerialNumber, new { style = "width:100%; height: 2.3em;", maxlenght = "12", @class = "k-textbox", exactlenght = "", data_exactlenght_msg = "Airwaybill Serial Number is 8 digits", inputempty = "", data_inputempty_msg = "Airwaybill Serial Number is required" })

                </div>

                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100">Origin*:</span>
                    <div>
                        @(Html.Kendo().ComboBoxFor(m => m.OriginId).DataSource(d =>
                                                             d.Read(r => r.Action("GetPorts", "Common"))).DataTextField("Name").DataValueField("Id").Placeholder("select")
                                                                        .Events(e => e.Change("onChangedOrigin"))
                                     .HtmlAttributes(new
                                     {
                                         id = "cbOrigin",
                                         style = "width:100%;",
                                         comboselected = "true",
                                         data_comboselected_msg = "Origin is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Origin is required",
                                         checkdestination = ""

                                     })
                                             .Filter(FilterType.Contains)
                        )
                        <span class="k-invalid-msg" data-for="OriginId"></span>
                    </div>
                </div>

                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100">Destination*:</span>
                    <div>
                        @(Html.Kendo().ComboBoxFor(m => m.DestinationId).DataSource(d =>
                                                             d.Read(r => r.Action("GetPorts", "Common"))).DataTextField("Name").DataValueField("Id").Placeholder("select")
                                                                        .Events(e => e.Change("onChangedDest"))
                                     .HtmlAttributes(new
                                     {
                                         id = "cbDestination",
                                         style = "width:100%;",
                                         comboselected = "",
                                         data_comboselected_msg = "Destination is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Destination is required",
                                         duplicatedports = "",
                                         data_duplicatedports_msg = "Origin and Destination cannot be the same",
                                     })
                                             .Filter(FilterType.Contains)
                        )
                        <span class="k-invalid-msg" data-for="DestinationId"></span>
                    </div>
                </div>
                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100"></span>
                    <div style="display: inline-table">
                        <input type="button" class="k-button k-primary" value="Find AWB" onclick="AWBWizardPopup.FindAWB()" />
                    </div>
                </div>
            </div>

            <div class="@addmodeldisabled">
                <div class="inlinecontrols">
                    <div class="lg_controls">
                        <span class="cnt_100">Aircraft Type*:</span>

                        @foreach (var a in (List<SimpleType>)ViewBag.AirCraftTypes)
                    {
                    <label class="rdlabel"> @Html.RadioButtonFor(m => m.AircraftType, a.Id, new { style = "width:auto !important" })  @a.Name</label>
                    }
                    </div>


                    <div class="lg_controls">
                        <span class="cnt_100">Airwaybill Type*:</span>
                        <div>
                            @foreach (var a in (List<SimpleType>)ViewBag.AwbTypes)
                            {
                                <label class="rdlabel"> @Html.RadioButtonFor(m => m.AirwaybillTypeId, a.Id, new { style = "width:auto !important" })  @a.Name</label>
                            }
                        </div>
                    </div>
                </div>

                <div class="lg_controls">
                    <fieldset style="min-height:100px; margin:10px 0;">
                        <legend>
                            Routing & Flights Booking:
                        </legend>
                        @Html.Partial("_Flights", Model.Flights)
                    </fieldset>

                </div>

                <fieldset style="margin-top:5px;">
                    <legend>
                        @Model.Shipper.Type
                    </legend>
                    @Html.Partial("_Partner", Model.Shipper)
                </fieldset>

                <fieldset>
                    <legend>
                        @Model.Consignee.Type
                    </legend>
                    @Html.Partial("_Partner", Model.Consignee)
                </fieldset>


          
                @*<div class="lg_controls">
        <span class="cnt_100">Goods Description*:</span>

        @Html.TextAreaFor(m => m.GoodsDescription, new { inputempty = "", data_inputempty_msg = "Goods Description is required" })

    </div>
    <div class="lg_controls">
        <span class="cnt_100">Special Service Requests:</span>
        @Html.TextAreaFor(m => m.SpecialServiceRequests)
    </div>
    <div class="lg_controls">
        <span class="cnt_100">Other Service Requests:</span>
        @Html.TextAreaFor(m => m.OtherServiceRequests)
    </div>
                *@
            </div>
        </li>
        @*<li class="@addmodeldisabled">
           
        </li>*@
        <li class="@addmodeldisabled">
            <fieldset>
                <legend>
                    Issuing Carrier's Agent
                </legend>
                @Html.Partial("_Agent", Model.IssuingCarriersAgent)
            </fieldset>


         
            <div class="lg_controls">
                <span class="cnt_100">Accounting Information:</span>
                @Html.TextAreaFor(m => m.AccountInformationText, new { style="height:100px;margin-bottom:20px;" })
            </div>

            <fieldset>
                <legend>
                    Sender Reference
                </legend>

                <div class="lg_controls">
                    <span class="cnt_100">File Reference:</span>
                    <div>
                        @Html.TextBoxFor(m => m.FileReference, new { @class = "k-textbox", maxlenght = "15" })
                    </div>
                </div>

                <div class="lg_controls">
                    <span class="cnt_100">Participant Identfier:</span>
                    <div>
                        @(Html.Kendo().ComboBoxFor(m => m.ParticipantIdentfierId).DataSource(d =>
             d.Read(r => r.Action("GetParticipantIdentifiers", "Partner")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         style="width: 30%",
                                         data_comboselected_msg = "Participant Identifier is invalid",
                                     })
                                             .Filter(FilterType.Contains)
                        )

                        @Html.TextBoxFor(m => m.ParticipantCode, new { @class = "k-textbox", style = "width: 65%" })
                    </div>

                </div>

                <div class="lg_controls">
                    <span class="cnt_100">Airport*:</span>
                    <div>
                        @(Html.Kendo().ComboBoxFor(m => m.AirportId).DataSource(d =>
                     d.Read(r => r.Action("GetAirports", "Common")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Airport is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Airport is required"

                                     }).Filter(FilterType.Contains)
                        )

                    </div>
                </div>
            </fieldset>


            @*<fieldset>
                <legend>
                    Accounting Information
                </legend>
                @for (int i = 0; i < Model.AccountInformation.Count(); i++)
                {
                    var code = Model.AccountInformation[i];

                    <div class="lg_controls incontrols">
                        <span class="cnt_100">Code @(i + 1):</span>
                        <div style="display:inline-flex;width:34%">
                            @(Html.Kendo().ComboBoxFor(m => m.AccountInformation[i].CodeId)
                  .DataSource(d => d.Read(r => r.Action("GetAccountingCodes", "AWBWizard")))
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                            .Placeholder("select")
                                                            .HtmlAttributes(new { dublicatedValue = "true", data_dublicatedValue_msg = "Code is duplicated", accnoteempty = "true", data_accnoteempty_msg = "Required", style = "width:100%", name = "AccountInformation[" + i + "][CodeId]" })
                                                            .Filter(FilterType.Contains)
                            )
                        </div>
                        <div style="display:inline-table;width:33%">
                            @Html.TextBox("AccountInformation[" + i + "][CodeNote]", Model.AccountInformation[i].CodeNote, new { style = "width:100%", @class = "k-textbox", accnoteempty = "true", data_accnoteempty_msg = "Required" })
                        </div>
                    </div>
                }
            </fieldset>*@
        </li>
    </ul>
</form>

<script type="text/javascript">


    $(function () {
        // $.mask.definitions['~'] = '[0-9_]+';
        $("#AirwaybillSerialNumber").mask("999-?99999999", { placeholder: " " });
    })


</script>
