﻿@using MCH.Web.Models.AWBWizard
@model AWBMainPopup
@Html.Partial("_PartnerEditorJS")
@Html.Partial("_AWBHWBEditorJS")


<div class="container-fluid" style="overflow-y: auto;height: 95%;">
    <div style=" width:100%; text-align:right; display:none;">
        <input type="button" class="k-button" value="Preview AWB" id="btnPreviewAWB" style="display:none;right: 20px; visibility:hidden;" onclick="AWBWizardPopup.PreviewAWB()" />
    </div>
    @Html.Hidden("AWBId", Model.AirwaybillId)
    <div id="awbWizardContent">

    </div>

    <div style="position: absolute;right: 10px; bottom: 10px;">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button" value="Previous" id="btnPrev" style="display:none" />
                <input type="button" class="k-button k-primary" value="Next" id="btnNext" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var AWBWizardPopup = {
        validator: null,
        Urls:
            {
                GoToAWBStep: '@Url.Action("AWBStep", "AWBWizard")',
                FindAWB: '@Url.Action("FindAWB", "AWBWizard")',
                SaveAWBStep: '@Url.Action("SaveAWBStep", "AWBWizard")',

                GoToChargesStep: '@Url.Action("ChargesStep", "AWBWizard")',
                SaveChargesStep: '@Url.Action("SaveChargesStep", "AWBWizard")',
                FinalizeChargesStep: '@Url.Action("FinalizeChargesStep", "AWBWizard")',

                @*GoToULDStep: '@Url.Action("ULDsStep", "AWBWizard")',
                SaveULDStep: '@Url.Action("SaveULDsStep", "AWBWizard")',

                GoToSummaryStep: '@Url.Action("SummaryStep", "AWBWizard")',
                SaveSummaryStep: '@Url.Action("SaveSummaryStep", "AWBWizard")',
                FinalizeSummaryStep: '@Url.Action("FinalizeSummaryStep", "AWBWizard")',*@

                GoToHWBStep: '@Url.Action("HWBStep", "AWBWizard")',
                FinalizeHWBStep: '@Url.Action("FinalizeAWB", "AWBWizard")',
                Cancel: ''

            },

        ValidationRules:
            {
                AWBStep: {
                    dateValidation: function (e) {
                        if ($(e).attr('dateValidation') != undefined) {

                            ///////// for Flight grid
                            var div = $(e).parents("[id^='divleg']:hidden");
                            if (div.length > 0) {

                                return true
                            }
                            ////////////

                            var currentDate = Date.parse($(e).val());
                            //Check if Date parse is successful
                            if (!currentDate) {
                                return false;
                            }
                            return true;
                        }
                        else {
                            return true;
                        }
                    },
                    exactlenght: function (input) {
                        if ($(input).attr('exactlenght') != undefined) {
                            var retVal = true;

                            var val = $(input).val().trim();

                            if (val.length != 12) {
                                retVal = false;
                                $(input).val(val);
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    inputempty: function (input) {
                        if ($(input).attr('inputempty') != undefined) {
                            var retVal = true;
                            ///////// for Flight grid
                            var div = $(input).parents("[id^='divleg']:hidden");
                            if (div.length > 0) {

                                return true
                            }
                            ////////////
                            var val = $(input).val().trim();

                            if (val == "") {
                                retVal = false;
                                $(input).val(val);
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    accnoteempty: function (input) {

                        if ($(input).attr('accnoteempty') != undefined) {
                            var retVal = true;

                            var nearest = $(input).closest("div.incontrols").find("input[accnoteempty='true']").not(input);
                            var nearestValue = $.trim($(nearest).val());
                            var elementValue = $.trim($(input).val());

                            if (nearestValue != "" && elementValue == "")
                                retVal = false;

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    comboselected: function (input) {
                        debugger;
                        if ($(input).attr('comboselected') != undefined) {
                            var retVal = true;
                            var kendoCombo = $(input).data("kendoComboBox");
                            if (kendoCombo) {
                                if (kendoCombo.value() != "" && kendoCombo.selectedIndex == -1) {
                                    retVal = false;
                                }
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    dublicatedValue: function (input) {
                        if ($(input).attr('dublicatedValue') != undefined) {

                            var retVal = true;
                            var inputs = $(input).closest("div.incontrols").prevAll("div.incontrols").find("input[dublicatedValue='true']");
                            var elementValue = $.trim($(input).val());
                            $.each(inputs, function (i, v) {
                                var val = $.trim($(v).val());
                                if (val != "" && val == elementValue)
                                    retVal = false;
                            })

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    dublicatedTo: function (input) {
                        if ($(input).attr('dublicatedTo') != undefined) {

                            var retVal = true;
                            var elementValue = $.trim($(input).val());
                            var div = $(input).parents("[id^='divleg']");
                            var val = $(div).find("[name$='[FlightFromId]']").val();
                            var fromValue = $.trim(val);
                            if (elementValue != "" && fromValue != "" && fromValue == elementValue)
                                retVal = false;

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    greaterDate: function (input) {
                        if ($(input).attr('greaterDate') != undefined) {
                            var retVal = true;
                            var curdate = Date.parse($(input).data("kendoDatePicker").value());
                            if (curdate == undefined)
                                retVal = false;

                            var div = $(input).parents("[id^='divleg']").prev("[id^='divleg']");

                            if (div.length > 0) {
                                var datepick = $(div).find("[name$='[FlightDate]']");
                                var prevdate = Date.parse($(datepick).data("kendoDatePicker").value());

                                if (prevdate == undefined || curdate < prevdate) {
                                    retVal = false;
                                }
                            }

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    custom: function (input) {
                        if ($(input).attr('customRequired') != undefined) {
                            var elementValue = $.trim($(input).val());
                            if (elementValue == "0" || elementValue == "") return false;
                            else return true;
                        }
                        else {
                            return true;
                        }
                    },

                    checkdestination: function (input) {
                        if ($(input).attr('checkdestination') != undefined) {

                            $("input[name='DestinationId_input']").blur();
                        }
                        return true;
                    },
                    duplicatedports: function (input) {
                        if ($(input).attr('duplicatedports') != undefined) {

                            var retVal = true;
                            var destValue = $.trim($(input).val());
                            var originValue = $.trim($("#cbOrigin").val());

                            if (destValue != "" && originValue != "" && destValue == originValue) {
                                retVal = false;
                            }

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                },

                ChargesStep: {
                    dateValidation: function (e) {
                        if ($(e).attr('dateValidation') != undefined) {

                            var currentDate = Date.parse($(e).val());
                            //Check if Date parse is successful
                            if (!currentDate) {
                                return false;
                            }
                            return true;
                        }
                        else {
                            return true;
                        }
                    },
                    inputempty: function (input) {
                        if ($(input).attr('inputempty') != undefined) {
                            var retVal = true;
                            var val = $(input).val().trim();

                            if (val == "") {
                                retVal = false;
                                $(input).val(val);
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    comboselected: function (input) {

                        if ($(input).attr('comboselected') != undefined) {
                            var retVal = true;
                            var kendoCombo = $(input).data("kendoComboBox");
                            if (kendoCombo) {
                                if (kendoCombo.value() != "" && kendoCombo.selectedIndex == -1) {
                                    retVal = false;
                                }
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },

                    // For Speacial Handlings
                    dublicatedValue: function (input) {
                        if ($(input).attr('dublicatedValue') != undefined) {
                            //
                            var retVal = true;
                            var inputs = $(input).closest("div").prevAll("div").find("input[dublicatedValue='true']");
                            var elementValue = $.trim($(input).val());
                            $.each(inputs, function (i, v) {
                                var val = $.trim($(v).val());
                                if (val != "" && val == elementValue)
                                    retVal = false;
                            })

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },


                    custom: function (input) {
                        if ($(input).attr('customRequired') != undefined) {
                            var elementValue = $.trim($(input).val());
                            if (elementValue == "0" || elementValue == "") return false;
                            else return true;
                        }
                        else {
                            return true;
                        }
                    },

                    emptyRatesGrid: function (select) {
                        if ($(select).attr('id') === ("ratesCheck")) {
                            var retVal = true;
                            var tmpData = $("#ratesGrid").data("kendoGrid").dataSource.data();
                            if (tmpData.length == 0) {
                                $("#Rates_validationMessage").show();
                                retVal = false;
                            } else {
                                var id = jQuery.grep(tmpData, function (a) {
                                    return a.Id != null;
                                });
                                if (id.length != 0) {
                                    $("#Rates_validationMessage").hide();
                                    retVal = true;
                                }

                                else {
                                    $("#Rates_validationMessage").show();
                                    retVal = false;
                                }
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    emptyOtherChargesGrid: function (select) {
                        if ($(select).attr('id') === ("otherChargesCheck")) {
                            debugger;
                            var retVal = true;
                            var tmpData = $("#otherChargesGrid").data("kendoGrid").dataSource.data();
                            if (tmpData.length == 0) {
                                $("#OtherCharges_validationMessage").show();
                                retVal = false;
                            } else {
                                var id = jQuery.grep(tmpData, function (a) {
                                    return a.Id != null;
                                });
                                if (id.length != 0)
                                {
                                    $("#OtherCharges_validationMessage").hide();
                                    retVal = true;
                                }
                                   
                                else
                                {
                                    $("#OtherCharges_validationMessage").show();
                                    retVal = false;
                                }
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    issame: function (input) {
                        if ($(input).attr('issame') != undefined) {

                            var retVal = true;
                            var inputs = $(input).closest("td").prevAll("td").find("input[issame='true']");
                            var elementValue = $.trim($(input).val());
                            $.each(inputs, function (i, v) {
                                var val = $.trim($(v).val());
                                if (val != "" && val == elementValue)
                                    retVal = false;
                            })

                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                },
            },

        FindAWB: function () {
            debugger;
                AWBWizardPopup.validator = $("#divFindAWB").kendoValidator({
                    rules: AWBWizardPopup.ValidationRules.AWBStep,
                    validateOnBlur: true
                }).data("kendoValidator");
            


            if (AWBWizardPopup.validator.validate()) {
                var formElementsJson = $("#divFindAWB :input").serializeObject();
                var dataToSend = {
                    accountid: formElementsJson.CarrierId,
                    serialnumber: formElementsJson.AirwaybillSerialNumber,
                    originid: formElementsJson.OriginId,
                    destid: formElementsJson.DestinationId
                }


                $.ajax({
                    //  async: true,
                    type: 'POST',
                    dataType: "html",
                    traditional: true,
                    url: AWBWizardPopup.Urls.FindAWB,
                    data: JSON.stringify(dataToSend),
                    success: function (html) {
                        AWBWizardPopup.validator = null;
                        if (html == "") {
                            $(".disableddiv").removeClass("disableddiv");
                            $(".todisable").addClass("disableddiv");

                            return;
                        }
                        else {
                            $("#awbWizardContent").html(html);
                            $("#AWBId").val($("#hdnAWBStepAwbId").val());
                            AWBWizardPopup.validator = null;
                        }



                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    },
                    cache: false,
                    contentType: 'application/json, charset=utf-8',
                    processData: false
                });
            }
            else {
                AWBWizardPopup.validator = null;
            }
        },

        Finalize: function (data, fromSummary) {


            window.DIALOG_HANDLER.openConfirmation(function () { AWBWizardPopup.FinalizeComplete(data, fromSummary); }, null, "Confirm", "Are you sure you want to Finalize Airwaybill?");
        },

        FinalizeComplete: function (data, fromSummary) {

            var url = AWBWizardPopup.Urls.FinalizeHWBStep;
            if (fromSummary == "@AWBWizardSteps.ChargesStep") {
                url = AWBWizardPopup.Urls.FinalizeChargesStep;
            }

            $.ajax({
                //  async: true,
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: url,
                data: data,
                success: function (json) {

                    AWBWizardPopup.validator = null;
                    var tmpWindow = window.TaskManager.windows.AddPopupWizard();
                    tmpWindow.close();

                    $(document).trigger("AWBWizardFinalized");

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false,
                contentType: 'application/json, charset=utf-8',
                processData: false
            });
        },

        GoToAWBStep: function () {

            $.ajax({
                //  async: true,
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: AWBWizardPopup.Urls.GoToAWBStep,
                data: AWBWizardPopup.GetDataForStep(),
                success: function (html) {

                    $("#btnPrev").hide();
                    $("#btnNext").val("Next");
                    $("#btnPreviewAWB").hide();

                    $("#awbWizardContent").html(html);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false,
            });
        },

        GoToChargesStep: function () {

            $.ajax({
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: AWBWizardPopup.Urls.GoToChargesStep,
                data: AWBWizardPopup.GetDataForStep(),
                success: function (html) {

                    $("#btnPrev").show();
                    $("#btnPreviewAWB").show();
                    $("#awbWizardContent").html(html);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false,
            });
        },

        GoToHWBStep: function () {

            $.ajax({
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: AWBWizardPopup.Urls.GoToHWBStep,
                data: AWBWizardPopup.GetDataForStep(),
                success: function (html) {

                    $("#btnPrev").show();
                    $("#awbWizardContent").html(html);
                    AWBWizardPopup.validator = null;
                    $("#btnNext").val("Finalize");
                    $("#btnPreviewAWB").hide();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false,
            });
        },

        SaveAWBStep: function () {
           
                AWBWizardPopup.validator = $("#frmAWBStep").kendoValidator({
                    rules: AWBWizardPopup.ValidationRules.AWBStep,
                    validateOnBlur: true
                }).data("kendoValidator");
          

            var disabled = $("#frmAWBStep").find(':input:disabled').removeAttr('disabled');
            if (AWBWizardPopup.validator.validate()) {

                var formElementsJson = $("#frmAWBStep").serializeObject();
                disabled.attr('disabled', 'disabled');


                delete formElementsJson.AircraftType;
                formElementsJson.AircraftType = $("#AircraftType:checked").val();

                formElementsJson.AirwaybillId = AWBWizardPopup.GetDataForStep().id;
                AWBHWBCommonModel.arrangeJson(formElementsJson);


                $.ajax({
                    //  async: true,
                    type: 'POST',
                    dataType: "html",
                    traditional: true,
                    url: AWBWizardPopup.Urls.SaveAWBStep,
                    data: JSON.stringify(formElementsJson),
                    success: function (html) {


                        $("#btnPrev").show();
                        $("#awbWizardContent").html(html);
                        $("#AWBId").val($("#hdnAWBOnCharges").val());
                        AWBWizardPopup.validator = null;

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    },
                    cache: false,
                    contentType: 'application/json, charset=utf-8',
                    processData: false
                });
            }
            else {
                AWBWizardPopup.validator = null;
                disabled.attr('disabled', 'disabled');
            }
        },

        PrepareChargesStep: function (data) {

          
                AWBWizardPopup.validator = $("#frmChargesStep").kendoValidator({
                    rules: AWBWizardPopup.ValidationRules.ChargesStep,
                    validateOnBlur: true
                }).data("kendoValidator");
            


            if (AWBWizardPopup.validator.validate()) {
                var disabled = $("#frmChargesStep").find(':input:disabled').removeAttr('disabled');
                var formElementsJson = $("#frmChargesStep").serializeObject();
                disabled.attr('disabled', 'disabled');

                delete formElementsJson['ChargeDeclarations[NVD]'];
                formElementsJson['ChargeDeclarations[NVD]'] = $("#NVD").is(":checked");
                delete formElementsJson['ChargeDeclarations[NCV]'];
                formElementsJson['ChargeDeclarations[NCV]'] = $("#NCV").is(":checked");
                delete formElementsJson['ChargeDeclarations[XXX]'];
                formElementsJson['ChargeDeclarations[XXX]'] = $("#XXX").is(":checked");

                delete formElementsJson['ChargeDeclarations[WTVALChargesType]'];
                formElementsJson['ChargeDeclarations[WTVALChargesType]'] = $("#WTVALChargesType:checked").val();

                delete formElementsJson['ChargeDeclarations[OtherChargesType]'];
                formElementsJson['ChargeDeclarations[OtherChargesType]'] = $("#OtherChargesType:checked").val();

                formElementsJson.AirwaybillId = AWBWizardPopup.GetDataForStep().id;
                AWBHWBCommonModel.arrangeJson(formElementsJson);


                if ($("#btnNext").val() == "Next") {
                    AWBWizardPopup.SaveChargesStep(formElementsJson);
                }
                else {
                    AWBWizardPopup.Finalize(data, "@AWBWizardSteps.ChargesStep");
                }



            }
        },
        SaveChargesStep: function (data) {
            $.ajax({
                //  async: true,
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: AWBWizardPopup.Urls.SaveChargesStep,
                data: JSON.stringify(data),
                success: function (html) {

                    $("#awbWizardContent").html(html);
                    AWBWizardPopup.validator = null;
                    $("#btnNext").val("Finalize");
                    $("#btnPreviewAWB").hide();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false,
                contentType: 'application/json, charset=utf-8',
                processData: false
            });
        },


        SaveHWBStep: function () {
           
                AWBWizardPopup.validator = $("#frmHWBStep").kendoValidator({
                    rules: {
                        emptyGrid: function (select) {
                            if ($(select).attr('id') === ("hwbsCheck")) {
                                var retVal = true;
                                var tmpData = $("#hwbsGrid").data("kendoGrid").dataSource.data();
                                if (tmpData.length == 0) {
                                    $("#HWBs_validationMessage").show();
                                    retVal = false;
                                } else {
                                    var id = jQuery.grep(tmpData, function (a) {
                                        return a.Id != null;
                                    });
                                    if (id.length != 0) {
                                        $("#HWBs_validationMessage").hide();
                                        retVal = true;
                                    }

                                    else {
                                        $("#HWBs_validationMessage").show();
                                        retVal = false;
                                    }
                                }
                                return retVal;
                            }
                            else {
                                return true;
                            }
                        },

                    },
                    validateOnBlur: true
                }).data("kendoValidator");
          


            if (AWBWizardPopup.validator.validate()) {

                var data = JSON.stringify({ awbId: AWBWizardPopup.GetDataForStep().id });
                AWBWizardPopup.Finalize(data, "@AWBWizardSteps.HWBStep");

            }
        },

        PreviewAWB: function () {

            var id = AWBWizardPopup.GetDataForStep().id;
            AWBHWBCommonModel.previewDoc(id, 'AWB')
        },

        GetDataForStep: function () {
            var awbid = $("#AWBId").val();
            return { id: awbid };
        },

        //SaveSummaryStep: function (data) {

        //    $.ajax({
        //        //  async: true,
        //        type: 'POST',
        //        dataType: "html",
        //        traditional: true,
        //        url: AWBWizardPopup.Urls.SaveSummaryStep,
        //        data: data,
        //        success: function (html) {

        //            $("#awbWizardContent").html(html);
        //            AWBWizardPopup.validator = null;
        //            $("#btnNext").val("Finalize");
        //            $("#btnPreviewAWB").hide();

        //        },
        //        error: function (jqXHR, textStatus, errorThrown) {
        //            console.log(errorThrown);
        //        },
        //        cache: false,
        //        contentType: 'application/json, charset=utf-8',
        //        processData: false
        //    });
        //},

    }


    $(function () {

        switch ('@Model.Step') {
            case '@AWBWizardSteps.AWBStep': AWBWizardPopup.GoToAWBStep(); break;
            case '@AWBWizardSteps.ChargesStep': AWBWizardPopup.GoToChargesStep(); break;
                @*case '@AWBWizardSteps.ULDStep': GoToULDStep(); break;
            case '@AWBWizardSteps.SummaryStep': GoToSummaryStep(); break;*@
            case '@AWBWizardSteps.HWBStep': AWBWizardPopup.GoToHWBStep(); break;
        }



        $("#btnNext").click(function () {

            var hdnStepNumber = $("#hdnStepNumber").val();
            switch (hdnStepNumber) {
                case '@AWBWizardSteps.AWBStep': AWBWizardPopup.SaveAWBStep(); break;
                case '@AWBWizardSteps.ChargesStep': AWBWizardPopup.PrepareChargesStep(); break;
                    @*case '@AWBWizardSteps.ULDStep': SaveULDStep(); break;
                case '@AWBWizardSteps.SummaryStep': SaveSummaryStep(); break;*@
                case '@AWBWizardSteps.HWBStep': AWBWizardPopup.SaveHWBStep(); break;
            }
        })

        $("#btnPrev").click(function () {
            var hdnStepNumber = $("#hdnStepNumber").val();
            switch (hdnStepNumber) {
                case '@AWBWizardSteps.ChargesStep': AWBWizardPopup.GoToAWBStep(); break;
                    @*case '@AWBWizardSteps.ULDStep': GoToChargesStep(); break;
                case '@AWBWizardSteps.SummaryStep': GoToULDStep(); break;*@
                case '@AWBWizardSteps.HWBStep': AWBWizardPopup.GoToChargesStep(); break;
            }
        })

    })





    //function GoToULDStep() {

    //    $.ajax({
    //        type: 'POST',
    //        dataType: "html",
    //        traditional: true,
    //        url: AWBWizardPopup.Urls.GoToULDStep,
    //        data: AWBWizardPopup.GetDataForStep(),
    //        success: function (html) {
    //            $("#btnPrev").show();
    //            $("#btnNext").val("Next");
    //            $("#btnPreviewAWB").hide();

    //            $("#awbWizardContent").html(html);

    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            console.log(errorThrown);
    //        },
    //        cache: false,
    //    });
    //}

    //function SaveULDStep() {

    //    if (AWBWizardPopup.validator == null) {
    //        AWBWizardPopup.validator = $("#frmULDsStep").kendoValidator({
    //            rules: {
    //                inputempty: function (input) {
    //                    if ($(input).attr('inputempty') != undefined) {
    //                        var retVal = true;
    //                        var val = $(input).val().trim();

    //                        if (val == "") {
    //                            retVal = false;
    //                            $(input).val(val);
    //                        }
    //                        return retVal;
    //                    }
    //                    else {
    //                        return true;
    //                    }
    //                },
    //                issame: function (input) {
    //                    if ($(input).attr('issame') != undefined) {

    //                        var retVal = true;
    //                        var inputs = $(input).closest("td").prevAll("td").find("input[issame='true']");
    //                        var elementValue = $.trim($(input).val());
    //                        $.each(inputs, function (i, v) {
    //                            var val = $.trim($(v).val());
    //                            if (val != "" && val == elementValue)
    //                                retVal = false;
    //                        })

    //                        return retVal;
    //                    }
    //                    else {
    //                        return true;
    //                    }
    //                },
    //            },
    //            validateOnBlur: true
    //        }).data("kendoValidator");
    //    }


    //    if (AWBWizardPopup.validator.validate()) {
    //        var disabled = $("#frmULDsStep").find(':input:disabled').removeAttr('disabled');
    //        var formElementsJson = $("#frmULDsStep").serializeObject();
    //        disabled.attr('disabled', 'disabled');

    //        formElementsJson.AirwaybillId = AWBWizardPopup.GetDataForStep().id;


    //        $.ajax({
    //            //  async: true,
    //            type: 'POST',
    //            dataType: "html",
    //            traditional: true,
    //            url: AWBWizardPopup.Urls.SaveULDStep,
    //            data: JSON.stringify(formElementsJson),
    //            success: function (html) {

    //                $("#btnPreviewAWB").show();
    //                $("#awbWizardContent").html(html);

    //                AWBWizardPopup.validator = null;

    //            },
    //            error: function (jqXHR, textStatus, errorThrown) {
    //                console.log(errorThrown);
    //            },
    //            cache: false,
    //            contentType: 'application/json, charset=utf-8',
    //            processData: false
    //        });
    //    }
    //}

    //function GoToSummaryStep() {

    //    $.ajax({
    //        type: 'POST',
    //        dataType: "html",
    //        traditional: true,
    //        url: AWBWizardPopup.Urls.GoToSummaryStep,
    //        data: AWBWizardPopup.GetDataForStep(),
    //        success: function (html) {

    //            $("#btnPrev").show();
    //            $("#btnPreviewAWB").show();

    //            $("#awbWizardContent").html(html);

    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            console.log(errorThrown);
    //        },
    //        cache: false,
    //    });
    //}

    @*function SaveSummaryStep() {

        if (AWBWizardPopup.validator == null) {
            AWBWizardPopup.validator = $("#frmSummaryStep").kendoValidator({
                rules: {
                    inputempty: function (input) {
                        if ($(input).attr('inputempty') != undefined) {
                            var retVal = true;
                            var val = $(input).val().trim();

                            if (val == "") {
                                retVal = false;
                                $(input).val(val);
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    custom: function (input) {
                        if ($(input).attr('customRequired') != undefined) {
                            var elementValue = $.trim($(input).val());
                            if (elementValue == "0" || elementValue == "") return false;
                            else return true;
                        }
                        else {
                            return true;
                        }
                    }
                },
                validateOnBlur: true
            }).data("kendoValidator");
        }


        if (AWBWizardPopup.validator.validate()) {
            var disabled = $("#frmSummaryStep").find(':input:disabled').removeAttr('disabled');
            var formElementsJson = $("#frmSummaryStep").serializeObject();
            disabled.attr('disabled', 'disabled');

            formElementsJson.AirwaybillId = AWBWizardPopup.GetDataForStep().id;
            var data = JSON.stringify(formElementsJson);


            if ($("#btnNext").val() == "Next") {
                AWBWizardPopup.SaveSummaryStep(data);
            }
            else {
                AWBWizardPopup.Finalize(data, "@AWBWizardSteps.ChargesStep");
            }


        }
    }*@
</script>