﻿@using MCH.Web.Models.AWBWizard
@using MCH.Web.Models.Shared;
@model ChargesStep

<style type="text/css">
    .lg_controls .leftcontrols {
        float: left;
    }

    #divRateEditor span.cnt_100 {
        width: 30%;
    }

    #divSimpleCharges span.cnt_100 {
        font-size: 11px;
        font-weight: bold;
    }
</style>


<script type="text/javascript">

    var ChargesModel = {
        RateValidator: null,
        RatePopup: function () { return $("#wndAddEditRate").data("kendoWindow"); },

        onDeleteRate: function (id) {
            debugger;
            if (!(parseInt(id) > 0)) { return false; }
            window.DIALOG_HANDLER.openConfirmation(function () { ChargesModel.showDeleteRate(id); }, null, "Confirm", "Are you sure you want to remove Rate ?");
        },

        showDeleteRate: function (id) {

            if (!(parseInt(id) > 0)) { return false; }

            $.ajax({
                url: '@Url.Action("DeleteRate", "AWBWizard")',
                type: "POST",
                data: { id: id },
                dataType: "html",
                traditional: true,
                success: function (success) {

                    var grid = $("#ratesGrid").data("kendoGrid");
                    if (grid) { grid.dataSource.read(); }
                },
                error: function (msg) {
                    alert(msg);
                },
                fail: function (msg) {
                    alert(msg);
                }
            });
        },

        OpenAddEdtiRate: function (id) {
            debugger;
            var tmpUrl = '@Url.Action("GetRateById", "AWBWizard")';
            tmpUrl = tmpUrl + "/?id=" + id;

            var tmpWindow = this.RatePopup();
            tmpWindow.content("");
            tmpWindow.title("Rate Descriptios");
            tmpWindow.setOptions({ minHeight: "420px", minWidth: "400px", width: "400px", url: tmpUrl });
            tmpWindow.refresh(tmpUrl);
            tmpWindow.center().open();
            return tmpWindow;
        },

        onSaveRate: function (addnew) {
            $("#btnSaveRate").attr("disabled", "disabled");
            if ($("#btnSaveAndAddRate").length > 0) {
                $("#btnSaveAndAddRate").attr("disabled", "disabled");
            }

            this.RateValidator = $("#divRateEditor").kendoValidator({
                rules: {
                    inputempty: function (input) {
                        if ($(input).attr('inputempty') != undefined) {
                            var retVal = true;
                            var val = $(input).val().trim();

                            if (val == "") {
                                retVal = false;
                                $(input).val(val);
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                    comboselected: function (input) {
                        if ($(input).attr('comboselected') != undefined) {
                            var retVal = true;
                            var kendoCombo = $(input).data("kendoComboBox");
                            if (kendoCombo) {
                                if (kendoCombo.value() != "" && kendoCombo.selectedIndex == -1) {
                                    retVal = false;
                                }
                            }
                            return retVal;
                        }
                        else {
                            return true;
                        }
                    },
                },
                validateOnBlur: true
            }).data("kendoValidator");


            debugger;

            if (!this.RateValidator.validate()) {
                $("#btnSaveRate").removeAttr("disabled");
                if ($("#btnSaveAndAddRate").length > 0) {
                    $("#btnSaveAndAddRate").removeAttr("disabled");
                }
            }
            else {

                var formElementsJson = $("#divRateEditor").serializeObject();

                $.ajax({
                    //  async: true,
                    type: 'POST',
                    dataType: "json",
                    traditional: true,
                    url: '@Url.Action("SaveRate", "AWBWizard")',
                    data: JSON.stringify(formElementsJson),
                    success: function (html) {
                        debugger;
                        $("#btnSaveRate").removeAttr("disabled");
                        if ($("#btnSaveAndAddRate").length > 0) {
                            $("#btnSaveAndAddRate").removeAttr("disabled");
                        }

                        if (html.data == "Error") {
                            window.DIALOG_HANDLER.openAlert("Error", html.ErrorMessage);
                        }
                        else {
                            ChargesModel.RateValidator = null;

                            var tmpWindow = ChargesModel.RatePopup();
                            tmpWindow.close();

                            var grid = $("#ratesGrid").data("kendoGrid");
                            if (grid) { grid.dataSource.read(); }


                            if (addnew) {
                                ChargesModel.OpenAddEdtiRate();
                            }
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                    },
                    cache: false,
                    contentType: 'application/json, charset=utf-8',
                    processData: false
                });
            }
        },

        onRateBound: function (ev) {
            debugger;
            var grid = $("#ratesGrid").data("kendoGrid");
            if (grid.dataSource.data().length < 12) {
                $("#btnAddEditRate").show();
            }
            else {
                $("#btnAddEditRate").hide();
            }
            ChargesModel.TotalWeightCharges();
        },

        CalcTotalPrepaid: function () {

            var prepaids = $("#divSimpleCharges input[name*='[Prepaid]']");
            var exTotal = 0;
            $.each(prepaids, function (i, v) {
                exTotal = exTotal + +($(v).val()) * 100;
            })
            exTotal = exTotal + +($("#lblTotalWeightChargesPrepaid").text()) * 100
                + +($("#lblTotalOtherChargesDueCarrierPrepaid").text()) * 100
                + +($("#lblTotalOtherChargesDueAgentPrepaid").text()) * 100;

            $("#lblTotalPrepaid").text(exTotal / 100);
        },

        CalcTotalCollect: function () {

            var collects = $("#divSimpleCharges input[name*='[Collect]']");
            var exTotal = 0;
            $.each(collects, function (i, v) {
                exTotal = exTotal + +($(v).val()) * 100;
            })

            exTotal = exTotal + +($("#lblTotalWeightChargesCollect").text()) * 100 +
                +($("#lblTotalOtherChargesDueCarrierCollect").text()) * 100
                + +($("#lblTotalOtherChargesDueAgentCollect").text()) * 100;


            $("#lblTotalCollect").text(exTotal / 100);
        },

        TotalWeightCharges: function () {

            var grid = $("#ratesGrid").data("kendoGrid");
            var sum = 0;
            $.each(grid.dataSource.data(), function (i, v) {
                sum = sum + +(v.Total);
            })
            if ($("#WTVALChargesType:checked").val() == "1") {

                var prepaids = $("#divSimpleCharges input[name*='[Prepaid]']");
                $.each(prepaids, function (i, v) {
                    $(v).data("kendoNumericTextBox").value(0);
                    $(v).data("kendoNumericTextBox").enable(false);
                })
                var collects = $("#divSimpleCharges input[name*='[Collect]']");
                $.each(collects, function (i, v) {
                    $(v).data("kendoNumericTextBox").enable(true);
                })

                $("#lblTotalWeightChargesCollect").text(sum);
                $("#lblTotalWeightChargesPrepaid").text(0);
            }
            else {

                var prepaids = $("#divSimpleCharges input[name*='[Prepaid]']");
                $.each(prepaids, function (i, v) {
                    $(v).data("kendoNumericTextBox").enable(true);
                })
                var collects = $("#divSimpleCharges input[name*='[Collect]']");
                $.each(collects, function (i, v) {
                    $(v).data("kendoNumericTextBox").value(0);
                    $(v).data("kendoNumericTextBox").enable(false);
                })

                $("#lblTotalWeightChargesPrepaid").text(sum);
                $("#lblTotalWeightChargesCollect").text(0);
            }

            ChargesModel.CalcTotalPrepaid();
            ChargesModel.CalcTotalCollect();

        },
        TotalOtherCharges: function () {

            var grid = $("#otherChargesGrid").data("kendoGrid");
            var carriersum = 0;
            var agentsum = 0;
            $.each(grid.dataSource.data(), function (i, v) {
                if (v.IsCodeDueCarrier == true) {
                    carriersum = carriersum + +(v.Amount);
                }
                if (v.IsCodeDueCarrier == false) {
                    agentsum = agentsum + +(v.Amount);
                }

            })
            if ($("#OtherChargesType:checked").val() == "1") {
                $("#lblTotalOtherChargesDueCarrierCollect").text(carriersum);
                $("#lblTotalOtherChargesDueAgentCollect").text(agentsum);

                $("#lblTotalOtherChargesDueCarrierPrepaid").text(0);
                $("#lblTotalOtherChargesDueAgentPrepaid").text(0);
            }
            else {
                $("#lblTotalOtherChargesDueCarrierPrepaid").text(carriersum);
                $("#lblTotalOtherChargesDueAgentPrepaid").text(agentsum);

                $("#lblTotalOtherChargesDueCarrierCollect").text(0);
                $("#lblTotalOtherChargesDueAgentCollect").text(0);

            }

            ChargesModel.CalcTotalPrepaid();
            ChargesModel.CalcTotalCollect();

        }


    }

</script>



@Html.Hidden("hdnStepNumber", AWBWizardSteps.ChargesStep)
@Html.Hidden("hdnAWBOnCharges", Model.AirwaybillId)
<form id="frmChargesStep">
    <div id="tabStripCharges" class="cm_Parent_Tab">

        <div class="lg_controls" id="divChargesStep">
            <div>

                <ul class="ul_inline" id="divChargesStepFirst">
                    <li class="leftcontrols">
                        <fieldset>
                            <legend>
                                Special Handlings:
                            </legend>
                            <div style="overflow:auto; height:140px;">
                                @for (int i = 0; i < Model.SpecialHandlingRequests.Count(); i++)
                                {
                                    var code = Model.SpecialHandlingRequests[i];

                                    <div class="lg_controls incontrols">
                                        <span class="cnt_100">Code @(i + 1):</span>
                                        @(Html.Kendo().ComboBoxFor(m => m.SpecialHandlingRequests[i].CodeId)
                  .DataSource(d => d.Read(r => r.Action("GetSpecialHandlings", "AWBWizard")))
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                            .Placeholder("select")
                                                .HtmlAttributes(new { dublicatedValue = "true", data_dublicatedValue_msg = "Code is duplicated", style = "width:50%", name = "SpecialHandlingRequests[" + i + "][CodeId]" })
                            .Filter(FilterType.Contains)
                                        )

                                    </div>
                                }
                            </div>
                        </fieldset>
                    </li>
                    <li class="leftcontrols">

                        <fieldset>
                            <legend>
                                Charge Declarations:
                            </legend>
                            @Html.Partial("_ChargeDeclarations", Model.ChargeDeclarations)

                        </fieldset>
                    </li>
                    <li class="leftcontrols">
                        <div class="lg_controls leftcontrols" style="padding-left: 10px; height: 135px;">
                            <span class="cnt_100">Handling Information*:</span>

                            @Html.TextAreaFor(m => m.HandlingInformation, new { inputempty = "", data_inputempty_msg = "Handling Information is required", style = "height:100%", })

                        </div>
                    </li>
                </ul>





            </div>

            

                <div>
                    <fieldset>
                        <legend>
                            Rate Descriptions:

                        </legend>
                        @Html.Partial("_RatesDescriptionGrid")
                    </fieldset>
                </div>
            



            <div>
                <ul class="ul_inline" id="divChargesStepThird">
                    <li class="leftcontrols">
                        <div id="divSimpleCharges">

                            <div class="lg_controls  rdcontrols" style="color:rebeccapurple; font-size:12px;">
                                <span class="cnt_100"></span>
                                <div style="display: inline-table; width:100px;text-align:left;padding-left:5px;">
                                    <label>Prepaid</label>
                                </div>

                                <div style="display: inline-table; width:100px;text-align:left;padding-left:5px;">
                                    <label>Collect</label>
                                </div>
                            </div>


                            @*@Html.Partial("_ChargeTypeValue", Model.TotalWeightCharges)*@
                            <div class="lg_controls  rdcontrols">
                                <span class="cnt_100">Total Weight Charges:</span>
                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalWeightChargesPrepaid">@(Convert.ToDouble(@Model.TotalWeightCharges.Prepaid))</label>
                                </div>

                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalWeightChargesCollect">@(Convert.ToDouble(@Model.TotalWeightCharges.Collect))</label>
                                </div>
                            </div>
                            @Html.Partial("_ChargeTypeValue", Model.TotalValuationCharges, new ViewDataDictionary { { "ChargesType", Model.ChargeDeclarations.WTVALChargesType } })

                            @Html.Partial("_ChargeTypeValue", Model.TotalTaxes, new ViewDataDictionary { { "ChargesType", Model.ChargeDeclarations.WTVALChargesType } })
                            @*@Html.Partial("_ChargeTypeValue", Model.TotalOtherChargesDueCarrier)*@
                            <div class="lg_controls  rdcontrols">
                                <span class="cnt_100">Total Other Charges Due Carrier:</span>
                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalOtherChargesDueCarrierPrepaid">@(Convert.ToDouble(@Model.TotalOtherChargesDueCarrier.Prepaid))</label>
                                </div>

                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalOtherChargesDueCarrierCollect">@(Convert.ToDouble(@Model.TotalOtherChargesDueCarrier.Collect))</label>
                                </div>
                            </div>


                            @*@Html.Partial("_ChargeTypeValue", Model.TotalOtherChargesDueAgent)*@
                            <div class="lg_controls  rdcontrols">
                                <span class="cnt_100">Total Other Charges Due Agent:</span>
                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalOtherChargesDueAgentPrepaid">@(Convert.ToDouble(@Model.TotalOtherChargesDueAgent.Prepaid))</label>
                                </div>

                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalOtherChargesDueAgentCollect">@(Convert.ToDouble(@Model.TotalOtherChargesDueAgent.Collect))</label>
                                </div>
                            </div>

                            <div class="lg_controls  rdcontrols">
                                <span class="cnt_100" style="color:red;">Total:</span>
                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalPrepaid">@(Convert.ToDouble(Model.Total.Prepaid))</label>
                                </div>

                                <div style="width:100px;text-align:left;padding-left:5px;">
                                    <label class="chargeSym"></label>
                                    <label id="lblTotalCollect">@(Convert.ToDouble(Model.Total.Collect))</label>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="leftcontrols">
                        <div>
                            <fieldset style="display:inline-block;">
                                <legend>
                                    Other Charges:
                                </legend>
                                @Html.Partial("_OtherChargesGrid", Model.OtherChargesList)

                            </fieldset>
                        </div>
                    </li>
                    <li class="leftcontrols">
                        <div>
                            <fieldset>
                                <legend>
                                    Shipper Certification
                                </legend>

                                <div class="lg_controls rdcontrols">
                                    <span class="cnt_100">Certification Name*:</span>
                                    <div style="width: 55%;">
                                        @Html.TextBoxFor(m => m.CertificationName, new { inputempty = "", data_inputempty_msg = "Certification Name is required", @class = "k-textbox" })
                                    </div>
                                </div>
                            </fieldset>


                            <fieldset>
                                <legend>
                                    Carrier's Execution
                                </legend>

                                <div class="lg_controls rdcontrols">
                                    <span class="cnt_100">Executed On Date*:</span>
                                    <div style="width: 54%;">
                                        @(Html.Kendo().DatePickerFor(m => m.ExecutedOnDate).HtmlAttributes(new { 
                                        required = "", 
                                        data_required_msg = "Executed Date is required",
                                        dateValidation = "",
                                        data_dateValidation_msg = "Date is invalid",
                                        style = "width:100%;"
                                    }))
                                        <span class="k-invalid-msg" data-for="ExecutedOnDate"></span>
                                    </div>
                                </div>

                                <div class="lg_controls rdcontrols">
                                    <span class="cnt_100">Executed At Place*:</span>
                                    <div style="width: 55%;">
                                        @Html.TextBoxFor(m => m.ExecutedAtPlace, new { inputempty = "", data_inputempty_msg = "Executed Place is required", @class = "k-textbox" })
                                    </div>
                                </div>

                                <div class="lg_controls rdcontrols">
                                    <span class="cnt_100">Executed By:</span>
                                    <div style="width: 55%;">
                                        @Html.TextBoxFor(m => m.ExecutedBy, new { @class = "k-textbox" })
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </li>
                </ul>

            </div>


        </div>

    </div>


</form>

<script type="text/javascript">
    $(function () {

        @{var awbtype = (long)AWBTypes.Airwaybill;}

        if ('@Model.AirwaybillTypeId' == '@awbtype') {
            $("#btnNext").val("Next");
        }
        else {
            $("#btnNext").val("Finalize");
        }



        $("#divChargeDeclarations").on("otherChargeTypeChange", function () {

            ChargesModel.TotalOtherCharges();
        })

        $("#divChargeDeclarations").on("WTVALChargeTypeChange", function () {

            ChargesModel.TotalWeightCharges();
        })

        $("#divChargeDeclarations").on("ChargeTypeCurrencyChange", function (e, sym) {
            sym = (sym == null) ? "" : sym;
            $("label.chargeSym").text(sym);
        })
    });
</script>