﻿@using MCH.Web.Models.AWBWizard
@using MCH.Web.Models.Shared;
@model HWBAddEdit

@{
    ViewBag.Title = "HWBAddEdit";
    Layout = null;
}

<style type="text/css">
    #frmHWBAddEdit li:nth-child(1) span.cnt_100 {
        width: 30% !important;
    }

    #frmHWBAddEdit li:nth-child(1) .rdcontrols > div {
        width: 65% !important;
    }
</style>
<form id="frmHWBAddEdit" style="overflow-y: auto;   max-height: calc(100% - 40px);">
    <ul class="ul_inline">
        <li>

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.AirwaybillId)
            <div class="inlinecontrols">
                <div class="lg_controls" style="width:30%">
                    <span class="cnt_100">AWB:</span>

                    @Html.TextBoxFor(m => m.AWBNumber, new { disabled = "disabled", @class = "k-textbox" })

                </div>
                <div class="lg_controls" style="width:30%">
                    <span class="cnt_100">HWB Serial Number*:</span>

                    @Html.TextBoxFor(m => m.HWBSerialNumber, new { inputempty = "", data_inputempty_msg = "HWB Serial Number is required", @class = "k-textbox" })

                </div>

                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100">Origin*:</span>
                    <div>
                        @(Html.Kendo().ComboBoxFor(m => m.OriginId).DataSource(d =>
                                                             d.Read(r => r.Action("GetPorts", "Common"))).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         id = "cbOrigin",
                                         style = "width:100%;",
                                         comboselected = "",
                                         data_comboselected_msg = "Origin is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Origin is required",
                                         checkdestination = ""

                                     })
                                             .Filter(FilterType.Contains)
                        )
                        <span class="k-invalid-msg" data-for="OriginId"></span>
                    </div>
                </div>

                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100">Destination*:</span>
                    <div>
                        @(Html.Kendo().ComboBoxFor(m => m.DestinationId).DataSource(d =>
                                                             d.Read(r => r.Action("GetPorts", "Common"))).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         id = "cbDestination",
                                         style = "width:100%;",
                                         comboselected = "",
                                         data_comboselected_msg = "Destination is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Destination is required",
                                         duplicatedports = "",
                                         data_duplicatedports_msg = "Origin and Destination cannot be the same",
                                     })
                                             .Filter(FilterType.Contains)
                        )
                        <span class="k-invalid-msg" data-for="DestinationId"></span>
                    </div>
                </div>
            </div>

            <div class="inlinecontrols">
                <div class="lg_controls" style="width:30%">
                    <span class="cnt_100">Total Pieces:*:</span>
                    <div>
                        @(Html.Kendo().NumericTextBoxFor(v => v.TotalPieces)
                .Format("#")
                .Min(0)
                .Decimals(0)
                .HtmlAttributes(new
                {
                    style = "width:100%;",
                    id = "numTotalPieces",
                    maxlength = 9,

                    data_custom_msg = "Total Pieces is required",
                    customRequired = true
                }))

                        <span class="k-invalid-msg" data-for="TotalPieces"></span>
                    </div>
                </div>

                <div class="lg_controls" style="width:30%">
                    <span class="cnt_100">Total Weight*</span>

                    <div>
                        @(Html.Kendo().NumericTextBoxFor(v => v.TotalWeight)
                         .Step((decimal)0.01)
                        .Min(0)
                        .Decimals(2)
                .HtmlAttributes(new
                {
                    style = "width:100%;",
                    id = "numTotalWeight",
                    maxlength = 9,

                    data_custom_msg = "Total Weight is required",
                    customRequired = true
                }))
                        <span class="k-invalid-msg" data-for="TotalWeight"></span>
                    </div>
                </div>
                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100" style="height:17px;"></span>
                    <div>
                        @(Html.Kendo().ComboBoxFor(m => m.UOMWeightId).DataSource(d => d.Read(r => r.Action("GetWeightUOMs", "AWBWizard")))
                .DataTextField("Name")
                .DataValueField("Id")
                .Placeholder("- select -")
                .HtmlAttributes(new
                {
                    id = "hwbUOMWeightId",
                    style = "width:100%;",
                    comboselected = "",
                    data_comboselected_msg = "UOM is invalid",
                    inputempty = "",
                    data_inputempty_msg = "UOM is required"
                })
                        .Filter(FilterType.Contains)
                        )

                        <span class="k-invalid-msg" data-for="UOMWeightId"></span>
                    </div>

                    </div>



                <div class="lg_controls" style="width:15%">
                    <span class="cnt_100">SLAC:</span>
                    <div>
                        @(Html.Kendo().NumericTextBoxFor(v => v.SLAC)
                .Format("#")
                .Min(0)
                .Decimals(0)
                .HtmlAttributes(new
                {
                    style = "width:100%;",
                    id = "numSLAC",
                    maxlength = 9,
                }))
                    </div>

                </div>

            </div>
            <div class="lg_controls rdcontrols">
                <span class="cnt_100">Description Of Goods*:</span>
                <div>
                    @Html.TextAreaFor(m => m.DescriptionOfGoods, new { inputempty = "", data_inputempty_msg = "Description Of Goods is required" })
                    <span class="k-invalid-msg" data-for="DescriptionOfGoods"></span>
                </div>
            </div>

            <fieldset>
                <legend>
                    Charge Declarations:
                </legend>
                @Html.Partial("_ChargeDeclarations", Model.ChargeDeclarations)
            </fieldset>
            <div class="lg_controls  rdcontrols">
                <span class="cnt_100">Export Control#:</span>
                <div style="display: inline-table">
                    @Html.TextBoxFor(m => m.ExportControlNo, new { @class = "k-textbox" })
                </div>
            </div>
            <div class="lg_controls">
                <span class="cnt_100">Other Customs Information:</span>
                @Html.Partial("_OtherCustomsInfoGrid", Model.OtherCustomsInfo)
            </div>






        </li>
        <li id="lihwbSecond">
            <fieldset>
                <legend>
                    @Model.Shipper.Type:
                </legend>
                @Html.Partial("_Partner", Model.Shipper)
            </fieldset>

            <fieldset>
                <legend>
                    @Model.Consignee.Type:
                </legend>
                @Html.Partial("_Partner", Model.Consignee)
            </fieldset>

            <fieldset class="leftcontrols">

                <legend>
                    Harmonized Codes:
                </legend>
                <div style="overflow:auto; height:160px;">
                    @for (int i = 0; i < Model.HarmonizedCommodityCodes.Count(); i++)
                    {
                        var code = Model.HarmonizedCommodityCodes[i];

                        <div class="lg_controls incontrols">
                            <span class="cnt_100">Code @(i + 1):</span>
                            @(Html.Kendo().ComboBoxFor(m => m.HarmonizedCommodityCodes[i].CodeId)
                  .DataSource(d => d.Read(r => r.Action("GetHarmonizedCodes", "AWBWizard")))
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                            .Placeholder("- select -")
                                                .HtmlAttributes(new { dublicatedValue = "true", data_dublicatedValue_msg = "Code is duplicated", style = "width:60%", name = "HarmonizedCommodityCodes[" + i + "][CodeId]" })
                            .Filter(FilterType.Contains)
                            )

                        </div>
                    }
                </div>
            </fieldset>

        </li>

    </ul>
</form>

<div style="position: absolute;right: 10px; bottom: 10px;">
    <div class="col-md-12 pull-right buttons-wrapp">
        <div class="pull-right">
            <input type="button" class="k-button" value="Preview HWB" id="btnPrevieHWB" style="display:none;" onclick="AWBHWBCommonModel.previewDoc('@Model.Id', 'HWB')" />
            @if (Model.Id == null || Model.Id == 0)
            {
                <input type="button" class="k-button" value="Save & Add New" id="btnSaveAndAddHWB" onclick="HWBAddEditModel.onSave(true)" />
            }
            <input type="button" class="k-button" value="Save & Close" id="btnSaveHWB" onclick="HWBAddEditModel.onSave()" />
        </div>
    </div>
</div>

@*<script type="text/javascript">
        $(function () {
            $.mask.definitions['~'] = '[A-Za-z0-9_]+';
            $("#AirwaybillSerialNumber").mask("***-?*****************************************************************************", { placeholder: " " });
        })

    </script>*@
