﻿@model long?
@Html.Partial("_PartnerEditorJS")
@Html.Partial("_AWBHWBEditorJS")

<div id="frmHWBStep">
    @Html.Action("HWBAddEdit", "AWBWizard", Model)
</div>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#frmHWBStep").on("hwbUpdateCompleted", function () {
                
                alert("HWB Edited!")
                var tmpWindow = window.TaskManager.windows.AddHWBPopup();
                tmpWindow.close();
            })
        });
    </script>
