﻿@using MCH.Web.Models.AWBWizard
@model HWBStep
<style type="text/css">
    .rates_grid {
        height: 570px;
        min-width: 620px;
        font-size: 12px !important;
    }
</style>

<script type="text/javascript">
    
    var HWBGridModel = {
        DeleteHWB: '@Url.Action("DeleteHWB", "AWBWizard")',


        onSearch: function () {
            var grid = $("#hwbsGrid").data("kendoGrid");
            if (grid) { grid.dataSource.read(); }
        },
        getHWBFilterData: function () {
            
            return {
                id:  AWBWizardPopup.GetDataForStep().id,
                searchText: $("#txtSearchHWB").val(),
            }
        },
        onDelete: function (id, hwbNumber) {
            
            if (!(parseInt(id) > 0)) { return false; }
            window.DIALOG_HANDLER.openConfirmation(function () { HWBGridModel.showDelete(id); }, null, "Confirm", "Are you sure you want to remove '" + hwbNumber + "' HWB ?");
        },

        showDelete: function (id) {
            
            if (!(parseInt(id) > 0)) { return false; }

            $.ajax({
                url: HWBGridModel.DeleteHWB,
                type: "POST",
                data: { id: id, awbid: AWBWizardPopup.GetDataForStep().id, },
                dataType: "html",
                traditional: true,
                success: function (success) {
                    //if (confirmWindow) {
                    //    confirmWindow.close();
                    //}
                    $("#frmHWBStep").trigger("hwbUpdateCompleted");

                },
                error: function (msg) {
                    alert(msg);
                },
                fail: function (msg) {
                    alert(msg);
                }
            });
        },
        onAddEdit: function (id) {         
            
            var awbid = AWBWizardPopup.GetDataForStep().id;
           window.TaskManager.ShowAddHWBDataEntryView(id, awbid);          
        },

    }
    $(document).ready(function () {
        
        $("#frmHWBStep").on("hwbUpdateCompleted", function (ev, addnew) {
            var tmpWindow = window.TaskManager.windows.AddHWBPopup();
            tmpWindow.close();
            HWBGridModel.onSearch();

            if(addnew)
            {
                HWBGridModel.onAddEdit();
            }
        })
    });
</script>

@Html.Hidden("hdnStepNumber", AWBWizardSteps.HWBStep)
<div id="frmHWBStep">
    
    <div class="lg_controls rdcontrols">

        <div class="k-block cm_grid cm_grids_styles">
            @*<div class="k-header k-shadow cm_grid_header">Routing Codes</div>*@

            <div class="cm_grid_option_buttons">

                <button id="assignHWB" onclick="HWBGridModel.onAddEdit()" class="k-button">
                    <span class="cm_icon_addNew cm_button_icons">Add New HWB</span>
                </button>


                <ul style="float:right;display:inline-block">
                    <li style="display:inline-block;position:relative">

                        @Html.TextBox("txtSearchHWB", string.Empty, new
            {
                id = "txtSearchHWB",
                @class = "k-textbox placeholder",
                style = "height:23px;width:230px",
                placeHolder = "Search"
            })

                        <button id="searchHWB" style="height:21px;position:absolute;top:1px;right:1px"
                                class="k-button" onclick="HWBGridModel.onSearch()">
                            <span class="cm_button_icons_small cm_icon_searchSmall"></span>
                        </button>
                    </li>
                </ul>
            </div>

            @Html.Hidden("hwbsCheck")
            @(Html.Kendo().Grid<HWBSimple>()
    .Name("hwbsGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Visible(false);
        columns.Bound(p => p.Number).Width(10);
        columns.Bound(p => p.Origin).Width(10);
        columns.Bound(p => p.Destination).Width(10);
        columns.Bound(p => p.Pieces).Width(7);
        columns.Bound(p => p.SLAC).Width(7);
        columns.Bound(p => p.Weight).Width(10);
        columns.Bound(p => p.Shipper).Width(10);
        columns.Bound(p => p.Consignee).Width(10);
     //   columns.Bound(p => p.SpecialHandlingCount).Title("Special Handling").Width(10);
       columns.Bound(p => p.ExportControl).Title("Export Control").Width(10);
        columns.Command(c => c.Custom("edit").Text(" ")).Width(5)
            .HtmlAttributes(new
            {
                @class = "center",
                title = "Edit",
                onclick = "HWBGridModel.onAddEdit(\"#=Id#\")"
            });
        columns.Command(c => c.Custom("destroy").Text(" ")).Width(5)
            .HtmlAttributes(new
            {
                @class = "center",
                title = "Remove",
                onclick = "HWBGridModel.onDelete(\"#=Id#\",\"#=Number#\")"
            });
    })
                    // .ToolBar(toolbar => toolbar.Create())
    .Sortable()
    .Scrollable()

            .HtmlAttributes(new { @class = "rates_grid" })
                    .DataSource(d => d
                        .Ajax()

                        //.Pageable(p => p.PageSizes(new int[] { 5, 10, 20 }).Refresh(true))
                        //.PageSize(10)
                        .Read(r => r.Action("GetAWBHWBs", "AWBWizard")
                        .Data("HWBGridModel.getHWBFilterData")
                        ))
            )

            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" id="HWBs_validationMessage" role="alert" style="display:none !important;">
                HWBs are required
            </span>
        </div>

    </div>
</div>


@*<a class="k-button k-button-icontext k-grid-edit" href="#"><span class="k-icon k-edit"></span>Edit</a>*@