﻿@using MCH.Web.Models.AWBWizard
@model SummaryStep

<style type="text/css">
    .rdcontrols span.cnt_100 {
        width: 190px;
    }

    fieldset {
        min-height: 100px;
        margin-top: 20px;
    }
</style>

@{
    ViewBag.Title = "AWBStep";
    Layout = null;
}
@*@Html.Hidden("hdnStepNumber", AWBWizardSteps.SummaryStep)*@

<form id="frmSummaryStep" style="  left: 50%; margin-left: -150px; width: 300px; position: absolute;">

    <fieldset>
        <legend>
            Sender Reference
        </legend>

        <div class="lg_controls">
            <span class="cnt_100">Participant Identfier:</span>
            <div>
                @(Html.Kendo().ComboBoxFor(m => m.ParticipantIdentfierId).DataSource(d =>
             d.Read(r => r.Action("GetParticipantIdentifiers", "Partner")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Participant Identifier is invalid",
                                     })
                                             .Filter(FilterType.Contains)
                )
            </div>

        </div>

        <div class="lg_controls">
            <span class="cnt_100">Participant Code:</span>
            <div>
                @Html.TextBoxFor(m => m.ParticipantCode, new { @class = "k-textbox" })
            </div>
        </div>

        <div class="lg_controls">
            <span class="cnt_100">Airport*:</span>
            <div>
                @(Html.Kendo().ComboBoxFor(m => m.AirportId).DataSource(d =>
                     d.Read(r => r.Action("GetAirports", "Common")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Airport is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Airport is required"

                                     }).Filter(FilterType.Contains)
                )

            </div>
        </div>
    </fieldset>


    <fieldset>
        <legend>
            Shipper Certification
        </legend>

        <div class="lg_controls">
            <span class="cnt_100">Certification Name*:</span>
            <div>
                @Html.TextBoxFor(m => m.CertificationName, new { inputempty = "", data_inputempty_msg = "Certification Name is required", @class = "k-textbox" })
            </div>
        </div>
    </fieldset>


    <fieldset>
        <legend>
            Carrier's Execution
        </legend>

        <div class="lg_controls">
            <span class="cnt_100">Executed On Date*:</span>
            @(Html.Kendo().DatePickerFor(m => m.ExecutedOnDate).HtmlAttributes(new { inputempty = "", data_inputempty_msg = "Executed Date is required" }))
            <span class="k-invalid-msg" data-for="ExecutedOnDate"></span>
        </div>

        <div class="lg_controls">
            <span class="cnt_100">Executed At Place*:</span>
            <div>
                @Html.TextBoxFor(m => m.ExecutedAtPlace, new { inputempty = "", data_inputempty_msg = "Executed Place is required", @class = "k-textbox" })
            </div>
        </div>

        <div class="lg_controls">
            <span class="cnt_100">Executed By:</span>
            <div>
                @Html.TextBoxFor(m => m.ExecutedBy, new { @class = "k-textbox" })
            </div>
        </div>
    </fieldset>

</form>


<script type="text/javascript">
    $(function () {
        
        @{var awbtype = (long)AWBTypes.Airwaybill;}

        if ('@Model.AirwaybillTypeId' == '@awbtype') {
            $("#btnNext").val("Next");
        }
        else {
            $("#btnNext").val("Finalize");
        }

    })
</script>