﻿@using MCH.Web.Models.AWBWizard
@model ULDsAndDimensionsStep

<style type="text/css">
    .rdcontrols span.cnt_100 {
        width: 100px;
    }
</style>

@{
    ViewBag.Title = "AWBStep";
    Layout = null;
}
@*@Html.Hidden("hdnStepNumber", AWBWizardSteps.ULDStep)*@
<form id="frmULDsStep">
    
    <div class="lg_controls">
        <span class="cnt_100">Volume:</span>
        <div style="display: inline-table">
            @(Html.Kendo().NumericTextBoxFor(v => v.Volume)
                .Format("#")
                .Min(0)
                .Decimals(0)
                .HtmlAttributes(new
                {
                    style = "width:220px;",
                    id = "numVolume",
                    maxlength = 9,
                }))
        </div>

        @(Html.Kendo().ComboBoxFor(m => m.VolumeUOMId).DataSource(d => d.Read(r => r.Action("GetVolumeUOMs", "AWBWizard")))
                .DataTextField("Name")
                .DataValueField("Id")
                .Placeholder("- select -")
                .HtmlAttributes(new { style = "width:110px;" })
                        .Filter(FilterType.Contains)
        )

    </div>


    <div class="lg_controls">
        <span class="cnt_100">SLAC:</span>
        <div style="display: inline-table">
            @(Html.Kendo().NumericTextBoxFor(v => v.SLAC)
                .Format("#")
                .Min(0)
                .Decimals(0)
                .HtmlAttributes(new
                {
                    style = "width:220px;",
                    id = "numSLAC",
                    maxlength = 9,
                }))
        </div>

    </div>

    @*@Html.Partial("_GoodsDescriptionsGrid", Model.GoodsDescriptionList)*@
    @Html.Partial("_ULDsGrid", Model.UnitLoadDevicesList)
</form>
