﻿html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

/*a:hover {
        background-color: #c7d1d6;
    }*/

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.ml_m_80 {
    margin-left: -80px;
}

.mg_5_25 {
    margin: 5px 25px;
}

.mg_1_3 {
    margin-right: 1.5%;
}

.size_w_320 {
    width: 320px;
}

.size_w_220 {
    width: 220px;
}

.size_w_zc {
    width: 236px;
}

.width_1_2 {
    width: 48%;
    min-width: 350px;
}

.width_1_3 {
    width: 32%;
    min-width: 200px;
}

.disp_ib {
    display: inline-block;
}

.clear {
    clear: both;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 20px;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
/*#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }*/


/* menu
/*----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }

*/
/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

.featured .content-wrapper {
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2 {
    color: #fff;
}

.featured p {
    font-size: 1.1em;
}

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}
/* login page */
/*#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}*/
input[type="checkbox"] {
    display: inline-block;
}

    input[type="checkbox"] ~ label {
        display: inline-block;
        font-size: 12px;
        margin-left: 5px;
        position: relative;
        top: 3px;
    }

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

fieldset {
    padding: 0 .625em .75em;
    margin: 0 2px;
    border: 1px solid silver;
    margin-bottom: 10px;
}

legend {
    font-weight: 500;
    border: none;
    width: auto;
    font-size: 13px;
    margin-bottom: 0px;
    color: rgb(0, 32, 81);
}

/* forms */
/*fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }*/

label.checkbox {
    display: inline;
}


/*input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }*/

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}
/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}

/*--- User Management style ------------------------------------------------------------------------------------*/

/*--- input form style ---*/
fieldset.input_form {
    margin-bottom: 5px;
}

    fieldset.input_form legend {
        text-align: right;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 0;
        border-bottom: 1px solid #e5e5e5;
    }

.required:after {
    content: '*';
    color: red;
    font-size: 14px;
}

fieldset.input_form .form_group {
    border: 1px solid #e5e5e5;
    border-top-width: 0;
    padding: 10px 15px;
    overflow: hidden;
}

.form_label {
    float: left;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
    width: 160px;
}

/*.form_control {
    margin-left: 170px;
    margin-bottom: 5px;
}

    .form_control input[type="text"] {
        font-size: 12px;
        width: 98%;
    }*/

/*.form_control .k-combobox {
        width: 102%;
    }*/

.form_control input.city_wdt {
    width: 160px;
}

.form_control .state {
    display: inline-block;
    float: right;
}

    .form_control .state .state_wdt {
        width: 85px;
    }

.form_control input.phone_pre_code {
    width: 50px;
    margin-right: 5px;
    display: inline-block;
}

.form_control input.phone_num {
    width: 160px;
    display: inline-block;
}

.form_buttons {
    text-align: right;
    padding: 0 6px;
}
/*--- END input form style ---*/
/*--- top panel divs ---*/
h3.add_title {
    background: url("images/add_head_icon.png") no-repeat;
    padding-left: 22px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

.back_btn_container {
    background: #ecf0f2; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ecf0f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ecf0f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ecf0f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ecf0f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ecf0f2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ecf0f2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf0f2',GradientType=0 ); /* IE6-9 */
    line-height: 30px;
    padding-left: 10px;
    font-size: 11px;
}

    .back_btn_container span {
        cursor: pointer;
    }

    .back_btn_container i {
        position: relative;
        top: -1px;
    }

ul.gr_top_btns_container {
    overflow: hidden;
    margin: 0;
}

    ul.gr_top_btns_container li {
        list-style: none;
        border-left: 1px solid #d3d7dc;
        padding: 2px 5px;
        float: right;
    }

.grid_top_add_btn {
    font-size: 11px;
    padding: 2px 8px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    border-radius: 3px; /* CSS3 */
    background: none;
    border: 1px solid #ececec;
}

    .grid_top_add_btn:hover {
        background: #ffe373; /* Old browsers */
        background: -moz-linear-gradient(top, #ffe373 0%, #ffd86b 68%, #fff480 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe373), color-stop(68%,#ffd86b), color-stop(100%,#fff480)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffe373 0%,#ffd86b 68%,#fff480 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffe373 0%,#ffd86b 68%,#fff480 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffe373 0%,#ffd86b 68%,#fff480 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffe373 0%,#ffd86b 68%,#fff480 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe373', endColorstr='#fff480',GradientType=0 ); /* IE6-9 */
        border: 1px solid #c28a30;
    }
/*--- END top panel divs ---*/

.round_corner_div {
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45), 0 0 30px rgba(0, 0, 0, 0.07) inset;
    margin-bottom: 5px;
    padding: 10px;
}
/*--- left menu style ---*/
.left_menu_item {
    cursor: pointer;
    line-height: 30px;
    font-size: 11px;
    padding: 0 20px;
}

    .left_menu_item span {
        margin-right: 5px;
        margin-top: -1px;
    }

        .left_menu_item span.icon_roles {
            background-image: url("images/role_icon.png");
            background-repeat: no-repeat;
            display: inline-block;
            height: 14px;
            line-height: 14px;
            margin-top: 1px;
            vertical-align: text-top;
            width: 14px;
        }

        .left_menu_item span.icon_comp_users {
            background-image: url("images/companies_users_icon.png");
            background-repeat: no-repeat;
            display: inline-block;
            height: 14px;
            line-height: 14px;
            margin-top: 1px;
            vertical-align: text-top;
            width: 14px;
        }

        .left_menu_item span.icon_glob_settings {
            background-image: url("images/global_settings_icon.png");
            background-repeat: no-repeat;
            display: inline-block;
            height: 14px;
            line-height: 14px;
            margin-top: 1px;
            vertical-align: text-top;
            width: 17px;
        }
/*--- END left menu style ---*/

/*--- inline input form style ---*/
ul.inline_input_form {
    list-style: none;
    overflow: hidden;
    margin: 0 0 10px 0;
    min-height: 40px;
}

    ul.inline_input_form li {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
    }

        ul.inline_input_form li p {
            float: left;
            margin-right: 5px;
            text-align: right;
            line-height: 22px;
        }

        ul.inline_input_form li input[type="text"] {
            margin-bottom: 0;
        }

        ul.inline_input_form li button {
            margin-bottom: 3px;
        }

        ul.inline_input_form li .k-combobox {
            width: 100%;
        }
/*---END inline input form style ---*/


.btn_forward {
    width: 28px;
    height: 22px;
    margin-right: 5px !important;
}

    .btn_forward span {
        background: url(images/btn_fwd.png) no-repeat 50% 50% !important;
        display: inline-block;
        width: 13px;
        height: 11px;
    }

.btn_backward {
    width: 28px;
    height: 22px;
    margin-right: 5px !important;
}

    .btn_backward span {
        background: url(images/btn_bwd.png) no-repeat 50% 50% !important;
        display: inline-block;
        width: 13px;
        height: 11px;
    }

    .btn_backward:hover, .btn_forward:hover {
        background-color: #e2e2e2 !important;
    }

.roles_height_big {
    height: 350px;
}

.roles_height_small {
    height: 225px;
}

.hint {
    font-size: 11px;
    color: #8d8d8d;
}

.add_app_tv {
    min-height: 70px;
    overflow-y: auto;
}

.radio label, .checkbox label {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
}
/*dropdown, combobox, multiselect*/
.k-multiselect-wrap .k-input {
    background-color: transparent;
    height: 29px;
    line-height: 1.31em;
    padding: .18em 0;
    text-indent: .33em;
    border: 0;
    margin: 1px 0 0;
    float: left;
}
/*Form css*/
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
}

.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 600;
    cursor: pointer;
}

.form-group [class^="col-"] > .k-combobox,
.form-group [class^="col-"] > .k-dropdown,
.form-group [class^="col-"] > .k-numerictextbox,
.form-group [class^="col-"] > .k-multiselect,
.form-group [class^="col-"] > .k-datepicker {
    width: 100%;
}

.form-group [class^="col-lg"] {
    margin-top: 5px;
}

.form-group.label-nowrap label {
    white-space: nowrap;
}

.form-group .justified {
    width: 100%;
}

.justified {
    width: 100% !important;
    display: inline-block;
}

.form-container {
    border: 1px solid #e5e5e5;
    padding: 15px;
    margin: 5px auto 5px auto;
    width: 100%;
    height: 100%;
    display: table;
    content: " ";
}

.form-group .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.form-group {
    margin-bottom: 2px;
}

.k-grid-toolbar {
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
    padding: 5px 15px;
    cursor: default;
    position: relative;
    min-height: 20px;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.k-grid-toolbar .control-label {
    padding-top: 7px;
    text-align: right;
    /*padding-right: 0;*/
    /*width: auto;*/
}

.for-header-label .control-label {
    padding-top: 7px;
    padding-right: 0;
    margin-bottom: 0;
    text-align: right;
    width: auto;
}

select, textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color],
.uneditable-input {
    font-size: 13px;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ccc;
}

    select:focus,
    textarea:focus,
    input:not([type=radio]):focus {
        background-color: #fff !important;
        color: black;
        background-image: none !important;
        background-position: 50% 50% !important;
        border-color: #67afe9 !important;
        -webkit-box-shadow: 0 0 7px 0 #67afe9 !important;
        -webkit-box-shadow: inset 0 0 7px 0 #67afe9 !important;
        box-shadow: 0 0 7px 0 #67afe9 !important;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    }
/*kendo-window*/
.k-window-titlebar {
    position: absolute;
    width: 100%;
    height: 2em;
    line-height: 1.1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /* margin-top: -2em; */
    padding: .4em 0;
    font-size: 1.1em;
    white-space: nowrap;
    min-height: 16px;
}
/*kendo-rid*/
[role="grid"] [role="gridcell"] > a.k-button {
    width: 100%;
}

.k-animation-container,
.k-widget, .k-widget *,
.k-animation-container *,
.k-widget *:before,
.k-animation-container *:after,
.k-block .k-header,
.k-list-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
    height: 28px;
    line-height: 1.65em;
    padding: .177em 0;
    text-indent: .33em;
    border: 0;
    margin: 0;
}

.k-widget.k-tooltip-validation {
    border-color: transparent;
    background-color: transparent;
    color: red;
    font-weight: 500;
    text-align: left;
}

.k-listview .k-button:hover,
.k-listview .k-button.k-state-hover {
    color: #333;
    border-color: none;
    background-color: none;
}

/*TreeView*/
.k-treeview .form-group .control-label {
    margin-right: 5px;
    padding-top: 5px;
    text-align: left;
    display: inline-block;
}

.k-treeview .form-group .checkbox {
    padding-top: 0;
    min-height: 20px;
    display: inline-block;
}

    .k-treeview .form-group .checkbox label {
        padding-top: 0;
        font-weight: 400;
        font-size: 14px;
    }

.k-treeview .k-in {
    padding-top: 5px;
    width: 98%;
}

.k-window-actions .k-window-action {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
    opacity: .7;
}

.k-window-actions .k-state-hover {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    opacity: 1;
}

.k-window-action .k-icon.k-i-close {
    margin: 0;
    vertical-align: top;
    margin-left: -0.689px;
    margin-top: -0.05px;
}

.k-pager-wrap > .k-link {
    float: left;
    margin: 0;
    height: auto;
    line-height: 2em;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
}

.k-window-title {
    position: absolute;
    left: .44em;
    right: .44em;
    overflow: inherit;
    cursor: default;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.k-header > .k-grid-filter, .k-header > .k-header-column-menu {
    float: right;
    margin: -0.5em -0.6em -0.4em;
    padding: .3em .2em .4em;
    position: relative;
    z-index: 1;
}

.k-icon:not(.k-i-close):not(.k-delete):not(.k-i-maximize):not(.k-i-minimize):not(.k-i-arrow-n):not(.k-i-calendar),
.k-sprite,
.k-button-group .k-tool-icon {
    display: inline-block;
    width: 16px;
    height: 17px;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.k-pager-wrap .k-icon {
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-top: -2px !important;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.k-numerictextbox .k-link {
    padding: 2.4px 0 0 0;
}

.k-invalid-msg .k-warning {
    display: none !important;
}

.erase-input {
    position: absolute;
    top: 7px;
    right: 18px;
}

.k-grid table tr:not(.k-detail-row):hover td {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    cursor: pointer;
}


.k-grid table>tbody>tr.k-state-selected:hover>td {
    color: #333;
    background-color: #6CAAE0;
    border-color: #adadad;
    cursor: pointer;
}
k-state-selected

.collapse-arrow {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    z-index: 10000;
}

.toolbar-collapse-arrow {
    position: absolute;
    bottom: 1px;
    right: 2px;
    z-index: 10000;
    height: 16px;
}

.collapse-arrow > a:hover {
    background: #c8c8c8;
}

.k-window-actions .k-horizontal-window-action {
    display: inline-block;
    width: 9px;
    height: 100%;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
    opacity: .7;
}

    .k-window-actions .k-horizontal-window-action > span {
        top: 48%;
        left: -3px;
    }

#content.col-sm-12 {
    margin-left: 4px;
}

.k-window-actions .k-toolbar-window-action {
    display: inline-block;
    width: 16px;
    height: 100%;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
    opacity: .7;
    border-radius: 8px;
}


#content {
    background: none;
    padding: 0 7px 0 10px;
}

#menu {
    padding: 1px 0;
}

    #menu > .sidebar {
        top: 4px;
    }

.cm-right-content div.box-generic {
    padding: 4px;
    height: 100%;
    border: 1px solid #e5e5e5;
    position: relative;
    background: #fff;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.cm-right-content {
    padding: 4px;
    height: 100%;
}


.k-button {
    display: inline-block;
    margin: 0;
    padding: 3px 14px 4px;
    font-family: inherit;
    line-height: 1.72em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: 30px;
}

html > body body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.k-button-tmpl {
    color: #333;
}

/*Freight Acceptance*/
.cm-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.row-cm-accept-from-header {
    background-color: rgb(254, 226, 2);
}

    .row-cm-accept-from-header .form-group .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        padding-right: 0;
        text-align: left;
        font-size: 14px;
        font-weight: 800;
    }

    .row-cm-accept-from-header > div {
        height: 95px;
        border: black solid 1px;
    }

        .row-cm-accept-from-header > div:not(:last-child) {
            border-right: none;
        }

    .row-cm-accept-from-header .form-group {
        margin-bottom: 0;
    }

        .row-cm-accept-from-header .form-group:first-child {
            margin-top: 3px;
        }

.cm-bottom-right {
    position: absolute;
    right: 5px;
    bottom: 0;
    width: 100%;
}

.cm-bottom-32-right {
    position: absolute;
    right: 5px;
    bottom: -32px;
    width: 100%;
}

.cm-bottom32 {
    position: absolute;
    bottom: 32px;
}

.awb-list-item {
    border-radius: 3px !important;
}

.cm-list-view {
    border: solid 1px #ccc;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}

.cm-list-item-text {
    border-radius: 3px !important;
    display: inline-block;
    margin: 0;
    padding: 1px 0 0 5px;
    font-family: inherit;
    line-height: 1.72em;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    height: 22px;
    font-weight: 600;
    font-size: 12px;
    background: transparent;
}

    .cm-list-item-text .checkbox {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 22px;
        padding-left: 0;
    }

.cm-list-item-radio {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px;
}

    .cm-list-item-radio:hover {
        background-color: #ccc;
        color: #333;
    }

    .cm-list-item-radio > .radio {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 22px;
        padding-left: 5px;
    }


.cm-list-item-text:hover {
    background-color: #ccc;
    color: #333;
}

.cm-wizard-container {
    overflow: auto;
    /*border: #7ac0da solid 1px;*/
    margin: 2px -7.5px !important;
    padding: 3px;
}

.text-left {
    text-align: left !important;
}

.bold {
    font-weight: 600;
    font-size: medium;
}

.bolder {
    font-weight: 800;
    font-size: larger;
}

.k-textbox {
    outline: 0;
    padding: 2px 0;
    line-height: 1.6em;
}

div.k-window-content {
    position: relative;
    height: 100%;
    padding: .58em;
    overflow: auto;
    outline: 0;
}

.k-tabstrip-wrapper {
    height: 100%;
}

.cm-doc-up-tab .k-content {
    height: calc(100% - 42px) !important;
    min-height: 119px;
}

/*margin*/
.margin0 {
    margin: 0 !important;
}

.margintop {
    margin-top: 15px !important;
}

.margintop2 {
    margin-top: 2px !important;
}

.margintop10 {
    margin-top: 10px !important;
}

.margintop15 {
    margin-top: 15px !important;
}

.margintop20 {
    margin-top: 20px !important;
}

.marginleft4 {
    margin-left: 4px;
}

.marginleft5 {
    margin-left: 5px;
}

.marginleft15 {
    margin-left: 15px;
}

.marginright2 {
    margin-right: 2px;
}

.marginright4 {
    margin-right: 4px;
}

.marginright5 {
    margin-right: 5px;
}

.marginbottom20 {
    margin-bottom: 20px;
}

.marginleftright0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
/*padding*/
.padding15 {
    padding: 15px !important;
}

.padding0 {
    padding: 0 !important;
}

.paddingtop15 {
    padding-top: 15px;
}

.paddingBottom5 {
    padding-bottom: 5px;
}

.paddingbottom30 {
    padding-bottom: 30px;
}

.paddingbottom32 {
    padding-bottom: 32px;
}

.paddingbottom37 {
    padding-bottom: 37px;
}

.paddingleft25 {
    padding-left: 25px !important;
}

.nopaddingleftright {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nopaddingright {
    padding-right: 0 !important;
}
/*textalign*/
.textalignright {
    text-align: right !important;
}
/*inline*/
.inline {
    display: inline-table !important;
}
/*height,width*/

.minheight605 {
    min-height: 605px;
}

.minheight572 {
    min-height: 572px;
}

.minheight400 {
    min-height: 400px;
}

.minheight469 {
    min-height: 469px;
}

.minheight472 {
    min-height: 472px;
}

.minheight431 {
    min-height: 431px;
}

.minheight405 {
    min-height: 405px;
}

.minheight391 {
    min-height: 391px;
}

.minheight345 {
    min-height: 345px;
}

.minheight357 {
    min-height: 357px;
}

.minheight420 {
    min-height: 420px;
}

.minheight379 {
    min-height: 379px;
}

.minheight306 {
    min-height: 306px;
}

.minheight230 {
    min-height: 230px;
    position: relative;
}

.minheight185 {
    min-height: 185px;
    position: relative;
}

.minheight256 {
    min-height: 256px;
    position: relative;
}

.minheight175 {
    min-height: 175px;
    position: relative;
}

.minheight134 {
    min-height: 134px;
    position: relative;
}

.height100per {
    height: 100% !important;
    position: relative;
}

.heightauto {
    height: auto;
}


.maxwidth156 {
    max-width: 156px;
}

.minwidth134 {
    min-width: 134px;
}

.minwidth132 {
    min-width: 132px;
}

.minwidth263 {
    min-width: 263px;
}

.minwidth570 {
    min-width: 570px;
}

.minwidth611 {
    min-width: 611px;
}
/*width*/

.width17per {
    width: 17%;
    float: left;
}

.width83per {
    width: 83%;
    float: left;
}

.minwidthCompanyDetails {
    min-width: 500px;
}

.minwidthCompanySecurity {
    min-width: 585px;
}

.minwidth617 {
    min-width: 617px;
}

.minwidth145 {
    min-width: 145px;
}

.minwidth651 {
    min-width: 651px;
}

.width134 {
    width: 134px;
}

.width32per:not(:first-child) {
    width: 32%;
    margin-left: 1.3%;
}

.cm-widthcalc100-134 {
    width: calc(100% - 134px) !important;
}

.widthauto {
    display: inline;
}
/*height*/
.height70 {
    height: 70px;
}

.height480 {
    height: 480px;
}

.height487 {
    height: 487px;
}

.height416 {
    height: 416px;
}

.cm-heightcalc100-32 {
    height: calc(100% - 32px);
}

.cm-minheightcalc100-32 {
    min-height: calc(100% - 32px);
}

.cm-heightcalc100-30 {
    height: calc(100% - 30px);
}

.cm-heightcalc100-20 {
    height: calc(100% - 20px);
}

.cm-heightcalc100-95 {
    height: calc(100% - 95px);
}

.cm-heightcalc100-100 {
    height: calc(100% - 100px);
}

.cm-heightcalc100-65 {
    height: calc(100% - 65px);
}

.cm-heightcalc100-70 {
    height: calc(100% - 75px);
}
/*background*/
.nobackground {
    background-color: transparent;
}

.cm-list-header-label {
    font-size: 13px;
    margin-top: 10px !important;
}

#tbWarehouseManagement .k-grid-toolbar:first-child {
    border-width: 1px 1px 0 1px;
}

.inline-block {
    display: inline-block !important;
}

.sidebar > .sidebarMenuWrapper > ul li a {
    display: block;
    line-height: 40px;
    padding-left: 10px;
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
}

.sidebar {
    width: auto;
    position: relative;
    left: 0;
    top: 47px;
    bottom: 0;
}

@media only screen and (min-width: 0) and (max-width: 1200px) {
    .cm-menu-hidden-text {
        display: none;
    }

    .cm-menu-hidden {
        position: relative;
        width: 50px;
        height: auto;
        overflow: visible;
    }

    .sidebar {
        position: fixed;
        left: 0;
        top: 47px;
        bottom: inherit;
        height: auto !important;
        width: 50px;
    }

    .cm-menu-hidden:hover .sidebar {
        min-width: 220px;
        left: 0;
        position: absolute;
        overflow: hidden !important;
        z-index: 10000;
    }

    .cm-menu-hidden:hover .cm-menu-hidden-text {
        display: inline-block;
    }

    .sidebarMenuWrapper {
        height: auto;
        overflow: hidden;
    }

    #content {
        width: calc(100% - 55px);
        margin-left: 0;
        padding-left: 0;
        float: right;
    }

        #content.col-sm-12 {
            width: 100% !important;
        }
}


/* New Desighn styles*/

 ul.ul_inline {
        list-style: none;
    }

        ul.ul_inline > li {
            float: left;
        }

    .rdlabel {
        margin-right: 15px;
        font-size: 12px;
    }

    .rdcontrols span.cnt_100 {
        display: inline-block !important;
        text-align: right;
        width: 30%;
        word-break: break-word;
        margin-right: 10px;
    }

    .rdcontrols textarea {
        width: 90% !important;
    }

    .rdcontrols > div {
        display: inline-block;
        /*width: calc(100% - 185px);*/
    }

    .lg_controls {
        margin-top: 7px;
        width: 100%;
    }

    /*.incontrols {
        display:inline-block;
    }*/
    .incontrols span.cnt_100 {
        margin-right: 5px;
    }

        .incontrols span.cnt_100:after {
            content: "\000A";
            white-space: normal !important;
        }

    span.cnt_100 {
        font-size: 13px;
        color: rgb(0, 66, 187);
    }

        span.cnt_100:after {
            content: "\000A";
            white-space: pre;
        }



    .rdlabel span.k-tooltip-validation {
        display: none;
    }

        .lg_controls input, .lg_controls textarea {
        width: 97%;
    }


    .inlinecontrols .lg_controls {
        display: inline-table;
        width: auto;
    }
