<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:id="@+id/Header"
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/HeaderBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Back"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/BackButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Clock"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/HeaderImage" />
            <TextView
                android:text="@string/app_name"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/HeaderText"
                android:gravity="center_vertical"
                style="@style/windowHeaderTextStyle" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/OptionButton"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/OptionButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
    </LinearLayout>
    <RelativeLayout
        android:orientation="horizontal"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <TextureView
            android:id="@+id/CameraView"
            android:layout_width="match_parent"
            android:layout_height="fill_parent" />
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:id="@+id/linearLayout4"
            android:minWidth="25px"
            android:minHeight="25px"
            android:gravity="right">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="60dp"
                android:layout_height="fill_parent">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="match_parent"
                    android:layout_height="60dp"
                    android:gravity="center_vertical"
                    android:minWidth="25px"
                    android:minHeight="25px">
                    <Button
                        android:text="@string/Next"
                        android:layout_width="wrap_content"
                        android:layout_height="40dp"
                        android:id="@+id/NextButton"
                        android:background="@drawable/SquareButton"
                        style="@style/windowButtonStyle"
                        android:layout_marginRight="2dp" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:gravity="center"
                    android:layout_width="60dip"
                    android:layout_height="1dp"
                    android:layout_weight="1"
                    android:minWidth="25px"
                    android:minHeight="25px">
                    <Button
                        android:id="@+id/SnapButton"
                        android:layout_width="56dp"
                        android:layout_height="56dp"
                        android:background="@drawable/CameraRoundButton"
                        android:text="0"
                        android:textColor="#fff"
                        android:layout_marginTop="2dp"
                        android:layout_marginBottom="2dp" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="60dp"
                    android:layout_height="60dp"
                    android:gravity="center"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:id="@+id/linearLayout2">
                    <LinearLayout
                        android:orientation="horizontal"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:gravity="center_horizontal"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:id="@+id/LastImageBorder"
                        android:background="#ffffffff"
                        android:layout_marginBottom="2dp"
                        android:layout_marginRight="2dp"
                        android:layout_marginTop="2dp">
                        <ImageView
                            android:src="@android:drawable/ic_menu_gallery"
                            android:id="@+id/LastImage"
                            android:layout_width="wrap_content"
                            android:layout_margin="2dp"
                            android:layout_height="wrap_content"
                            android:scaleType="fitXY" />
                    </LinearLayout>
                </LinearLayout>
            </LinearLayout>
        </LinearLayout>
    </RelativeLayout>
</LinearLayout>