﻿@using CMX.Framework.Web.MVC.HtmlHelpers;
@using CMX.Framework.Web.MVC.HtmlHelpers.Settings

<script>
    function dynamicGridSelection(e) {
        console.log(e);
    }
</script>

@(
    Html.DynamicGrid<MCH.Web.Models.Test.DynamicGridRow>("TestDinamicGrid", new DynamicGridSettings{
        HasQuickSearch = true,
        CheckboxSelect = true,
        AppliedActions= new List<GridAction>{
        new GridAction{Name="Assign to User", SelectionRequired = true, ActionHanlder="assignTaskToUser"},
        new GridAction{Name="Go To Detials", SelectionRequired = true, ActionHanlder="viewTaskDetails"},
        new GridAction{Name="Go To Edit", SelectionRequired = true, ActionHanlder="editTaskDetails"},
        new GridAction{Name="Delete", SelectionRequired = true, ActionHanlder="deleteTask"}
    }})
        .DataSource(e => e.Ajax()
            .Read(r => r.Action("GetDynamic", "Test")))
            .Filterable()
            .Selectable(e=> e.Type(GridSelectionType.Row))
            
)
<script type="text/javascript">
    window.DynamicGrid.init("TestDinamicGrid");

</script>



