﻿@model  MCH.Web.Models.Customs.NotocNoHazRow

<form class="form-horizontal" role="form" id="frmAddEditNotocSP_@Model.NotocId">
    @Html.HiddenFor(m => m.NotocId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.FlightId)

    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">AWB :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.AwbId, new { style = "width:100%", id = "slcAwbs_" + Model.NotocId, data_init = Model.Awb })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Contents Description :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Number of Packages :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.PackageCount, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">QTY :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.Qty, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Supplementary Information :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.SupInfo, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Code :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">ULD Number :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.UldId, new { style = "width:100%", id = "slcUld_" + Model.NotocId, data_init = Model.ULDNumber })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Loading Position :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.LoadingPosition, new { @class = "form-control" })
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        var initAddEditNotocSPForm = function () {
            var tmpAwbId = '@Model.AwbId';
            var tmpUldId = '@Model.UldId';
            var tmpFlightId = '@Model.FlightId';


            $("#slcAwbs_@Model.NotocId").select2({
                minimumInputLength: 0,
                allowClear: true,
                placeholder: "Select an AWB",
                ajax: {
                    url: "@Url.Action("GetAwbsBy", "awb")",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            Term: term,
                            FlightId: tmpFlightId
                        };
                    },
                    results: function (data, page) {
                        return { results: data };
                    },
                    initSelection: function (element, callback) {
                        var elementId = $(element).val();
                        var elementText = $(element).attr('data-init');
                        callback({ "term": elementText });
                    }
                }
            });

            if (tmpAwbId != '') {
                $.ajax("@Url.Action("GetAwbsBy", "awb")", {
                    data: { Id: '@Model.AwbId' },
                    dataType: "json"
                }).done(function (data) {
                    $("#slcAwbs_@Model.NotocId").select2('data', data[0]);
                });
            }


            $('#slcUld_@Model.NotocId').select2({
                minimumInputLength: 0,
                allowClear: true,
                placeholder: "Select a ULD",
                ajax: {
                    url: "@Url.Action("GetULDSimpleList", "uld")",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            Term: term,
                            AwbId: $("#slcAwbs_@Model.NotocId").select2('val')
                        };
                    },
                    results: function (data, page) {
                        return { results: data };
                    }
                }
            });
            if (tmpUldId != '')
            {
                $.ajax("@Url.Action("GetULDSimpleList", "uld")", {
                    data: { Id: tmpUldId },
                    dataType: "json"
                }).done(function (data) {
                    $("#slcUld_@Model.NotocId").select2('data', data[0]);
                });
            }


        };

        initAddEditNotocSPForm();
    })
</script>