﻿@model MCH.Web.Models.Customs.NotocDGRow

<form class="form-horizontal" role="form" id="frmAddEditNotocDG_@Model.NotocId">
    @Html.HiddenFor(m => m.NotocId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.FlightId)

    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">AWB :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.AwbId, new { style = "width:100%", id = "slcAwbs_" + Model.NotocId, data_init = Model.Awb })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Proper Shipping Name :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.PSN, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">UN Class :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.UNClassId, new { style = "width:100%", id = "slcUNClass_" + Model.NotocId, data_init = Model.UNClass })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">UN Number :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.UNNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Sub Risk :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.SubRisk, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">No of Packages :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.Packages, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Net Qty of TI :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.NetQTIorTI, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Radio-Active material Category :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.RadioActiveCat, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Package Group :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.PackingGroup, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">IMP Code :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.IMPCode, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">CAO(x) :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.CAOId, new { style = "width:100%", id = "slcCao_" + Model.NotocId, data_init = Model.CAO })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">ULD Number :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.UldId, new { style = "width:100%", id = "slcUld_" + Model.NotocId, data_init = Model.ULDNumber })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Compartment :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.Compartment, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-5">
            <label for="inputPassword3" class="control-label">Emergency Repose Guide Code :</label>
        </div>
        <div class="col-sm-7" style="padding:0px">
            @Html.TextBoxFor(m => m.ERGCode, new { @class = "form-control" })
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        var initAddEditNotocDGForm = function () {
            var tmpAwbId = '@Model.AwbId';
            var tmpUldId = '@Model.UldId';
            var tmpFlightId = '@Model.FlightId';
            var tmpUNClassId = '@Model.UNClassId';
            var tmpAirType = '@Model.CAOId';


            $("#slcAwbs_@Model.NotocId").select2({
                minimumInputLength: 0,
                allowClear: true,
                placeholder: "Select an AWB",
                ajax: {
                    url: "@Url.Action("GetAwbsBy", "awb")",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            Term: term,
                            FlightId: tmpFlightId
                        };
                    },
                    results: function (data, page) {
                        return { results: data };
                    }
                }
            });

            if (tmpAwbId != '') {
                $.ajax("@Url.Action("GetAwbsBy", "awb")", {
                    data: { Id: '@Model.AwbId' },
                    dataType: "json"
                }).done(function (data) {
                    $("#slcAwbs_@Model.NotocId").select2('data', data[0]);
                });
            }


            $("#slcUNClass_@Model.NotocId").select2({
                minimumInputLength: 0,
                allowClear: true,
                placeholder: "Select an UNClass",
                ajax: {
                    url: "@Url.Action("GetUNClasses", "awb")",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            Term: term,
                        };
                    },
                    results: function (data, page) {
                        return { results: data };
                    }
                }
            });

            if (tmpUNClassId != '') {
                $.ajax("@Url.Action("GetUNClasses", "awb")", {
                    data: { Id: tmpUNClassId },
                    dataType: "json"
                }).done(function (data) {
                    $("#slcUNClass_@Model.NotocId").select2('data', data[0]);
                });
            }


            $("#slcCao_@Model.NotocId").select2({
                minimumInputLength: 0,
                allowClear: true,
                placeholder: "Select an Aircraft Type",
                ajax: {
                    url: "@Url.Action("AircraftTypes", "awb")",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            Term: term,
                        };
                    },
                    results: function (data, page) {
                        return { results: data };
                    }
                }
            });

            if (tmpAirType != '') {
                $.ajax("@Url.Action("AircraftTypes", "awb")", {
                    data: { Id: tmpAirType },
                    dataType: "json"
                }).done(function (data) {
                    $("#slcCao_@Model.NotocId").select2('data', data[0]);
                });
            }



            $('#slcUld_@Model.NotocId').select2({
                minimumInputLength: 0,
                allowClear: true,
                placeholder: "Select a ULD",
                ajax: {
                    url: "@Url.Action("GetULDSimpleList", "uld")",
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            Term: term,
                            AwbId: $("#slcAwbs_@Model.NotocId").select2('val')
                        };
                    },
                    results: function (data, page) {
                        return { results: data };
                    }
                }
            });

            if (tmpUldId != '')
            {
                $.ajax("@Url.Action("GetULDSimpleList", "uld")", {
                    data: { Id: tmpUldId },
                    dataType: "json"
                }).done(function (data) {
                    $("#slcUld_@Model.NotocId").select2('data', data[0]);
                });
            }
        };

        initAddEditNotocDGForm();

        $("#frmAddEditNotocDG_@Model.NotocId").closest(".bootbox.modal").removeAttr("tabindex");
    })
</script>