﻿@model MCH.Web.Models.Customs.CustomsDetailsViewModel

<div class="row">
    <div class="col-md-6">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-head">
                <h4 class="heading">Arrival Details:</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Carrier/Flight :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.CarrierFlight">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Arrival Airport :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.AirrivalAirport">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Arrival Date :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.ArrivalDate">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Terminal :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.AirportTerminal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-head">
                <h4 class="heading">Customs Details:</h4>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5>Status :</h5>
                        <div class="input-group" style="width:100%">
                            <input class="form-control" type="text" value="@Model.Status">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5>QTY:</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.QTY">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5>Entry Type :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.EntityType">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Entry No :</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.EntityNo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<div class="row">
    <div class="col-md-12">

        @(Html.Kendo().Grid<MCH.Web.Models.Customs.CustomsRow>().Name("tblCustomsHistory_" + Model.TaskId).Columns(c =>
            {
                c.Bound(o => o.StatusTime).Format("{0:MM/dd/yyyy HH:mm}");
                c.Bound(o => o.HWB);
                c.Bound(o => o.Status);
                c.Bound(o => o.Code);
                c.Bound(o => o.Description);
                c.Bound(o => o.Qty);
                c.Bound(o => o.EntryType);
                c.Bound(o => o.EntryNo);
                c.Bound(o => o.Text);
            })
                    .DataSource(d => d.Ajax()
                        .Read(r => r.Action("CustomsHisotryDS", "Customs",
                            new
                            {
                                TaskId = Model.TaskId,
                                ShipmentId = Model.ShipmentId,
                                WayBillId = Model.WayBillId
                            })))
        )
    </div>
</div>
