﻿@model MCH.Web.Models.Customs.CustomsHistoryViewModel


<div class="row">
    <div class="col-md-4">
        <h5 class="cm-details-lable" for="awb">AWB:</h5>
        <div class="input-group">
            <input type="text" class="form-control" id="txtAwb_@Model.TaskId" value="@Model.AWB" />
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="cm-details-lable" for="consignee">Consignee:</h5>
        <div class="input-group">
            <input type="text" class="form-control" id="txtConssigne_@Model.TaskId" value="@Model.Consignee" />
        </div>
    </div>
    <div class="col-md-4" style="float:right">
        <div class="col-md-8">
            <h5 class="cm-details-lable" for="part">Part:</h5>
            <div class="row innerLR" style="margin-right:10px">
                @Html.Kendo().DropDownList().Name("slcAwbPart_" + Model.TaskId).BindTo(Model.Parts).DataTextField("Text").DataValueField("Value")
            </div>
        </div>
        <div class="col-md-4">
            <button id="btnRefreshCustomsDetails_@Model.TaskId" class="btn btn-primary" type="button" style="float:right;margin-left:3px"><i class="fa fa-refresh cm-button-icon"></i>Refresh </button>
        </div>
    </div>
</div>


<div class="row" id="dvCustomsHistoryDetails">

</div>


<script type="text/javascript">

    $(function () {

        var getCustomsHistoryDetials = function () {

            var tmpLoadData = {
                TaskId: '@Model.TaskId',
                ShipmentId: '@Model.ShipmentId',
                Part: $("#slcAwbPart_@Model.TaskId").data("kendoDropDownList").value()
            };

            $("#dvCustomsHistoryDetails").load('@Url.Action("GetCustomsHistoryDetails", "Customs")',
                tmpLoadData,
                function () {

                });
        }

        var initCustomsHistoryView = function () {
            $("#btnRefreshCustomsDetails_@Model.TaskId").on('click', function () {
                getCustomsHistoryDetials();
            });

        };

        $("#refreshView").click(function () {
            getCustomsHistoryDetials();
        });

        initCustomsHistoryView();

        getCustomsHistoryDetials();
    })
</script>
