﻿@model MCH.Web.Models.DGChecklist.DGListModel

<link href="@Url.Content("~/Content/assets/css/custom/ticket-diff.css")" rel="stylesheet" />

<div class="widget finances_summary" id="dg-checklist-container-@Model.EntityId" style="height:100%">

    <div class="row row-merge" style="height:100%">

        <div class="col-md-12" style="height:100%">
            <h4 class="innerAll border-bottom margin-bottom-none" style="font-size:14px; font-weight:bold">
                LA Checklist for AWB
                <div class="pull-right display-block" style="margin-top:-9px">
                    <div class="dg-toolbox-@(Model.EntityId)">
                        <div>
                            <button class="btn btn-primary dg-edit-@Model.EntityId" data-id="@Model.EntityId">Edit</button>
                        </div>
                        <div style="display:none">
                            <button href="" class="btn btn-success dg-save-@Model.EntityId" data-id="@Model.EntityId">Save</button>
                            <button href="" class="btn btn-danger dg-cancel-@Model.EntityId" data-id="@Model.EntityId">Reject</button>
                        </div>
                    </div>
                </div>
            </h4>
            <div class="col-md-12" style="height:90%; overflow-y:auto" id="dg-list-content">
                @foreach (var item in Model.CheckList)
                {
                    <text>
                        <h4 class="innerAll border-bottom margin-bottom-none" style="font-size:14px">
                            @item.Name
                        </h4>

                        @foreach (var parentItems in item.Items)
                        {
                            if (!parentItems.SubItems.Any())
                            {
                                <text>
                                    <div class="innerAll border-bottom tickets" id="@parentItems.Id">
                                        <div class="row">
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-body">
                                                        <div class="clearfix"></div>
                                                        <strong> @(parentItems.Number).  </strong>@parentItems.Text
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="innerT pull-left col-md-6">
                                                @if (parentItems.Options != null && parentItems.Options.Split(',').Any())
                                                {
                                                    <text>
                                                        <div class="btn-group cm-button-group-@Model.EntityId" data-toggle="buttons">

                                                            @foreach (var optionItem in parentItems.Options.Split(','))
                                                            {
                                                                if (!String.IsNullOrWhiteSpace(parentItems.SelectedOption) && parentItems.SelectedOption.Equals(optionItem))
                                                                {
                                                                    <text>
                                                                        <label class="dg-item-option btn-stroke btn btn-primary active" disabled="disabled" data-item-id="@parentItems.Id" data-value="@optionItem" data-parent-item="@parentItems.Number">
                                                                            <input type="radio" name="options" id="option_@optionItem" checked="checked" data-value="@optionItem" data-item-id="@parentItems.Id">@optionItem

                                                                        </label>
                                                                    </text>
                                                                }
                                                                else
                                                                {
                                                                    <text>
                                                                        <label class="dg-item-option btn-stroke btn btn-primary" disabled="disabled" data-item-id="@parentItems.Id" data-value="@optionItem" data-parent-item="@parentItems.Number">
                                                                            <input type="radio" name="options" id="option_@optionItem" checked="checked" data-value="@optionItem" data-item-id="@parentItems.Id">@optionItem

                                                                        </label>
                                                                    </text>
                                                                }
                                                            }

                                                        </div>

                                                    </text>
                                                }

                                            </div>
                                            <div class="col-md-6" id="dg-item-comment-@parentItems.Id" style="display:none">
                                                <div class="row">
                                                    Comment
                                                    <textarea class="form-control dg-item-comment-text-@Model.EntityId" id="dg-item-comment-text-@parentItems.Id" style="
"></textarea>
                                                </div>
                                                <div class="row">

                                                    <button class="btn btn-primary dg-item-comment-save" data-id="@parentItems.Id">Add Comment</button>
                                                    <button class="btn btn-danger dg-item-comment-close" data-id="@parentItems.Id">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </text>
                            }
                            else
                            {
                                <text>
                                    <div class="innerAll border-bottom tickets" id="@parentItems.Id">
                                        <div class="row">
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-body">
                                                        <div class="clearfix"></div>
                                                        <strong> @(parentItems.Number).  </strong>@parentItems.Text
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row" style="padding-left:30px">
                                            @foreach (var subItem in parentItems.SubItems)
                                            {
                                                <text>
                                                    <div class="row">
                                                        <ul class="media-list">
                                                            <li class="media">
                                                                <div class="media-body">
                                                                    <div class="clearfix"></div>
                                                                    @subItem.Text
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="row">
                                                        <div class="innerT pull-left col-md-6">
                                                            @if (subItem.Options != null && subItem.Options.Split(',').Any())
                                                            {
                                                                <div class="btn-group cm-button-group-@Model.EntityId" data-toggle="buttons">
                                                                    @foreach (var optionItem in subItem.Options.Split(','))
                                                                    {

                                                                        if (!String.IsNullOrWhiteSpace(subItem.SelectedOption) && subItem.SelectedOption.Equals(optionItem))
                                                                        {
                                                                            <text>
                                                                                <label class="dg-item-option btn btn-stroke btn-primary active" disabled="disabled" data-item-id="@subItem.Id" data-value="@optionItem" data-parent-item="@parentItems.Number">
                                                                                    <input type="radio" name="options" id="option_@optionItem" checked="checked" data-value="@optionItem" data-item-id="@subItem.Id">@optionItem
                                                                                </label>
                                                                            </text>
                                                                        }
                                                                        else
                                                                        {
                                                                            <text>
                                                                                <label class="dg-item-option btn btn-stroke btn-primary" disabled="disabled" data-item-id="@subItem.Id" data-value="@optionItem" data-parent-item="@parentItems.Number">
                                                                                    <input type="radio" name="options" id="option_@optionItem" checked="checked" data-value="@optionItem" data-item-id="@subItem.Id">@optionItem
                                                                                </label>
                                                                            </text>
                                                                        }



                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="col-md-6" id="dg-item-comment-@subItem.Id" style="display:none">
                                                            <div class="row">
                                                                Comment
                                                                <textarea class="form-control dg-item-comment-text-@Model.EntityId" id="dg-item-comment-text-@subItem.Id" style="
"></textarea>
                                                            </div>
                                                            <div class="row">

                                                                <button class="btn btn-primary dg-item-comment-save" data-id="@subItem.Id">Add Comment</button>
                                                                <button class="btn btn-danger dg-item-comment-close" data-id="@subItem.Id">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </text>
                                            }
                                        </div>
                                    </div>
                                </text>
                            }
                        }
                    </text>
                }

                <div class="innerAll border-bottom tickets" id="70">
                    <div class="row">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="clearfix"></div>
                                    <strong>Comments</strong>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="innerT pull-left col-md-6">
                            <textarea class="form-control" id="dg-main-comment-@Model.EntityId">@Model.Comments</textarea>
                        </div>
                    </div>
                </div>
                <div class="innerAll border-bottom tickets" id="70">
                    <div class="row">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="clearfix"></div>
                                    <strong>Place</strong>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="innerT pull-left col-md-6">
                            <input type="text" class="form-control" value="@Model.Place" />
                        </div>
                    </div>
                </div>
                <div class="innerAll border-bottom tickets" id="70">
                    <div class="row">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="clearfix"></div>
                                    <strong>Checked By</strong>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="innerT pull-left col-md-6">
                            <input type="text" class="form-control" value="@Model.Username" />
                        </div>
                    </div>
                </div>
                <div class="innerAll border-bottom tickets" id="70">
                    <div class="row">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="clearfix"></div>
                                    <strong>Signature</strong>
                                    <button class="btn btn-primary" style="margin-left:10px; display:none" id="btn-dg-sign-@Model.EntityId"><i class="fa fa-pencil"></i> Sign</button>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="innerT pull-left col-md-6">
                            <img id="dg-img-@Model.EntityId" class="cm-img-signature" @(!String.IsNullOrWhiteSpace(Model.SignatureData) ? "src=" + Model.SignatureData : String.Empty) />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var tmpMainComment = $("#dg-main-comment-@Model.EntityId").val();

        if (tmpMainComment.trim().length == 0) {
            $("#dg-main-comment-@Model.EntityId").val("Shipment # @Model.ShipmentNumber");
        }

        var closeLAChecklistTab = function () {
            
            $("#tab-cl-awb-LA-checklist-@Model.EntityId").find(".btn.tab-close").click();
        }

        var enableEditing = function (dataId) {
            $('.dg-toolbox-' + dataId).each(function () {

                $(this).children().eq(0).hide();
                $(this).children().eq(1).show();
            })

            $("div.cm-button-group-@Model.EntityId").children().removeAttr("disabled");
            $("#btn-dg-sign-@Model.EntityId").show();
        };

        var disabledEditing = function (dataId) {
            $('.dg-toolbox-' + dataId).each(function () {

                $(this).children().eq(0).show();
                $(this).children().eq(1).hide();
            })

            $("div.cm-button-group-@Model.EntityId").children().attr("disabled", "disabled");

            $("#btn-dg-sign-@Model.EntityId").hide();
        };

        var rejectEditing = function (dataId) {
            disabledEditing(dataId);
        }


        $(".dg-edit-@Model.EntityId").on("click", function () {
            var dataId = $(this).attr('data-id');
            enableEditing(dataId);

            $.ajax({
                type: 'POST',
                url: "@Url.Action("LACheckListEdited", "Tasks")",
                data: JSON.stringify({ TaskId: '@Model.TaskId' }),
                success: function () {
                    // TODO : refresh the task
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });

        })

        $(".dg-cancel-@Model.EntityId").on('click', function () {
            var dataId = $(this).attr('data-id');
            rejectEditing(dataId);
        })

        var funcLAChecklistValidate = function () {
            var tmpLAValid = true;

            $(".cm-button-group-@Model.EntityId").each(function () {
                if ($(this).find('.dg-item-option.active').length == 0) {
                    tmpLAValid = false;
                    $('#dg-list-content').animate({
                        scrollTop: ($(this).offset().top - 300)
                    }, 1000);
                    $(this).addClass("cm-dg-missing");
                    return false;
                }
            })

            return tmpLAValid;
        }

        var readyToFinalize = function (data) {
            var tmpResult = false;
            if (data && data.SignatureData && data.SignatureData != '') {
                tmpResult = true;
            }

            return tmpResult;
        }

        var saveLACheckList = function (data) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveLACheckResult","Customs")",
                data: JSON.stringify(data),
                success: function () {

                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }

        var finalizeLAChecklist = function (data) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("FinalizeLACheckResult","Customs")",
                data: JSON.stringify(data),
                success: function () {
                    closeLAChecklistTab();
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });
        }

        $(".dg-save-@Model.EntityId").on('click', function () {
            var dataId = $(this).attr('data-id');

            var checkedItems = [];

            $(".dg-item-option.active").each(function () {
                checkedItems.push({ ItemId: $(this).attr("data-item-id"), OptionName: $(this).attr("data-value") });
            })

            if (funcLAChecklistValidate()) {

                var tmpJsonData = {
                    EntityId: '@Model.EntityId',
                    SignatureData: $("#dg-img-@Model.EntityId").attr("src"),
                    TaskId: '@Model.TaskId',
                    Comments: $("#dg-main-comment-@Model.EntityId").val(),
                    Items: checkedItems
                };

                if (readyToFinalize(tmpJsonData)) {
                    window.DIALOG_HANDLER.openConfirmation(
                        function () {
                            finalizeLAChecklist(tmpJsonData);
                        },
                        function () {
                            saveLACheckList(tmpJsonData);
                        },
                        "LA Checklist Finalize",
                        "Do you want to Finalize ?"
                   );
                }
                else {
                    saveLACheckList(tmpJsonData);
                }
                rejectEditing(dataId);
            }
        })

        $(".dg-item-option").on("click", function () {
            var dataItemId = $(this).attr("data-item-id");
            var dataParentItemId = $(this).attr("data-parent-item");

            if (!$(this).hasClass("active")) {
                if ($(this).attr("data-value") === "NO") {

                    $("#dg-item-comment-" + dataItemId).show();
                    var textArea = $("#dg-item-comment-" + dataItemId).find('textarea');
                    textArea.val($("#dg-main-comment-@Model.EntityId").val() + "\n" + dataParentItemId + ")");
                    textArea.focus();

                } else {
                    $("#dg-item-comment-" + dataItemId).hide();
                }
            }

            $(this).parent().removeClass("cm-dg-missing");

        })

        $(".dg-item-comment-save").on("click", function () {
            var dataId = $(this).attr("data-id");

            var commentText = $("#dg-item-comment-text-" + dataId).val();
            $(".dg-item-comment-text-@Model.EntityId").each(function () {
                $(this).val(commentText);
            })

            $("#dg-main-comment-@Model.EntityId").val(commentText);

            $("#dg-item-comment-" + dataId).hide();

        });

        $(".dg-item-comment-close").on('click', function () {
            var dataId = $(this).attr("data-id");

            $("#dg-item-comment-" + dataId).hide();
        })


        $("#btn-dg-sign-@Model.EntityId").on('click', function () {

            var htmlContent = $("#signature-form-template").tmpl(
                {
                    formId: 'frm-dg-signature-@Model.EntityId',
                    url: '@Url.Action("SetSignature","Customs")',
                    inputId: 'dg-sign-@Model.EntityId'
                });

            DIALOG_HANDLER.openStaticDialog(function () {

                var signData = $("#dg-sign-@Model.EntityId").jSignature('getData');
                $("#dg-img-@Model.EntityId").attr('src', signData);

            }, htmlContent, "Sign Here");

            setTimeout(function () {
                var sig = $("#dg-sign-@Model.EntityId");

                sig.jSignature();
            }, 1000);

        })
    });
</script>
