﻿@model MCH.Web.Models.Customs.NotocDetailsModel

<script type="text/javascript">
    $(function () {

        var initDangerousGoodsGrid = function () {
            var appendDangerousGoodsData = function (baseData) {
                if (baseData) {
                    var tmpTaskId = '@Model.TaskId';
                    baseData.push({ "name": "TaskId", "value": tmpTaskId });
                    baseData.push({ "name": "FlightId", "value": '@Model.FlightId' });
                }
                return baseData;
            }
            $("#tblDangerousGoods_@Model.TaskId").dataTable({
                "bJQueryUI": true,
                "sDom": 't',
                "bProcessing": true,
                "bServerSide": true,
                "bPaginate": false,
                "bFilter": false,
                "bInfo": false,
                "scrollX": true,
                "language": {
                    "emptyTable": "No records found."
                },
                "sAjaxSource": "@Url.Action("GetNotocDGData", "Customs")",
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": appendDangerousGoodsData(aoData),
                        "success": fnCallback
                    });
                },
                "aoColumnDefs": [
                   {
                       "aTargets": [0], "sClass": "cm-datatable-action", "mData": "Id", "sTitle": '', "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {

                           return '<a href="#" data-id="17" class="cm-datatable-edit-notoc-dg" data-id="' + full.Id + '" ><i class="fa fa-pencil"></i></a>'
                       }
                   },
                   {
                       "aTargets": [1], "sClass": "cm-datatable-action", "mData": "Id", "sTitle": '', "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {

                           return '<a href="#" data-id="17" class="cm-datatable-delete-notoc-dg" data-id="' + full.Id + '" ><i class="fa fa-trash-o"></i></a>'
                       }
                   },
                    {
                        "aTargets": [2], "mData": "Destination", "sTitle": 'Station of Unloading', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [3], "mData": "Awb", "sTitle": 'AWB', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [4], "mData": "PSN", "sTitle": 'Proper Shipping Name', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [5], "mData": "UNClass", "sTitle": 'UN Class', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [6], "mData": "UNNumber", "sTitle": 'UN or ID#', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [7], "mData": "SubRisk", "sTitle": 'Sub Risk', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [8], "mData": "NumberOfPackages", "sTitle": 'No of Packages', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [9], "mData": "NetQTIorTI", "sTitle": 'Net Qty or TI per PKG', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [10], "mData": "RadioActiveCat", "sTitle": 'Radio-Active material Category', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [11], "mData": "PackingGroup", "sTitle": 'PG', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [12], "mData": "IMPCode", "sTitle": 'IMP Code', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [13], "mData": "CAO", "sTitle": 'CAO(X)', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [14], "mData": "ULDNumber", "sTitle": 'ULD No', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [15], "mData": "Compartment", "sTitle": 'Compartment', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [16], "mData": "ERGCode", "sTitle": 'Emergency Response Guide Code', "bSearchable": false, "bSortable": true
                    }
                ]
            });

            $("#tblDangerousGoods_@(Model.TaskId) button.cm-datatable-edit-notoc-dg").die().live('click', function (e) {
                var tmpItemId = $(this).attr("data-id");
                var tmpLoadFormData = {};
                tmpLoadFormData.NotocId = '@Model.NotocId';
                tmpLoadFormData.FlightId = '@Model.FlightId';
                tmpLoadFormData.Destination = '@Model.Destination';
                tmpLoadFormData.Origin = '@Model.Origin';
                tmpLoadFormData.Id = tmpItemId;

                DIALOG_HANDLER.openRemoteDialog(function () {

                    var frmId = 'frmAddEditNotocDG_@Model.NotocId';

                    var fromData = $("#" + frmId).serializeObject();

                    //TODO : Harut validate form before submitting
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("AddEditNotocDG", "customs")",
                        data: JSON.stringify(fromData),
                        success: function () {
                            $("#tblDangerousGoods_@Model.TaskId").DataTable().ajax.reload();;
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                }, '@Url.Action("GetAddEditNotocDGView","customs")', tmpLoadFormData, "Edit Dangerous Goods Details");
            });

            $("#tblDangerousGoods_@(Model.TaskId) button.cm-datatable-delete-notoc-dg").die().live('click', function (e) {
                var tmpItemId = $(this).attr("data-id");

                //TODO : Harut show confirmation
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("DeleteNotocDG", "customs")",
                    data: JSON.stringify({ Id: tmpItemId }),
                    success: function () {
                        $("#tblDangerousGoods_@Model.TaskId").DataTable().ajax.reload();;
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });
            });
        };

        var initNotocNonHazGrid = function () {

            var appendNonHazGridData = function (baseData) {
                if (baseData) {
                    var tmpTaskId = '@Model.TaskId';
                    baseData.push({ "name": "TaskId", "value": tmpTaskId });
                    baseData.push({ "name": "FlightId", "value": '@Model.FlightId' });
                }
                return baseData;
            }
            $("#tblSpecialCargo_@Model.TaskId").dataTable({
                "bJQueryUI": true,
                "sDom": 't',
                "bProcessing": true,
                "bServerSide": true,
                "bPaginate": false,
                "bFilter": false,
                "bInfo": false,
                "scrollX": true,
                "language": {
                    "emptyTable": "No records found."
                },
                "sAjaxSource": "@Url.Action("GetNotocNonHazData", "Customs")",
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": appendNonHazGridData(aoData),
                        "success": fnCallback
                    });
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0], "sClass": "cm-datatable-action", "mData": "Id", "sTitle": '', "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                           
                            return '<a href="#" data-id="17" class="cm-datatable-edit-notoc-sp" data-id="' + full.Id + '" ><i class="fa fa-pencil"></i></a>'
                        }
                    },
                   {
                       "aTargets": [1], "sClass": "cm-datatable-action", "mData": "Id", "sTitle": '', "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {

                           return '<a href="#" data-id="17" class="cm-datatable-delete-notoc-sp" data-id="' + full.Id + '" ><i class="fa fa-trash-o"></i></a>'
                       }
                   },
                    {
                        "aTargets": [2], "mData": "Destination", "sTitle": 'Station of Unloading', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [3], "mData": "Awb", "sTitle": 'AWB', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [4], "mData": "Description", "sTitle": 'Contents Description', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [5], "mData": "PackageCount", "sTitle": 'Number of Packages', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [6], "mData": "Qty", "sTitle": 'Qty', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [7], "mData": "SupInfo", "sTitle": 'Supplementary Information', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [8], "mData": "Code", "sTitle": 'Code', "bSearchable": false, "bSortable": true
                    },
                     {
                         "aTargets": [9], "mData": "ULDNumber", "sTitle": 'ULD#', "bSearchable": false, "bSortable": true
                     },
                    {
                        "aTargets": [10], "mData": "LoadingPosition", "sTitle": 'Loading Position', "bSearchable": false, "bSortable": true
                    }
                ]
            });

            $("#tblSpecialCargo_@(Model.TaskId) button.cm-datatable-edit-notoc-sp").die().live('click', function (e) {
                var tmpItemId = $(this).attr("data-id");
                var tmpLoadFormData = {};
                tmpLoadFormData.NotocId = '@Model.NotocId';
                tmpLoadFormData.FlightId = '@Model.FlightId';
                tmpLoadFormData.Destination = '@Model.Destination';
                tmpLoadFormData.Origin = '@Model.Origin';
                tmpLoadFormData.Id = tmpItemId;

                DIALOG_HANDLER.openRemoteDialog(function () {

                    var frmId = 'frmAddEditNotocSP_@Model.NotocId';

                    var fromData = $("#" + frmId).serializeObject();

                    //TODO : Harut validate form before submitting
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("AddEditNotocOtherInfo", "customs")",
                        data: JSON.stringify(fromData),
                        success: function () {
                            $("#tblSpecialCargo_@Model.TaskId").DataTable().ajax.reload();;
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                }, '@Url.Action("GetAddEditNotocSPView", "customs")', tmpLoadFormData, "Edit Special Cargo Details");
            });

            $("#tblSpecialCargo_@(Model.TaskId) button.cm-datatable-delete-notoc-sp").die().live('click', function (e) {
                var tmpItemId = $(this).attr("data-id");

                //TODO : Harut show confirmation
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("DeleteNotocSP", "customs")",
                    data: JSON.stringify({ Id: tmpItemId }),
                    success: function () {
                        $("#tblSpecialCargo_@Model.TaskId").DataTable().ajax.reload();;
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });
            });
        };

        initDangerousGoodsGrid();
        initNotocNonHazGrid();


        $("#btnAddDGNotoc_@Model.FlightId").on('click', function () {
            var tmpLoadFormData = {};
            tmpLoadFormData.NotocId = '@Model.NotocId';
            tmpLoadFormData.FlightId = '@Model.FlightId';
            tmpLoadFormData.Destination = '@Model.Destination';
            tmpLoadFormData.Origin = '@Model.Origin';

            window.DIALOG_HANDLER.openRemoteDialog(function () {
                

                var frmId = 'frmAddEditNotocDG_@Model.NotocId';

                var fromData = $("#" + frmId).serializeObject();

                //TODO : Harut validate form before submitting
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("AddEditNotocDG", "customs")",
                    data: JSON.stringify(fromData),
                    success: function () {
                        $("#tblDangerousGoods_@Model.TaskId").DataTable().ajax.reload();;
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });
            },
            function () { },
            '@Url.Action("GetAddEditNotocDGView","customs")', tmpLoadFormData, "Add Dangerous Goods Details");


        });

        $("#btnAddNoHazNotoc_@Model.FlightId").on('click', function () {
            var tmpLoadFormData = {};
            tmpLoadFormData.NotocId = '@Model.NotocId';
            tmpLoadFormData.FlightId = '@Model.FlightId';
            tmpLoadFormData.Destination = '@Model.Destination';
            tmpLoadFormData.Origin = '@Model.Origin';

            DIALOG_HANDLER.openRemoteDialog(function () {

                var frmId = 'frmAddEditNotocSP_@Model.NotocId';

                var fromData = $("#" + frmId).serializeObject();

                //TODO : Harut validate form before submitting
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("AddEditNotocOtherInfo", "customs")",
                    data: JSON.stringify(fromData),
                    success: function () {
                        $("#tblSpecialCargo_@Model.TaskId").DataTable().ajax.reload();;
                    },
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8'
                });

            }, function(){}, '@Url.Action("GetAddEditNotocSPView", "customs")', tmpLoadFormData, "Add Special Cargo Details");

        });


        $("#btnSaveNOTOC_@Model.TaskId").on('click', function () {
            var tmpLoadingSuper = $("#txtLoadingSuper_@Model.NotocId").val().trim();

            var tmpOtherInfo = $("#txtOtherInfo_@Model.NotocId").val().trim();
            var tmpCheckedBy = $("#txtCheckedBy_@Model.NotocId").val().trim();

            var jsonDataModel = {
                NotocId: '@Model.NotocId',
                FlightId : '@Model.FlightId',
                LoadingSupervisor: tmpLoadingSuper,
                OtherInfo: tmpOtherInfo,
                CheckedBy: tmpCheckedBy
            };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveNotocMaster", "customs")",
                data: JSON.stringify(jsonDataModel),
            success: function () {
                $(".cm-tab-item-dynamic.active").find(".btn.tab-close").click();
            },
            dataType: 'json',
            contentType: 'application/json; charset=utf-8'
        });
        })


    });
</script>