﻿@model MCH.Web.Models.Customs.NotocDetailsModel

<div class="row" style="text-align:center">
    <label style="font-size: 20px;color: #4e72c2;">SPECIAL LOAD NOTIFICATION TO CAPTION (NOTOC)</label>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-2">
                        <h5>Carrier</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.Carrier">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <h5>Flight #</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.FlightNumber">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5>Flight Date</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@(Model.FlightDate.HasValue ? Model.FlightDate.Value.ToShortDateString():String.Empty) ">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5>Station of Loading</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.StationOfLoading">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <h5>Origin</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.Origin">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <h5>Destination</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.Destination">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5>Aircraft Reg. Number</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" value="@Model.AircraftRegNumber">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row" style="margin-top : 2px; margin-bottom:2px">
    <div class="col-md-12">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-head" style="height:34px; line-height:34px; background-color:white;">
                <h4 class="heading" style="color:red; font-weight:bold">Dangerous Goods</h4>
                <button id="btnAddDGNotoc_@Model.FlightId" class="btn btn-primary" type="button" style="float:right;margin-left:3px"><i class="fa fa-plus-circle cm-button-icon"></i> Add</button>
            </div>
            <div class="widget-body" style="padding:0px">
                <table id="tblDangerousGoods_@Model.TaskId" class="display nowrap dynamicTable" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top : 2px; margin-bottom:2px">
    <div class="col-md-12">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-head" style="height:34px; line-height:34px; background-color:white; ">
                <h4 class="heading" style="color:red; font-weight:bold">Other Special Cargo (Non-Hazardous)</h4>
                <button id="btnAddNoHazNotoc_@Model.FlightId" class="btn btn-primary" type="button" style="float:right;margin-left:3px"><i class="fa fa-plus-circle cm-button-icon"></i> Add</button>
            </div>
            <div class="widget-body" style="padding:0px">
                <table id="tblSpecialCargo_@Model.TaskId" class="display nowrap dynamicTable" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12">
                        <span for="" class="control-label">There is no evidence that any damaged or leaking packages containing Dangerous Goods have been loaded.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="" class="control-label">Loading Supervisor:</label>

                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" id="txtLoadingSuper_@Model.NotocId" value="@Model.LoadingSupervisor">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget widget-heading-simple margin-none">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12">
                        <span for="" class="control-label" style="font-weight:bold; color:purple">Other Information:</span>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" style="font-weight:bold;" class="form-control" id="txtOtherInfo_@Model.NotocId" value="@Model.OtherInformation" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <label for="" class="control-label">Prepared By:</label>

            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" value="@Model.PreparedBy">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="" class="control-label">Checked By:</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="txtCheckedBy_@Model.NotocId" value="@Model.CheckedBy">
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <div class="col-md-3 ">
                <label for="" class="control-label">Signature:</label>

            </div>
            <div class="col-md-8 cm-signature">
                <img src="@Url.Content("~/images/Signature-300x150.jpg")" style="height:80px; width:100%"/>
            </div>
        </div>*@
    <div class="col-md-6">
        <button id="btnReportNOTOC_@Model.TaskId" class="btn btn-danger" type="button" style="float:right;margin-left:3px"><i class="fa fa-list-alt cm-button-icon"></i> Generate NOTOC</button>

        <button id="btnSaveNOTOC_@Model.TaskId" class="btn btn-success" type="button" style="float:right;margin-left:3px"><i class="fa fa-save cm-button-icon"></i> Save Changes</button>

    </div>
</div>

@Html.Partial("_TaskNotocViewScript", Model)
