﻿@using MCH.Web.Utilities;

<script type="text/javascript">
    function getDepartmentId() {
        return { depId: $("#ddlDepartments").data("kendoDropDownList").value() }
    }

    function onTMDepartmentChange()
    {
        $("#ddlFilterByTaskTypes").data("kendoDropDownList").dataSource.read();
    }

</script>

<div class="container-fluid padding-left-none padding-right-none toolbarContent">

    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-horizontal">
                        <div class="form-group label-nowrap">

                            <label for="ddlHandlingStation" class="col-lg-2 control-label">Handling Station :</label>
                            <div class="col-lg-2">
                                @(Html.Kendo().DropDownList().DataSource(d =>
                                                d.Read(r =>
                                                                    r.Action("GetUserWarehouses", "Common")))
                                                            .DataTextField("Name")
                                                            .DataValueField("Id").Name("ddlHandlingStation").HtmlAttributes(new { }).Value(SessionManager.UserInfo.DefaultWarehouseId.HasValue ? SessionManager.UserInfo.DefaultWarehouseId.Value.ToString() : "-1"))
                            </div>

                            <label for="ddlDepartments" class="col-lg-2 control-label">Department :</label>
                            <div class="col-lg-2">
                                @(Html.Kendo().DropDownList().DataSource(d =>
                                                d.Read(r =>
                                                            r.Action("GetDepartments", "Common")))
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                                .Name("ddlDepartments").Events(e => e.Change("onTMDepartmentChange")).HtmlAttributes(new { })
                                )
                            </div>


                            <label for="txtReference" class="col-lg-2 control-label">Reference :</label>
                            <div class="col-lg-2">
                                @Html.TextBox("txtReference", "", new { @class = "k-textbox" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="form-horizontal">
                        <div class="form-group label-nowrap">

                            <label for="dtpFrom" class="col-lg-1 control-label">From :</label>
                            <div class="col-lg-2">
                                @(Html.Kendo().DatePicker().Name("dtpFrom").HtmlAttributes(new { }).Value(DateTime.Now))
                            </div>

                            <label for="dtpTo" class="col-lg-1 control-label">To :</label>
                            <div class="col-lg-2">
                                @(Html.Kendo().DatePicker().Name("dtpTo").HtmlAttributes(new { }).Value(DateTime.Now))
                            </div>

                            <label for="ddlFilterByTaskTypes" class="col-lg-2 control-label">Task Type :</label>
                            <div class="col-lg-3">
                                @(Html.Kendo().DropDownList().DataSource(d =>
                                                d.Read(r =>
                                                                                            r.Action("GetDepartmentTaskTypeFilter", "Common").Data("getDepartmentId")))
                                                            .DataTextField("name")
                                                            .DataValueField("id")
                                                        .Name("ddlFilterByTaskTypes").HtmlAttributes(new { })
                                )
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="k-button-group pull-right">
                                    <input type="button" class="k-button cm-grid-filter-btn " value="Filter">
                                    <input type="button" class="k-button cm-grid-reset-btn" value="Reset">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="row col-lg-11">
                <div class="form-horizontal">
                    <div class="form-group">

                        <label for="ddlAddForTaskTypes" class="col-lg-3 control-label"></label>
                        <div class="col-lg-6">
                            @(Html.Kendo().DropDownList().DataSource(d =>
                                                d.Read(r =>
                                                                    r.Action("GetDataEntryTaskTypes", "Common")))
                                                            .DataTextField("name")
                                                            .DataValueField("id")
                                                        .Name("ddlAddForTaskTypes").HtmlAttributes(new { })
                            )

                        </div>
                        <div class="col-lg-3">
                            <input type="button" class="k-button cm-grid-add-btn" value="Add New">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row col-lg-11">
                <div class="form-horizontal">
                    <div class="form-group">

                        <label for="ddlTaskActions" class="col-lg-3 control-label">Run :</label>
                        <div class="col-lg-6">
                            @(Html.Kendo().DropDownList().BindTo(new List<SelectListItem>{
                                                new SelectListItem{Text = "Assign Task(s)", Value="1", Selected=true},
                                                 new SelectListItem{Text = "Reopen Task(s)", Value="2", Selected=false},
                                                  new SelectListItem{Text = "Cancel Task(s)", Value="3", Selected=false},
                                                   new SelectListItem{Text = "Add Task(s) Instructions", Value="4", Selected=false},
                                            })
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                .Name("ddlTaskActions").HtmlAttributes(new { })
                            )

                        </div>
                        <div class="col-lg-3">
                            <input type="button" class="k-button cm-grid-action-btn" value="Action">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
