﻿@model long[]

<script>
    function assignTaskUsers() {

        var tmpData = { taskIds: $("#hdnTaskList").val(), userIds: $("#ddlUsersForTaskAssign").data("kendoMultiSelect").value().join() };

        $.ajax({
            url: '@Url.Action("AssignTasksToUser", "TaskManager")',
            type: "POST",
            data: tmpData,
            dataType: "json",
            traditional: true,
            success: function (result) {
                $("#TaskManagerEvents").trigger("tm-event:assignUser");
            }
        }).fail(function () {
            me.common.popup("Error", "Something went wrong, please try again later.");
        });
    }
</script>

<div class="row">
    <form class="form-horizontal form-widgets col-md-12">
        @Html.Hidden("hdnTaskList", String.Join(",", Model))
        <div class="form-group">
            <label for="Users" class="col-lg-4 control-label">Select Users : </label>
            <div class="col-lg-8">
                @(
 Html.Kendo().MultiSelect().Name("ddlUsersForTaskAssign")
    .DataSource(d => d.Read(r => r.Action("GetUsers", "Common"))).DataTextField("name").DataValueField("id")
                )
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12 pull-right">
        <div class="btn-group-sm pull-right">
            <input type="button" class="k-button op-window-close" value="Cancel" />
            <input type="button" class="k-button k-primary" value="Assign" onclick="assignTaskUsers()" />
        </div>
    </div>
</div>

