﻿@model long[]

<script>
    function assignTaskInstruction() {
        tmpValidator = $("#frmAddTaskInstructions").kendoValidator().data("kendoValidator");

        var validationResult = tmpValidator.validate();
        if (validationResult) {
            $.ajax({
                url: '@Url.Action("AssignTasksInstr", "TaskManager")',
                type: "POST",
                data: { taskIds: $("#hdnTaskList").val(), Instructions: $("#taskInstructions").val() },
                dataType: "json",
                traditional: true,
                success: function (result) {
                    $("#taskInstructions").val('');
                    $("#TaskManagerEvents").trigger("tm-event:assignInstr");
                }
            }).fail(function () {
                me.common.popup("Error", "Something went wrong, please try again later.");
            });
        }
    }
</script>

<div class="row">
    <form id="frmAddTaskInstructions" class="form-horizontal form-widgets col-md-12">
        @Html.Hidden("hdnTaskList", String.Join(",", Model))
        <div class="form-group">
            <label for="Instructions" class="col-lg-3 control-label">Instructions : </label>
            <div class="col-lg-9">
                @Html.TextArea("taskInstructions", new { rows = "4", required = "required", name = "Instrutions", style = "width:100%" })
                @Html.ValidationMessage("taskInstructions", new { @class = "k-invalid-msg" })
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12 pull-right">
        <div class="btn-group-sm pull-right">
            <input type="button" class="k-button op-window-close" value="Cancel" />
            <input type="button" class="k-button k-primary" value="Assign" onclick="assignTaskInstruction()" />
        </div>
    </div>
</div>



