﻿
<script type="text/javascript" src="@Url.Content("~/Scripts/task-management/task-manager-grid.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput.min.js")"></script>

<script>
    window.TaskManager = new TaskManagerGrid("tableTaskManagerList",
        {
            GetTaskAlerts: '@Url.Action("GetTaskAlertsView", "TaskManager")',
            GetEntityViewerByType: '@Url.Action("GetEntityViewerByType", "EntityViewers")',
            GetTaskUserAssignView: '@Url.Action("GetTaskUserAssignView", "TaskManager")',
            GetTaskInstrAssignView: '@Url.Action("GetTaskInstrAssignView", "TaskManager")',
            GetCargoAcceptanceView: '@Url.Action("GetCargoAcceptanceView", "CargoAcceptance")',
            GetCargoDischargeView: '@Url.Action("GetCargoDischargeView", "CargoDischarge")',
            ReopenTasks: '@Url.Action("ReopenTasks", "TaskManager")',
            CancelTasks: '@Url.Action("CancelTasks", "TaskManager")',

            GetAWBWizarView: '@Url.Action("AWBWizardPopup", "AWBWizard")',
            GetHWBWizarView: '@Url.Action("HWBAddEdit", "AWBWizard")',
            CancelAwbWizard: '@Url.Action("CancelWizard", "CargoAcceptance")',
            CancelDisWizard: '@Url.Action("CancelWizard", "CargoDischarge")',
            GetHWBExtraPopupView: '@Url.Action("HWBExtraPopup", "AWBWizard")',
        });

    $("#TaskManagerEvents").on("tm-event:assignUser", function (event, args) {
        window.TaskManager.onUserAssigned();
    });

    $("#TaskManagerEvents").on("tm-event:assignInstr", function (event, args) {
        window.TaskManager.onInstrAssigned();
    });

    function selectGridRow(grid, rowIndex) {

        if (!grid || !grid.tbody) return false;
        row = grid.tbody.find(">tr:not(.k-grouping-row)").eq(rowIndex);
        grid.select(row);
    }

    function taskManagerGridReady(e) {
        var tmpGrid = $("#tableTaskManagerList").data("kendoGrid");
        selectGridRow(tmpGrid, 0);
    }

    function GetIndicatorIcons(commaSeparated) {
        var iconsText = "";
        if (commaSeparated && commaSeparated != null) {
            var tmpIconName = commaSeparated.split(',');

            for (var i = 0; i < tmpIconName.length; i++) {
                if (tmpIconName[i] != " ") {
                    var tmpIconsHtml = "<img style='width:20px' src=@Url.Content("~/Content/assets/images/indicators/")" + tmpIconName[i].trim() + ".png  title='" + tmpIconName[i] + "' />";
                    iconsText = iconsText + " " + tmpIconsHtml;
                }
            }
        }
        return iconsText;
    }

</script>


<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic cm-white-content" id="tbTaskManagement">
        @(Html.Kendo().Grid<MCH.Web.Models.TasksGridRow>().Name("tableTaskManagerList")
                .Columns(c =>
                {
                    c.Bound(o => o.WarehouseId).Hidden(true);
                    c.Bound(o => o.TaskId).Visible(false);
                    c.Bound(o => o.TaskTypeId).Hidden(true);
                    c.Bound(o => o.TaskType).Width(120);
                    c.Bound(o => o.Alerts)
                        .ClientTemplate(@"<button type='button' class='k-button-tmpl' onclick='window.TaskManager.showTaskAlerts(#=TaskId#)'>#=Alerts#</button>")
                        .Width(80);
                    c.Bound(o => o.Indicators).ClientTemplate("#= GetIndicatorIcons(Indicators) #").Width(150);
                    c.Bound(o => o.Priority)
                        .ClientTemplate("#= Priority ? '<img style=width:20px src=" + Url.Content("~/Content/images/priority.png") + " title=Priority /> ' : '' #")
                        .HeaderTemplate("<img style=width:20px src=" + Url.Content("~/Content/images/priority.png") + " title=Priority />")
                        .Filterable(false).Width(40);
                    c.Bound(o => o.AirlineCode).Title("Airline").Width(100);
                    c.Bound(o => o.Reference).Width(200);
                    c.Bound(o => o.TaskDate).Format("{0:MM/dd/yyyy}").Width(100);
                    c.Bound(o => o.DueOn).Format("{0:MM/dd/yyyy HH:mm}").Width(100);
                    c.Bound(o => o.Status).Width(80);
                    c.Bound(o => o.Progress).ClientTemplate("#=Progress# %").Width(100);
                    c.Bound(o => o.Reopened).ClientTemplate("#= Reopened ? '<img src=" + Url.Content("~/Content/images/reopen.png") + " title=Reopened />' : ''#").HeaderTemplate("<img src=" + Url.Content("~/Content/images/reopen.png") + " title=Reopened />").Width(35).Filterable(false);
                    c.Bound(o => o.AssignedTo).Width(100);
                    c.Bound(o => o.Started).Format("{0:MM/dd/yyyy HH:mm}").Width(100);
                    c.Bound(o => o.Ended).Format("{0:MM/dd/yyyy HH:mm}").Width(100);
                    c.Bound(o => o.ULDs).Title("ULDs").Width(80);
                    c.Bound(o => o.Pieces).Width(100);
                    c.Bound(o => o.Weight).ClientTemplate("#=Weight != null ? Weight:''# #=WeightUOM != null ? WeightUOM : ''#").Width(90);
                    c.Bound(o => o.TaskLocation).Title("Location").Width(100);
                    c.Bound(o => o.Department).Width(110);
                    c.Bound(o => o.DepartmentId).Hidden(true);
                }
        )
                .Events(e => e.DataBound("taskManagerGridReady"))
        .DataSource(e => e.Ajax()
                    .Read(r =>
                        r.Action("TaskListDatasource", "TaskManager"))
                        .PageSize(20)
                    )
                    .Filterable()
                    .Sortable()
                    .Selectable(s => s.Mode(GridSelectionMode.Multiple))
                    .Scrollable()
                    .Pageable()
                    .Resizable(r => r.Columns(true))
                            .ToolBar(t =>
                            {
                                t.Template(
                                    @<text>
                                        @Html.Partial("_TaskListToolbar")
                                    </text>);
                            }).HtmlAttributes(new { style = "height:100%; min-height:1000px;" })

        )

    </div>
</div>
<div class="cm-window-wrapper" id="TaskManagerEvents">

    @(Html.Kendo().Window().Name("wndTMAlert").Draggable(true).Visible(false).Modal(true))

    @(Html.Kendo().Window().Name("wndTMActionConfirm").Draggable(true).Visible(false).Modal(true))

    @(Html.Kendo().Window().Name("wndTMActionPerform").Draggable(true).Visible(false).Modal(true))

    @(Html.Kendo().Window().Name("wndTMShowTaskDetails").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

    @(Html.Kendo().Window().Name("wndTMAddTaskView")
    .Actions(a => a.Minimize().Maximize().Close())
    .Draggable(true).Visible(false)
            //.Events(e=>e.Open("resizeKendoWindow"))
    .Resizable()
    .Modal(true))

    @(Html.Kendo().Window().Name("wndTMAddTaskPopupWizard").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

    @(Html.Kendo().Window().Name("wndTMAddHWBPopup").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

    @(Html.Kendo().Window().Name("wndTMTaskViewer").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

    @(Html.Kendo().Window().Name("wndAddressBook").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

    @(Html.Kendo().Window().Name("wndAddEditPartner").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

    @(Html.Kendo().Window().Name("wndAddEditRate").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

</div>

<script type="text/javascript">
    $(document).ready(function () {
        window.TaskManager.init();
        window.TaskManager.filterTaskManagerGrid();
    })
</script>