﻿@model MCH.Web.Models.CargoAcceptance.AcaAwbScreeningModel

<script src="@Url.Content("~/Scripts/cargo-accept/aca-awb-screening.js")"></script>

<script>
    window.AWBWizardScreening = new AWBScreeningController({
        Urls: {
            BackToShipper: "@Url.Action("GetAWBShipperVerifyView", "CargoAcceptance")",
            GetAWBDetialView: "@Url.Action("GetAWBView", "CargoAcceptance")",
            Finalize: "@Url.Action("Finalize", "CargoAcceptance")",
            SaveCurrentAWB: "@Url.Action("SaveCurrentAWB", "CargoAcceptance")",
            Cancel: "@Url.Action("CancelWizard", "CargoAcceptance")"
        }
    });

    function deleteGridACAAwbSecrreningsRow(e) {
        var tr = $(e.target).closest("tr"); //get the row for deletion
        var data = this.dataItem(tr);
        var grid = $("#gridAcaAwbScreening").data("kendoGrid");
        grid.dataSource.remove(data);
    }
</script>

<div class="row height100per">
    <div class="col-md-12 form-horizontal height100per">
        <div class="form-group margin0">
            <label class="col-md-12 text-left paddingBottom5 bolder control-label"> >> Airwaybill Details >> Handling >> Screening </label>
        </div>
        <div class="col-md-12 cm-heightcalc100-65">
            <label class="col-md-12 text-left paddingBottom5 bold control-label">Check Cargo Screening / Alternate Screening Requirements</label>
            <form class="col-md-12 form-horizontal form-widgets" id="frmAcaAwbScreening">
                @Html.HiddenFor(m => m.AwbId, new { id = "awbId" })
                <div class="form-group">
                    <label class="col-md-3 control-label required">Tenderd As Screened ? :</label>
                    <div class="col-md-9">
                        <div class="radio">
                            <label class="k-link">
                                <input name="IsTenderedAsScreened" id="IsTenderedAsScreened" @(Model.IsTenderedAsScreened ? "checked=checked" : "" ) value="Yes" type="radio">Yes
                            </label>
                            <label class="k-link marginleft15">
                                <input name="IsTenderedAsScreened" id="IsTenderedAsScreened" @(!Model.IsTenderedAsScreened ? "checked=checked" : "") value="No" type="radio">No
                            </label>
                        </div>
                    </div>
                </div>
                <div id="dvAcaAwbScreeningTendered" @(!Model.IsTenderedAsScreened ? "style=display:none" : "")>
                    <div class="form-group">
                        <label class="col-md-3 control-label required">Approved CCSF:</label>
                        <div class="col-md-9">
                            @(Html.Kendo().ComboBoxFor(m => m.ApprovedCCSFId).DataTextField("Name").DataValueField("Id").DataSource(d => d.Read(r => r.Action("GetApprovedCCSFs", "Common"))).Name("ddlAcaAwbScreeningApprovedCCSF").Placeholder("-select-"))
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label ">Seal Numbers:</label>
                        <div class="col-md-9">
                            <input type="button" class="k-button" value="Add New" id="btnAcaAwbScreeningAdd" />
                            @(Html.Kendo().Grid<MCH.Web.Models.CargoAcceptance.SealNumber>().Name("gridAcaAwbScreening").BindTo(Model.SealNumbers).Columns(c =>
                                   {
                                       c.Bound(o => o.Id).Visible(false);
                                       c.Bound(o => o.SealTypeId).Hidden(true);
                                       c.Command(cm => cm.Custom("remove").HtmlAttributes(new { style = "width:40px" }).Click("deleteGridACAAwbSecrreningsRow").Text("x"));
                                       c.Bound(o => o.SealTypeName);
                                       c.Bound(o => o.SealNumberValue);

                                   }).DataSource(d => d.Ajax().PageSize(10).ServerOperation(false)))
                        </div>
                    </div>
                </div>
                <div id="dvAcaAwbScreeningNotTendered" @(Model.IsTenderedAsScreened ? "style=display:none" : "")>
                    <label class="col-md-12 text-left paddingBottom5 bold control-label">TSA Alternate Screening Check</label>

                    @if (Model.AltScreeningOptions != null && Model.AltScreeningOptions.Any())
                    {
                        foreach (var item in Model.AltScreeningOptions)
                        {
                            <div class="form-group">
                                <label class="col-md-7 control-label required">@item.Name :</label>
                                <div class="col-md-5">
                                    <div class="radio">
                                        <label class="k-link">
                                            <input class="dynamic-alt-screening" name="@item.Id" id="@item.Id" @(item.Checked ? "checked=checked" : "") value="Yes" type="radio">Yes
                                        </label>
                                        <label class="k-link marginleft15">
                                            <input class="dynamic-alt-screening" name="@item.Id" id="@item.Id" @(!item.Checked ? "checked=checked" : "") value="No" type="radio">No
                                        </label>
                                    </div>

                                </div>
                            </div>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row cm-bottom-right">
    <div class="col-md-12 pull-right buttons-wrapp">
        <div class="pull-right">

            <input type="button" class="k-button" value="Previous" id="btnAWBScreeningPrevious" />
            <input type="button" class="k-button k-primary" value="Add AWB" id="btnAWBScreeningAddNew" />
            <input type="button" class="k-button k-primary" value="Finalize" id="btnAWBScreeningFinalize" />
        </div>
    </div>
</div>

<div>
    @(Html.Kendo().Window().Name("wndAcaAwbScreeningAddSeal").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close()).Title("Add Seal Number")
    .Content(
    @<text>
        <div class="row">
            <form class="col-md-12 form-horizontal form-widgets">
                <div class="form-group">
                    <label class="col-md-3 control-label required">Seal Type :</label>
                    <div class="col-md-9">

                        @(Html.Kendo().DropDownList().Name("ddlAcaAwbSealTypes").DataTextField("Name").DataValueField("Id").DataSource(d => d.Read(r => r.Action("GetSealTypes", "Common"))))
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label required">Seal Number :</label>
                    <div class="col-md-9">
                        @(Html.Kendo().TextBox().Name("txtAcaAwbScreeningSealNumber").HtmlAttributes(new { style = "width:100%", required = "required", name = "Seal Number" }))
                        <span class="k-invalid-msg" data-for="Seal Number"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 pull-right buttons-wrapp">
                <div class="pull-right">
                    <input type="button" class="k-button k-primary" value="Save" id="btnAddSealNumberScreening" />
                    <input type="button" class="k-button op-window-close" id="btnCancelAddSealNumber" value="Cancel" />
                </div>
            </div>
        </div>
    </text>))
</div>

<script>


    $(document).ready(function () {
        window.AWBWizardScreening.init();
    })
</script>
