﻿@model MCH.Web.Models.CargoAcceptance.AcaAwbDetialsModel

<script src="@Url.Content("~/Scripts/cargo-accept/aca-awb-details.js")"></script>

<div class="row">
    <div class="col-md-12 form-horizontal">
        <div class="form-group margin0">
            <label class="col-md-12 text-left paddingBottom5 bolder control-label">
                >> Airwaybill Details
            </label>
        </div>
        <form class="col-md-12 form-horizontal form-widgets" id="frmAcaAwbDetails">
            <input type="hidden" name="Id" id="hdnAcaAwbId" value="@Model.Id" />
            <div class="form-group">
                <label class="col-md-4 control-label required">Flight Type :</label>
                <div class="col-md-8">
                    @(Html.Kendo().DropDownListFor(m => m.FlightTypeId)
                            .DataSource(d => d.Read(r => r.Action("GetFlightTypes", "Common")))
                    .DataTextField("Name").DataValueField("Id")
                            .Name("ddlAWBFlightTypes").HtmlAttributes(new { name = "FlightTypeId" })
                    )
                    <span class="k-invalid-msg" data-for="FlightTypeId"></span>
                </div>

            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">Carrier Number :</label>
                <div class="col-md-8">
                    @(Html.TextBoxFor(m => m.CarrierCode, new { @class = "k-textbox", style = "width:50px", id = "acaAwbCarrierCode", disabled = "disabled" }))
                    <span class="k-invalid-msg" data-for="CarrierCode"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">AWB Serial Number :</label>
                <div class="col-md-8">
                    @(Html.TextBoxFor(m => m.AwbSerialNumber, new { @class = "k-textbox", style = "width:100%", id = "acaAwbSerialNumber", maxlength = 8 }))
                    <span class="k-invalid-msg" data-for="AwbSerialNumber"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label required">Flight Number :</label>
                <div class="col-md-8">
                    @(Html.TextBoxFor(m => m.FlightNumber, new { @class = "k-textbox", style = "width:100%", id = "acaAwbFlightNumber", maxlength = 5 }))
                    <span class="k-invalid-msg" data-for="FlightNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">Flight Date (ETD) :</label>
                <div class="col-md-8">
                    @(Html.Kendo().DatePickerFor(m => m.FlightDate).HtmlAttributes(new { id = "acaAwbFlightDate" }))
                    <span class="k-invalid-msg" data-for="FlightDate"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">Origin Airport :</label>
                <div class="col-md-8">
                    @(Html.Kendo().ComboBoxFor(m => m.OriginId).DataSource(d => d.Read(r => r.Action("GetStations", "Common"))).DataTextField("name").DataValueField("id")
                                            .Name("cbxAWBOrigin").HtmlAttributes(new { name = "OriginId" })
                    )
                    <span class="k-invalid-msg" data-for="OriginId"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">Destination Airport :</label>
                <div class="col-md-8">
                    @(Html.Kendo().ComboBoxFor(m => m.DestinationId).DataSource(d => d.Read(r => r.Action("GetStations", "Common"))).DataTextField("name").DataValueField("id")
                                                    .Name("cbxAWBDestination").HtmlAttributes(new { name = "DestinationId" })
                    )
                    <span class="k-invalid-msg" data-for="DestinationId"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">Pieces :</label>
                <div class="col-md-8">
                    @(Html.Kendo().NumericTextBoxFor<int>(m => m.Pieces).Name("txtAcaAwbPieces").Format("d").HtmlAttributes(new { name = "Pieces" }))
                    <span class="k-invalid-msg" data-for="Pieces"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">Weight :</label>
                <div class="col-md-8">
                    @Html.Kendo().NumericTextBoxFor(m => m.Weight).Name("txtAcaAwbWeight").HtmlAttributes(new { style = "width:60%", name = "Weight" })
                    @(Html.Kendo().DropDownListFor(m => m.WeightUomId).Name("ddlAcaAwbWeightUom").DataSource(d => d.Read(r => r.Action("GetWeightUOMs", "Common"))).DataTextField("Name").DataValueField("Id").HtmlAttributes(new { style = "width:35%", name = "WeightUomId" }))
                    <span class="k-invalid-msg" data-for="Weight"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row cm-bottom-right">
    <div class="col-md-12 pull-right buttons-wrapp">
        <div class="pull-right">
            <input type="button" class="k-button" value="Previous" id="btnAWBDetialsPrevious" />
            <input type="button" class="k-button k-primary" value="Next" id="btnAWBDetialsNext" />
        </div>
    </div>
</div>

<script>
    window.AWBWizardDetials = new AWBDetialsController({
        Urls: {
            BackToDriver: "@Url.Action("GetDriversView", "CargoAcceptance")",
            NextToHandling: "@Url.Action("GetAWBHandlingsView", "CargoAcceptance")",
            AWBLookup: "@Url.Action("AWBLookup", "Awb")",
            SaveAwbDetials: "@Url.Action("SaveNextToHandling", "CargoAcceptance")",
            Cancel : "@Url.Action("CancelWizard", "CargoAcceptance")"
        }
    });

    $(document).ready(function () {
        window.AWBWizardDetials.init();
    })

</script>
