﻿@model MCH.Web.Models.CargoAcceptance.AWBSpecialHandlingModel


<script src="@Url.Content("~/Scripts/cargo-accept/aca-awb-handling.js")"></script>

<script>

    window.AWBWizardHandling = new AWBHandlingsController({
        Urls: {
            BackToDetails: "@Url.Action("GetAWBDetialsView", "CargoAcceptance")",
            NextToContacts: "@Url.Action("GetAWBShipperVerifyView", "CargoAcceptance")",
            SaveAwbHandling: "@Url.Action("SaveNextToShipperVerify", "CargoAcceptance")",
            Cancel : "@Url.Action("CancelWizard", "CargoAcceptance")"
        }
    });

    function deleteRow(e) {
        var tr = $(e.target).closest("tr"); //get the row for deletion
        var data = this.dataItem(tr);
        var grid = $("#gridAcaAwbHandlingDocuments").data("kendoGrid");
        grid.dataSource.remove(data);
    }

    function documentTypeFilterProvider() {
        if (window.AWBWizardHandling) {
            return { codes: window.AWBWizardHandling.getSelectedGroups().join(',') };
        }
        else {
            return "";
        }
    }
</script>

<div class="row height100per">
    <div class="col-lg-12 form-horizontal height100per">
        <div class="form-group margin0">
            <label class="col-md-12 text-left paddingBottom5 bolder control-label"> >> Airwaybill Details >> Special Handling </label>
        </div>
        <div class="col-md-5 cm-heightcalc100-65">
            <label class="text-left paddingBottom5 control-label">Check All Special handling applicable for Cargo</label>
            @Html.HiddenFor(m => m.AwbId, new { id = "hdnAcaAwbHandlingId" })
            <ul id="lsvAcaSHList" class="k-list-container cm-list-view cm-heightcalc100-30">
                @foreach (var item in Model.SpecialHandlings)
                {
                    <li class="cm-list-item-text justified">
                        <div class="checkbox">
                            <label>
                                <input class="k-input k-checkbox spcode" type="checkbox" data-group-id="@item.Id" data-item-code="@item.SphCodeId" @(item.IsChecked ? "checked=checked":"") />
                                @item.DisplayName
                            </label>
                        </div>
                        @if (item.SubGroups != null && item.SubGroups.Any())
                        {
                            <ul style="list-style-type:none;padding-left:20px;@(item.IsChecked ? "" : "display:none;")">
                                @foreach (var subItem in item.SubGroups)
                                {
                                    <li class="cm-list-item-radio">
                                        <div class="radio">
                                            <label class="radio-label">
                                                <input class="k-input spcode" type="radio" data-group-id="@item.Id" name="@item.Name" data-item-code="@subItem.SphCodeId" data-subgroup-id="@subItem.Id" />
                                                @subItem.DisplayName
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>



        <div class="col-md-7">
            <div class="row form-group marginleftright0" style="display:none">
                <div class="col-md-12 marginbottom20 padding0">
                    @(Html.Kendo().DropDownList()
                .Name("ddlAcaAwbHandlingDocTypes")
                .DataValueField("Id").DataTextField("Name").DataSource(d => d.Read(r => r.Action("GetDocumentTypesBySPH", "Common").Data("documentTypeFilterProvider"))))
                </div>
            </div>
            <input type="button" id="btnAcaAwbHandlingAddDoc" class="k-button k-primary" value="Add Document" style="width:100%" />
            @(Html.Kendo().Grid<MCH.Web.Models.Common.AttachmentModel>(Model.Documents)
            .Name("gridAcaAwbHandlingDocuments")
            .Columns(c =>
            {
                c.Bound(o => o.Id).Visible(false);
                c.Bound(o => o.Name).Title("Name");
                c.Bound(o => o.ShipperDocTypeId).Hidden(true);
                c.Bound(o => o.DocumentType);
                c.Command(co => co.Custom("deleteRow").Click("deleteRow").Text("x"));
            }).DataSource(d=> d.Ajax().PageSize(20).ServerOperation(false))
            )

        </div>

    </div>
</div>


<div class="row cm-bottom-right">
    <div class="col-md-12 pull-right buttons-wrapp">
        <div class="pull-right">
            <input type="button" class="k-button" value="Previous" id="btnAWBHandlingPrevious" />
            <input type="button" class="k-button k-primary" value="Next" id="btnAWBHandlingNext" />
        </div>
    </div>
</div>

<div>
    @(Html.Kendo().Window().Name("wndAcaHandlingDocument").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Content(
    @<text>
        @Html.Partial("_DocumentUploaderContent", new MCH.Web.Models.Shared.DocumentUploaderModel()
   {
       FormName = "frmAcaAwbHandling"
   })
    </text>))
</div>

<script>

    $(document).ready(function () {
        window.AWBWizardHandling.init();
        window.AWBWizardHandling.setUploader(new DocumentUploader(
       {
           GridName: "gridAcaAwbHandlingDocuments",
           WindowName: "wndAcaHandlingDocument",
           FormName: "frmAcaAwbHandling",
           Urls: {}
       }));
    })

</script>
