﻿@model MCH.Web.Models.CargoAcceptance.AcaAwbContactModel

<script src="@Url.Content("~/Scripts/cargo-accept/aca-awb-shipper.js")"></script>

<div class="row height100per">
    <div class="col-md-12 form-horizontal height100per">
        <div class="form-group margin0">
            <label class="col-md-12 text-left paddingBottom5 bolder control-label"> >> Airwaybill Details >> Handling >> Shipper Verification </label>
        </div>
        <div class="col-md-12 cm-heightcalc100-65">
            <form class="col-md-12 form-horizontal form-widgets" id="frmAcaAwbShipperVerify">
                @(Html.Hidden("hdnAcaAwbId", Model.AwbId, new { name = "Id", id = "hdnAcaAwbId" }))

                @if (Model.Fields != null && Model.Fields.Any())
                {
                    foreach (var field in Model.Fields)
                    {
                        <div class="form-group">
                            <label class="col-md-6 control-label @(field.IsRequired ? "required" : "")">@field.Label :</label>
                            <div class="col-md-6">
                                @* TODO : Harut move this to helpers *@
                                @switch (field.TypeName)
                                {
                                    case "System.String":
                                        {
                                            @Html.Kendo().TextBox().Name(field.Id.ToString()).HtmlAttributes(new { style = "width:100%", @class = "dynamic-field", data_type = "simple" }).Value(field.Value)
                                            break;
                                        }
                                    case "System.Int32":
                                        {
                                            @Html.Kendo().NumericTextBox().Name(field.Id.ToString()).Format("d").HtmlAttributes(new { style = "width:100%", @class = "dynamic-numeric", data_type = "simple" }).Value(String.IsNullOrWhiteSpace(field.Value) ? 1:int.Parse(field.Value))
                                            break;
                                        }
                                    case "System.DateTime":
                                        {
                                            @Html.Kendo().DatePicker().Name(field.Id.ToString()).HtmlAttributes(new { style = "width:100%", @class = "dynamic-date", data_type = "simple" }).Value(field.Value)
                                            break;
                                        }
                                    case "System.Double":
                                        {
                                            @Html.Kendo().NumericTextBox().Name(field.Id.ToString()).HtmlAttributes(new { style = "width:100%", @class = "dynamic-numeric", data_type = "simple" }).Value(String.IsNullOrWhiteSpace(field.Value) ? 1 : double.Parse(field.Value))
                                            break;
                                        }
                                    case "System.Boolean":
                                        {
                                            @Html.CheckBox(field.Id.ToString(), field.Value == "True", new { @class = "k-checkbox dynamic-check", data_type = "checkbox", id = field.Id.ToString() }) <span>YES</span>
                                            break;
                                        }
                                    default:
                                        {
                                            @Html.Kendo().TextBox().Name(field.Id.ToString()).HtmlAttributes(new { style = "width:100%" }).Value(field.Value)
                                            break;
                                        }
                                }
                            </div>
                        </div>
                    }
                }
            </form>
        </div>
    </div>
</div>


<div class="row cm-bottom-right">
    <div class="col-md-12 pull-right buttons-wrapp">
        <div class="pull-right">
            <input type="button" class="k-button" value="Previous" id="btnAWBShipperPrevious" />
            <input type="button" class="k-button k-primary" value="Next" id="btnAWBShipperNext" />
        </div>
    </div>
</div>

<script>
    window.AWBWizardShipper = new AWBShipperController({
        Urls: {
            BackToHandling: "@Url.Action("GetAWBHandlingsView", "CargoAcceptance")",
            NextToScreening: "@Url.Action("GetAWBScreeningView", "CargoAcceptance")",
            SaveShipperVerify: "@Url.Action("SaveShipperVerify", "CargoAcceptance")",
            Cancel : "@Url.Action("CancelWizard", "CargoAcceptance")"
        }
    });

    $(document).ready(function () {
        window.AWBWizardShipper.init();
    })
</script>