﻿@model MCH.Web.Models.CargoAcceptance.WizardPage

<div class="col-md-3 form-horizontal form-widgets">
    <div class="form-group">
        <label class="col-md-2 text-right control-label" id=""> </label>        
        <label class="col-md-10 control-label">
            Step @Model.StepName
        </label>
    </div>
</div>
<div class="col-md-4 form-horizontal form-widgets">
    <div class="form-group">
        <label class="col-md-3 text-right control-label" id="">Carrier : </label>
        <label class="col-md-9 control-label">
            @Model.CarrierName
        </label>
    </div>
    <div class="form-group">
        <label class="col-md-3 text-right control-label" id="">Shipper : </label>
        <label class="col-md-9 control-label">
            @Model.CarrierShipperName
        </label>
    </div>
    <div class="form-group">
        <label class="col-md-3 text-right control-label" id="">Type : </label>
        <label class="col-md-9 control-label">
            @Model.ShipperTypeName
        </label>
    </div>
</div>
<div class="col-md-5 ">
    <div class="col-md-9 form-horizontal form-widgets">
        <div class="form-group">
            <label class="col-md-5 text-right control-label" id="">Driver : </label>
            <label class="col-md-7 control-label">
                @Model.DriverName
            </label>
        </div>
        <div class="form-group">
            <label class="col-md-5 text-right control-label" id="">Trucking Company : </label>
            <label class="col-md-7 control-label">
                @Model.TrackingCompanyName
            </label>
        </div>
    </div>

    <div class="col-md-3">
        @if (!String.IsNullOrWhiteSpace(Model.DriverPhotoData))
        {
            <img src="@Model.DriverPhotoData" style="width:80px; border:solid 4px #ccc ; margin-top: 10px;" />
        }
    </div>
</div>
