﻿@model MCH.Web.Models.CargoAcceptance.AcceptCarrierShipper


<script>
    window.ACAWizardCarrierShipper = new AcceptCarrierShipper({
        SaveCarrierShipper: '@Url.Action("SaveNextToDriver", "CargoAcceptance")',
        GoToDrivers: '@Url.Action("GetDriversView", "CargoAcceptance")',
        Cancel: ''
    });

    function deleteRow(e) {
        var tr = $(e.target).closest("tr"); //get the row for deletion
        var data = this.dataItem(tr);
        var grid = $("#gridShipperCarrierDocuments").data("kendoGrid");
        grid.dataSource.remove(data);
    }

    function filterByCarrier() {
        return window.ACAWizardCarrierShipper.FilterByCarrier();
    }

    function filterByShipperType() {
        return window.ACAWizardCarrierShipper.FilterByShipperType();
    }

    function filterByFlightType() {
        return window.ACAWizardCarrierShipper.FilterByFlightType();
    }

    function elementDataBould(e) {
        e.sender.trigger("change");
    }

    function closeUploader() {
        window.ACAWizardCarrierShipper.onUploaderClose();
    }

    function shipperTypeDataBound() {
        window.ACAWizardCarrierShipper.restoreState();
    }
</script>

<div class="container-fluid height100per paddingbottom30">
    <div class="row cm-accept-from-header row-cm-accept-from-header">
        @Html.Partial("_wizHeaderCargoAcceptance", Model)
    </div>
    <div class="row cm-wizard-container cm-heightcalc100-95" id="wizardContainer">
        <form class="col-md-8 form-horizontal form-widgets" id="frmCargoAcceptance">
            <input type="hidden" id="hdnNeedsRestore" value="@Model.NeedsRestor" />
            <div class="form-group">
                <label class="col-md-5 control-label required" id="">Carrier : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().DropDownListFor(m => m.AccountCarrierId).Name("ddlAccountCarriers")
                    .DataSource(d => d.Read(r => r.Action("GetAccountCarriers", "Common")))
                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "AccountCarrierId" })
                    )
                    <span class="k-invalid-msg" data-for="AccountCarrierId"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label required" id="">Flight Type : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().DropDownListFor(m => m.FlightTypeId)
                            .DataSource(d => d.Read(r => r.Action("GetFlightTypes", "Common")))
                    .DataTextField("Name").DataValueField("Id")
                            .Name("ddlFlightTypes").HtmlAttributes(new { name = "FlightTypeId" })
                                    
                    )
                    <span class="k-invalid-msg" data-for="FlightTypeId"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label required" id="">Shipper Type : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().DropDownListFor(m => m.ShipperTypeId)
                            .DataSource(d => d.Read(r => r.Action("GetShipperTypes", "Common").Data("filterByFlightType")))
                    .DataTextField("Name").DataValueField("Id")
                            .Name("ddlShipperTypes").HtmlAttributes(new { name = "ShipperTypeId" })
                                                                    .Events(e => e.DataBound("shipperTypeDataBound"))
                    )
                    <span class="k-invalid-msg" data-for="ShipperTypeId"></span>
                </div>
            </div>

            <div class="form-group" id="dvApprovedIACs" style="display:none">
                <label class="col-md-5 control-label" id="">Approved IACs : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.ApprovedIACId)
                            .DataSource(d => d.Read(r => r.Action("GetApprovedIACs", "Common")))
                    .DataTextField("Name").DataValueField("Id")
                                                    .Name("ddlApprovedIACs").HtmlAttributes(new { name = "ApprovedIACId" }).Events(e => e.DataBound("elementDataBould")).Filter(FilterType.Contains).Placeholder("-select-")
                    )
                </div>
            </div>

            <div class="form-group" id="dvApprovedTSACarriers" style="display:none">
                <label class="col-md-5 control-label" id="">Approved TSA Carriers : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.ApprovedTSACarrierId)
                            .DataSource(d => d.Read(r => r.Action("GetApprovedTSACarriers", "Common")))
                    .DataTextField("Name").DataValueField("Id")
                                            .Name("ddlApprovedTSACarriers").HtmlAttributes(new { name = "ApprovedTSACarrierId" }).Events(e => e.DataBound("elementDataBould")).Placeholder("-select-")
                    )
                </div>
            </div>

            <div class="form-group" id="dvApprovedKnownShippers" style="display:none">
                <label class="col-md-5 control-label" id="">Approved Known Shippers : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.ApprovedKnownShipperId)
                                                    .DataSource(d => d.Read(r => r.Action("GetApprovedKnownShippers", "Common").Data("filterByCarrier")))
                    .DataTextField("Name").DataValueField("Id")
                                            .Name("ddlApprovedKnownShippers").HtmlAttributes(new { name = "ApprovedKnownShipperId" }).Events(e => e.DataBound("elementDataBould")).Placeholder("-select-")
                    )
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label required">Shipper Name : </label>
                <div class="col-lg-7">
                    @Html.TextBoxFor(m => m.ShipperName, new { id = "txtShipperName", @class = "k-textbox", style = "width:88%", name = "ShipperName" })

                    <img id="imgShipperStatus" src="@Url.Content("~/Content/assets/images/shipper_"+(Model.ShipperVerified ? "yes":"no")+".png")" titel="Not Verified" style="width:35px; float:right" />

                    @(Html.HiddenFor(m => m.ShipperVerified, new { id = "hdnShipperVerified", name = "ShipperVerified" }))
                    <span class="k-invalid-msg" data-for="ShipperName"></span>
                </div>
            </div>
            <div class="form-group" id="dvDocumentTypes" style="display:none">
                <label class="col-md-5 control-label required" id="">Document Types : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().DropDownListFor(m => m.DocumentTypeId)
                                    .DataSource(d => d.Read(r => r.Action("GetDocumentTypes", "Common").Data("filterByShipperType")))
                   .DataTextField("Name").DataValueField("Id")
                           .Name("ddlDocumentTypes").HtmlAttributes(new { name = "DocumentTypeId" })
                                   .Events(e => e.DataBound("elementDataBould"))
                    )
                    <span class="k-invalid-msg" data-for="DocumentTypeId"></span>
                </div>
            </div>
            <div id="dvDocumentUploader" style="display:none">
                <div class="form-group">
                    <label class="col-md-5 control-label required" id="">
                        Documents :
                    </label>
                    <div class="col-lg-7">
                        <input type="button" class="k-button" value="Add Document" onclick="openUploader()" />
                        <input type="hidden" id="checkdoc" name="checkdoc" />
                        @(Html.Kendo()
                           .Grid<MCH.Web.Models.Common.AttachmentModel>(Model.Documents).Name("gridShipperCarrierDocuments")
                           .Columns(c =>
                           {
                               c.Bound(o => o.Id).Visible(false);
                               c.Bound(o => o.Name).Title("Name");
                               c.Bound(o => o.ShipperDocTypeId).Hidden(true);
                               c.Bound(o => o.DocumentType);
                               c.Command(co => co.Custom("deleteRow").Click("deleteRow").Text("x"));
                           }).DataSource(d => d.Ajax().PageSize(10).ServerOperation(false)))
                        <span class="k-invalid-msg" data-for="checkdoc"></span>
                    </div>
                </div>
            </div>
            <div class="form-group" id="dvShipperDocsVerified" style="display:none">
                <label class="col-md-5 control-label required" id="">Shipper Docs Verified : </label>
                <div class="col-lg-7">

                    @(Html.Kendo().ComboBoxFor(m => m.IsDocumentVerified).HtmlAttributes(new { id = "chbxDocumentVerified", name = "IsDocumentVerified", style = "width:125px" }).Placeholder("-select-").BindTo(new List<SelectListItem> { new SelectListItem { Text = "NO", Value = "False" }, new SelectListItem { Text = "YES", Value = "True" } }).DataTextField("Text").DataValueField("Value").Events(e => e.DataBound("elementDataBould"))
                    )
                    <input type="hidden" name="verifyDocs" />
                    <span class="k-invalid-msg" data-for="IsDocumentVerified"></span>

                </div>
            </div>

            <div class="form-group" id="dvGovAuthIds" style="display:none">
                <label class="col-md-5 control-label" id="">Government Authorized ID Verified : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.GovAuthIdVerified)
                                            .DataSource(d => d.Read(r => r.Action("GetGovAuthIds", "Common").Data("filterByShipperType")))
                   .DataTextField("Name").DataValueField("Id")
                                   .Name("ddlGovAuthIds").HtmlAttributes(new { name = "GovAuthIdVerified" }).Filter(FilterType.Contains).Placeholder("-select-")
                    )
                    <span class="k-invalid-msg" data-for="GovAuthIdVerified"></span>
                </div>
            </div>

            <div class="form-group" id="dvShigniturePad" style="display:none">
                <div class="col-md-5 control-label">
                    <input type="button" class="k-button k-primary" value="Sign Form" id="btnACAOpenSignWindow" />
                </div>
                <div class="col-lg-7">
                    <img src="@Model.SignImageData" width="450" height="100"  style='border:solid 1px; border-color:#cccccc;' id="imgACAFormSignature" />
                    <input type="hidden" name="check-signiture" />
                </div>
            </div>
        </form>
    </div>
    <div class="row cm-bottom-right">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button" value="Previous" style="display:none" />
                <input type="button" class="k-button k-primary" value="Next" id="btnNextToDrivers" />
            </div>
        </div>
    </div>
</div>

<div>
    @(Html.Kendo().Window()
    .Name("wndCATestWindow")
    .Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Events(e => e.Close("closeUploader"))
    .Content(
    @<text>
        @Html.Partial("_DocumentUploaderContent", new MCH.Web.Models.Shared.DocumentUploaderModel()
   {
       FormName = "frmAcaShipperDocUploader"
   })
    </text>))

    @(Html.Kendo().Window().Name("wndCASigniture").Draggable(true).Visible(false).Title("Driver Signature").Width(620).Modal(true).Actions(a => a.Close())
    .Content(@<text> </text>)
    )
</div>

<script>
    $(document).ready(function () {
        window.ACAWizardCarrierShipper.init();
    })

    function openUploader(e) {

        window.ACAWizardCarrierShipper.setUploader(new DocumentUploader(
        {
            GridName: "gridShipperCarrierDocuments",
            WindowName: "wndCATestWindow",
            FormName: "frmAcaShipperDocUploader",
            Urls: {
                Cancel: "@Url.Action("CancelWizard", "CargoAcceptance")"
            }
        }));

        window.ACAWizardCarrierShipper.Uploader.init();

        //set the document time drop down list of the uploader
        window.ACAWizardCarrierShipper.Uploader.setDocumentTypes(window.ACAWizardCarrierShipper.FormControls.DocumentTypes().dataSource.data());

        window.ACAWizardCarrierShipper.Uploader.AddDocument();
    }

</script>
