﻿@model MCH.Web.Models.CargoAcceptance.ACADriverModel



<script>
    window.WizardDriverStep = new ACADriverController({
        SaveACADriver: "@Url.Action("AddDriver","Drivers")",
        SaveTruckingCompany: "@Url.Action("AddTruckingCompany", "Drivers")",
        GoToAWBs: "@Url.Action("SaveNextToAWB", "CargoAcceptance")",
        GetAWBView: "@Url.Action("GetAWBView","CargoAcceptance")",
        BackToShipper: "@Url.Action("GetCarrierShipperView", "CargoAcceptance")",
        GetDriverDetials: "@Url.Action("GetById", "Drivers")",
        Cancel: "@Url.Action("CancelWizard","CargoAcceptance")"
    });

</script>

<div class="container-fluid height100per paddingbottom30">
    <div class="row cm-accept-from-header row-cm-accept-from-header">
        @Html.Partial("_wizHeaderCargoAcceptance", Model)
    </div>
    <div class="row" id="wizardContainer" style="overflow:auto">
        <div class="col-md-6">
            <form class="col-md-12 form-horizontal form-widgets" id="frmACADriver">
                @Html.HiddenFor(m => m.ID, new { name = "ID" })
                <div class="form-group">
                    <label class="col-md-4 control-label required" id="">Driver Name : </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.DriverId).Name("ddlDrivers")
                            .DataSource(d => d.Read(r => r.Action("GetCarrierDrivers", "Common")))
                            .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "DriverId", style = "width:80%" })
                        )
                        <button type="button" class="k-button" title="Add Driver" id="btnACAAddDriver">
                            <span class="k-sprite k-icon k-add"></span>
                        </button>
                        <span class="k-invalid-msg" data-for="DriverId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label required" id="">Trucking Company : </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.TruckingCompId).Name("ddlTruckingCompany")
                                    .DataSource(d => d.Read(r => r.Action("GetDriverTruckingCompanies", "Common")))
                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "TruckingCompId", style = "width:80%" })
                        )
                        <button type="button" class="k-button" title="Add Trucking Company" id="btnACAAddTruckComp">
                            <span class="k-sprite k-icon k-add"></span>
                        </button>
                        <span class="k-invalid-msg" data-for="TrackingCompanyId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" id="">STA # : </label>
                    <div class="col-lg-8">
                        @(Html.TextBoxFor(m => m.STANumber, new { name = "STANumber", @class = "k-textbox", style = "width:100%", id = "txtACADriverSTA" }))
                        <span class="k-invalid-msg" data-for="STANumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" id="">Driver License: </label>
                    <div class="col-lg-8">
                        @(Html.TextBoxFor(m => m.DriverLicense, new { name = "DriverLicense", @class = "k-textbox", style = "width:100%", id = "txtACADriverLicense" }))
                        <span class="k-invalid-msg" data-for="DriverLicense"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" id="">State: </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.StateId).Name("ddlDriverState")
                                    .DataSource(d => d.Read(r => r.Action("GetStates", "Common")))
                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "StateId", style = "width:100%" })
                        )
                        <span class="k-invalid-msg" data-for="StateId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label required" id="">1st ID Type: </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.FirstIDTypeId).Name("ddlFirstIDTypes")
                                            .DataSource(d => d.Read(r => r.Action("GetGovCredentials", "Common")))
                                            .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "FirstIDTypeId", style = "width:100%" })
                        )
                        <span class="k-invalid-msg" data-for="FirstIDTypeId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" id="">1st Photo ID Matched: </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.FirstIDMatched).HtmlAttributes(new { id = "chbxFirstIDMatched", name = "FirstIDMatched", style = "width:125px" }).Placeholder("-select-").BindTo(new List<SelectListItem> { new SelectListItem { Text = "YES", Value = "True" }, new SelectListItem { Text = "NO", Value = "False" } }).DataTextField("Text").DataValueField("Value")
                        )
                        <span class="k-invalid-msg" data-for="FirstIDMatched"></span>
                    </div>
                </div>

                <div id="dvSecondIDType" style="display:none">
                    <div class="form-group">
                        <label class="col-md-4 control-label required" id="">2nd ID Type: </label>
                        <div class="col-lg-8">
                            @(Html.Kendo().ComboBoxFor(m => m.SecondIDTypeId).Name("ddlSecondIDTypeId")
                                    .DataSource(d => d.Read(r => r.Action("GetGovCredentials", "Common")))
                                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "SecondIDTypeId", style = "width:100%" })
                            )
                            <span class="k-invalid-msg" data-for="SecondIDTypeId"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" id="">2nd Photo ID Matched: </label>
                        <div class="col-lg-8">
                            <input type="hidden" name="checkSecondID" />
                            @(Html.Kendo().ComboBoxFor(m => m.SecondIDMatched).HtmlAttributes(new { id = "chbxSecondIDMatched", name = "SecondIDMatched", style = "width:125px" }).BindTo(new List<SelectListItem> { new SelectListItem { Text = "YES", Value = "True" }, new SelectListItem { Text = "NO", Value = "False" } }).Placeholder("-select-").DataTextField("Text").DataValueField("Value")
                            )
                            <span class="k-invalid-msg" data-for="checkSecondID"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">

            <div class="col-md-8">

                <div class="form-group">
                    <div class="col-lg-12">
                        <button class="col-md-12 k-button k-primary" id="btnAcaCaptureId">Capture Driver ID</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <img src="" class="op-img-viewable" style="border:solid, 1px; width:100%" id="imgAcaCaptureId" />
                        @Html.HiddenFor(m => m.CaptureID, new { id = "hdnAcaCaptureId" })
                        <span class="k-invalid-msg" data-for="StateId"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form class="col-md-12 form-horizontal form-widgets" id="frmACADriverPhotos">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="button" class="col-md-12 k-button k-primary" id="btnAcaCapturePhoto">Capture Photo</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <img src="" class="op-img-viewable" style="border:solid, 1px; width:100%" id="imgAcaCapturePhoto" />
                            @Html.TextBoxFor(m => m.CapturePhoto, new { id = "hdnAcaCapturePhoto", style="display:none" })
                            <span class="k-invalid-msg" data-for="StateId"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row cm-bottom-right">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button" value="Previous" id="btnGoBackToShipper" />
                <input type="button" class="k-button k-primary" value="Next" id="btnNextToAWBs" />
            </div>
        </div>
    </div>
</div>

<div>


    @(Html.Kendo().Window().Name("wndACADriverAdd").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div class="row">
            <form class="col-md-12 form-horizontal form-widgets" id="frmACADriverAdd">
                <div class="form-group">
                    <label class="col-md-5 control-label required" id="">Name : </label>
                    <div class="col-lg-7">
                        @(Html.TextBox("FullName", null, new { @class = "k-textbox", style = "width:100%", required = "required", name = "DriverName" }))
                        <span class="k-invalid-msg" data-for="FullName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" id="">STA # : </label>
                    <div class="col-lg-7">
                        @(Html.TextBox("STANumber", null, new { @class = "k-textbox", style = "width:100%", id = "txtACADriverSTA" }))
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" id="">License Number: </label>
                    <div class="col-lg-7">
                        @(Html.TextBox("DriverLicense", null, new { name = "DriverLicense", @class = "k-textbox", style = "width:100%" }))

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" id="">State: </label>
                    <div class="col-lg-7">
                        @(Html.Kendo().ComboBox().Name("frmDriverStateId")
                                    .DataSource(d => d.Read(r => r.Action("GetStates", "Common")))
                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "StateId", style = "width:100%" })
                        )
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-12 pull-right buttons-wrapp">
                <div class="pull-right">
                    <input type="button" class="k-button k-primary" value="Save" id="btnFromDriver" />
                    <input type="button" class="k-button op-window-close" value="Cancel" />
                </div>
            </div>
        </div>
    </text>).Title("New Driver"))

    @(Html.Kendo().Window().Name("wndACATruckingCompAdd").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div class="row">
            <form class="col-md-12 form-horizontal form-widgets" id="frmACATruckCompAdd">
                <div class="form-group">
                    <label class="col-md-6 control-label required" id="">Trucking Company Name : </label>
                    <div class="col-lg-6">
                        @(Html.TextBox("TruckingCompanyName", null, new { @class = "k-textbox", style = "width:100%" }))
                        <span class="k-invalid-msg" data-for="TruckingCompanyName"></span>
                    </div>
                </div>

            </form>
        </div>

        <div class="row">
            <div class="col-md-12 pull-right buttons-wrapp">
                <div class="pull-right">
                    <input type="button" class="k-button k-primary" value="Save" id="btnFromTruckingComp" />
                    <input type="button" class="k-button op-window-close" value="Cancel" />
                </div>
            </div>
        </div>
    </text>).Title("New Trucking Company"))
</div>

<script>
    $(document).ready(function () {
        window.WizardDriverStep.init();
    })
</script>




