﻿@model MCH.Web.Models.CargoAcceptance.AcaAwbModel

<script src="@Url.Content("~/Scripts/cargo-accept/aca-awb.js")"></script>
<script type="text/x-kendo-tmpl" id="awbListTemplate">
    <div class="awbListItem awb-list-item" data-item-id="#:Id#">
        <span class="cm-list-item-text justified">#:CarrierCode# - #:AwbSerialNumber#</span>
    </div>
</script>

<div class="container-fluid height100per">
    <div class="row cm-accept-from-header row-cm-accept-from-header">
        @Html.Partial("_wizHeaderCargoAcceptance", Model)
    </div>
    <div class="row cm-wizard-container cm-heightcalc100-95" id="wizardContainer" style="overflow:auto">

        <div class="col-lg-3 form-horizontal height100per">
            <div class="form-group margin0">
                <label class="col-md-12 text-left paddingBottom5 bolder control-label">Airwaybills List:</label>
            </div>

            @Html.HiddenFor(m => m.CurrentAwbId, new { id = "hdnAcaAwbCurrentId" })

            @(Html.Kendo().ListView<MCH.Web.Models.CargoAcceptance.AcaAwbDetialsModel>()
            .Name("lsvAcaAwbs")
            .BindTo(Model.Awbs)
            .ClientTemplateId("awbListTemplate").TagName("div")
                            .HtmlAttributes(new { @class = "k-list-container cm-list-view cm-heightcalc100-65" }).Selectable())


        </div>
        <div class="col-lg-9 height100per" id="dvAcaAwbDetailsContainer">

        </div>

    </div>
</div>

<script>
    window.AWBWizard = new AWBWizardStepController({
        Step: "@Model.ShipperManifestStatusId",
        Wizardid: "@Model.ID",
        Urls: {
            LoadAWBDetials: "@Url.Action("LoadAWBWizardStep", "CargoAcceptance")",
            Cancel : "@Url.Action("CancelWizard", "CargoAcceptance")"
        }
    });

    window.AWBWizard.init();
</script>