﻿@model MCH.Web.Models.Accept.AcceptAwbScreeningModel
@using MCH.Web.Utilities

<form class="form-horizontal" id="@Model.FormId" role="form">
    @Html.HiddenFor(m => m.AwbId, new  { name="AwbId"})
    @Html.HiddenFor(m => m.ParentTaskId, new { name = "ParentTaskId" })
    <div class="form-group">
        <div class="col-sm-3">
            <label for="inputEmail3" class="control-label">Screened ? </label>
        </div>
        <div class="col-sm-9" style="padding:0px;display:inline-flex">
            <input type="radio" name="Screened" value="false"> <span style="margin-right:20px">Not Screened</span>
            <input type="radio" name="Screened" value="true" checked="checked"/><span>Screened</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="inputPassword3" class="control-label">CCSF#  :</label>
        </div>
        <div class="col-sm-9" style="padding:0px">
            @Html.DropDownList("CSSFId", UIDataHelper.GetCCSF(Model.CSSFId, null, null), new { style = "width:100%;margin-right: 10px", @class = "form-control", name = "CSSFId" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="inputPassword3" class="control-label">Seal Type :</label>
        </div>
        <div class="col-sm-9" style="padding:0px">
            @Html.DropDownList("SealType", UIDataHelper.GetSealTypes(Model.SealType, null, null), new { style = "width:100%;margin-right: 10px", @class = "form-control", name = "SealType" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="inputEmail3" class="control-label">Seal Number : </label>
        </div>
        <div class="col-sm-9" style="padding:0px;">
            <input type="text" class="form-control" style="width:100%" name="SealNumber" value="@Model.SealNumber" /> 
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="inputPassword3" class="control-label">Screening Method :</label>
        </div>
        <div class="col-sm-9" style="padding:0px">
            @Html.DropDownList("ScreeingMethodId", UIDataHelper.GetScreeningMethods(Model.ScreeingMethodId, null, null), new { style = "width:100%;margin-right: 10px", @class = "form-control", name = "ScreeingMethodId" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="inputEmail3" class="control-label">Remarks : </label>
        </div>
        <div class="col-sm-9" style="padding:0px;">
            <textarea style="width:100%" value="@Model.Remarks" name="Remarks" />
        </div>
    </div>
    
</form>