﻿@model MCH.Web.Models.Accept.AcceptAwbAttributeModel
@using MCH.Web.Utilities

<form class="form-horizontal" id="@Model.FormId" role="form">
    @Html.HiddenFor(m => m.AwbId, new { name = "AwbId" })
    @Html.HiddenFor(m => m.ParentTaskId, new { name = "ParentTaskId" })

    <div class="form-group">
        <div class="col-sm-3">
            <label for="inputPassword3" class="control-label">Attribute :</label>
        </div>
        <div class="col-sm-9" style="padding:0px">
            @Html.DropDownList("AttributeId", UIDataHelper.GetAttributeTypes(Model.AttributeId, null, null), new { style = "width:100%;margin-right: 10px", @class = "form-control", name = "AttributeId", id = "slcAttributeType_" + Model.FormId })
        </div>
    </div>

    <div id="dvHazGroup_@Model.FormId" data-attr-type="HAZMAT" class="cm-attribute-item-group">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="UNNumber" class="control-label">UN Number :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
              <input type="text" class="form-control" name="UNNumber"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="UNClassId" class="control-label">UN CLASS :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                @Html.DropDownList("UNClassId", UIDataHelper.GetUNClasses(null, null, null), new { style = "width:100%;margin-right: 10px", @class = "form-control", name = "UNClassId" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="UNShippingGame" class="control-label">UN Shipping Name :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="UNShippingGame" />
            </div>
        </div>
    </div>
    <div id="dvPerGroup_@Model.FormId" data-attr-type="PERISHABLES" class="cm-attribute-item-group" style="display:none">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="TempFrom" class="control-label">Temp. From :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="TempFrom" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="TempTo" class="control-label">Temp. To :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="TempTo" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="TempDegree" class="control-label">Degree :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <select class="form-control" style="width:100%;margin-right: 10px" name="TempDegree">
                    <option value="F">&deg F</option>
                    <option value="C">&deg C</option>
                </select>
            </div>
        </div>
    </div>
    <div id="dvDryIceGroup_@Model.FormId" data-attr-type="DRY ICE" class="cm-attribute-item-group" style="display:none">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="Quantity" class="control-label">Quantity :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="number" class="form-control" name="Quantity" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="Unit" class="control-label">Unit :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <select class="form-control" style="width:100%;margin-right: 10px" name="Unit">
                    <option value="lbs">lbs</option>
                    <option value="kg">kg</option>
                </select>
            </div>
        </div>
    </div>
    <div id="dvEngGroup_@Model.FormId" data-attr-type="ENGINE" class="cm-attribute-item-group" style="display:none">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="SerialNumber" class="control-label">Serial Number :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="SerialNumber" />
            </div>
        </div>
    </div>

    <div id="dvVehicleGroup_@Model.FormId" data-attr-type="VEHICLE" class="cm-attribute-item-group" style="display:none">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="Vin" class="control-label">VIN :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="Vin" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="State" class="control-label">State :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                @Html.DropDownList("StateId", UIDataHelper.GetStates(null, null, null), new { style = "width:100%;margin-right: 10px", @class = "form-control", name = "StateId" })
            </div>
        </div>
    </div>
    <div id="dvLicenseGroup_@Model.FormId" data-attr-type="LICENSE" class="cm-attribute-item-group" style="display:none">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="NoEEI" class="control-label">No EEI :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="NoEEI" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="AES" class="control-label">AES :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="AES" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="ITN" class="control-label">ITN :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="ITN" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="AESPost" class="control-label">AES POST :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" name="AESPost" />
            </div>
        </div>
    </div>
    <div id="dvOtherGroup_@Model.FormId" data-attr-type="OTHER HANDLING" class="cm-attribute-item-group" style="display:none">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="Code" class="control-label">CODE :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                @Html.DropDownList("HandlingCodeId", UIDataHelper.GetSpecialHandlingCodes(null, null, null), new { style = "width:100%;margin-right: 10px", @class = "form-control", name = "HandlingCodeId" })
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">
    $(function () {
        var toggleAttributeTypeItems = function (attrType)
        {
            var currentForm = $("#@Model.FormId");

            $('.cm-attribute-item-group').hide();

            $('.cm-attribute-item-group[data-attr-type="' + attrType + '"]').show();
        }

        $("#slcAttributeType_@Model.FormId").on('change', function () {
            var selectedAttribute = $(this).find("option:selected").text();

            toggleAttributeTypeItems(selectedAttribute);
        })
    })
</script>