<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@drawable/ContentBackground">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/HeaderBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Back"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/BackButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Clock"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/HeaderImage" />
            <TextView
                android:text="@string/app_name"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/HeaderText"
                android:gravity="center_vertical"
                style="@style/windowHeaderTextStyle" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/OptionButton"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/OptionButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="110dp"
        android:background="@drawable/CustomSelector">
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="102dp"
            android:layout_height="102dp"
            android:id="@+id/linearLayout1"
            android:background="#CCCCCC"
            android:layout_margin="4dp">
            <ImageView
                android:src="@drawable/person"
                android:id="@+id/personImage"
                android:layout_width="94dp"
                android:layout_margin="4dp"
                android:layout_height="94dp" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:gravity="left"
            android:layout_width="1dip"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <TextView
                android:text="Name Here"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtName"
                android:gravity="center_vertical"
                style="@style/windowItemHeaderTextStyle"
                android:layout_marginTop="0dp" />
            <TextView
                android:text="Company"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtCompany"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Counts"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtCounts"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Locations"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtLocations"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Date"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtDate"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Shipper"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtShipper"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle"
                android:textStyle="bold" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="60dp"
            android:layout_height="90dp"
            android:id="@+id/linearLayout1"
            android:layout_margin="0dp"
            android:gravity="right">
            <ImageView
                android:layout_width="60dp"
                android:layout_height="50dp"
                android:id="@+id/airlineImage"
                android:src="@drawable/Airline"
                android:layout_marginTop="1dp"
                android:layout_marginRight="1dp" />
            <TextView
                android:text="60%"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtProgress"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle"
                android:layout_marginRight="5dp" />
            <ProgressBar
                android:id="@+id/progressBar"
                style="?android:attr/progressBarStyleHorizontal"
                android:layout_width="match_parent"
                android:layout_height="20dp"
                android:layout_centerInParent="true"
                android:indeterminate="false"
                android:max="100"
                android:progress="50"
                android:layout_marginRight="5dp" />
        </LinearLayout>
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
    <RelativeLayout
        android:background="@drawable/SplashBackground"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:orientation="vertical"
            android:layout_marginRight="25dp"
            android:layout_marginLeft="25dp">
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:gravity="left"
                android:layout_marginTop="0dp">
                <TextView
                    android:text="Screening"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="5dp"
                    android:layout_marginBottom="5dp"
                    android:textSize="20dp" />
            </LinearLayout>
            <TextView
                android:text="Seal Type:"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:gravity="center_vertical"
                style="@style/windowItemHeaderTextStyle"
                android:layout_marginTop="25dp" />
            <Spinner
                android:id="@+id/txtSealType"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:prompt="@drawable/Back" />
            <TextView
                android:text="Seal Number:"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:gravity="center_vertical"
                style="@style/windowItemHeaderTextStyle"
                android:layout_marginTop="25dp" />
            <EditText
                android:inputType="text"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/txtSealNumber"
                android:hint="Enter Seal number..."
                android:password="false"
                android:textSize="14dp" />
            <Button
                android:id="@+id/btnNext"
                android:layout_width="match_parent"
                android:layout_height="60dp"
                android:layout_marginTop="25dp"
                android:background="@drawable/SquareButton"
                android:text="Next"
                style="@style/windowButtonStyle" />
        </LinearLayout>
    </RelativeLayout>
</LinearLayout>