<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/CustomSelector">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="40dip"
        android:layout_height="40dip"
        android:gravity="center_vertical"
        android:minWidth="25px"
        android:minHeight="25px">
        <ImageView
            android:id="@+id/RowIcon"
            android:layout_width="38dp"
            android:layout_height="38dp"
            android:padding="5dp"
            android:src="@drawable/shipment"
            android:layout_alignParentRight="true" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:gravity="left"
        android:layout_width="1dip"
        android:layout_height="wrap_content"
        android:layout_weight="1"
        android:minWidth="25px"
        android:minHeight="25px">
        <TextView
            android:text="Awb: 000000000"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/txtAwb"
            android:gravity="center_vertical"
            style="@style/windowItemHeaderTextStyle"
            android:layout_marginTop="0dp" />
        <TextView
            android:text="Pcs: 0 of 0"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/txtPieces"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
        <TextView
            android:text="Loc: Door 1"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/txtLocations"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
        <LinearLayout
            android:id="@+id/Indicator"
            android:orientation="horizontal"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:gravity="center_vertical"
            android:minWidth="45px"
            android:minHeight="45px"
            android:layout_marginBottom="2dp" />
    </LinearLayout>
</LinearLayout>