<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/CustomNoSelector">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_vertical"
        android:minWidth="25px"
        android:minHeight="25px">
        <TextView
            android:text="1. Question here."
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/txtQuestion"
            android:gravity="center_vertical"
            style="@style/windowItemHeaderTextStyle"
            android:layout_marginLeft="20dp"
            android:layout_marginTop="5dp" />
    </LinearLayout>
    <LinearLayout
        android:id="@+id/panelButtons"
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:minWidth="25px"
        android:minHeight="25px">
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="left"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/linearLayout1"
            android:layout_marginLeft="20dp">
            <Button
                android:drawableLeft="@drawable/NotValidatedWhite"
                android:id="@+id/btnYes"
                android:layout_width="wrap_content"
                android:layout_height="60dp"
                android:layout_below="@id/sealnumber"
                android:background="@drawable/SquareButton"
                android:text="@string/Yes"
                style="@style/windowButtonStyle"
                android:layout_marginTop="5dp"
                android:layout_marginBottom="5dp"
                android:layout_marginLeft="5dp" />
            <Button
                android:drawableLeft="@drawable/NotValidatedWhite"
                android:id="@+id/btnNo"
                android:layout_width="wrap_content"
                android:layout_height="60dp"
                android:layout_below="@id/sealnumber"
                android:background="@drawable/SquareButton"
                android:text="@string/No"
                style="@style/windowButtonStyle"
                android:layout_marginTop="5dp"
                android:layout_marginBottom="5dp"
                android:layout_marginLeft="5dp" />
            <Button
                android:drawableLeft="@drawable/validatewhite"
                android:id="@+id/btnNA"
                android:layout_width="wrap_content"
                android:layout_height="60dp"
                android:layout_below="@id/sealnumber"
                android:background="@drawable/SquareButton"
                android:text="@string/NA"
                style="@style/windowButtonStyle"
                android:layout_marginTop="5dp"
                android:layout_marginBottom="5dp"
                android:layout_marginLeft="5dp" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:id="@+id/panelComments"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_vertical"
        android:minWidth="25px"
        android:minHeight="25px">
        <TextView
            android:text="Comment:"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/txtComments"
            android:gravity="center_vertical"
            style="@style/windowItemHeaderTextStyle"
            android:layout_marginLeft="20dp"
            android:layout_marginRight="5dp"
            android:layout_marginBottom="5dp"
            android:textStyle="italic" />
    </LinearLayout>
</LinearLayout>