<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="#ffffff">
    <LinearLayout
        android:id="@+id/Header"
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/HeaderBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Back"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/BackButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Clock"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/HeaderImage" />
            <TextView
                android:text="@string/app_name"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/HeaderText"
                android:gravity="center_vertical"
                style="@style/windowHeaderTextStyle"
                android:textAlignment="center" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/OptionButton"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/OptionButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:background="@drawable/LayoutSimpleBorder"
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="0dp"
        android:layout_marginLeft="5dp"
        android:layout_marginRight="5dp"
        android:layout_marginTop="5dp"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_weight="1">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:minWidth="25px"
            android:minHeight="25px"
            android:background="@drawable/LayoutSimpleTop"
            android:id="@+id/linearLayout5">
            <TextView
                android:text="LOCATION: N/A"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/txtLocation"
                android:gravity="left"
                style="@style/windowItemHeaderTextStyle"
                android:layout_marginTop="5dp"
                android:layout_marginLeft="5dp"
                android:layout_marginBottom="5dp"
                android:textSize="20dp"
                android:textColor="#ffffffff" />
        </LinearLayout>
        <RelativeLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="0dp"
            android:layout_weight="1"
            android:id="@+id/relativeLayout1"
            android:layout_marginLeft="5dp"
            android:layout_marginTop="5dp"
            android:layout_marginRight="5dp"
            android:layout_marginBottom="5dp"
            android:background="#ffffffff">
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:layout_centerInParent="true"
                android:orientation="vertical"
                android:layout_marginRight="10dp"
                android:layout_marginLeft="10dp"
                android:id="@+id/linearLayout4">
                <LinearLayout
                    android:layout_width="fill_parent"
                    android:layout_height="wrap_content"
                    android:orientation="horizontal"
                    android:gravity="center"
                    android:id="@+id/linearLayout5"
                    android:layout_marginBottom="25dp"
                    android:minWidth="25px"
                    android:minHeight="25px">
                    <TextView
                        android:text="Inventory"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:id="@+id/txtMessage"
                        android:textAlignment="center"
                        android:layout_gravity="center"
                        style="@style/windowTitleTextStyle"
                        android:textSize="16dp"
                        android:visibility="invisible" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="fill_parent"
                    android:layout_height="40dp"
                    android:id="@+id/linearLayout1">
                    <EditText
                        android:inputType="text"
                        android:layout_width="1dip"
                        android:layout_height="match_parent"
                        android:layout_weight="1"
                        android:id="@+id/txtBarcode"
                        android:hint="ENTER OR SCAN BARCODE"
                        android:password="false"
                        android:textSize="14dp"
                        android:background="@drawable/Edit_Text_Style" />
                    <LinearLayout
                        android:orientation="vertical"
                        android:layout_width="40dip"
                        android:layout_height="40dip"
                        android:gravity="center_vertical"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:id="@+id/linearLayout6">
                        <ImageButton
                            android:layout_width="match_parent"
                            android:layout_height="wrap_content"
                            android:id="@+id/btnClear"
                            android:background="@drawable/Cancel"
                            android:visibility="visible" />
                    </LinearLayout>
                </LinearLayout>
                <LinearLayout
                    android:layout_width="fill_parent"
                    android:layout_height="match_parent"
                    android:orientation="horizontal"
                    android:gravity="center"
                    android:id="@+id/linearLayout7"
                    android:layout_marginTop="25dp"
                    android:minWidth="25px"
                    android:minHeight="25px">
                    <TableLayout
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/tb">
                        <TableRow
                            android:id="@+id/tableRow1">
                            <TextView
                                android:text="LAST SCAN:"
                                android:textAppearance="?android:attr/textAppearanceLarge"
                                android:gravity="right"
                                style="@style/windowTitleTextStyle"
                                android:textSize="16dp"
                                android:layout_column="0"
                                android:id="@+id/lblShipment"
                                android:layout_width="wrap_content"
                                android:textColor="#ff022bf4" />
                            <TextView
                                android:text="1234567890"
                                android:textAppearance="?android:attr/textAppearanceLarge"
                                android:id="@+id/txtShipment"
                                android:gravity="center_vertical"
                                style="@style/windowTitleTextStyle"
                                android:textSize="16dp"
                                android:layout_column="1"
                                android:layout_marginLeft="5dp"
                                android:textColor="#ff022bf4" />
                        </TableRow>
                        <TableRow
                            android:id="@+id/tableRow2">
                            <TextView
                                android:text="PIECES:"
                                android:textAppearance="?android:attr/textAppearanceLarge"
                                android:gravity="right"
                                style="@style/windowTitleTextStyle"
                                android:textSize="16dp"
                                android:id="@+id/lblPieces"
                                android:layout_column="0"
                                android:layout_width="wrap_content"
                                android:textColor="#ff022bf4" />
                            <TextView
                                android:text="99"
                                android:textAppearance="?android:attr/textAppearanceLarge"
                                android:id="@+id/txtPieces"
                                android:gravity="center_vertical"
                                style="@style/windowTitleTextStyle"
                                android:textSize="16dp"
                                android:layout_column="1"
                                android:layout_marginLeft="5dp"
                                android:textColor="#ff022bf4" />
                        </TableRow>
                    </TableLayout>
                </LinearLayout>
            </LinearLayout>
        </RelativeLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="64dp"
        android:id="@+id/linearLayout3"
        android:minWidth="25px"
        android:minHeight="25px"
        android:gravity="center"
        android:background="@drawable/SplashBackground">
        <Button
            android:id="@+id/btnEmpty"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:layout_below="@id/btnVerifySeal"
            android:background="@drawable/SquareButton"
            android:text="REPORT AS EMPTY"
            style="@style/windowButtonStyle"
            android:layout_marginTop="2dp"
            android:layout_marginRight="5dp"
            android:layout_marginBottom="2dp" />
        <Button
            android:id="@+id/btnLocation"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:layout_below="@id/btnVerifySeal"
            android:background="@drawable/SquareButton"
            android:text="CHANGE LOCATION"
            style="@style/windowButtonStyle"
            android:layout_marginTop="2dp"
            android:layout_marginBottom="2dp" />
    </LinearLayout>
</LinearLayout>