<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/CustomSelector">
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1"
        android:layout_margin="0dp"
        android:gravity="right">
        <ImageView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/SelectionIcon"
            android:src="@drawable/location" />
    </LinearLayout>
    <TextView
        android:orientation="vertical"
        android:gravity="center_vertical"
        android:layout_width="1dp"
        android:layout_height="match_parent"
        android:layout_weight="1"
        android:text="LOC"
        android:id="@+id/txtLocation"
        style="@style/windowItemHeaderTextStyle" />
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/linearLayout1"
        android:layout_margin="0dp"
        android:gravity="center_vertical">
        <TextView
            android:text="Pcs: 0 of 0"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="100dp"
            android:layout_height="wrap_content"
            android:gravity="left"
            android:id="@+id/txtPieces"
            style="@style/windowItemTextStyle"
            android:layout_marginRight="20dp" />
    </LinearLayout>
</LinearLayout>