<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <RelativeLayout
        android:background="@drawable/SplashBackground"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:orientation="vertical"
            android:layout_marginRight="25dp"
            android:layout_marginLeft="25dp">
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:gravity="left"
                android:layout_marginTop="0dp">
                <TextView
                    android:text="Reference: 000-0000000"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/lblReference"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="20dp"
                    android:textSize="16dp" />
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:id="@+id/linearLayout1">
                <TextView
                    android:text="Printer: LP1"
                    android:layout_width="1dip"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:id="@+id/lblPrinter"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:textSize="16dp" />
                <Button
                    android:id="@+id/options"
                    android:layout_width="40dp"
                    android:layout_height="40dp"
                    android:layout_marginTop="5dp"
                    android:background="@drawable/SquareButton"
                    android:text="..."
                    style="@style/windowButtonStyle" />
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayout1"
                android:minWidth="25px"
                android:minHeight="25px">
                <TextView
                    android:text="Pieces:"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:id="@+id/lblPrinter"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:textSize="16dp" />
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayout1">
                <EditText
                    android:inputType="number"
                    android:layout_width="1dip"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:id="@+id/txtPieces"
                    android:hint="@string/Enter_number_of_pieces"
                    android:password="false"
                    android:textSize="14dp" />
            </LinearLayout>
            <Button
                android:id="@+id/ok"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:layout_below="@id/barcode"
                android:layout_marginTop="20dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Ok"
                style="@style/windowButtonStyle" />
            <Button
                android:id="@+id/cancel"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:layout_below="@id/ok"
                android:layout_marginTop="5dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Close"
                style="@style/windowButtonStyle"
                android:layout_marginBottom="25dp" />
        </LinearLayout>
    </RelativeLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
</LinearLayout>