<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/CustomSelector">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="40dip"
        android:layout_height="40dip"
        android:gravity="center_vertical"
        android:minWidth="25px"
        android:minHeight="25px">
        <ImageView
            android:id="@+id/RowIcon"
            android:layout_width="38dp"
            android:layout_height="38dp"
            android:padding="5dp"
            android:src="@drawable/Pending"
            android:layout_alignParentRight="true" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:gravity="left"
        android:layout_width="1dip"
        android:layout_height="wrap_content"
        android:layout_weight="1"
        android:minWidth="25px"
        android:minHeight="25px">
        <TextView
            android:text="LOOSE"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/txtUld"
            android:gravity="center_vertical"
            style="@style/windowItemHeaderTextStyle"
            android:layout_marginTop="0dp" />
        <TextView
            android:text="Pcs: 0 of 0"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/txtPieces"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
        <TextView
            android:text="Loc: Door 1"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/txtLocation"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
        <LinearLayout
            android:id="@+id/Indicator"
            android:orientation="horizontal"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:gravity="center_vertical"
            android:minWidth="45px"
            android:minHeight="45px"
            android:layout_marginBottom="2dp" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1"
        android:layout_margin="0dp"
        android:gravity="right">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/btnBup"
            android:background="@drawable/SquareButton"
            android:layout_marginTop="5dp"
            android:layout_marginLeft="5dp"
            android:layout_marginRight="5dp"
            android:clickable="true"
            android:layout_marginBottom="1dp">
            <ImageView
                android:src="@drawable/NotValidatedWhite"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:layout_gravity="center_vertical"
                android:id="@+id/imgBup"
                android:scaleType="fitCenter"
                android:adjustViewBounds="false" />
            <TextView
                android:text="BUP"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtBup"
                android:layout_gravity="center_vertical"
                android:layout_marginRight="5dp"
                style="@style/windowButtonStyle" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>