<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@drawable/ContentBackground">
    <LinearLayout
        android:id="@+id/Header"
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/HeaderBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Back"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/BackButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Clock"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/HeaderImage" />
            <TextView
                android:text="@string/app_name"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/HeaderText"
                android:gravity="center_vertical"
                style="@style/windowHeaderTextStyle" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/OptionButton"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/OptionButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
    </LinearLayout>
    <RelativeLayout
        android:background="@drawable/SplashBackground"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:orientation="vertical"
            android:layout_marginRight="25dp"
            android:layout_marginLeft="25dp">
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:gravity="center"
                android:layout_marginBottom="40dp">
                <TextView
                    android:text="Flight#: AA0000"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/Flight"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle" />
            </LinearLayout>
            <Button
                android:drawableLeft="@drawable/NotValidatedWhite"
                android:id="@+id/CustomsButton"
                android:layout_width="match_parent"
                android:layout_height="60dp"
                android:layout_below="@id/sealnumber"
                android:background="@drawable/SquareButton"
                android:text="@string/RecoverFlight_Customs"
                style="@style/windowButtonStyle"
                android:layout_marginBottom="40dp" />
            <Button
                android:drawableLeft="@drawable/NotValidatedWhite"
                android:id="@+id/RecoverButton"
                android:layout_width="match_parent"
                android:layout_height="60dp"
                android:layout_below="@id/validateseal"
                android:background="@drawable/SquareButton"
                android:text="@string/RecoverFlight_Recover"
                style="@style/windowButtonStyle"
                android:layout_marginBottom="40dp" />
            <Button
                android:drawableLeft="@drawable/NotValidatedWhite"
                android:id="@+id/CheckInButton"
                android:layout_width="match_parent"
                android:layout_height="60dp"
                android:layout_below="@id/validateseal"
                android:background="@drawable/SquareButton"
                android:text="@string/RecoverFlight_CheckIn"
                style="@style/windowButtonStyle" />
        </LinearLayout>
    </RelativeLayout>
</LinearLayout>