<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="90dp"
    android:background="@drawable/CustomSelector">
    <LinearLayout
        android:orientation="vertical"
        android:gravity="left"
        android:layout_width="1dip"
        android:layout_height="90dp"
        android:layout_weight="1"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_marginLeft="5dp">
        <TextView
            android:text="Flight: AA000"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/Flight"
            android:gravity="center_vertical"
            style="@style/windowItemHeaderTextStyle"
            android:layout_marginTop="0dp" />
        <TextView
            android:text="ETA: 2015-01-01 10:00"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/Eta"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
        <TextView
            android:text="Reference #: 2015-1"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/Reference"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
        <TextView
            android:text="Ulds: 0 Pcs: 0"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/Counters"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
        <TextView
            android:text="Status: "
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/StatusDescription"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle" />
    </LinearLayout>
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="60dp"
        android:layout_height="90dp"
        android:id="@+id/linearLayout1"
        android:layout_margin="0dp"
        android:gravity="right">
        <ImageView
            android:layout_width="38dp"
            android:layout_height="38dp"
            android:id="@+id/Status"
            android:src="@drawable/InProgress"
            android:layout_marginTop="1dp"
            android:layout_marginRight="1dp"
            android:scaleType="fitCenter" />
        <TextView
            android:text="60%"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/Progress"
            android:gravity="center_vertical"
            style="@style/windowItemTextStyle"
            android:layout_marginRight="5dp" />
        <ProgressBar
            android:id="@+id/ProgressBar"
            style="?android:attr/progressBarStyleHorizontal"
            android:layout_width="match_parent"
            android:layout_height="20dp"
            android:layout_centerInParent="true"
            android:indeterminate="false"
            android:max="100"
            android:progress="50"
            android:layout_marginRight="5dp" />
    </LinearLayout>
</LinearLayout>