<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@drawable/ContentBackground">
    <LinearLayout
        android:id="@+id/Header"
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/HeaderBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Back"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/BackButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Clock"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/HeaderImage" />
            <TextView
                android:text="@string/app_name"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/HeaderText"
                android:gravity="center_vertical"
                style="@style/windowHeaderTextStyle" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/OptionButton"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/OptionButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:background="@drawable/CustomSelector">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:id="@+id/RowIcon"
                android:layout_width="38dp"
                android:layout_height="38dp"
                android:padding="5dp"
                android:src="@drawable/Pending"
                android:layout_alignParentRight="true" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:gravity="left"
            android:layout_width="1dip"
            android:layout_height="wrap_content"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <TextView
                android:text="Flight Number"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtFlight"
                android:gravity="center_vertical"
                style="@style/windowItemHeaderTextStyle"
                android:layout_marginTop="0dp" />
            <TextView
                android:text="ETA: "
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtETA"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Awbs: 0 of 0"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtAwbs"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Ulds: 0 of 0"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtUlds"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Pcs: 0 of 0"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtPcs"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="Recovered:"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtRecover"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <TextView
                android:text="By:"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/txtRecoverBy"
                android:gravity="center_vertical"
                style="@style/windowItemTextStyle" />
            <LinearLayout
                android:id="@+id/Indicator"
                android:orientation="horizontal"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:gravity="center_vertical"
                android:minWidth="45px"
                android:minHeight="45px"
                android:layout_marginBottom="2dp" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="60dp"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout1"
            android:layout_margin="0dp"
            android:gravity="right">
            <ImageView
                android:layout_width="60dp"
                android:layout_height="50dp"
                android:id="@+id/airlineImage"
                android:src="@drawable/Airline"
                android:layout_marginTop="1dp"
                android:layout_marginRight="1dp" />
        </LinearLayout>
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="1dp"
        style="@style/windowDarkLineBackgroundStyle" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="#ffffff">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/SearchButton"
                android:background="@drawable/Search" />
        </LinearLayout>
        <LinearLayout
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:orientation="horizontal"
            android:gravity="left"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <EditText
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/SearchText"
                android:hint="@string/Find"
                android:visibility="visible"
                android:inputType="text" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/ClearSearchButton"
                android:background="@drawable/Cancel"
                android:visibility="visible" />
        </LinearLayout>
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
    <ListView
        android:background="#ffffffff"
        android:id="@+id/GridControl"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1" />
</LinearLayout>