﻿<script type="text/javascript" src="@Url.Content("~/Scripts/track-and-trace/track-and-trace.js")"></script>

<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic cm-white-content">

        @(Html.Kendo().Grid<MCH.Web.Models.TrackGridRow>()
        .Name("gridTrackList")
                .Columns(c =>
                {
                    c.Bound(o => o.EntityId).Hidden(true);
                    c.Bound(o => o.EntityTypeId).Hidden(true);
                    c.Bound(o => o.FlightDate).Format("{0:MM/dd/yyyy}").Hidden(true);
                    

                    c.Bound(o => o.AirlineCode).Title("Airline").Width(100);
                    c.Bound(o => o.AWB).Title("AWB");
                    c.Bound(o => o.HWB).Title("HWB").Hidden(true);
                    c.Bound(o => o.ULD).Title("ULD").Hidden(true);
                    c.Bound(o => o.Origin).Title("Origin").Width(100);
                    c.Bound(o => o.Destination).Title("Destination").Width(100);
                    c.Bound(o => o.Description).Title("Description").Width(200);

                    c.Bound(o => o.IsBUP).Title("BUP").Width(100).Hidden(true);
                    c.Bound(o => o.IsTrasfer).Title("Transfer").Width(100).Hidden(true);
                    
                    c.Bound(o => o.Pieces).Width(100);
                    c.Bound(o => o.TotalULDs).Title("ULDs").Hidden(true);
                    c.Bound(o => o.TotalAWBs).Title("AWBs").Hidden(true);
                    c.Bound(o => o.Weight).ClientTemplate("#=Weight != null ? Weight:''# #=WeightUOM != null ? WeightUOM : ''#")
                       .Width(90);
                    c.Bound(o => o.Location).Title("Location").Width(100);
                    c.Bound(o => o.Status).Title("Status").Width(150).ClientTemplate("#=Status != null ? Status:''# #=StatusTime != null ? window.gridCellDateTimeFormat(StatusTime) : ''#");
                    
                    c.Bound(o => o.FlightNumber).Title("Flight").Width(100);
                    c.Bound(o => o.ETD).Format("{0:MM/dd/yyyy}").Width(100);
                    c.Bound(o => o.ETA).Format("{0:MM/dd/yyyy}").Width(100);
                }
        )
                //.Events(e => e.DataBound("taskManagerGridReady"))
        .DataSource(e => e.Ajax()
                                    .Read(r => r.Action("TrackListDatasource", "TrackAndTrace").Data("window._track.events.beforeGridRead"))
                    .PageSize(20)
                    )
                    .Filterable()
                    .Sortable()
                    .Selectable(s => s.Mode(GridSelectionMode.Single))
                    .Scrollable()
                    .Pageable()
                    .Resizable(r => r.Columns(true))
                            .ToolBar(t =>
                            {
                                t.Template(@Html.Partial("_TrackListToolbar").ToHtmlString());
                            }).HtmlAttributes(new { style = "height:100%;" })

        )
    </div>
</div>
<div id="dvTrackWindow">
    @(Html.Kendo().Window()
    .Name("wndTrack1")
    .Draggable(true)
    .Visible(false)
    .Modal(true))

    @(Html.Kendo().Window()
    .Name("wndTMTrackViewer")
    .Actions(a => a.Minimize().Maximize().Close())
    .Draggable(true)
    .Visible(false)
    .Resizable()
    .Modal(true))
</div>
<script>
    _track.init({
        element: {
            'grid': [
               { id: 'gridTrackList' }
            ],
            'ddl': [
                { id: 'ddlTrackFilter', }
            ],
            'dpr': [
                { id: 'dprFilterFlightDate', }
            ],
            'txt': [
                { id: 'txtFilterCarrier' },
                { id: 'txtFilterAWB' },
                { id: 'txtFilterHWB' },
                { id: 'txtFilterAirlineCode' },
                { id: 'txtFlightNumber' },
                { id: 'txtFilterOrigin' },
                { id: 'txtFilterDestination' },
                { id: 'txtFilterULD' }
            ],
            'dv': [
                { id: 'dvFilterAWB' },
                { id: 'dvFilterHWB' },
                { id: 'dvFilterFlight' },
                { id: 'dvFilterULD' }
            ],
            'btn': [
                { id: 'btnTrackFilter' },
                { id: 'btnTrackReset' }
            ],
            'wnd': [
                { id: 'wndTMTrackViewer' },
            ]
        },
        filter: {
            logic: 'and',
            fields: {
                'AWB': {
                    txtFilterCarrier: { field: 'Carrier', op: 'contains', el: 'txt' },
                    txtFilterAWB: { field: 'AWB', op: 'contains', el: 'txt' },
                },
                'HWB': {
                    txtFilterHWB: { field: 'HWB', op: 'contains', el: 'txt' },
                },
                'FLIGHT': {
                    txtFilterAirlineCode: { field: 'AirlineCode', op: 'contains', el: 'txt' },
                    txtFlightNumber: { field: 'FlightNumber', op: 'contains', el: 'txt' },
                    dprFilterFlightDate: { field: 'FlightDate', op: '>=', el: 'dpr' },
                    txtFilterOrigin: { field: 'FlightOrigin', op: 'contains', el: 'txt' },
                    txtFilterDestination: { field: 'Destination', op: 'contains', el: 'txt' },
                },
                'ULD': {
                    txtFilterULD: { field: 'ULD', op: 'contains', el: 'txt' }
                },
            }
        },
        url: {
            GetEntityViewerByType: '@Url.Action("GetEntityViewerByType", "EntityViewers")',
        }
    });
</script>
