﻿<div class="row col-lg-12" id="dvFilterAWB" style="display:block">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="txtFilterCarrier" class="col-lg-2 control-label">Carrier:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterCarrier", string.Empty, new
                {
                    id = "txtFilterCarrier",
                    @class = "form-control k-textbox",
                    placeholder = "Carrier",
                    maxlength = 100,
                    required = "",
                    data_required_msg = "Carrier is required"
                })
                <span class="k-invalid-msg" data-for="txtFilterCarrier"></span>
            </div>
        
            <label for="txtFilterAWB" class="col-lg-2 control-label">AWB:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterAWB", string.Empty, new
                {
                    id = "txtFilterAWB",
                    @class = "form-control k-textbox",
                    placeholder = "AWB",
                    maxlength = 100,
                    required = "",
                    data_required_msg = "AWB is required"
                })
                <span class="k-invalid-msg" data-for="txtFilterAWB"></span>
            </div>
        </div>
    </div>
</div>

<div class="row col-lg-12" id="dvFilterHWB" style="display:none">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="txtFilterHWB" class="col-lg-2 control-label">HWB:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterHWB", string.Empty, new
                {
                    id = "txtFilterHWB",
                    @class = "form-control k-textbox",
                    placeholder = "HWB",
                    maxlength = 100,
                    required = "",
                    data_required_msg = "HWB is required"
                })
                <span class="k-invalid-msg" data-for="txtFilterHWB"></span>
            </div>
        </div>
    </div>
</div>

<div class="row col-lg-12" id="dvFilterFlight" style="display:none">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="txtFilterAirlineCode" class="col-lg-2 control-label">Airline Code:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterAirlineCode", string.Empty, new
                {
                    id = "txtFilterAirlineCode",
                    @class = "form-control k-textbox",
                    placeholder = "Airline Code",
                    maxlength = 100,
                    required = "",
                    data_required_msg = "Airline Code is required"
                })
                <span class="k-invalid-msg" data-for="txtFilterAirlineCode"></span>
            </div>
       
            <label for="txtFilterFlightNumber" class="col-lg-2 control-label">Flight Number:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterFlightNumber", string.Empty, new
                {
                    id = "txtFlightNumber",
                    @class = "form-control k-textbox",
                    placeholder = "Flight Number",
                    maxlength = 100
                })
                <span class="k-invalid-msg" data-for="txtFilterFlightNumber"></span>
            </div>
            <label for="txtFilterFlightDate" class="col-lg-2 control-label">Flight Date:</label>
            <div class="col-lg-2">
                @(Html.Kendo().DatePicker()
                  .Name("dprFilterFlightDate")
                  .Start(CalendarView.Month)
                  .Depth(CalendarView.Year)
                  .Format("MM/dd/yyyy")
                        //.Value("April 2015")
                  .HtmlAttributes(new
                  {
                      id = "dprFilterFlightDate",
                      placeholder = "Flight Date",
                      maxlength = 100
                  })
                )
                <span class="k-invalid-msg" data-for="dprFilterFlightDate"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="txtFilterOrigin" class="col-lg-2 control-label">Origin:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterOrigin", string.Empty, new
                {
                    id = "txtFilterOrigin",
                    @class = "form-control k-textbox",
                    placeholder = "Origin",
                    maxlength = 100,
                    required = "",
                    data_required_msg = "Origin is required"
                })
                <span class="k-invalid-msg" data-for="txtFilterOrigin"></span>
            </div>            
        
            <label for="txtFilterDestination" class="col-lg-2 control-label">Destination:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterDestination", string.Empty, new
                {
                    id = "txtFilterDestination",
                    @class = "form-control k-textbox",
                    placeholder = "Destination",
                    maxlength = 100,
                    required = "",
                    data_required_msg = "Destination is required"
                })
                <span class="k-invalid-msg" data-for="txtFilterDestination"></span>
            </div>
        </div>
    </div>
</div>

<div class="row col-lg-12" id="dvFilterULD" style="display:none">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="txtFilterULD" class="col-lg-2 control-label">ULD:</label>
            <div class="col-lg-2">
                @Html.TextBox("txtFilterULD", string.Empty, new
                {
                    id = "txtFilterULD",
                    @class = "form-control k-textbox",
                    placeholder = "ULD",
                    maxlength = 100,
                    required = "",
                    data_required_msg = "ULD is required"
                })
                <span class="k-invalid-msg" data-for="txtFilterULD"></span>
            </div>
        </div>
    </div>
</div>

