﻿<div class="container-fluid toolbarContent">
    <div class="row">

        <div class="col-lg-2">
            <div class="form-horizontal">

                <div class="form-group label-nowrap">
                    <label for="ddlTrackSearchBy" class="col-lg-6 control-label">SEARCH BY:</label>
                    <div class="col-lg-6">
                        @(Html.Kendo().DropDownList()
                .BindTo(new List<SelectListItem>{
                            new SelectListItem{Text = "AWB", Value="1", Selected=true},
                            new SelectListItem{Text = "HWB", Value="2", Selected=false},
                            new SelectListItem{Text = "FLIGHT", Value="3", Selected=false},
                            new SelectListItem{Text = "ULD", Value="4", Selected=false},
               })
                        .Name("ddlTrackFilter")
                                //.OptionLabel("- select -")
                                //.Placeholder("- select -")
                .DataTextField("Text")
                .DataValueField("Value")
                                //.DataSource(d => d.Read(r => r.Action("GetUserAuthenticationList", "Users")))
                                //.Suggest(true)
                                //.IgnoreCase(true)
                                //.Filter(FilterType.Contains)
                                //.Events(e => e.Change("_track.events.onFilterChange"))
                .HtmlAttributes(new
                {
                    id = "ddlTrackFilter",
                    //@class = "placeholder"
                }).AutoBind(true))
                        <span class="k-invalid-msg" data-for="ddlTrackFilter"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-8">
            @Html.Partial("_TrackListToolbarFilter")
        </div>
        <div class="col-lg-2 pull-right">
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-lg-11 pull-right">
                        <button id="btnTrackFilter" class="k-button" type="button">Search</button>
                        <button id="btnTrackReset" class="k-button" type="button">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
