﻿.widget-stats {
    background: #fff;
    padding: 15px 0;
    margin: 0;
    height: 110px;
    position: relative;
    text-align: center;
    display: block
}
.widget-stats .count {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.widget-stats .label {
    font-weight: 600;
    padding: 4px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset
}
.widget-stats span {
    display: inline-block
}
.widget-stats .txt {
    padding: 0;
    color: #cecece
}
.widget-stats .glyphicons {
    padding: 0;
    display: block
}
.widget-stats .glyphicons i {
    display: block
}
.widget-stats .glyphicons i:before {
    color: #cecece;
    font-size: 30px;
    top: 0;
    left: 0;
    position: relative
}
.widget-stats,.widget-stats:hover,.widget-stats:focus {
    text-decoration: none
}
.widget-stats:hover {
    background: #fdfdfd
}
.widget-stats.small {
    padding: 5px 0
}
.widget-stats.small .glyphicons {
    padding: 12px 0 0
}
.widget-stats.small .glyphicons i:before {
    font-size: 25px
}
.widget-stats.widget-stats-1 {
    padding: 8px 0;
    height: 110px
}
.widget-stats.widget-stats-1 .glyphicons {
    display: block;
    height: 35px;
    line-height: 35px;
    padding-bottom: 5px
}
.widget-stats.widget-stats-1 .glyphicons .txt {
    display: inline-block;
    padding: 0 5px;
    line-height: 35px
}
.widget-stats.widget-stats-1 .glyphicons i {
    display: inline-block
}
.widget-stats.widget-stats-1 .glyphicons i:before {
    top: 5px;
    font-size: 25px
}
.widget-stats.widget-stats-1 .count {
    position: relative;
    top: auto;
    right: auto;
    font-size: 60px;
    display: inline-block;
    font-weight: 700;
    padding: 0;
    line-height: 40px
}
.widget-stats.widget-stats-2 .txt {
    font-size: 14px
}
.widget-stats.widget-stats-2 .sparkline {
    margin: 0 0 5px
}
.widget-stats.widget-stats-2 .count {
    position: relative;
    top: auto;
    right: auto;
    font-size: 60px;
    font-weight: 700;
    padding: 0 0 3px;
    display: block;
    line-height: 55px
}
.widget-stats.widget-stats-3 .sparkline {
    display: inline-block
}
.widget-stats.widget-stats-3 .txt {
    text-align: left;
    vertical-align: middle;
    padding: 13px 0 0 10px
}
.widget-stats.widget-stats-3 .count {
    padding: 0 0 5px;
    display: block
}
.widget-stats.widget-stats-4 {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px
}
.widget-stats.widget-stats-4 .txt {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    display: block
}
.widget-stats.widget-stats-4 .glyphicons {
    float: right;
    width: 80px;
    text-align: center
}
.widget-stats.widget-stats-4 .glyphicons i {
    font-size: 80px
}
.widget-stats.widget-stats-4 .glyphicons i:before {
    position: absolute;
    left: auto;
    right: 0;
    color: #424242;
    font-size: inherit;
    top: -20px;
    z-index: 1
}
.widget-stats.widget-stats-4 .glyphicons.star {
    width: 90px
}
.widget-stats.widget-stats-4 .glyphicons.star i {
    font-size: 90px
}
.widget-stats.widget-stats-4 .glyphicons.star i:before {
    top: -25px
}
.widget-stats.widget-stats-4 .count {
    float: left;
    position: relative;
    top: auto;
    right: auto;
    font-size: 60px;
    font-weight: 700;
    padding: 0 0 3px;
    display: block;
    line-height: 55px
}
.widget-stats.widget-stats-4 .count span {
    font-size: 20px;
    line-height: 60px;
    vertical-align: middle;
    color: #bbb;
    padding-left: 5px;
    text-transform: uppercase
}
.widget-stats.widget-stats-4 [class=icon-play-circle] {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #bfbfbf;
    font-size: 15px
}
.widget-stats.widget-stats-5 {
    background: #f4f4f4;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px
}
.widget-stats.widget-stats-5 .glyphicons {
    padding-top: 10px;
    float: left;
    text-align: center
}
.widget-stats.widget-stats-5 .glyphicons i {
    font-size: 40px;
    display: inline-block;
    width: 50px;
    text-align: center
}
.widget-stats.widget-stats-5 .glyphicons i:before {
    font-size: inherit;
    display: block;
    width: 50px;
    text-align: center
}
.widget-stats.widget-stats-5 .txt {
    display: block;
    line-height: 15px;
    float: left;
    padding: 17px 0 0 10px;
    font-size: 16px
}
.widget-stats.widget-stats-5 .txt span {
    display: block;
    line-height: 30px;
    font-size: 25px
}
.widget-stats.widget-stats-easy-pie .easy-pie {
    display: block;
    width: 50px;
    margin: -5px auto 0
}
.widget-stats.widget-stats-easy-pie.txt-single .easy-pie {
    margin: 0 auto
}
.widget-stats.widget-stats-easy-pie.txt-single .txt {
    padding: 7px 0 0
}
.widget-stats.widget-stats-gray {
    background: #f4f4f4
}
.widget-stats.widget-stats-gray.widget-stats-1 .txt,.widget-stats.widget-stats-gray.widget-stats-2 .txt,.widget-stats.widget-stats-gray.widget-stats-1 i:before,.widget-stats.widget-stats-gray.widget-stats-2 i:before {
    color: #424242
}
.widget-stats.widget-stats-primary {
    background: #4e72c2
}
.widget-stats.widget-stats-primary.widget-stats-1,.widget-stats.widget-stats-primary.widget-stats-2,.widget-stats.widget-stats-primary.widget-stats-4,.widget-stats.widget-stats-primary.widget-stats-5,.widget-stats.widget-stats-primary.widget-stats-1 .txt,.widget-stats.widget-stats-primary.widget-stats-2 .txt,.widget-stats.widget-stats-primary.widget-stats-4 .txt,.widget-stats.widget-stats-primary.widget-stats-5 .txt,.widget-stats.widget-stats-primary.widget-stats-1 i:before,.widget-stats.widget-stats-primary.widget-stats-2 i:before,.widget-stats.widget-stats-primary.widget-stats-4 i:before,.widget-stats.widget-stats-primary.widget-stats-5 i:before {
    color: #fff
}
.widget-stats.widget-stats-default {
    background: #bbb
}
.widget-stats.widget-stats-default.widget-stats-1,.widget-stats.widget-stats-default.widget-stats-2,.widget-stats.widget-stats-default.widget-stats-4,.widget-stats.widget-stats-default.widget-stats-5,.widget-stats.widget-stats-default.widget-stats-1 .txt,.widget-stats.widget-stats-default.widget-stats-2 .txt,.widget-stats.widget-stats-default.widget-stats-4 .txt,.widget-stats.widget-stats-default.widget-stats-5 .txt,.widget-stats.widget-stats-default.widget-stats-1 i:before,.widget-stats.widget-stats-default.widget-stats-2 i:before,.widget-stats.widget-stats-default.widget-stats-4 i:before,.widget-stats.widget-stats-default.widget-stats-5 i:before {
    color: #fff
}
.widget-stats.widget-stats-info {
    background: #466baf
}
.widget-stats.widget-stats-info.widget-stats-1,.widget-stats.widget-stats-info.widget-stats-2,.widget-stats.widget-stats-info.widget-stats-4,.widget-stats.widget-stats-info.widget-stats-5,.widget-stats.widget-stats-info.widget-stats-1 .txt,.widget-stats.widget-stats-info.widget-stats-2 .txt,.widget-stats.widget-stats-info.widget-stats-4 .txt,.widget-stats.widget-stats-info.widget-stats-5 .txt,.widget-stats.widget-stats-info.widget-stats-1 i:before,.widget-stats.widget-stats-info.widget-stats-2 i:before,.widget-stats.widget-stats-info.widget-stats-4 i:before,.widget-stats.widget-stats-info.widget-stats-5 i:before {
    color: #fff
}
.widget-stats.widget-stats-inverse {
    background: #424242
}
.widget-stats.widget-stats-inverse.widget-stats-1,.widget-stats.widget-stats-inverse.widget-stats-2,.widget-stats.widget-stats-inverse.widget-stats-4,.widget-stats.widget-stats-inverse.widget-stats-5,.widget-stats.widget-stats-inverse.widget-stats-1 .txt,.widget-stats.widget-stats-inverse.widget-stats-2 .txt,.widget-stats.widget-stats-inverse.widget-stats-4 .txt,.widget-stats.widget-stats-inverse.widget-stats-5 .txt,.widget-stats.widget-stats-inverse.widget-stats-1 i:before,.widget-stats.widget-stats-inverse.widget-stats-2 i:before,.widget-stats.widget-stats-inverse.widget-stats-4 i:before,.widget-stats.widget-stats-inverse.widget-stats-5 i:before {
    color: #fff
}
.well {
    z-index: 1;
    position: relative;
    padding: 15px;
    margin: 0 0 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #f4f4f4;
    border-color: #e5e5e5
}
.well.small {
    padding: 10px
}
.well .popover {
    z-index: 2;
    font-size: 13px
}
.well.white {
    background: #fff
}
.well.primary {
    background: #4e72c2
}
.well.primary,.well.primary * {
    color: #fff
}
.well.inverse {
    background: #424242
}
.well.inverse,.well.inverse * {
    color: #fff
}
.well.info {
    background: #466baf
}
.well.info,.well.info * {
    color: #fff
}
.well.default {
    background: #bbb
}
.well.default,.well.default * {
    color: #fff
}
.well.success {
    background: #72af46
}
.well.success,.well.success * {
    color: #fff
}
[data-toggle=collapse-widget] .collapse-toggle {
    position: relative;
    height: 35px;
    width: 30px;
    display: block;
    cursor: pointer;
    float: right;
    margin-right: -10px
}
[data-toggle=collapse-widget] .collapse-toggle:before {
    font-family: "Glyphicons Regular";
    font-size: 17px;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 34px;
    text-align: center;
    color: #ccc;
    content: "\e192"
}
[data-toggle=collapse-widget].widget-heading-simple .collapse-toggle {
    margin-right: 0;
    height: 25px
}
[data-toggle=collapse-widget].widget-heading-simple .collapse-toggle:before {
    height: 25px;
    line-height: 25px
}
[data-toggle=collapse-widget] a~.collapse-toggle {
    margin-right: 0
}
[data-toggle=collapse-widget][data-collapse-closed=false] .collapse-toggle:before {
    content: "\e192"
}
[data-toggle=collapse-widget][data-collapse-closed=true] .collapse-toggle:before {
    content: "\e191"
}
[data-toggle=collapse-widget][data-collapse-closed=true] .widget-head {
    border-bottom: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}
[data-toggle=collapse-widget] .collapse: not(.list) {
    -webkit-transition: padding .1s ease;
    -moz-transition: padding .1s ease;
    -o-transition: padding .1s ease;
    -ms-transition: padding .1s ease;
    transition: padding .1s ease;
    padding: 0
}
[data-toggle=collapse-widget] .collapse: not(.list).in {
    padding: 15px
}
.widget-timeline .widget-body {
    padding: 15px;
    position: relative
}
.widget-timeline .widget-body:before {
    display: block;
    width: 1px;
    background: #e5e5e5;
    top: 15px;
    bottom: 30px;
    left: 75px;
    content: "";
    position: absolute
}
.widget-timeline: not(.widget) {
    position: relative
}
.widget-timeline: not(.widget):before {
    display: block;
    width: 1px;
    background: #e5e5e5;
    top: 15px;
    bottom: 34px;
    left: 75px;
    content: "";
    position: absolute
}
.widget-timeline .view-all {
    margin-left: 35px
}
.widget-timeline ul.list-timeline {
    list-style: none;
    margin: 0 0 15px;
    padding: 0
}
.widget-timeline ul.list-timeline li {
    display: block;
    height: 35px;
    line-height: 35px;
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ebebeb;
    margin: 0 0 10px;
    padding: 0 10px
}
.widget-timeline ul.list-timeline li: last-child {
    margin: 0
}
.widget-timeline ul.list-timeline li span {
    display: block;
    height: 35px;
    line-height: 35px;
    float: left;
    position: relative;
    overflow: hidden
}
.widget-timeline ul.list-timeline li span.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 75%
}
.widget-timeline ul.list-timeline li span.date {
    width: 40px;
    text-align: center
}
.widget-timeline ul.list-timeline li .activity-icon {
    width: 30px;
    height: 35px;
    padding: 0;
    margin: 0 10px;
    display: inline-block;
    text-align: center
}
.widget-timeline ul.list-timeline li .activity-icon i {
    height: 35px;
    display: block;
    position: relative;
    background: #64625f
}
.widget-timeline ul.list-timeline li .activity-icon i:before {
    position: relative;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 17px;
    line-height: 35px
}
.widget .widget-head.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0
}
.accordion {
    margin: 0 0 10px;
    position: relative
}
.accordion .panel {
    border-color: #e5e5e5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important
}
.accordion .panel-body {
    font-size: 13px;
    border-color: #e5e5e5!important
}
.accordion .panel-heading {
    color: #7c7c7c;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 10px
}
.accordion.accordion-2 {
    border: 1px solid #e5e5e5
}
.accordion.accordion-2 .panel-heading {
    border-bottom: 1px solid #e5e5e5;
    background: #fff
}
.accordion.accordion-2 .panel-heading .glyphicons {
    padding: 0;
    height: 24px;
    line-height: 24px
}
.accordion.accordion-2 .panel-heading .glyphicons i {
    width: 30px;
    display: block;
    float: left;
    height: 24px;
    line-height: 24px
}
.accordion.accordion-2 .panel-heading .glyphicons i:before {
    font-size: 20px;
    color: #ccc;
    top: auto;
    left: auto;
    width: 30px;
    height: 24px;
    line-height: 24px;
    position: relative;
    text-align: center
}
.accordion.accordion-2 .panel {
    border: 0;
    margin: 0
}
.accordion.accordion-2 .panel .panel-collapse.in .panel-body {
    border-bottom: 1px solid #e5e5e5
}
.accordion.accordion-2 .accordion-inner {
    border: 0;
    padding: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.accordion.accordion-gray .panel-heading {
    background: #f4f4f4
}
.box-generic {
    border: 1px solid #e5e5e5;
    padding: 15px;
    position: relative;
    background: #fff;
    margin: 0;
}
.box-generic.box-generic-gray {
    background: #f4f4f4
}
.gallery ul {
    margin: 0;
    padding: 0;
    list-style: none
}
.gallery ul li .thumb {
    position: relative;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    z-index: 1;
    overflow: hidden
}
.gallery ul li.col-md-2:nth-child(6n+7) {
    margin-left: 0
}
.gallery ul li.col-md-3:nth-child(4n+5) {
    margin-left: 0
}
.gallery ul li.col-md-4:nth-child(3n+4) {
    margin-left: 0
}
.gallery.gallery-masonry li[class*=col-md-] {
    margin-left: 0
}
.gallery.gallery-2 li .thumb {
    padding: 0;
    border-color: #4c4c4c
}
.thumb {
    display: block;
    padding: 3px;
    border: 1px solid #e5e5e5;
    background: #fff
}
.thumbnails {
    margin: 0
}
.thumbnails>li {
    list-style: none;
    margin-bottom: 15px
}
.thumbnails>li .thumbnail {
    border-color: #e5e5e5;
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}
.thumbnails>li .thumbnail .caption {
    color: #7c7c7c
}
.thumbnails>li a.thumbnail:hover,.thumbnails>li a.thumbnail:focus {
    border-color: #4e72c2;
    -webkit-box-shadow: 0 1px 4px rgba(78,114,194,.25);
    -moz-box-shadow: 0 1px 4px rgba(78,114,194,.25);
    box-shadow: 0 1px 4px rgba(78,114,194,.25);
    text-decoration: none
}
.thumbnail {
    border-color: #e5e5e5
}
a.thumbnail .caption {
    display: block
}
a.thumbnail:hover,a.thumbnail:focus {
    border-color: #4e72c2;
    -webkit-box-shadow: 0 1px 4px rgba(78,114,194,.25);
    -moz-box-shadow: 0 1px 4px rgba(78,114,194,.25);
    box-shadow: 0 1px 4px rgba(78,114,194,.25);
    text-decoration: none
}
.carousel {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    margin-bottom: 15px
}
.carousel.carousel-1 {
    height: 223px;
    margin-bottom: 33px;
    background: #f4f4f4
}
.carousel.carousel-1 .item {
    height: 223px;
    overflow: hidden
}
.carousel.carousel-1 .item img {
    min-height: 100%
}
.carousel.carousel-1 .carousel-indicators {
    top: auto;
    bottom: -23px;
    right: 0
}
.carousel.carousel-1 .carousel-indicators li {
    background: #9aaedc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.carousel.carousel-1 .carousel-indicators li.active {
    background: #4e72c2
}
.carousel.carousel-1 .carousel-caption {
    height: 193px;
    background: #f4f4f4;
    text-align: left;
    top: 0;
    background: rgba(244,244,244,.95);
    text-shadow: 0 1px 0 #fff
}
.carousel.carousel-1 .carousel-caption p {
    color: #7c7c7c
}
.carousel.carousel-1 .carousel-caption h4 {
    font-size: 12pt;
    color: #000;
    font-weight: 600
}
.carousel.carousel-1 .carousel-caption a {
    text-decoration: underline;
    color: #000
}
.jcrop-holder #preview-pane {
    display: block;
    position: absolute;
    z-index: 2000;
    top: 10px;
    right: 10px;
    padding: 6px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,.2);
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.2)
}
#preview-pane .preview-container {
    width: 125px;
    height: 85px;
    overflow: hidden
}
.jcrop-holder {
    margin: 0 auto
}