﻿@using MCH.Web.Models.WarehouseManagement
@using MCH.Web.Controllers

@*<script>
    //function dataBound() {
    //    this.expandRow(this.tbody.find("tr.k-master-row").first());
    //}

    function locationsDetailExpand() {
        console.log(this.tbody.find("tr.k-detail-row").first());
      this.tbody.find("tr.k-detail-row").first().css("height", "420px");
    }
</script>*@


<script id="templateShipment" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<WarehouseShipmentInventory>().Name("gridShipments_#=WarehouseLocationId#")
                .Columns(c =>
                {
                    c.Bound(o => o.ShipmentId).Hidden(true);
                    c.Bound(o => o.IsOSD).Width(180);
                    c.Bound(o => o.SpecialHandlingsIndicators).ClientTemplate("\\#= WahehouseManagementModel.GetIndicatorIcons(SpecialHandlingsIndicators) \\#").Width(180);

                    c.Bound(o => o.ShipmentReference).Title("Shipment Reference").Width(180);
                   c.Bound(o => o.Origin).Width(120);

                   c.Bound(o => o.Destination).Width(120);
                    c.Bound(o => o.Pieces).ClientTemplate("\\#=Pieces != null ? Pieces:''\\# Of  \\#=TotalPieces != null ? TotalPieces : ''\\#").Width(100);
                    c.Bound(o => o.FirstScan).Format("{0:MM/dd/yyyy HH:mm}").Width(120);
                    c.Bound(o => o.LastScan).Format("{0:MM/dd/yyyy HH:mm}").Width(120);

                    c.Bound(o => o.User).Width(150);
                    c.Bound(o => o.Duration).Title("Duration(h)").Width(100);
                    c.Bound(o => o.TotalWeight).ClientTemplate("\\#=TotalWeight != null ? TotalWeight:''\\# \\#=WeightUOM != null ? WeightUOM : ''\\#").Width(100);
                    c.Bound(o => o.Shipper).Width(150);
                    c.Bound(o => o.Consignee).Width(150);
                }
        )
                         .DataSource(e => e.Ajax().Read(r => r.Action("GetShipmentsByLocationIdTemp", "WarehouseManagement", new { WarehouseLocationId = "#=WarehouseLocationId#" })
                     .Data("WahehouseManagementModel.getFilterData")).PageSize(10))
                .Filterable()
                .Sortable()
                .Scrollable()
                .Pageable()
                .Groupable()
                .Resizable(r => r.Columns(true))
                .HtmlAttributes(new { style = "width: 100%;height:400px;" })
         .ToClientTemplate()
    )    
</script>


@(Html.Kendo().Grid<WarehouseLocationInventory>()
                    .Name("gridWarehouseLocations")
            .Columns(c =>
            {
                c.Bound(o => o.WarehouseLocationId).Hidden(true);
                c.Bound(o => o.Warehouse).Width(100);

                c.Bound(o => o.Location).Width(100);
                c.Bound(o => o.Pieces).Width(100);


                c.Bound(o => o.User).Width(100);
                c.Bound(o => o.LastScan).Format("{0:MM/dd/yyyy HH:mm}").Width(100);
                c.Bound(o => o.TotalWeight).ClientTemplate("#=TotalWeight != null ? TotalWeight:''# #=WeightUOM != null ? WeightUOM : ''#").Width(100);
            })
            .DataSource(e => e.Ajax().Read(r => r.Action("GetLocationsTemp", "WarehouseManagement").Data("WahehouseManagementModel.getFilterData")).PageSize(20))
                    .Filterable()
                    .Sortable()
                    .Selectable()
                    .Scrollable()
                    .Pageable()
                    .Groupable()
                    .Resizable(r => r.Columns(true))                    
                    .ClientDetailTemplateId("templateShipment")
                    .HtmlAttributes(new { style = "height:100%;" })
                  //.Events(events => events.DetailExpand("locationsDetailExpand"))
)

