﻿@using MCH.Web.Models.WarehouseManagement
@model LocationAddEdit


<div class="form-group">
    <label class="col-lg-4 control-label  required" id="">Location Type : </label>
    <div class="col-lg-7">
        @(Html.Kendo().ComboBoxFor(m => m.LocationTypeId).DataSource(d =>
                                    d.Read(r => r.Action("GetWarehouseLocationTypes", "WarehouseManagement")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Location Type is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Location Type is required"
                                         
                                     }).Filter(FilterType.Contains))
        <span class="k-invalid-msg" data-for="LocationTypeId"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label required" id="">Location Name : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.LocationName, new { inputempty = "", data_inputempty_msg = "Name is required", @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="LocationName"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label required" id="">Barcode : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.BarCode, new { inputempty = "", data_inputempty_msg = "Barcode is required", @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="Barcode"></span>
    </div>
</div>
