﻿@using MCH.Web.Models.WarehouseManagement
@model LocationAddEdit

<script type="text/javascript">
    var LocationModel = {
        validator: null,
        cancel: function () {
            WahehouseManagementModel.windows.AddEditPopup().close();
        },

        saveLocation: function () {
            debugger;
            if (LocationModel.validator == null) {
                LocationModel.validator = $("#frmAddEditLocation").kendoValidator({
                    rules: WahehouseManagementModel.ValidationRules.Common,
                    validateOnBlur: true
                }).data("kendoValidator");
            }

            $("#btnSaveLocation").attr("disabled", "disabled");

            if (!LocationModel.validator.validate()) {
                $("#btnSaveLocation").removeAttr("disabled");
            }
            else {
                var formElementsJson = $("#frmAddEditLocation").serializeObject();
                var url = '@Url.Action("SaveLocation", "WarehouseManagement")';

                $.ajax({
                    //  async: true,
                    type: 'POST',
                    dataType: "json",
                    traditional: true,
                    url: url,
                    data: JSON.stringify(formElementsJson),
                    success: function (html) {
                        debugger;
                        $("#btnSaveLocation").removeAttr("disabled");
                        if (html.data == "Error") {
                            window.DIALOG_HANDLER.openAlert("Error", html.ErrorMessage);
                        }
                        else {
                            LocationModel.validator = null;
                            WahehouseManagementModel.windows.AddEditPopup().close();
                            // HWBGridModel.onSearch();
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        window.DIALOG_HANDLER.openAlert("Server Error", textStatus);
                        console.log(errorThrown);
                        $("#btnSaveLocation").removeAttr("disabled");
                    },
                    cache: false,
                    contentType: 'application/json, charset=utf-8',
                    processData: false
                });
            }
        },

        onLocationChange: function (e) {
            debugger;
            var id = parseInt(e.sender._selectedValue);
            if (isNaN(id))
                return;
            var url = '@Url.Action("GetLocationById", "WarehouseManagement")';

            $.ajax({
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: url,
                data: { id: id },
                success: function (html) {
                    debugger;
                    $("#divLocationEditable").html(html);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false
            });

        },

        onStationChange: function (e) {
            var source = $("#StationId").data("kendoComboBox");
            var infl = $("#WarehouseId").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        getStationId: function () {
            var id = $("#StationId").val();
            return { sId: id ? id : null }
        },

        onWarehouseChange: function (e) {
            debugger;
            var source = $("#WarehouseId").data("kendoComboBox");
            var infl = $("#RegionId").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        getWarehouseId: function () {
            var id = $("#WarehouseId").val();
            return { sId: id ? id : null }
        },


        onRegionChange: function (e) {
            var source = $("#RegionId").data("kendoComboBox");
            var infl = $("#LocationId").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        getRegionId: function () {
            var id = $("#RegionId").val();
            return { sId: id ? id : null }
        },

    }
</script>

<div class="container-fluid height100per paddingbottom30">
    <div class="row cm-wizard-container cm-heightcalc100-30">
        <form class="col-md-12 form-horizontal" id="frmAddEditLocation">
            <div class="form-group">
                <label class="col-lg-4 control-label required" id="">Station : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.StationId).DataSource(d =>
                                             d.Read(r => r.Action("GetPorts", "Common")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                             .Events(e => e.Change("LocationModel.onStationChange"))
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Station is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Station is required"
                                     }).Filter(FilterType.Contains))
                    <span class="k-invalid-msg" data-for="StationId"></span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-4 control-label  required" id="">Warehouse : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.WarehouseId).DataSource(d =>
                                     d.Read(r => r.Action("GetWarehousesByStationId", "WarehouseManagement")
                                                                  .Data("LocationModel.getStationId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                                     .Events(e => e.Change("LocationModel.onWarehouseChange"))
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Warehouse is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Warehouse is required"
                                     }).Filter(FilterType.Contains))
                    <span class="k-invalid-msg" data-for="WarehouseId"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label  required" id="">Region : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.RegionId).DataSource(d =>
                                    d.Read(r => r.Action("GetRegionsByWarehouseId", "WarehouseManagement").Data("LocationModel.getWarehouseId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                                .Events(e => e.Change("LocationModel.onRegionChange"))
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Region is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Region is required"
                                     }).Filter(FilterType.Contains))
                    <span class="k-invalid-msg" data-for="RegionId"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label" id="">Location : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.LocationId).DataSource(d =>
                                            d.Read(r => r.Action("GetLocationsByRegionId", "WarehouseManagement").Data("LocationModel.getRegionId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                        .Events(e => e.Change("LocationModel.onLocationChange"))
                                     .HtmlAttributes(new
                                     {
                                     }).Filter(FilterType.Contains))
                </div>
            </div>

            <div id="divLocationEditable">
                @Html.Partial("_LocationEditor", Model)
            </div>

        </form>
    </div>
    <div class="row cm-bottom-right">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button" value="Cancel" onclick="LocationModel.cancel()" />
                <input type="button" class="k-button k-primary" value="Save" id="btnSaveLocation" onclick="LocationModel.saveLocation()" />
            </div>
        </div>
    </div>
</div>