﻿@using MCH.Web.Models.WarehouseManagement
@model RegionAddEdit

<script type="text/javascript">
    var RegionModel = {
        validator: null,
        cancel: function () {
            WahehouseManagementModel.windows.AddEditPopup().close();
        },

        saveRegion: function () {
            debugger;
            if (RegionModel.validator == null) {
                RegionModel.validator = $("#frmAddEditRegion").kendoValidator({
                    rules: WahehouseManagementModel.ValidationRules.Common,
                    validateOnBlur: true
                }).data("kendoValidator");
            }

            $("#btnSaveRegion").attr("disabled", "disabled");

            if (!RegionModel.validator.validate()) {
                $("#btnSaveRegion").removeAttr("disabled");
            }
            else {
                var formElementsJson = $("#frmAddEditRegion").serializeObject();
                var url = '@Url.Action("SaveRegion", "WarehouseManagement")';

                $.ajax({
                    //  async: true,
                    type: 'POST',
                    dataType: "json",
                    traditional: true,
                    url: url,
                    data: JSON.stringify(formElementsJson),
                    success: function (html) {

                        $("#btnSaveRegion").removeAttr("disabled");
                        if (html.data == "Error") {
                            window.DIALOG_HANDLER.openAlert("Error", html.ErrorMessage);
                        }
                        else {
                            RegionModel.validator = null;
                            WahehouseManagementModel.windows.AddEditPopup().close();
                            // HWBGridModel.onSearch();
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        window.DIALOG_HANDLER.openAlert("Server Error", textStatus);
                        console.log(errorThrown);
                        $("#btnSaveRegion").removeAttr("disabled");
                    },
                    cache: false,
                    contentType: 'application/json, charset=utf-8',
                    processData: false
                });
            }
        },

        onRegionChange: function (e) {
            debugger;
            var id = parseInt(e.sender._selectedValue);
            if (isNaN(id))
                return;
            var url = '@Url.Action("GetRegionById", "WarehouseManagement")';

            $.ajax({
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: url,
                data: { id: id },
                success: function (html) {

                    $("#divRegionEditable").html(html);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false
            });

        },

        onStationChange: function (e) {
            var source = $("#StationId").data("kendoComboBox");
            var infl = $("#WarehouseId").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        getStationId: function () {
            var id = $("#StationId").val();
            return { sId: id ? id : null }
        },

        onWarehouseChange: function (e) {
            var source = $("#WarehouseId").data("kendoComboBox");
            var infl = $("#RegionId").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        getWarehouseId: function () {
            var id = $("#WarehouseId").val();
            return { sId: id ? id : null }
        },
    }
</script>

<div class="container-fluid height100per paddingbottom30">
    <div class="row cm-wizard-container cm-heightcalc100-30">
        <form class="col-md-12 form-horizontal" id="frmAddEditRegion">
            <div class="form-group">
                <label class="col-lg-4 control-label required" id="">Station : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.StationId).DataSource(d =>
                                             d.Read(r => r.Action("GetPorts", "Common")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                             .Events(e => e.Change("RegionModel.onStationChange"))
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Station is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Station is required"
                                     }).Filter(FilterType.Contains))
                    <span class="k-invalid-msg" data-for="StationId"></span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-4 control-label  required" id="">Warehouse : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.WarehouseId).DataSource(d =>
                                     d.Read(r => r.Action("GetWarehousesByStationId", "WarehouseManagement")
                                                                  .Data("RegionModel.getStationId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                                     .Events(e => e.Change("RegionModel.onWarehouseChange"))
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Warehouse is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Warehouse is required"
                                     }).Filter(FilterType.Contains))
                    <span class="k-invalid-msg" data-for="WarehouseId"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label" id="">Region : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.RegionId).DataSource(d =>
                            d.Read(r => r.Action("GetRegionsByWarehouseId", "WarehouseManagement").Data("RegionModel.getWarehouseId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                        .Events(e => e.Change("RegionModel.onRegionChange"))
                                     .HtmlAttributes(new
                                     {
                                     }).Filter(FilterType.Contains))
                </div>
            </div>

            <div id="divRegionEditable">
                @Html.Partial("_RegionEditor", Model)
            </div>

        </form>
    </div>
    <div class="row cm-bottom-right">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button" value="Cancel" onclick="RegionModel.cancel()" />
                <input type="button" class="k-button k-primary" value="Save" id="btnSaveRegion" onclick="RegionModel.saveRegion()" />
            </div>
        </div>
    </div>
</div>