﻿@using MCH.Web.Models.WarehouseManagement
@model RegionAddEdit


<div class="form-group">
    <label class="col-lg-4 control-label required" id="">Region Name : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.RegionName, new { inputempty = "", data_inputempty_msg = "Name is required", @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="RegionName"></span>
    </div>
</div>
