﻿@using MCH.Web.Models.WarehouseManagement
@using MCH.Web.Controllers

<script id="templateLocation" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<WarehouseLocationInventory>()
                    .Name("gridLocations_#=ShipmentId#")
            .Columns(c =>
            {
                c.Bound(o => o.WarehouseLocationId).Hidden(true);
                c.Bound(o => o.Warehouse).Width(8);

                c.Bound(o => o.Location).Width(10);
                c.Bound(o => o.Pieces).ClientTemplate("\\#= Pieces != null ? Pieces:'' \\# Of  \\#=TotalPieces != null ? TotalPieces : '' \\#").Width(6);


                c.Bound(o => o.User).Width(10);
                c.Bound(o => o.LastScan).Format("{0:MM/dd/yyyy HH:mm}").Width(10);
                c.Bound(o => o.TotalWeight).ClientTemplate("\\#=TotalWeight != null ? TotalWeight:''\\# \\#=WeightUOM != null ? WeightUOM : ''\\#").Width(8);
            })
              .DataSource(e => e.Ajax().Read(r => r.Action("GetLocationsByShipmentIdTemp", "WarehouseManagement", new { shipmentId = "#=ShipmentId#" })
                          .Data("WahehouseManagementModel.getFilterData")).PageSize(10))
                            .Filterable()
                            .Sortable()
                            .Scrollable()
                            .Pageable()
                            .Groupable()
                            .Resizable(r => r.Columns(true))
                                    .HtmlAttributes(new { style = "height:100%;  max-width: 900px;" })
                    .ToClientTemplate()
    )
</script>

@(Html.Kendo().Grid<WarehouseShipmentInventory>().Name("gridWarehouseShipments")
                .Columns(c =>
                {
                    c.Bound(o => o.ShipmentId).Hidden(true);
                    c.Bound(o => o.IsOSD).Width(180);
                    c.Bound(o => o.SpecialHandlingsIndicators).ClientTemplate("#= WahehouseManagementModel.GetIndicatorIcons(SpecialHandlingsIndicators) #").Width(180);

                    c.Bound(o => o.ShipmentReference).Title("Shipment Reference").Width(180);
                    c.Bound(o => o.Warehouse).Width(120);

                    c.Bound(o => o.Location).Width(150);
                    c.Bound(o => o.Origin).Width(150);

                    c.Bound(o => o.Destination).Width(150);
                    c.Bound(o => o.Pieces).Width(100);
                    c.Bound(o => o.FirstScan).Format("{0:MM/dd/yyyy HH:mm}").Width(120);
                    c.Bound(o => o.LastScan).Format("{0:MM/dd/yyyy HH:mm}").Width(120);

                    c.Bound(o => o.User).Width(150);
                    c.Bound(o => o.Duration).Title("Duration(h)").Width(100);
                    c.Bound(o => o.TotalWeight).ClientTemplate("#=TotalWeight != null ? TotalWeight:''# #=WeightUOM != null ? WeightUOM : ''#").Width(100);
                    c.Bound(o => o.Shipper).Width(150);
                    c.Bound(o => o.Consignee).Width(150);
                }
        )
            .DataSource(e => e.Ajax().Read(r => r.Action("GetShipmentsTemp", "WarehouseManagement").Data("WahehouseManagementModel.getFilterData")).PageSize(15))
                    .Filterable()
                    .Sortable()
                    .Selectable()
                    .Scrollable()
                    .Pageable()
                    .Groupable()
                    .Resizable(r => r.Columns(true))
                    .ClientDetailTemplateId("templateLocation")
                    .HtmlAttributes(new { style = "height:100%;" })

)


