﻿@using MCH.Web.Models.WarehouseManagement
@model WarehouseAddEdit

<script type="text/javascript">
    var WarehouseModel = {
        validator: null,
        cancel: function () {
            WahehouseManagementModel.windows.AddEditPopup().close();
        },

        saveWarehouse: function () {
            debugger;
            if (WarehouseModel.validator == null) {
                WarehouseModel.validator = $("#frmAddEditWarehouse").kendoValidator({
                    rules: WahehouseManagementModel.ValidationRules.Common,
                    validateOnBlur: true
                }).data("kendoValidator");
            }

            $("#btnSaveWarehouse").attr("disabled", "disabled");

            if (!WarehouseModel.validator.validate()) {
                $("#btnSaveWarehouse").removeAttr("disabled");
            }
            else {
                var formElementsJson = $("#frmAddEditWarehouse").serializeObject();
                var url = '@Url.Action("SaveWarehouse", "WarehouseManagement")';

                $.ajax({
                    //  async: true,
                    type: 'POST',
                    dataType: "json",
                    traditional: true,
                    url: url,
                    data: JSON.stringify(formElementsJson),
                    success: function (html) {

                        $("#btnSaveWarehouse").removeAttr("disabled");
                        if (html.data == "Error") {
                            window.DIALOG_HANDLER.openAlert("Error", html.ErrorMessage);
                        }
                        else {
                            WarehouseModel.validator = null;
                            WahehouseManagementModel.windows.AddEditPopup().close();
                            // HWBGridModel.onSearch();
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        window.DIALOG_HANDLER.openAlert("Server Error", textStatus);
                        console.log(errorThrown);
                        $("#btnSaveWarehouse").removeAttr("disabled");
                    },
                    cache: false,
                    contentType: 'application/json, charset=utf-8',
                    processData: false
                });
            }
        },

        onWarehouseChange: function (e) {
            debugger;
            var id = parseInt(e.sender._selectedValue);
            if (isNaN(id))
                return;
            var url = '@Url.Action("GetWarehousById", "WarehouseManagement")';

            $.ajax({
                type: 'POST',
                dataType: "html",
                traditional: true,
                url: url,
                data: { id: id },
                success: function (html) {

                    $("#divWarehouseEditable").html(html);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                },
                cache: false
            });

        },

        getCountryId: function () {

            var ctrId = $("#CountryId").val();

            return { countryId: ctrId ? ctrId : null }
        },

        onCountryChange: function (e) {
            var type = $(e.sender.element).attr("type");
            var countryId = $("#CountryId").data("kendoComboBox");
            var stateId = $("#StateId").data("kendoComboBox");
            stateId.value("");
            stateId.dataSource.read();
        },

        onStationChange: function (e) {
            var source = $("#StationId").data("kendoComboBox");
            var infl = $("#WarehouseId").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        getStationId: function () {
            var id = $("#StationId").val();
            return { sId: id ? id : null }
        },
    }
</script>

<div class="container-fluid height100per paddingbottom30">
    <div class="row cm-wizard-container cm-heightcalc100-30">
        <form class="col-md-12 form-horizontal" id="frmAddEditWarehouse">


            <div class="form-group">
                <label class="col-lg-4 control-label required" id="">Station : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.StationId).DataSource(d =>
                                             d.Read(r => r.Action("GetPorts", "Common")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                     .Events(e => e.Change("WarehouseModel.onStationChange"))
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Station is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Station is required"
                                     }).Filter(FilterType.Contains))
                    <span class="k-invalid-msg" data-for="StationId"></span>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-4 control-label" id="">Warehouse : </label>
                <div class="col-lg-7">
                    @(Html.Kendo().ComboBoxFor(m => m.WarehouseId).DataSource(d =>
                                     d.Read(r => r.Action("GetWarehousesByStationId", "WarehouseManagement")
                                                          .Data("WarehouseModel.getStationId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                             .Events(e => e.Change("WarehouseModel.onWarehouseChange"))
                                     .HtmlAttributes(new
                                     {
                                     }).Filter(FilterType.Contains))
                    <span class="k-invalid-msg" data-for="WarehouseId"></span>
                </div>
            </div>

            <div id="divWarehouseEditable">

                @Html.Partial("_WarehouseEditor", Model)
            </div>

        </form>
    </div>
    <div class="row cm-bottom-right">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button" value="Cancel" onclick="WarehouseModel.cancel()" />
                <input type="button" class="k-button k-primary" value="Save" id="btnSaveWarehouse" onclick="WarehouseModel.saveWarehouse()" />
            </div>
        </div>
    </div>
</div>