﻿@using MCH.Web.Models.WarehouseManagement
@model WarehouseAddEdit


<div class="form-group">
    <label class="col-lg-4 control-label required" id="">Warehouse Name : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.WarehouseName, new { inputempty = "", data_inputempty_msg = "Name is required", @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="WarehouseName"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label required" id="">Shell Warehouse : </label>
    <div class="col-lg-7">
        @(Html.Kendo().ComboBoxFor(m => m.ShellWarehouseId).DataSource(d =>
                                                             d.Read(r => r.Action("GetShellWarehouses", "WarehouseManagement")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Shell Warehouse is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Shell Warehouse is required"
                                     }).Filter(FilterType.Contains))
        <span class="k-invalid-msg" data-for="ShellWarehouseId"></span>
    </div>
</div>


<div class="form-group">
    <label class="col-lg-4 control-label" id="">Alias Name : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.AliasName, new { @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="AliasName"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label required" id="">Address 1 : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.Address1, new { inputempty = "", data_inputempty_msg = "Address1 is required", @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="Address1"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label" id="">Address 2 : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.Address2, new { @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="Address2"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label required" id="">Country : </label>
    <div class="col-lg-7">
        @(Html.Kendo().ComboBoxFor(m => m.CountryId).DataSource(d =>
                                         d.Read(r => r.Action("GetCountries", "Partner")
                                                 ))
                                                         .Events(e => e.Change("WarehouseModel.onCountryChange"))
                                                 .DataTextField("Name")
                                                 .DataValueField("Id")
                                                 .Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         style = "width:100%;",
                                         comboselected = "",
                                         data_comboselected_msg = "Country is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Country is required"
                                     })
        )
        <span class="k-invalid-msg" data-for="CountryId"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label" id="">State : </label>
    <div class="col-lg-7">
        @(Html.Kendo().ComboBoxFor(m => m.StateId).DataSource(d =>
                     d.Read(r => r.Action("GetStateCodes", "Partner").Data("WarehouseModel.getCountryId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         style = "width:100%;"
                                     })
        )
        <span class="k-invalid-msg" data-for="StateId"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label" id="">City : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.City, new { inputempty = "", data_inputempty_msg = "City is required", @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="City"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label" id="">Postal : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.Postal, new { @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="Postal"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label" id="">Geo Location : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.GeoLocation, new { @class = "k-textbox", title = "Geo Location is invalid", pattern = "^[-+]?([1-8]?\\d(\\.\\d+)?|90(\\.0+)?),\\s*[-+]?(180(\\.0+)?|((1[0-7]\\d)|([1-9]?\\d))(\\.\\d+)?)$" })

        <span class="k-invalid-msg" data-for="GeoLocation"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label  required" id="">Manager Name : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.ManagerName, new { inputempty = "", data_inputempty_msg = "Manager is required", @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="ManagerName"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label" id="">Phone : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.Phone, new { @class = "k-textbox" })
        <span class="k-invalid-msg" data-for="Phone"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-lg-4 control-label" id="">Email : </label>
    <div class="col-lg-7">
        @Html.TextBoxFor(m => m.Email, new { @class = "k-textbox", type = "email", pattern = "[^ @]*@[^ @]*" })
        <span class="k-invalid-msg" data-for="Email"></span>
    </div>
</div>

