﻿@using MCH.Web.Utilities

<style type="text/css">

</style>
<script type="text/javascript">

    var WahehouseManagementModel = {
        validator: null,
        ValidationRules:
           {
               Common: {
                   inputempty: function (input) {
                       if ($(input).attr('inputempty') != undefined) {
                           var retVal = true;
                           ///////// for Flight grid
                           var div = $(input).parents("[id^='divleg']:hidden");
                           if (div.length > 0) {

                               return true
                           }
                           ////////////
                           var val = $(input).val().trim();

                           if (val == "") {
                               retVal = false;
                               $(input).val(val);
                           }
                           return retVal;
                       }
                       else {
                           return true;
                       }
                   },

                   comboselected: function (input) {
                       if ($(input).attr('comboselected') != undefined) {
                           var retVal = true;
                           var kendoCombo = $(input).data("kendoComboBox");
                           if (kendoCombo) {
                               if (kendoCombo.value() != "" && kendoCombo.selectedIndex == -1) {
                                   retVal = false;
                               }
                           }
                           return retVal;
                       }
                       else {
                           return true;
                       }
                   },
               },
           },

        urls:
          {
              AddEditWarehouse: '@Url.Action("AddEditWarehouse", "WarehouseManagement")',
              AddEditRegion: '@Url.Action("AddEditRegion", "WarehouseManagement")',
              AddEditLocation: '@Url.Action("AddEditLocation", "WarehouseManagement")',
              Cancel: ''
          },

        windows: {
            AddEditPopup: function () { return $("#wndWMAddEdit").data("kendoWindow"); },
        },

        showAddEditNew: function () {
            var id = $("#ddlManageTypes").val();
            switch (id) {
                case '1': WahehouseManagementModel.showAddEditWarehouse(); break;
                case '2': WahehouseManagementModel.showAddEditRegion(); break;
                case '3': WahehouseManagementModel.showAddEditLocation(); break;
            }
        },

        showAddEditWarehouse: function () {
            debugger;
            var tmpUrl = this.urls.AddEditWarehouse;

            var tmpWindow = WahehouseManagementModel.windows.AddEditPopup();
            tmpWindow.content("");
            tmpWindow.title("Warehouse Data Entry");
            tmpWindow.setOptions({ width: '90%', maxWidth: '500px', height: '45%', url: tmpUrl });
            tmpWindow.refresh(tmpUrl);
            tmpWindow.center().open();
        },

        showAddEditLocation: function () {
            debugger;
            var tmpUrl = this.urls.AddEditLocation;

            var tmpWindow = WahehouseManagementModel.windows.AddEditPopup();
            tmpWindow.content("");
            tmpWindow.title("Location Data Entry");
            tmpWindow.setOptions({ width: '90%', maxWidth: '500px', height: '25%', url: tmpUrl });
            tmpWindow.refresh(tmpUrl);
            tmpWindow.center().open();
        },

        showAddEditRegion: function () {
            debugger;
            var tmpUrl = this.urls.AddEditRegion;

            var tmpWindow = WahehouseManagementModel.windows.AddEditPopup();
            tmpWindow.content("");
            tmpWindow.title("Region Data Entry");
            tmpWindow.setOptions({ width: '90%', maxWidth: '500px', height: '25%', url: tmpUrl });
            tmpWindow.refresh(tmpUrl);
            tmpWindow.center().open();
        },

        getStationId: function () {
            var id = $("#cbSearchStation").val();
            return { sId: id ? id : null }
        },

        getWarehouseId: function () {
            var id = $("#cbSearchWarehouse").val();
            return { sId: id ? id : null }
        },

        getRegionId: function () {
            var id = $("#cbSearchRegion").val();
            return { sId: id ? id : null }
        },

        GetIndicatorIcons: function (commaSeparated) {
            var iconsText = "";
            if (commaSeparated && commaSeparated != null) {
                var tmpIconName = commaSeparated.split(',');

                for (var i = 0; i < tmpIconName.length; i++) {
                    if (tmpIconName[i] != " ") {
                        var tmpIconsHtml = "<img style='width:20px' src=@Url.Content("~/Content/assets/images/indicators/")" + tmpIconName[i].trim() + ".png  title='" + tmpIconName[i] + "' />";
                        iconsText = iconsText + " " + tmpIconsHtml;
                    }
                }
            }
            return iconsText;
        },

        onStationChange: function (e) {
            var source = $("#cbSearchStation").data("kendoComboBox");
            var infl = $("#cbSearchWarehouse").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        onWarehouseChange: function (e) {
            var source = $("#cbSearchWarehouse").data("kendoComboBox");
            var infl = $("#cbSearchRegion").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },

        onWarehouseDatabound: function (e) {
            debugger;

            var cb = $("#cbSearchWarehouse").data("kendoComboBox");
            cb.select(function(dataItem) {
                return dataItem.Id == "@SessionManager.UserInfo.DefaultWarehouseId.ToString()";
            });

            cb.unbind("dataBound");
        },

        onRegionChange: function (e) {
            var source = $("#cbSearchRegion").data("kendoComboBox");
            var infl = $("#cbSearchLocation").data("kendoComboBox");
            infl.value("");
            infl.dataSource.read();
        },
        getFilterData: function () {

            return {
                StationId: $("#cbSearchStation").data("kendoComboBox").value(),
                WarehouseId: $("#cbSearchWarehouse").data("kendoComboBox").value(),
                RegionId: $("#cbSearchRegion").data("kendoComboBox").value(),
                LocationId: $("#cbSearchLocation").data("kendoComboBox").value(),
            }
        },
        onSearch: function () {

            debugger;

            if (WahehouseManagementModel.validator == null) {
                WahehouseManagementModel.validator = $("#frmWarehouseManagerSearch").kendoValidator({
                    rules: WahehouseManagementModel.ValidationRules.Common,
                    validateOnBlur: true
                }).data("kendoValidator");
            }

            if (WahehouseManagementModel.validator.validate()) {
                var grid = $("#gridWarehouseShipments").data("kendoGrid");
                if (grid) { grid.dataSource.read(); }
                var grid1 = $("#gridWarehouseLocations").data("kendoGrid");
                if (grid1) { grid1.dataSource.read(); }
            }

        },
        onReset: function () {
            $("#cbSearchStation").data("kendoComboBox").value(@SessionManager.UserInfo.DefaultSiteId.ToString());
            WahehouseManagementModel.onStationChange();
            $("#cbSearchWarehouse").data("kendoComboBox").value(@SessionManager.UserInfo.DefaultWarehouseId.ToString());
           WahehouseManagementModel.onWarehouseChange();
            $("#cbSearchRegion").data("kendoComboBox").value("");
          WahehouseManagementModel.onRegionChange();
            $("#cbSearchLocation").data("kendoComboBox").value("");

            WahehouseManagementModel.onSearch();

        },

        showShipments: function () {
            $("#divLocations").hide();
            $("#divShipments").show();
            resizeGrid(false);
        },
        showLocations: function () {
            $("#divShipments").hide();
            $("#divLocations").show();
            resizeGrid(false);
        },

    }


</script>

<style type="text/css">
    #wndWMAddEdit .k-textbox {
        width: 100%;
    }
</style>

<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic cm-white-content" id="tbWarehouseManagement">
        <div class="k-header k-grid-toolbar k-grid-top">
            <div class="container-fluid toolbarContent">

                <div class="row">
                    <div class="col-lg-9">

                        <div class="form-horizontal" id="frmWarehouseManagerSearch">
                            <div class="form-group">
                                <div class="col-lg-1">
                                    <label for="cbSearchStation">Station :</label>

                                    @(Html.Kendo().ComboBox().Name("cbSearchStation").DataSource(d =>
                                                             d.Read(r => r.Action("GetPorts", "Common"))).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                                           .Events(e => e.Change("WahehouseManagementModel.onStationChange"))
                                                                                                           .Value(SessionManager.UserInfo.DefaultSiteId.ToString())
                                     .HtmlAttributes(new
                                     {
                                         id = "cbSearchStation",
                                         comboselected = "",
                                         data_comboselected_msg = "Station is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Station is required"
                                     }).Filter(FilterType.Contains))
                                </div>

                                <div class="col-lg-2">
                                    <label for="cbSearchWarehouse">Warehouse :</label>

                                    @(Html.Kendo().ComboBox().Name("cbSearchWarehouse").DataSource(d =>
                                     d.Read(r => r.Action("GetWarehousesByStationId", "WarehouseManagement")
                                         .Data("WahehouseManagementModel.getStationId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                      .Events(e => e.Change("WahehouseManagementModel.onWarehouseChange").DataBound("WahehouseManagementModel.onWarehouseDatabound"))
                                    //  .Value(SessionManager.UserInfo.DefaultWarehouseId.ToString())
                                     .HtmlAttributes(new
                                     {
                                         id = "cbSearchWarehouse",
                                         comboselected = "",
                                         data_comboselected_msg = "Warehouse is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Warehouse is required"
                                     }).Filter(FilterType.Contains))
                                </div>

                                <div class="col-lg-2">
                                    <label for="ddlHandlingStation">Region :</label>
                                    @(Html.Kendo().ComboBox().Name("cbSearchRegion").DataSource(d =>
                                                                     d.Read(r => r.Action("GetRegionsByWarehouseId", "WarehouseManagement").Data("WahehouseManagementModel.getWarehouseId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                                                .Events(e => e.Change("WahehouseManagementModel.onRegionChange"))
                                     .HtmlAttributes(new
                                     {
                                         id = "cbSearchRegion"
                                     }).Filter(FilterType.Contains))
                                </div>
                                <div class="col-lg-2">
                                    <label for="ddlHandlingStation">Location :</label>
                                    @(Html.Kendo().ComboBox().Name("cbSearchLocation").DataSource(d =>
                                                 d.Read(r => r.Action("GetLocationsByRegionId", "WarehouseManagement").Data("WahehouseManagementModel.getRegionId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")

                                     .HtmlAttributes(new
                                     {
                                         id = "cbSearchLocation"
                                     }).Filter(FilterType.Contains))
                                </div>
                                <div class="col-lg-2 minwidth145">
                                   
                                        <label>&nbsp;</label>
                                        <input type="button" class="k-button cm-grid-filter-btn " value="Filter" onclick="WahehouseManagementModel.onSearch()">
                                        <input type="button" class="k-button cm-grid-reset-btn" value="Reset" onclick="WahehouseManagementModel.onReset()">
                                    
                                    

                                </div>
                                <div class="col-lg-3">
                                    
                                        <label for="ddlHandlingStation234">Group By :</label>
                                        <div class="radio-inline">
                                            <label> @Html.RadioButton("ViewBy", 0, true, new { onclick = "WahehouseManagementModel.showShipments()" })  Shipment</label>
                                        </div>
                                        <div class="radio-inline">
                                            <label> @Html.RadioButton("ViewBy", 1, false, new { onclick = "WahehouseManagementModel.showLocations()" })  Location</label>
                                        </div>
                                   

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-3">

                        <div class="form-horizontal" style="margin-top:20px;">
                            <div class="form-group">

                                <label for="ddlAddForTaskTypes" class="col-lg-2 control-label">Action:</label>
                                <div class="col-lg-6">
                                    @(Html.Kendo().DropDownList().BindTo(ViewBag.ManageTypes)
                                                            .DataTextField("Name")
                                                            .DataValueField("Id")
                                                        .Name("ddlManageTypes")
                                    )

                                </div>
                                <div class="col-lg-3">
                                    <input type="button" class="k-button cm-grid-add-btn" value="Add New" onclick="WahehouseManagementModel.showAddEditNew()">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="cm-heightcalc100-70" id="divShipments">
            @Html.Partial("_ShipmentsGrid")
        </div>
        <div class="cm-heightcalc100-70" style="display:none;" id="divLocations">
            @Html.Partial("_LocationsGrid")
        </div>



    </div>
</div>

@(Html.Kendo().Window().Name("wndWMAddEdit").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))
