﻿@model  MCH.Web.Models.Dashboard.DashTileContainer
@{
    int tilesCount = Model.Tiles.Count;
    int rowCount = tilesCount / 4;
    if (tilesCount % 4 != 0)
    {
        rowCount++;
    }
}

@for (int i = 0; i < rowCount; i++)
{
    <div class="row">
        @for (int j = 0; j < 4; j++)
        {
            int index = j + (i * 4);
            if (index < tilesCount)
            {
                var tmpTile = Model.Tiles[index];

                <text>
                    <div class="col-md-3 col-sm-6" data-type-id="@tmpTile.TypeId">

                        <div class="widget widget-inverse widget-scroll" data-scroll-height="165px">
                            <div class="widget-head cm-dashpanel-@tmpTile.TypeId">
                                <h4 class="heading">@tmpTile.TypeName Tasks</h4>
                            </div>
                            <div class="widget-body padding-none">
                                <div>
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td>Total Tasks</td>
                                                <td>-</td>
                                                <td class="center"><a href="#" data-nav="@Url.Action("GetTaskViewByType", "Tasks")" data-type-id="@tmpTile.TypeId">@tmpTile.TotalCount</a></td>
                                            </tr>
                                            @foreach (var statusItem in tmpTile.TasksByStatus)
                                            {
                                                <tr>
                                                    <td>@statusItem.StatusName</td>
                                                    <td>-</td>
                                                    <td class="center"><a href="#" data-nav="@Url.Action("GetTaskViewByType", "Tasks")" data-status-id="@statusItem.StatusId" data-type-id="@tmpTile.TypeId">@statusItem.TotalCount of @tmpTile.TotalCount</a></td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </text>
            }
        }
    </div>
}

<script type="text/javascript">
    $(function () {
        $('a[data-nav]').click(function () {
            var taskNavData = {};
            var url = $(this).attr('data-nav');
            taskNavData.TaskTypeId = $(this).attr('data-type-id');
            taskNavData.StatusId = $(this).attr('data-status-id');
            taskNavData.WarehousePortId = '@Model.StationId';
            taskNavData.From = $("#dpDashFrom").val();
            taskNavData.To = $("#dpDashTo").val();

            window.NAVIGATION_HANDLER.navigateTo(url, taskNavData, function () { });
        })
    })
</script>