﻿@model MCH.Web.Models.Dashboard.DashboardModel
@using MCH.Web.Utilities

<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic">
        <div class="widget widget-heading-simple margin-none" data-toggle="collapse-widget" data-collapse-closed="false">

            <div class="widget-body">

                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-3">
                            <h5>Handling Station</h5>
                            <div class="row innerLR">
                                @*<input type="text" style="width:100%" id="dashHandlingStation" />*@
                                @Html.DropDownList("dashHandlingStation", UIDataHelper.GetStations(SessionManager.UserInfo.DefaultSiteId, null, null), new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>From</h5>
                            <div class="input-group date" id="dashboardFrom">
                                <input class="form-control" id="dpDashFrom" type="text" value="@DateTime.Now.ToShortDateString()">
                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h5>To</h5>
                            <div class="input-group date" id="dashboardTo">
                                <input class="form-control" id="dpDashTo" type="text" value="@DateTime.Now.ToShortDateString()">
                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <h5>&nbsp</h5>
                            <div>
                                <button class="btn btn-primary" id="btnFilterDashPanel"><i class="fa fa-filter"></i> Filter</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 cm-head-split">
                        <div class="col-md-8">
                            <h5>Task Types</h5>
                            <div class="row innerLR">
                                @Html.DropDownList("dashTasksTypes", UIDataHelper.GetTaskTypes(null, null, null), new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h5>&nbsp</h5>
                            <div>
                                <button class="btn btn-success" id="btnDashAddTask"><i class="fa fa-plus"></i> New Task</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="dashPalenContent" style="margin-top:15px">

        </div>
    </div>

    
</div>



<script type="text/javascript">
    $(function () {

        $("#dashHandlingStation").select2();

        $("#dashTasksTypes").select2();

        var dashboardModel = new DashboardModel('@Url.Content("~")', 'dashPalenContent');

        dashboardModel.initComponents('@Url.Action("GetDashPanel", "Dashboard")');

        $("#btnDashAddTask").click(function () {
            var taskNavData = {};
            var url = '@Url.Action("GetAddTaskView", "Tasks")';
            taskNavData.TaskTypeId = $("#dashTasksTypes").select2('val');

            window.NAVIGATION_HANDLER.navigateTo(url, taskNavData, function () { });
        })
    });

</script>
