﻿@model MCH.Web.Models.Awbs.AwbViewerModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-@(Model.TaskDetails!=null  && Model.TaskId.HasValue ? "7":"12")">
            <fieldset>
                <legend>Airwaybill Details</legend>
                <div class="row">
                    <div class="col-md-7">
                        <form class="col-md-12 form-horizontal form-widgets">
                            <div class="form-group">
                                <label class="col-md-4 control-label"> AWB# :</label>
                                <div class="col-md-8">
                                    @Html.Kendo().TextBoxFor(m => m.AwbNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Description :</label>
                                <div class="col-md-8">
                                    @Html.Kendo().TextBoxFor(m => m.Description).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Special Handling :</label>
                                <div class="col-md-8">
                                    @Html.Kendo().TextBoxFor(m => m.SpecialHandling).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Export Control # :</label>
                                <div class="col-md-8">
                                    @Html.Kendo().TextBoxFor(m => m.ExportControlNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Import Controls # :</label>
                                <div class="col-md-8">
                                    @Html.Kendo().TextBoxFor(m => m.ImportControlNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Shipper :</label>
                                <div class="col-md-8">
                                    @Html.Kendo().TextBoxFor(m => m.Shipper).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"> Consignee :</label>
                                <div class="col-md-8">
                                    @Html.Kendo().TextBoxFor(m => m.Consignee).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            
                        </form>
                    </div>
                    <div class="col-md-5">
                        <form class="col-md-12 form-horizontal form-widgets">
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Origin :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.Origin).HtmlAttributes(new { style = "width:100%" }).Enable(false)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Destination :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.Destination).HtmlAttributes(new { style = "width:100%" }).Enable(false)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total ULDs :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalUlds).Value(Model.TotalUlds.HasValue ? Model.TotalUlds.Value : 0).Format("n0").Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total HAWBs :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalHwbs).Value(Model.TotalHwbs.HasValue ? Model.TotalHwbs.Value : 0).Format("n0").Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total SLAC :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalSlac).Value(Model.TotalSlac.HasValue ? Model.TotalSlac.Value : 0).Format("n0").Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total Pieces :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalPieces).Value(Model.TotalPieces.HasValue ? Model.TotalPieces.Value : 0).Format("n0").Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total Weight :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.TotalWeight).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Current Location :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.CurrentLocation).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
        </div>
        @if (Model.TaskDetails != null && Model.TaskId.HasValue)
        {
            <div class="col-md-5">
                @Html.Partial("_TaskDetailsViewer", Model.TaskDetails)
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12 pull-right">
            <div class="pull-right">
                <input type="button" class="k-button k-primary" value="Test Label Printer" id="btn_TestLabelPrinter"/>
                <input type="button" class="k-button k-primary" value="Edit AWB" id="btn_EditAwb_@Model.AwbId" />
                <input type="button" class="k-button k-primary" value="View AMS Details" id="btn_ViewAwbAmsDetials_@Model.AwbId"  />
                <input type="button" class="k-button k-primary" value="View Airwaybill Form" id="btn_ViewAwbForm_@Model.AwbId" />
            </div>
        </div>
    </div>
    <div class="row">
        @(Html.Kendo().TabStrip().Name("tabAwbViewer").Items(i =>
    {
        //i.Add().Text("Manifests").Selected(true).LoadContentFrom("GetEntityManifestsView", "Manifests", new { entityId = Model.FlightId, taskId = Model.TaskId, entityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.FlightManifest });
        
        i.Add().Text("Flight Legs").LoadContentFrom("GetFlightLegs", "Flights", new { entityId = Model.AwbId, TaskId = Model.TaskId, entityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.AWB }).Selected(true);

        i.Add().Text("ULDs").LoadContentFrom("GetAwbULDsView", "ULD", new { AwbId = Model.AwbId, TaskId = Model.TaskId });

        i.Add().Text("HWBs").LoadContentFrom("GetAwbHWBsView", "Hwb", new { AwbId = Model.AwbId, TaskId = Model.TaskId });
        
        i.Add().Text("Media").LoadContentFrom("GetEntityMediaView", "EntityViewers", new { EntityId = Model.AwbId, EntityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.AWB });
        
        i.Add().Text("History").LoadContentFrom("GetEntityHistoryView", "EntityViewers", new { EntityId = Model.AwbId, EntityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.AWB });
        
    }))
    </div>
</div>

@(Html.Kendo().Window().Name("wndAwbAmsDetails").Actions(a => a.Minimize().Maximize().Close()).Draggable(true).Visible(false).Resizable().Modal(true))

<script>
    //TODO : move this to js file
    $(function () {
        $("#btn_EditAwb_@Model.AwbId").click(function () {
            var tmpAWBEditWindow = window.TaskManager.ShowAddAWBDataEntryView('@Model.AwbId');
            tmpAWBEditWindow.setOptions({
                close: function () {
                    window.TaskManager.refreshCurrentViewer();
                }
            })
        })

        $("#btn_ViewAwbAmsDetials_@Model.AwbId").click(function () {

            var tmpWindow = $("#wndAwbAmsDetails").data("kendoWindow");
            window.DIALOG_HANDLER.openPartialWindow(tmpWindow, '@Url.Action("GetCustomsHistoryView", "Customs")', { TaskId: '@Model.TaskId', ShipmentId: '@Model.AwbId' }, "AMS Details");
        })

        $("#btn_TestLabelPrinter").click(function () {
            $.getJSON("@Url.Action("PrintTestLabel","LabelPrinter")", function (data) {
                alert("Label printer is working.");
            });
        })

        $("#btn_ViewAwbForm_@Model.AwbId").click(function () {
            var tmpReportViewer = new ReportViewer({ RootPath: "@Url.Action("GetReportByName", "Reports")", WindowId: "wndReportsViewer", ContainerId: "dvReportViewerContainer" });
            var tmpParams = {};
            tmpParams.AWBID  = "@Model.AwbId";
            tmpParams.COPIES = null;

            tmpReportViewer.initThenOpen({ Params: tmpParams, Name: "/MCH/AWB" });
        })

    })
</script>
