﻿@model MCH.Web.Models.Flight.FlightViewerModel
<div class="container-fluid">
    <div class="row">
        <div class="col-md-@(Model.TaskDetails!=null ? "7":"12")">
            <fieldset>
                <legend>Flight Details</legend>
                
                    <div class="col-md-7">
                        <form class="col-md-12 form-horizontal form-widgets">
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Carrier :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.CarrierName).Enable(false).HtmlAttributes(new {style="width:100%"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Flight Number :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.FlightNumber).Enable(false).HtmlAttributes(new { style = "width:100%; background-color:yellow" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Loading Port :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.LoadingPortName).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Unloading Port :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.UloadingPortName).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> ETD :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().DatePickerFor(m => m.ETD).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> ETA :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().DatePickerFor(m => m.ETA).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Aircraft Registration :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().TextBoxFor(m => m.AircraftRegNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                        </form>
</div>
                    <div class="col-md-5">
                        <form class="col-md-12 form-horizontal form-widgets">
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total ULDs :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalULDs).Format("d").Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total AWBs :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalAWBs).Format("d").Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total Pieces :</label>
                                <div class="col-md-7" >
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalPieces).Format("d").Enable(false).HtmlAttributes(new { style = "width:100%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label"> Total Weight :</label>
                                <div class="col-md-7">
                                    @Html.Kendo().NumericTextBoxFor(m => m.TotalWeight).Enable(false).HtmlAttributes(new { style = "width:100%" }).Format("#  " + Model.WeightUOM) 
                                </div>
                            </div>
                        </form>
                    </div>
                
            </fieldset>
        </div>
        @if (Model.TaskDetails != null)
        {
            <div class="col-md-5">
                @Html.Partial("_TaskDetailsViewer", Model.TaskDetails)
            </div>
        }

    </div>
    <div class="row">
        @(Html.Kendo().TabStrip().Name("tabFlightViewer").Items(i =>
    {
        i.Add().Text("Manifests").Selected(true).LoadContentFrom("GetEntityManifestsView", "Manifests", new { entityId = Model.FlightId, taskId = Model.TaskId, entityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.FlightManifest });
        
        i.Add().Text("Flight Legs").LoadContentFrom("GetFlightLegs", "Flights", new { entityId = Model.FlightId, TaskId = Model.TaskId, entityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.FlightManifest });
        
        i.Add().Text("ULDs").LoadContentFrom("GetFlightULDsView", "ULD", new { FlightId = Model.FlightId, TaskId = Model.TaskId });
        
        i.Add().Text("AWBs").LoadContentFrom("GetFlightAWBsView", "Awb", new { FlightId = Model.FlightId, TaskId = Model.TaskId });
        
        i.Add().Text("HWBs").LoadContentFrom("GetFlightHWBsView", "Hwb", new { FlightId = Model.FlightId, TaskId = Model.TaskId });
        
        i.Add().Text("Media").LoadContentFrom("GetEntityMediaView", "EntityViewers", new { EntityId = Model.FlightId, EntityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.FlightManifest});
        
        i.Add().Text("History").LoadContentFrom("GetEntityHistoryView", "EntityViewers", new { EntityId = Model.FlightId, EntityTypeId = MCH.BLL.Model.Enum.enumEntityTypes.FlightManifest });
        
    }).HtmlAttributes(new {style="height:100%"})
    )
    </div>
</div>

