﻿@model MCH.Web.Models.Hwbs.HwbViewerModel
 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-@(Model.TaskDetails!=null ? "7":"12")">
            <fieldset>
                <legend>Housebill Details</legend>

                <div class="col-md-7">
                    <form class="col-md-12 form-horizontal form-widgets">
                        <div class="form-group">
                            <label class="col-md-5 control-label"> HWB# :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.HwbNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Origin :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.Origin).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Destination :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.Destination).Enable(false)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Description :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.Description).Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Special Handling :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.SpecialHandling).Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Export Control # :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.ExportControlNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Import Controls # :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.ImportControlNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Current Location :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.ImportControlNumber).Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Goods Desc. :</label>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.GoodsDesc, new { style = "width:100%", rows = 3, @class = "k-input" })
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <form class="col-md-12 form-horizontal form-widgets">
                        <div class="form-group">
                            <label class="col-md-5 control-label"> AWB # :</label>
                            <div class="col-md-7">
                                @Html.Kendo().TextBoxFor(m => m.AWBNumber).Format("d").Enable(false).HtmlAttributes(new { style = "width:100%; backgroud-color:yellow" })
                                <input type="button" class="k-button"  value="View"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Total SLAC :</label>
                            <div class="col-md-7">
                                @Html.Kendo().NumericTextBoxFor(m => m.TotalSlac).Format("d").Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Total Pieces :</label>
                            <div class="col-md-7">
                                @Html.Kendo().NumericTextBoxFor(m => m.TotalPieces).Format("d").Enable(false).HtmlAttributes(new { style = "width:100%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"> Total Weight :</label>
                            <div class="col-md-7">
                                @Html.Kendo().NumericTextBoxFor(m => m.TotalWeight).Enable(false).HtmlAttributes(new { style = "width:80%" }) @Model.WeightUOM
                            </div>
                        </div>
                    </form>
                </div>

            </fieldset>
        </div>
        @if (Model.TaskDetails != null)
        {
            <div class="col-md-5">
                @Html.Partial("_TaskDetailsViewer", Model.TaskDetails)
            </div>
        }

    </div>
    <div class="row">
        <div class="col-md-12 pull-right">
            <div class="pull-right">
                <input type="button" class="k-button k-primary" value="Edit HWB" />
                <input type="button" class="k-button k-primary" value="View AMS Details" />
                <input type="button" class="k-button k-primary" value="Preview HWB" />
            </div>
        </div>
    </div>
    <div class="row">
        @(Html.Kendo().TabStrip().Name("tabFlightViewer").Items(i =>
    {
        i.Add().Text("Manifests").Selected(true).LoadContentFrom("GetFlightManifestsList", "Manifests");
        i.Add().Text("Flight Legs").LoadContentFrom("GetFlightLegs", "Flights", new { FlightId = Model.FlightId });
        i.Add().Text("ULDs").LoadContentFrom("GetFlightULDs", "ULDs", new { FlightId = Model.FlightId });
        i.Add().Text("AWBs").LoadContentFrom("GetFlightAWBs", "Awbs", new { FlightId = Model.FlightId });
        i.Add().Text("HWBs").LoadContentFrom("GetFlightHWBs", "Hwbs", new { FlightId = Model.FlightId });
        i.Add().Text("Media").LoadContentFrom("GetFlightMediaList", "Medias", new { FlightId = Model.FlightId });
        i.Add().Text("History").LoadContentFrom("GetFlightHistory", "Flights", new { FlightId = Model.FlightId });
    }))
    </div>
</div>
