﻿@model MCH.Web.Models.Common.TaskDetialsModel

<fieldset>
    <legend>Task Details</legend>
    <div class="col-md-7">
        <form class="col-md-12 form-horizontal form-widgets">
            <div class="form-group">
                <label class="col-md-5 control-label"> Type :</label>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(m => m.TypeName).Enable(false).HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label"> Started at :</label>
                <div class="col-md-7">
                    @Html.Kendo().DatePickerFor(m => m.StartedAt).Enable(false).HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label"> Ended at :</label>
                <div class="col-md-7">
                    @Html.Kendo().DatePickerFor(m => m.EndedAt).Enable(false).HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label"> Location :</label>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(m => m.Location).Enable(false).HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label"> Status :</label>
                <div class="col-md-7">
                    @Html.Kendo().TextBoxFor(m => m.Status).Enable(false).HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label"> Last Updated :</label>
                <div class="col-md-7">
                    @Html.Kendo().DatePickerFor(m => m.LastUpdated).Enable(false).HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 control-label"> Progress :</label>
                <div class="col-md-7">
                    @Html.Kendo().ProgressBar().Name("TaskProgress").Max(100).Value(Model.Progress.HasValue ? Model.Progress.Value : 0).HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <span>Assigned To :</span>
        <ul style="list-style-type: none;height: 100%; border: solid 1px; padding-left: 10px; min-height:40px">
            @if (Model.AssignedTo != null && Model.AssignedTo.Any())
            {
                foreach (var item in Model.AssignedTo)
                {
                    <li data-id="@item.UserId">@item.Username</li>
                }
            }
        </ul>
    </div>
</fieldset>

