<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/CustomSelector">
    <LinearLayout
        android:orientation="vertical"
        android:gravity="left"
        android:layout_width="1dp"
        android:layout_height="match_parent"
        android:layout_weight="1">
        <CheckBox
            android:text="CheckBox"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/SelectionName"
            style="@style/windowItemHeaderTextStyle" />
    </LinearLayout>
    <TextView
        android:text="Pcs: 0 of 0"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:layout_width="wrap_content"
        android:layout_height="match_parent"
        android:id="@+id/txtPieces"
        android:gravity="center_vertical"
        style="@style/windowItemTextStyle" />
    <LinearLayout
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="60dp"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1"
        android:layout_margin="0dp"
        android:gravity="right">
        <ImageView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/SelectionIcon"
            android:src="@drawable/delete" />
    </LinearLayout>
</LinearLayout>