<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <LinearLayout
        android:id="@+id/SearchBar"
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:background="#ffffff">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="40dp"
            android:background="#ffffff">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="40dip"
                android:layout_height="40dip"
                android:gravity="center_vertical"
                android:minWidth="25px"
                android:minHeight="25px">
                <ImageButton
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/SearchButton"
                    android:background="@drawable/Search" />
            </LinearLayout>
            <LinearLayout
                android:focusable="true"
                android:focusableInTouchMode="true"
                android:orientation="horizontal"
                android:gravity="left"
                android:layout_width="1dip"
                android:layout_height="40dip"
                android:layout_weight="1"
                android:minWidth="25px"
                android:minHeight="25px">
                <EditText
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/SeachText"
                    android:hint="@string/Find"
                    android:visibility="visible"
                    android:inputType="text"
                    android:layout_marginTop="1dp"
                    android:layout_marginBottom="1dp"
                    android:background="@drawable/Edit_Text_Style" />
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="40dip"
                android:layout_height="40dip"
                android:gravity="center_vertical"
                android:minWidth="25px"
                android:minHeight="25px">
                <ImageButton
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/ClearSearch"
                    android:background="@drawable/Cancel"
                    android:visibility="visible" />
            </LinearLayout>
        </LinearLayout>
        <View
            android:layout_width="fill_parent"
            android:layout_height="2dp"
            style="@style/windowLineBackgroundStyle" />
    </LinearLayout>
    <ListView
        android:id="@+id/SelectionListView"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1"
        android:minHeight="100dp" />
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="50dp">
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:minWidth="25px"
            android:minHeight="25px">
            <Button
                android:id="@+id/btnCancel"
                android:layout_width="wrap_content"
                android:layout_height="40dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Cancel"
                style="@style/windowButtonStyle"
                android:layout_marginTop="1dp"
                android:layout_marginBottom="1dp"
                android:layout_marginRight="10dp" />
            <Button
                android:id="@+id/btnDelete"
                android:layout_width="wrap_content"
                android:layout_height="40dp"
                android:background="@drawable/SquareButton"
                android:text="REMOVE"
                style="@style/windowButtonStyle"
                android:layout_marginTop="1dp"
                android:layout_marginBottom="1dp" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>