<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@drawable/CustomNoSelector">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:id="@+id/linearLayout2">
        <TextView
            android:text="@string/Comments"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:gravity="center_vertical"
            style="@style/windowTitleTextStyle"
            android:layout_marginTop="25dp"
            android:layout_marginLeft="5dp"
            android:layout_marginRight="15dp"
            android:id="@+id/txtMessage"
            android:textSize="16dp" />
        <EditText
            android:inputType="textMultiLine"
            android:layout_width="match_parent"
            android:layout_height="100dp"
            android:id="@+id/txtComments"
            android:hint="@string/Comments_Hint"
            android:password="false"
            android:background="#fffbffbd"
            android:gravity="top"
            android:layout_marginLeft="5dp"
            android:layout_marginRight="5dp"
            android:layout_marginBottom="5dp" />
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="50dp">
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent"
            android:minWidth="25px"
            android:minHeight="25px">
            <Button
                android:id="@+id/btnCancel"
                android:layout_width="wrap_content"
                android:layout_height="40dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Cancel"
                style="@style/windowButtonStyle"
                android:layout_marginTop="1dp"
                android:layout_marginBottom="1dp"
                android:layout_marginRight="10dp" />
            <Button
                android:id="@+id/btnOk"
                android:layout_width="wrap_content"
                android:layout_height="40dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Apply"
                style="@style/windowButtonStyle"
                android:layout_marginTop="1dp"
                android:layout_marginBottom="1dp" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>