<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@drawable/ContentBackground">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/HeaderBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Back"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/BackButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Clock"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/HeaderImage" />
            <TextView
                android:text="@string/app_name"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/HeaderText"
                android:gravity="center_vertical"
                style="@style/windowHeaderTextStyle" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/OptionButton"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/OptionButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="match_parent">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="40dip"
                android:layout_height="match_parent"
                android:gravity="center_vertical"
                android:minWidth="25px"
                android:minHeight="25px" />
            <LinearLayout
                android:focusable="true"
                android:focusableInTouchMode="true"
                android:orientation="horizontal"
                android:gravity="left"
                android:layout_width="1dip"
                android:layout_height="match_parent"
                android:layout_weight="1"
                android:minWidth="25px"
                android:minHeight="25px" />
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="40dip"
                android:layout_height="match_parent"
                android:gravity="center_vertical"
                android:minWidth="25px"
                android:minHeight="25px" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/FooterBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px" />
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px" />
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px" />
    </LinearLayout>
</LinearLayout>