<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
    <RelativeLayout
        android:background="@drawable/SplashBackground"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:orientation="vertical"
            android:layout_marginRight="25dp"
            android:layout_marginLeft="25dp">
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:gravity="center"
                android:layout_marginTop="0dp">
                <TextView
                    android:text="ENTER NUMBER OF PIECES:"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtMessage"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="20dp"
                    android:textSize="16dp" />
            </LinearLayout>
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:gravity="center"
                android:layout_marginTop="0dp"
                android:id="@+id/NoNumberPicker">
                <TextView
                    android:text="PIECES"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtLabel"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="20dp"
                    android:textSize="16dp" />
                <EditText
                    android:inputType="number"
                    android:text="000"
                    style="@style/windowTitleTextStyle"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/txtPieces"
                    android:selectAllOnFocus="true" />
                <TextView
                    android:text="OF"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtTotalPieces"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="20dp"
                    android:textSize="16dp" />
            </LinearLayout>
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:gravity="center"
                android:layout_marginTop="0dp"
                android:background="#ffffffff"
                android:id="@+id/NumberPicker">
                <TextView xmlns:tools="http://schemas.android.com/tools"
                    android:text="PIECES"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtLabelPcs"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="20dp"
                    android:textSize="16dp" />
                <NumberPicker
                    android:id="@+id/npId"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    style="@style/Theme.NumberPicker" />
                <TextView
                    android:text="OF"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtOfTotalPieces"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="20dp"
                    android:textSize="16dp"
                    android:textColor="#000000" />
            </LinearLayout>
            <CheckBox
                android:layout_marginTop="20dp"
                android:text="ALLOW OVERAGE"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/AllowOverage"
                style="@style/windowTitleTextStyle"
                android:textSize="12dp" />
            <Button
                android:id="@+id/btnOk"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:layout_below="@id/barcode"
                android:layout_marginTop="20dp"
                android:background="@drawable/SquareButton"
                android:text="APPLY"
                style="@style/windowButtonStyle" />
            <Button
                android:id="@+id/btnCancel"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:layout_below="@id/ok"
                android:layout_marginTop="5dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Cancel"
                style="@style/windowButtonStyle"
                android:layout_marginBottom="20dp" />
            <EditText
                android:layout_width="0dp"
                android:layout_height="0dp"
                android:id="@+id/txtHidden" />
        </LinearLayout>
    </RelativeLayout>
</LinearLayout>