<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="@dimen/height_button"
    android:background="@drawable/CustomSelector"
    android:orientation="horizontal">
    <ImageView
        android:id="@+id/RowIcon"
        android:layout_width="wrap_content"
        android:layout_height="@dimen/height_icon"
        android:layout_gravity="center_vertical"
        android:padding="@dimen/element_spacing_normal"
        android:src="@drawable/Cube" />
    <LinearLayout
        android:layout_width="0dip"
        android:layout_height="wrap_content"
        android:layout_weight="1"
        android:layout_gravity="center_vertical"
        android:orientation="vertical">
        <TextView
            android:id="@+id/txtCart"
            style="@style/Text.Body1"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textSize="@dimen/text_size_medium" />
        <TextView
            android:id="@+id/txtFlightInfo"
            style="@style/Text.Caption"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content" />
    </LinearLayout>
</LinearLayout>