<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@drawable/ContentBackground">
    <LinearLayout
        android:id="@+id/Header"
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="@drawable/HeaderBackground">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Back"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/BackButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="center"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/Clock"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:id="@+id/HeaderImage" />
            <TextView
                android:text="@string/app_name"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/HeaderText"
                android:gravity="center_vertical"
                style="@style/windowHeaderTextStyle" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageView
                android:src="@drawable/OptionButton"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/OptionButton"
                android:background="@drawable/HeaderImageButtonClick" />
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="#ffffff">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/DropDownCheck"
                android:background="@drawable/Check" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="2dp"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            style="@style/windowLineBackgroundStyle"
            android:layout_marginTop="10dp"
            android:layout_marginBottom="10dp"
            android:layout_marginRight="5dp"
            android:layout_marginLeft="1dp"
            android:layout_height="20dp" />
        <LinearLayout
            android:orientation="horizontal"
            android:gravity="left"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/DropDownBox">
            <TextView
                android:text="Open"
                android:textAppearance="?android:attr/textAppearanceLarge"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/DropDownText"
                android:gravity="center_vertical"
                style="@style/windowTextStyle"
                android:textSize="15dp" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/DropDownButton"
                android:background="@drawable/Down"
                android:visibility="visible" />
        </LinearLayout>
    </LinearLayout>
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="40dp"
        android:background="#ffffff">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/SearchButton"
                android:background="@drawable/Search" />
        </LinearLayout>
        <LinearLayout
            android:focusable="true"
            android:focusableInTouchMode="true"
            android:orientation="horizontal"
            android:gravity="left"
            android:layout_width="1dip"
            android:layout_height="40dip"
            android:layout_weight="1"
            android:minWidth="25px"
            android:minHeight="25px">
            <EditText
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/SearchText"
                android:hint="@string/Find"
                android:visibility="visible"
                android:inputType="text" />
        </LinearLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="40dip"
            android:layout_height="40dip"
            android:gravity="center_vertical"
            android:minWidth="25px"
            android:minHeight="25px">
            <ImageButton
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/ClearSearchButton"
                android:background="@drawable/Cancel"
                android:visibility="visible" />
        </LinearLayout>
    </LinearLayout>
    <ListView
        android:background="#ffffffff"
        android:id="@+id/GridControl"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1" />
</LinearLayout>