<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <View
        android:layout_width="fill_parent"
        android:layout_height="2dp"
        style="@style/windowLineBackgroundStyle" />
    <RelativeLayout
        android:background="@drawable/SplashBackground"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="0dp"
        android:layout_weight="1">
        <LinearLayout
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_centerInParent="true"
            android:orientation="vertical"
            android:layout_marginRight="25dp"
            android:layout_marginLeft="25dp">
            <LinearLayout
                android:layout_width="fill_parent"
                android:layout_height="match_parent"
                android:orientation="horizontal"
                android:gravity="center"
                android:layout_marginTop="0dp">
                <TextView
                    android:text="Message"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/message"
                    android:textAlignment="center"
                    android:layout_gravity="center"
                    style="@style/windowTitleTextStyle"
                    android:layout_marginTop="20dp"
                    android:layout_marginBottom="20dp"
                    android:textSize="16dp" />
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:id="@+id/linearLayout1">
                <EditText
                    android:inputType="text"
                    android:layout_width="1dip"
                    android:layout_height="match_parent"
                    android:layout_weight="1"
                    android:id="@+id/barcode"
                    android:hint="ENTER OR SCAN REFERENCE#"
                    android:password="false"
                    android:textSize="14dp"
                    android:background="@drawable/Edit_Text_Style" />
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="40dip"
                    android:layout_height="40dip"
                    android:gravity="center_vertical"
                    android:minWidth="25px"
                    android:minHeight="25px">
                    <ImageButton
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/ClearSearchButton"
                        android:background="@drawable/Cancel"
                        android:visibility="visible" />
                </LinearLayout>
            </LinearLayout>
            <Button
                android:id="@+id/ok"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:layout_below="@id/barcode"
                android:layout_marginTop="20dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Ok"
                style="@style/windowButtonStyle" />
            <Button
                android:id="@+id/cancel"
                android:layout_width="fill_parent"
                android:layout_height="40dp"
                android:layout_below="@id/ok"
                android:layout_marginTop="5dp"
                android:background="@drawable/SquareButton"
                android:text="@string/Cancel"
                style="@style/windowButtonStyle"
                android:layout_marginBottom="20dp" />
        </LinearLayout>
    </RelativeLayout>
</LinearLayout>