<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="horizontal"
    android:layout_width="fill_parent"
    android:layout_height="40dp"
    android:background="@drawable/CustomSelector">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="40dip"
        android:layout_height="40dip"
        android:gravity="center_vertical"
        android:minWidth="25px"
        android:minHeight="25px">
        <ImageView
            android:id="@+id/SelectionIcon"
            android:layout_width="38dp"
            android:layout_height="38dp"
            android:padding="5dp"
            android:src="@drawable/Menu"
            android:layout_alignParentRight="true" />
    </LinearLayout>
    <LinearLayout
        android:orientation="horizontal"
        android:gravity="left"
        android:layout_width="1dip"
        android:layout_height="40dip"
        android:layout_weight="1"
        android:minWidth="25px"
        android:minHeight="25px">
        <TextView
            android:text="Option"
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="wrap_content"
            android:layout_height="match_parent"
            android:id="@+id/SelectionName"
            android:gravity="center_vertical"
            style="@style/windowItemHeaderTextStyle" />
    </LinearLayout>
</LinearLayout>