﻿@model string

@(Html.Kendo().ComboBoxFor(m => m)
                        .DataValueField("Id")
                                .DataTextField("Name")
        .Placeholder("select")
                                .HtmlAttributes(new
                                {
                                    required = "",
                                    data_required_msg = "Required",
                                    issame = "true",
                                    comboselected = "",
                                    data_comboselected_msg = "Invalid"
                                })
                            .DataSource(d => d.Read(r => r.Action("GetPortsForTemplate", "AWBWizard")))
)

<span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" style="display:none;"  id="FlightFromIdDublicated_validationMessage" role="alert"><span class="k-icon k-warning"> </span> Ports are same.</span>