﻿@using MCH.Web.Models.Account
@model LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!-->
<html>
<!-- <![endif]-->
<head>
    <title>MCH Login</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
   
    <!--[if lt IE 9]><link rel="stylesheet" href="~/Content/assets/components/library/bootstrap/css/bootstrap.min.css" /><![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/admin/module.admin.page.login.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/Content/assets/components/library/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/components/library/jquery/jquery-migrate.min.js"></script>
    <script src="~/Content/assets/components/library/modernizr/modernizr.js"></script>
    <script src="~/Content/assets/components/plugins/less-js/less.min.js"></script>
    @*<script src="~/Content/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js"></script>
    <script src="~/Content/assets/components/plugins/browser/ie/ie.prototype.polyfill.js"></script>*@
</head>
<body class=" loginWrapper">

    <div id="content">
        <h4 class="innerAll margin-none border-bottom text-center"><i class="fa fa-lock"></i> Login to your Account</h4>

        <div class="login spacing-x2">
            <div class="placeholder text-center"><i class="fa fa-lock"></i></div>
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body innerAll">
                       @*@ Html.ValidationSummary(true)*@
                        <form role="form" action="@Url.Action("DoLogin","Account")" class="validateSubmitForm" method="post" autocomplete="off" >
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="UserId">User ID</label>
                                <input type="email" class="form-control" id="userid" name="UserId" placeholder="Enter User ID">
                            </div>
                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="@Url.Action("ForgetUserIdView","Account")"> Forgot my UserID </a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="@Url.Action("ForgetPassView","Account")"> Forgot my password </a>
                                    </div>
                                </div>
                                
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                            <div class="checkbox">
                                <label>
                                    @Html.EditorFor(m=> m.RememberMe) Remember my details
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Global -->
    <script>
    var basePath = '',
        commonPath = '@Url.Content("~")/assets/',
        rootPath = '@Url.Content("~")/',
                DEV = false,
                componentsPath = '@Url.Content("~")/assets/components/';

    var primaryColor = '#4e72c2',
            dangerColor = '#b55151',
            infoColor = '#466baf',
            successColor = '#8baf46',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

    var themerPrimaryColor = primaryColor;
    </script>


    <script src="~/Content/assets/components/library/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/components/modules/admin/forms/validator/assets/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Content/assets/components/modules/admin/forms/validator/assets/custom/form-validator.init.js"></script>
    <script src="~/Content/assets/components/core/js/core.init.js"></script>
</body>
</html>