﻿
table.dataTable thead th,
table.dataTable thead td {
    padding: 4px 15px 4px 5px;
    border: none;
    border-right: solid 1px #91bfe7;
    border-bottom: solid 1px #91bfe7;
    border-color: #91bfe7;
}

    table.dataTable thead th:active,
    table.dataTable thead td:active {
        outline: none;
    }

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 4px 15px 4px 5px;
    border-top: 1px solid #111111;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 7px 15px 7px 5px;
    border-left: solid;
    border-right: solid;
    border-color: #dddddd;
    border-width: 1px;
}

.DataTables_sort_wrapper a {
    margin-right: 10px;
}

div.dataTables_wrapper > div.fg-toolbar.ui-toolbar {
    border: solid 1px #91bfe7;
    height: 44px;
    border-radius: 0px;
    background: #e3effa;
    color: #ffffff;
}

div.dataTables_wrapper .dataTables_length {
    margin: 10px 0px 5px 10px;
    color: black;
}

div.dataTables_wrapper .dataTables_scroll {
    border-right: solid 1px #91bfe7;
    border-left: solid 1px #91bfe7;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}

div.dataTables_wrapper .dataTables_info {
    margin: 0px 0px 0px 10px;
    color: black;
}

div.dataTables_filter > label {
    color: black;
    margin: 0px;
}

div.dataTables_filter input[type=search] {
    width: 250px;
    margin: 8px;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f8f4d7;
}

.dataTables_scrollHead.ui-state-default thead > tr {
    background-color: #daedff;
}


.cm-date-column {
    margin: 0px;
}

.cm-datetime-column {
    margin: 0px 0px 0px 12px;
}
