﻿.cm-grid-toolbar span{
    font-weight:bold;
}

.cm-grid-toolbar-search-text{
    width:250px;
}
.cm-grid-toolbar-search-column{
    width:200px;
}

.cm-grid-toolbar-search-actions{
    float:right;
}

.k-grid-toolbar label{
    display:block;
}

.k-grid-toolbar .cm-grid-action-bar{
    margin-top:5px;
   
}
.k-grid-toolbar .cm-grid-action-bar-item{
    float:right;
}


