﻿div.input-size-box {
    margin-bottom: .6em;
    margin-top: 5px;
}
div.input-siz-box-right{
    
    margin-top: .3em;

}

input.k-textbox {
    height: 2.1em;
    text-indent: .8em;
}

input[type=button].k-button.cm-btn {
    border: solid 1px #ccc;
    width: 100%;
}

input[type=button].k-button.cm-btn-reset {
    color: white;
    background-color: #791919;
}

.cm-grid-compact {
}

    .cm-grid-compact .k-grid-edit-row .k-tooltip-validation {
        position: absolute;
        background: #fbeed5;
    }

    .cm-grid-compact.k-grid td {
        margin: 0px;
        padding: 1px;
    }

    .cm-grid-compact.k-grid a.k-grid-update, .k-grid a.k-grid-cancel, .k-grid a.k-grid-edit, .k-grid a.k-grid-delete {
        padding-left: 5px;
        padding-top: 5px;
        min-width: 0px;
        width: 5px !important;
    }

    .cm-grid-compact.k-grid .k-textbox {
        text-indent: 0;
    }

    .cm-grid-compact .k-grid-header th.k-header, .k-filter-row th {
        padding: .5em 0px .4em 2px !important;
    }

        .cm-grid-compact .k-grid-header th.k-header > .k-link {
            display: -webkit-box !important;
        }



