﻿@using MCH.Core.Models.CargoDischarge;
@using MCH.Core.Models.Common;
@model DischargeDriverModel

@Html.Partial("_PartnerEditorJS")


    <script>
        window.WizardDriverStep = new DisDriverStepController({
            SaveDriverView: "@Url.Action("SaveDriverView", "CargoDischarge")",
            SaveDISDriver: "@Url.Action("AddDriver","Drivers")",
            SaveTruckingCompany: "@Url.Action("AddTruckingCompany", "Drivers")",
            GetDriverDetials: "@Url.Action("GetById", "Drivers")",
        });

    </script>

<div style="display:none">
    @(Html.Kendo().DropDownList().Name("ddlDisDocumentTypes")
                                    .DataSource(d => d.Read(r => r.Action("GetShipmentDocumentTypes", "Common")))
                   .DataTextField("Name").DataValueField("Id")
    )
</div>
<form class="col-md-12 form-horizontal form-widgets" id="frmDriverView">
    <div class="row" id="wizardContainer" style="overflow:auto">
        <div class="col-md-6">
            <div class="col-md-12 form-horizontal form-widgets">
                <div class="form-group">
                    <label class="col-md-4 control-label required" id="">Driver Name : </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.DriverId).Name("ddlDrivers")
                            .DataSource(d => d.Read(r => r.Action("GetCarrierDrivers", "Common")))
                            .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "DriverId", style = "width:80%" })
                        )
                        <button type="button" class="k-button" title="Add Driver" id="btnDISAddDriver">
                            <span class="k-sprite k-icon k-add"></span>
                        </button>
                        <span class="k-invalid-msg" data-for="DriverId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label required" id="">Trucking Company : </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.TruckingCompId).Name("ddlTruckingCompany")
                                    .DataSource(d => d.Read(r => r.Action("GetDriverTruckingCompanies", "Common")))
                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "TruckingCompId", style = "width:80%" })
                        )
                        <button type="button" class="k-button" title="Add Trucking Company" id="btnDISAddTruckComp">
                            <span class="k-sprite k-icon k-add"></span>
                        </button>
                        <span class="k-invalid-msg" data-for="TrackingCompanyId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" id="">STA # : </label>
                    <div class="col-lg-8">
                        @(Html.TextBoxFor(m => m.STANumber, new { name = "STANumber", @class = "k-textbox", style = "width:100%", id = "txtDISDriverSTA" }))
                        <span class="k-invalid-msg" data-for="STANumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" id="">Driver License: </label>
                    <div class="col-lg-8">
                        @(Html.TextBoxFor(m => m.DriverLicense, new { name = "DriverLicense", @class = "k-textbox", style = "width:100%", id = "txtDISDriverLicense" }))
                        <span class="k-invalid-msg" data-for="DriverLicense"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" id="">State: </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.StateId).Name("ddlDriverState")
                                    .DataSource(d => d.Read(r => r.Action("GetStates", "Common")))
                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "StateId", style = "width:100%" })
                        )
                        <span class="k-invalid-msg" data-for="StateId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label required" id="">1st ID Type: </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.FirstIDTypeId).Name("ddlFirstIDTypes")
                                            .DataSource(d => d.Read(r => r.Action("GetGovCredentials", "Common")))
                                            .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "FirstIDTypeId", style = "width:100%" })
                        )
                        <span class="k-invalid-msg" data-for="FirstIDTypeId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" id="">1st Photo ID Matched: </label>
                    <div class="col-lg-8">
                        @(Html.Kendo().ComboBoxFor(m => m.FirstIDMatched).HtmlAttributes(new { id = "chbxFirstIDMatched", name = "FirstIDMatched", style = "width:60px" }).BindTo(new List<SelectListItem> { new SelectListItem { Text = "YES", Value = "True" }, new SelectListItem { Text = "NO", Value = "False" } }).DataTextField("Text").DataValueField("Value")
                        )
                        <span class="k-invalid-msg" data-for="FirstIDMatched"></span>
                    </div>
                </div>

                <div id="dvSecondIDType" style="display:none">
                    <div class="form-group">
                        <label class="col-md-4 control-label required" id="">2nd ID Type: </label>
                        <div class="col-lg-8">
                            @(Html.Kendo().ComboBoxFor(m => m.SecondIDTypeId).Name("ddlSecondIDTypeId")
                                    .DataSource(d => d.Read(r => r.Action("GetGovCredentials", "Common")))
                                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "SecondIDTypeId", style = "width:100%" })
                            )
                            <span class="k-invalid-msg" data-for="SecondIDTypeId"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" id="">2nd Photo ID Matched: </label>
                        <div class="col-lg-8">
                            <input type="hidden" name="checkSecondID" />
                            @(Html.Kendo().ComboBoxFor(m => m.SecondIDMatched).HtmlAttributes(new { id = "chbxSecondIDMatched", name = "SecondIDMatched", style = "width:60px" }).BindTo(new List<SelectListItem> { new SelectListItem { Text = "YES", Value = "True" }, new SelectListItem { Text = "NO", Value = "False" } }).DataTextField("Text").DataValueField("Value")
                            )
                            <span class="k-invalid-msg" data-for="checkSecondID"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="button" class="col-md-12 k-button k-primary" id="btnAcaCaptureId" value="Capture Driver ID" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <img src="" class="op-img-viewable" style="border:solid, 1px; width:100%" id="imgAcaCaptureId" />
                        @Html.HiddenFor(m => m.CaptureID, new { id = "hdnAcaCaptureId" })
                        <span class="k-invalid-msg" data-for="StateId"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="button"  class="col-md-12 k-button k-primary" id="btnAcaCapturePhoto" value="Capture Photo"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <img src="" class="op-img-viewable" style="border:solid, 1px; width:100%" id="imgAcaCapturePhoto" />
                        @Html.HiddenFor(m => m.CapturePhoto, new { id = "hdnAcaCapturePhoto" })
                        <span class="k-invalid-msg" data-for="StateId"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Pickup By * : </legend>
                <div class="col-md-4 input-size-box">
                    <input type="radio" name="disShipmentPickup" value="consignee" @(Model.PickupDetails.IsConsignee ? "checked=checked" : "") /> Consignee
                    <input type="radio" name="disShipmentPickup" value="carrier" @(Model.PickupDetails.IsCarrier ? "checked=checked" : "") /> Carrier Transfer
                </div>
                <div id="dvDischargPickupOptions" class="col-md-8 input-siz-box-right">
                    <div style="display:none">
                        @Html.Partial("_Partner", Model.PickupDetails.Consignee)
                    </div>
                    <div style="display:none">
                        <label class="required">Carrier :</label>
                        @Html.Kendo().ComboBoxFor(m => m.PickupDetails.CarrierId).HtmlAttributes(new { id = "cbxDischargeCarrier" }).DataSource(d => d.Read(r => r.Action("GetCarriers", "Common"))).DataTextField("name").DataValueField("id")
                        <label>Transfer Manifest# :</label>
                        @Html.Kendo().TextBoxFor(m => m.PickupDetails.TransferManifest).HtmlAttributes(new { id = "txtDischargeTransferManifest" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    </form>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Documents :</legend>
                <div class="col-md-12">
                    <input type="button" class="k-button" value="Add Document" id="btnDisAddDocument" />
                    <input type="hidden" id="checkdoc" name="checkdoc" />
                    @(Html.Kendo()
                                           .Grid<AttachmentModel>(Model.Documents).Name("gridDisChargeShipmentDocs")
                           .Columns(c =>
                           {
                               c.Bound(o => o.Id).Visible(false);

                               c.Bound(o => o.Name).Title("Name");
                               c.Bound(o => o.ShipperDocTypeId).Hidden(true);
                               c.Bound(o => o.DocumentType);
                               c.Command(co => co.Custom("deleteRow").Click("window.DisShipmentStep.deleteRow").Text("x"));
                           }).DataSource(d => d.Ajax().PageSize(5).ServerOperation(false))
                           .Scrollable(src => src.Height(100))
                    )
                    <span class="k-invalid-msg" data-for="checkdoc"></span>
                </div>
            </fieldset>
        </div>
    </div>



    @(Html.Kendo().Window().Name("wndDISShipmentDocUploader").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close()).Events(e => e.Close("window.DisShipmentStep.onUploaderClose"))
    .Content(
    @<text>
        @Html.Partial("_DocumentUploaderContent", new MCH.Web.Models.Shared.DocumentUploaderModel()
   {
       FormName = "frmDisShipmentDocUploader"
   })
    </text>))



    @(Html.Kendo().Window().Name("wndDISDriverAdd").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div class="row">
            <form class="col-md-12 form-horizontal form-widgets" id="frmDISDriverAdd">
                <div class="form-group">
                    <label class="col-md-5 control-label required" id="">Name : </label>
                    <div class="col-lg-7">
                        @(Html.TextBox("FullName", null, new { @class = "k-textbox", style = "width:100%", required = "required", name = "DriverName" }))
                        <span class="k-invalid-msg" data-for="FullName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" id="">STA # : </label>
                    <div class="col-lg-7">
                        @(Html.TextBox("STANumber", null, new { @class = "k-textbox", style = "width:100%", id = "txtDISDriverSTA" }))
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" id="">License Number: </label>
                    <div class="col-lg-7">
                        @(Html.TextBox("DriverLicense", null, new { name = "DriverLicense", @class = "k-textbox", style = "width:100%" }))

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" id="">State: </label>
                    <div class="col-lg-7">
                        @(Html.Kendo().ComboBox().Name("frmDriverStateId")
                                    .DataSource(d => d.Read(r => r.Action("GetStates", "Common")))
                                    .DataTextField("Name").DataValueField("Id").HtmlAttributes(new { name = "StateId", style = "width:100%" })
                        )
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-12 pull-right buttons-wrapp">
                <div class="pull-right">
                    <input type="button" class="k-button k-primary" value="Save" id="btnFromDriver" />
                    <input type="button" class="k-button op-window-close" value="Cancel" />
                </div>
            </div>
        </div>
    </text>).Title("New Driver"))

    @(Html.Kendo().Window().Name("wndDISTruckingCompAdd").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Content(
    @<text>
        <div class="row">
            <form class="col-md-12 form-horizontal form-widgets" id="frmDISTruckCompAdd">
                <div class="form-group">
                    <label class="col-md-6 control-label required" id="">Trucking Company Name : </label>
                    <div class="col-lg-6">
                        @(Html.TextBox("TruckingCompanyName", null, new { @class = "k-textbox", style = "width:100%" }))
                        <span class="k-invalid-msg" data-for="TruckingCompanyName"></span>
                    </div>
                </div>

            </form>
        </div>

        <div class="row">
            <div class="col-md-12 pull-right buttons-wrapp">
                <div class="pull-right">
                    <input type="button" class="k-button k-primary" value="Save" id="btnFromTruckingComp" />
                    <input type="button" class="k-button op-window-close" value="Cancel" />
                </div>
            </div>
        </div>
    </text>).Title("New Trucking Company"))


    <script>
        $(document).ready(function () {
            window.WizardDriverStep.init();
        })
    </script>
