﻿@using MCH.Core.Models.CargoDischarge;
@using MCH.Core.Models.Common;
@using MCH.Core.Model.Enum;
@model DisShipmentDetailsModel
<script src="@Url.Content("~/Scripts/cargo-discharge/dis-shipment-step.js")"></script>

<script>
    window.DisShipmentStep = new DisShipmentStepController({
        Urls: {
            SaveShipmentView: '@Url.Action("SaveShipmentView", "CargoDischarge")',
        },
        DisableNext: '@Model.ShipmentDetails.ReleaseStatus' == '@ShipmentCustomsStatuses.OnHold',

    });

</script>

<script type="text/x-kendo-template" id="myTemplate">
    #if(ReadyForRelease){#
    <li>#: name # is Admin</li>
    #}else{#
    <li>#: name # is User</li>
    #}#
</script>

@Html.Hidden("hdnReleaseStatus", Model.ShipmentDetails.ReleaseStatus.ToString())
<div class="row">
    <div class="col-md-12">
        <fieldset>
            <legend>Shipment Details :</legend>

            <div class="col-md-7">
                <form class="col-md-12 form-horizontal form-widgets">
                    <div class="form-group">
                        <label class="col-md-4 control-label"> AWB# :</label>
                        <div class="col-md-6">
                            @Html.HiddenFor(m => m.ShipmentDetails.AwbId, new { id = "hdnDisAwbId" })
                            @Html.Kendo().TextBoxFor(m => m.ShipmentDetails.AwbNumber).HtmlAttributes(new { style = "width:100%", id = "txtDisAwbNumber" }).Enable(false)
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="k-button" value="View" style="background-color: rgb(254, 226, 2)" id="btnDisViewAwb" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"> HWB# :</label>
                        <div class="col-md-6">
                            @Html.HiddenFor(m => m.ShipmentDetails.HwbId, new { id = "hdnDisHwbId" })
                            @Html.Kendo().TextBoxFor(m => m.ShipmentDetails.HwbNumber).HtmlAttributes(new { style = "width:100%", id = "txtDisHwbNumber" }).Enable(false)

                        </div>
                        <div class="col-md-2">
                            <input type="button" class="k-button" value="View" style="background-color: rgb(254, 226, 2)" id="btnDisViewHwb" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"> Desitination :</label>
                        <div class="col-md-8 form-value">
                            <span class="form-label">@Model.ShipmentDetails.Destination</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"> Consignee :</label>
                        <div class="col-md-8 form-value">
                            <span class="form-label wordwrap">@Model.ShipmentDetails.Consignee</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"> Release Status :</label>
                        <div class="col-md-4 form-value">
                            <span class="form-label" style="color:@Model.ShipmentDetails.StatusColor">
                                @Model.ShipmentDetails.StatusName
                        </span>
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="k-button" value="View History" id="btnDisViewCustomsHistory" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <form class="col-md-12 form-horizontal form-widgets">
                <div class="form-group">
                    <label class="col-md-8 control-label"> Pieces :</label>
                    <div class="col-md-4 form-value">
                        <span class="form-label">@Model.ShipmentDetails.Pieces</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label"> Weight :</label>
                    <div class="col-md-4 form-value">
                        <span class="form-label">@Model.ShipmentDetails.Weight @Model.ShipmentDetails.WeightUOM</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label"> ULDs :</label>
                    <div class="col-md-4 form-value">
                        <span class="form-label">@Model.ShipmentDetails.ULDs</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label"> Split ? :</label>
                    <div class="col-md-4 form-value">
                        <span class="form-label">@Model.ShipmentDetails.IsSplit</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label wordwrap"> Available Pieces for Release :</label>
                    <div class="col-md-4 form-value">
                        <span class="form-label">@Model.ShipmentDetails.AvaileblePieces</span>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>
</div>

<div class="row" id="divCustomsGrid">
    <div class="col-md-12">
        <fieldset>
            <legend>Customs Clearance :</legend>
            <div class="col-md-12">
                <input type="hidden" id="checkclear" name="checkclear" />
                @(Html.Kendo()
                           .Grid<ShipmentCustomsRow>(Model.CustomsClearance).Name("gridDisChargeCustoms")
                           .Columns(c =>
                           {
                               c.Bound(o => o.Id).Visible(false);
                               if (Model.Status != enumDischargeShipmentStatuses.PaymentsVeriried)
                               {
                                   c.Bound(o => o.Id).ClientTemplate("#if(data.ReadyForRelease){# <input type='checkbox' class='check_customs'  />#}#").HeaderTemplate("<input type='checkbox' class='check_All' />").Width(30);
                               }
                               c.Bound(o => o.Part).Width(50);
                               c.Bound(o => o.CustomStaits).Width(120);
                               c.Bound(o => o.Description);
                               c.Bound(o => o.QuantityAffected);
                               c.Bound(o => o.EntryNo);
                               c.Bound(o => o.CustomsDate).Format("{0:MM/dd/yyyy HH:mm}");
                               c.Bound(o => o.TransactionDate).Format("{0:MM/dd/yyyy HH:mm}");
                           })
                           .DataSource(d => d.Ajax().ServerOperation(false))
                                   .Scrollable(src => src.Height(320)).Selectable(s => s.Mode(GridSelectionMode.Multiple))
                )
                <span class="k-invalid-msg" data-for="checkclear"></span>
            </div>
        </fieldset>
    </div>
</div>

<div>
    @(Html.Kendo().Window().Name("wndDISCustomsFullHistory").Title("Customs Clearance History").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Content(
    @<text>
    @(Html.Kendo()
                           .Grid<ShipmentCustomsRow>(Model.CustomsFullHistory).Name("gridDisChargeCustomsFull")
                           .Columns(c =>
                           {
                               c.Bound(o => o.Part).Width(50);
                               c.Bound(o => o.CustomStaits).Width(120);
                               c.Bound(o => o.Description);
                               c.Bound(o => o.QuantityAffected);
                               c.Bound(o => o.EntryNo);
                               c.Bound(o => o.CustomsDate).Format("{0:MM/dd/yyyy HH:mm}");
                               c.Bound(o => o.TransactionDate).Format("{0:MM/dd/yyyy HH:mm}");
                           }).DataSource(d => d.Ajax().ServerOperation(false).PageSize(10)).Pageable().Groupable().Sortable()
    )
    </text>))
</div>

<script>
    window.DisShipmentStep.init()
</script>

