﻿@using MCH.Core.Models.CargoDischarge
@model DischargePaymentsModel

<script src="@Url.Content("~/Scripts/cargo-discharge/dis-payment-step.js")"></script>


<script>
    window.DisPaymentStep = new DisPaymentStepController({
        Urls: {
            SaveChargesView: '@Url.Action("SaveChargesView", "CargoDischarge")'
        },
    });
</script>

<div class="row" id="divPayments">
    <div class="col-md-12">
        <fieldset>
            <legend>Charges/Payments :</legend>
            <div class="col-md-12">
                <input type="hidden" id="checkcharges" name="checkcharges" />
                @(Html.Kendo()
                                   .Grid<DischargePaymentRow>(Model.Payments).Name("gridDischargePayments")
                                                                   .Events(e => e.Cancel("window.DisPaymentStep.onPaymentCancel").Remove("window.DisPaymentStep.onPaymentRemove").Save("window.DisPaymentStep.onPaymentSave"))
                           .Columns(c =>
                           {
                               c.Bound(o => o.Id).Visible(false);
                               c.Bound(o => o.TypeId).Title("Type").ClientTemplate("#=Type#").EditorTemplateName("PaymentTypeCB");
                               c.Bound(o => o.Description).EditorTemplateName("String");
                               c.Bound(o => o.Amount).EditorTemplateName("Decimal");
                               c.Bound(o => o.AmountPaid).EditorTemplateName("Decimal");
                               c.Bound(o => o.PaymentOption).Title("Payment Option").ClientTemplate("#=PaymentOption.Name#").EditorTemplateName("PaymentOptionsDD");
                               c.Bound(o => o.PaymentRef).EditorTemplateName("String").Title("Payment Reference").Width(200);
                               c.Command(command => { command.Edit().UpdateText(" ").CancelText(" ").Text(" "); command.Destroy().Text(" "); }).Width(80);
                           })
                           .ToolBar(toolbar => toolbar.Create().Text("Add Payment"))
                           .Editable(editable => editable.Mode(GridEditMode.InLine))
                              .Scrollable(src => src.Height(420))
                           .DataSource(d => d.Ajax()
                            .Model(m =>
                            {
                                m.Id(p => p.Id);
                                m.Field(p => p.PaymentOption).DefaultValue(new DropDownModel { Name = "CASH", Id=1 });
                            })
                            .Create(cr => cr.Action("AddPaymentOption", "CargoDischarge"))
                            .Update(cr => cr.Action("UpdatePaymentOption", "CargoDischarge"))
                            .Destroy(cr => cr.Action("DeletePaymentOption", "CargoDischarge"))
                                    .PageSize(20)).Scrollable().HtmlAttributes(new { @class = "cm-grid-compact" })
                )
                <span class="k-invalid-msg" data-for="checkcharges"></span>
            </div>
        </fieldset>
    </div>
</div>


<div style="padding:25px">
    <div class="row">
        <span style="float:right; font-weight:bold"> Total Charges : @Model.Currancy @Model.TotalCharges</span>
    </div>
    <div class="row">
        <span style="float:right; font-weight:bold"> Total Payments : @Model.Currancy @Model.TotalPayments</span>
    </div>
</div>

<script>
    window.DisPaymentStep.init();
</script>

