﻿@model MCH.Core.Models.CargoDischarge.DischargeState
@Html.HiddenFor(m => m.DriverId, new { id = "hdnDriverId" })
@Html.HiddenFor(m => m.DischargeId, new { id = "hdnDischargeId" })
<div class="col-md-3 form-horizontal form-widgets">
    <div class="form-group">
        <label class="col-md-2 text-right control-label" id=""> </label>
        <label class="col-md-10 control-label" id="lblHeaderStepName">
            Step @Model.StepName
        </label>
    </div>
</div>
<div class="col-md-9 ">
    <div class="col-md-9 form-horizontal form-widgets">
        <div class="form-group">
            <label class="col-md-5 text-right control-label" id="">Driver : </label>
            <label class="col-md-7 control-label" id="lblHeaderDriver">
                @Model.DriverName
            </label>
        </div>
        <div class="form-group">
            <label class="col-md-5 text-right control-label" id="">Trucking Company : </label>
            <label class="col-md-7 control-label" id="lblHeaderTruckingCompanyName">
                @Model.TruckingCompanyName
            </label>
        </div>
        @if (Model.IsConsigneeOrCarrier != null)
        {
            if (Model.IsConsigneeOrCarrier)
            {
                <div class="form-group">
                    <label class="col-md-5 text-right control-label" id="">Consignee : </label>
                    <label class="col-md-7 control-label" id="lblHeaderConsignee">
                        @Model.Consignee
                    </label>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="col-md-5 text-right control-label" id="">Carrier/TransferManifest : </label>
                    <label class="col-md-7 control-label" id="lblHeaderTransferManifest">
                        @Model.Carrier / @Model.TransferManifest
                    </label>
                </div>
            }
        }

    </div>

    <div class="col-md-3">
        @if (!String.IsNullOrWhiteSpace(Model.DriverPhotoData))
        {
            <img src="@Model.DriverPhotoData" style="width:80px; border:solid 4px #ccc ; margin-top: 10px;" />
        }
    </div>
</div>
