﻿@using MCH.Core.Model.Enum
@model MCH.Core.Models.CargoDischarge.DischargeWizard

<script src="@Url.Content("~/Scripts/cargo-discharge/dis-wizard-controller.js")"></script>
<script src="@Url.Content("~/Scripts/cargo-discharge/dis-driver-step.js")"></script>

<script type="text/javascript">
    window.CargoDischargeWizard = new DischargeWizardController(
    {
        Urls: {
            GetShipmentView: '@Url.Action("GetShipmentView", "CargoDischarge")',
            GetDriverView: '@Url.Action("GetDriverView", "CargoDischarge")',
            GetChargesView: '@Url.Action("GetChargesView","CargoDischarge")',
            Finalize: '@Url.Action("Finalize", "CargoDischarge")',
        },
    });

    window.CargoDischargeWizard.init();

</script>


<script type="text/x-kendo-tmpl" id="shipmentDisListTemplate">
    <div class="awbListItem awb-list-item" data-item-id="#:Id#" data-item-ishwb="#:IsHWB#">
        <span class="cm-list-item-text justified">#:Reference#</span>
    </div>
</script>

<div class="container-fluid height100per paddingbottom30" style="padding-left: 0px;">
    <div class="row" style="height:100%">
        <div class="col-md-3" style="height:100%">
            <div class="col-md-8">
                <label>AWB# :</label>
                <div>
                    @Html.Kendo().MaskedTextBox().Name("txtDisSearchAwb").Mask("AAA-AAAAAAAA").HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="col-md-4">
                <label>&nbsp;</label>
                <input type="button" class="k-button k-primary cm-btn" value="SEARCH" style="width:100%;" id="btnDisSearchShipment" />
            </div>


            <div class="col-md-8">
                <label>HWB# :</label>
                <div>
                    @Html.Kendo().TextBox().Name("txtDisSearchHwb").HtmlAttributes(new { style = "width:100%" })
                </div>
            </div>
            <div class="col-md-4">
                <label>&nbsp;</label>
                <input type="button" class="k-button cm-btn cm-btn-reset" value="RESET" style="width:100%;" id="btnDisResetShipment" />
            </div>

            <div class="col-md-12" style="height:calc(100% - 85px)">
                <div class="form-group margin0">
                    <label class="text-left paddingBottom5 bolder control-label cm-list-header-label">Processed Shipments :</label>
                </div>
                @(Html.Kendo().ListView<MCH.Core.Models.CargoDischarge.ProcessedShipment>()
            .Name("lsvDisShipments")
                       .DataSource(datasource => datasource
                                                        .Read(r => r.Action("GetProcessedShipments", "CargoDischarge").Data("CargoDischargeWizard.getDischargeId.bind(CargoDischargeWizard)"))
                        )
                    //.BindTo(Model.ProcessedShipments)
                    .Events(ev => { ev.Change("CargoDischargeWizard.selectShipment.bind(CargoDischargeWizard)")
                        .DataBound("CargoDischargeWizard.databoundShipments.bind({model: CargoDischargeWizard, id: "+Model.LatestShipment.Id+"})"); })
                    .ClientTemplateId("shipmentDisListTemplate").TagName("div")
                            .HtmlAttributes(new { @class = "k-list-container cm-list-view cm-heightcalc100-65" }).Selectable())
            </div>
        </div>
        <div class="col-md-9" style="height:100%">
            <div class="row cm-accept-from-header row-cm-accept-from-header" id="divCargoDischargeHeader">
                @Html.Partial("_wizHeaderCargoDischarge", Model.Header)
            </div>
            <div class="row" style="height:calc(100% - 101px); border:solid 2px #ccc; border-top:none; padding:5px;overflow-y: auto;  overflow-x: hidden;" id="wizardDischangeContainer">

            </div>
        </div>
    </div>
    <div class="row cm-bottom-right">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button k-primary" value="PREVIOUS" style="display:none" id="btnDischargeWizPrev" />
                <input type="button" class="k-button k-primary" value="NEXT" id="btnDischargeWizNext" />
                <input type="button" class="k-button k-primary" style="display:none" value="SAVE & ADD SHIPMENT" id="btnDischargeSave" /> 
                <input type="button" class="k-button k-primary" style="display:none" value="FINALIZE" id="btnDischargeFinalize" /> 
            </div>
        </div>
    </div>
</div>

