﻿@model  MCH.Web.Models.Awbs.AcceptAwbDetailsModel
@using MCH.Web.Utilities

<div class="col-md-12" style="padding: 5px;border-bottom-style: solid;border-bottom-color: #dddddd;border-bottom-width: 1px;">
    @Html.HiddenFor(m => m.AwbId, new { id = "hdnAwbId_" + Model.AwbId })
    @Html.HiddenFor(m => m.TaskId, new { id = "hdnTaskId_" + Model.AwbId })
    <div class="col-md-11" style="text-align:center">
        <div style="display:inline-flex">
            <h3 style="margin-right: 10px;padding: 0px;">
                AWB :
            </h3>
            @Html.DropDownList("ddlAwbOrigin_" + Model.AwbId, UIDataHelper.GetStations(null, null, null), new { style = "width:100px;margin-right: 10px", @class = "form-control" })
            <input type="text" class="form-control" id="txtAwbCarrier_@Model.AwbId" value="@Model.CarrierName" style="width:50px;margin-right: 10px;">
            <span style="margin-right: 10px; padding: 5px;">-</span>
            <input type="text" class="form-control" id="txtAwbSerialNumber_@Model.AwbId" value="@Model.SerialNumber" style="width:100px;margin-right: 10px;">
            @Html.DropDownList("ddlAwbDestination_" + Model.AwbId, UIDataHelper.GetStations(null, null, null), new { style = "width:100px;margin-right: 10px", @class = "form-control" })
            <button class="btn btn-default" id="btnAwbTaskLookup_@Model.AwbId" style="width:80px"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" id="btnAwbTaskSave_@Model.AwbId"><i class="fa fa-save"></i>  Save</button>
    </div>

</div>


<div class="col-md-12" style="margin-top: 10px;">

    <div class="col-md-4" style="display:inline-flex">
        <label style="
    margin-right: 8px;
    padding: 5px;
">Total Pcs:</label>
        <input type="text" class="form-control" value="@Model.TotalPieces" id="txtAwbTotalPcs_@Model.AwbId" style="width:120px;margin-right: 10px;">
    </div>
    <div class="col-md-4" style="display:inline-flex">
        <label style="
    padding: 5px;
    margin-right: 17px;
    float: right;
">Total Weight :</label>
        <input type="text" class="form-control" value="@Model.TotalWeight" id="txtAwbTotalWeight_@Model.AwbId" style="width:120px;margin-right: 10px;">
    </div>
    <div class="col-md-4" style="display:inline-flex">
        <label style="
    margin-right: 8px;
    padding: 5px;
">Total Volume :</label>
        <input type="text" class="form-control" id="txtAwbTotalVolume_@Model.AwbId" value="@Model.TotalVolume" style="width:120px;margin-right: 10px;">
    </div>


</div>
<div class="col-md-12" style="margin-top: 3px;">

    <div class="col-md-4" style="display:inline-flex">
        <label style="
    margin-right: 16px;
    padding: 5px;
">Carrier :</label>
        <input type="text" class="form-control" value="@Model.CarrierCode" id="txtAwbCarrierCode_@Model.AwbId" style="width:120px;margin-right: 10px;">
    </div>
    <div class="col-md-4" style="display:inline-flex">
        <label style="
    padding: 5px;
    margin-right: 7px;
">Flight Number :</label>
        <input type="text" id="txtFlightNumber_@Model.AwbId" class="form-control" value="@Model.FlightNumber" style="width:120px;margin-right: 10px;">
    </div>
    <div class="col-md-4" style="display:inline-flex">
        <label style="
    margin-right: 64px;
    padding: 5px;
">ETD          :</label>
        <input type="text" class="form-control" id="txtAwbETD_@Model.AwbId" value="@Model.ETD" style="width:120px;margin-right: 10px;">
    </div>


</div>
<div class="col-md-12" style="margin-top:10px" id="dvAwbDetailsTab_@Model.AwbId">
    <div class="tabsbar tabsbar-2">
        <ul class="row row-merge">
            <li class="col-md-2 shield glyphicons  active" id="tab-add-accept-driver"><a href="#tabAwbSecurity" data-toggle="tab"><i></i> Security</a></li>
            <li class="col-md-2 list glyphicons  " id="tab-add-accept-task"><a href="#tabAwbAttributes" data-toggle="tab"><i></i> Attributes</a></li>
            <li class="col-md-2 cargo glyphicons  " id="tab-add-accept-task"><a href="#tabAwbConsign" data-toggle="tab"><i></i> Consignment Details</a></li>
            <li class="col-md-2 file glyphicons  " id="tab-add-accept-task"><a href="#tabAwbAttachments" data-toggle="tab"><i></i> Attachments</a></li>
            <li class="col-md-2 picture glyphicons  " id="tab-add-accept-task"><a href="#tabAcceptAwbMedia_@Model.TaskId" data-toggle="tab"><i></i> Media</a></li>
            <li class="col-md-2 history glyphicons " id="tab-add-accept-task"><a href="#tabAwbTaskHistory" data-toggle="tab"><i></i> History</a></li>
        </ul>
    </div>

    <div class="tab-content">

        <div class="tab-pane active" id="tabAwbSecurity" style="height:100%; overflow:hidden">
            <table id="tblAwbScreeningLog_@Model.AwbId" width="100%"></table>
        </div>
        <div class="tab-pane" id="tabAwbAttributes" style="height:100%; overflow:hidden">
            <table id="tblAwbAttributes_@Model.AwbId" width="100%"></table>
        </div>
        <div class="tab-pane" id="tabAwbConsign" style="height:100%; overflow:hidden">
            <table id="tblAwbConsign_@Model.AwbId" width="100%"></table>
        </div>
        <div class="tab-pane " id="tabAwbAttachments" style="height:100%; overflow:hidden">
            <table id="tblAwbAttachments_@Model.AwbId" width="100%"></table>
        </div>
        <div class="tab-pane" id="tabAcceptAwbMedia_@Model.TaskId" style="height:100%; overflow:hidden">
            @if (Model.TaskId.HasValue)
            {
                @Html.Partial("_TaskMedia", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId.Value, TabItemId = "tabAcceptAwbMedia_" + Model.TaskId })
            }
        </div>
        <div class="tab-pane" id="tabAwbTaskHistory" style="height:100%;">
            <table id="tblAwbTaskHistory_@Model.AwbId" width="100%"></table>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {

        $("#btnAwbTaskSave_@Model.AwbId").on('click', function () {
            var awbData = {};
            awbData.AwbId = $("#hdnAwbId_@Model.AwbId").val();
            awbData.ParentTaskId = '@Model.ParentTaskId';
            awbData.OriginId = $("#ddlAwbOrigin_@Model.AwbId option:selected").val();
            awbData.DestinationId = $("#ddlAwbDestination_@Model.AwbId option:selected").val();
            awbData.FlightNumber = $("#txtFlightNumber_@Model.AwbId").val();
            awbData.SerialNumber = $("#txtAwbSerialNumber_@Model.AwbId").val();
            awbData.CarrierCode = $("#txtAwbCarrierCode_@Model.AwbId").val();
            awbData.CarrierName = $("#txtAwbCarrier_@Model.AwbId").val();
            awbData.ETD = $("#txtAwbETD_@Model.AwbId").val();
            awbData.TotalPieces = $("#txtAwbTotalPcs_@Model.AwbId").val();
            awbData.TotalWeight = $("#txtAwbTotalWeight_@Model.AwbId").val().split(' ')[0];
            awbData.TotalVolume = $("#txtAwbTotalVolume_@Model.AwbId").val().split(' ')[0];

            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveAcceptAwbDetials", "Tasks")",
                data: JSON.stringify(awbData),
                success: function (data) {
                    window.refreshChildTasksAwbList(data.AwbId, data.ParentTaskId)
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8'
            });

        })

        $("#btnAwbTaskLookup_@Model.AwbId").on('click', function () {
            var tmpAwbTaskLookupData = {};
            tmpAwbTaskLookupData.TaskReference = $("#ddlAwbOrigin_@Model.AwbId option:selected").text() + "-" + $("#txtAwbCarrier_@Model.AwbId").val() + "-" +
                $("#txtAwbSerialNumber_@Model.AwbId").val() + "-" + $("#ddlAwbDestination_@Model.AwbId option:selected").text();
            tmpAwbTaskLookupData.TaskId = '@Model.ParentTaskId';

            var itemInTheList = $("#ulAwbtaskList_@Model.ParentTaskId li a[data-ref='" + tmpAwbTaskLookupData.TaskReference + "']");

            if (itemInTheList && itemInTheList.length > 0) {
                var isItemSelected = $(itemInTheList).parent().hasClass("active");
                if (isItemSelected == true) {
                    return false;
                }
                else {
                    $("#ulAwbtaskList_@Model.ParentTaskId li").each(function (i, e) {
                        $(e).removeClass("active");
                    });
                    $(itemInTheList).parent().trigger('click');
                }
            }
            else {
                $("#dvAwbDetailsContainer_@Model.ParentTaskId").load('@Url.Action("GetAcceptAwbDetails", "Tasks")',
                   { TaskReference: tmpAwbTaskLookupData.TaskReference, TaskId: tmpAwbTaskLookupData.TaskId, ParentTaskId : '@Model.ParentTaskId' },
                   function () {
                       $("#ulAwbtaskList_@Model.ParentTaskId li").each(function (i, e) {
                           $(e).removeClass("active");
                       });
                   });
            }
        })

        @if (Model.AwbId.HasValue && Model.AwbId.Value != 0)
        {
            <text>

        $("#ddlAwbOrigin_@Model.AwbId option").filter(function () {
            return this.text == '@Model.OriginPort';
        }).attr('selected', true);

        $("#ddlAwbDestination_@Model.AwbId option").filter(function () {
            return this.text == '@Model.DestinationPort';
        }).attr('selected', true);

        </text>
        }

        //=============  Screening Tab Script begin ========================

        var appendAwbScreeningListFilter = function (baseData) {
            if (baseData) {
                var tmpAwbId = '@Model.AwbId';
                var tmpTaskId = '@Model.ParentTaskId';
                baseData.push({ "name": "TaskId", "value": tmpTaskId });
                baseData.push({ "name": "AwbId", "value": tmpAwbId });
            }
            return baseData;
        }
        $("#tblAwbScreeningLog_@Model.AwbId").dataTable({
            "bJQueryUI": true,
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "language": {
                "emptyTable": "No records found."
            },
            "autoWidth": false,
            "sScrollY": '100px',
            "sAjaxSource": "@Url.Action("GetAwbScreeningLogs", "Accept")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendAwbScreeningListFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                 {
                     "aTargets": [0], "mData": "IsScreened", "sClass": "cm-datatable-action", "sTitle": "Screened", "bSearchable": false, "bSortable": false
                 },
                {
                    "aTargets": [1], "mData": "ScreenedByType", "sTitle": 'Type', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [2], "mData": "CCSF", "sTitle": 'CCSF #', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [3], "mData": "CCSFName", "sTitle": 'CCSF Name', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [4], "mData": "SealType", "sTitle": 'Seal Type', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [5], "mData": "SealNumber", "sTitle": 'Seal Number', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [6], "mData": "ScreeningMethod", "sTitle": 'ScreeningMethod', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [7], "mData": "Remarks", "sTitle": 'Remarks', "bSearchable": false, "bSortable": true
                },
            ]
        });

        var tmpAcceptTaskScreeningListActions = {
            controlId: 'taskAcceptScreeningOptions@(Model.AwbId)',
            options: [
                 { id: 'actAcceptAddScreening@(Model.AwbId)', name: "Add Screening" },
            ]
        };

        $("#datatable-filter-action").tmpl(tmpAcceptTaskScreeningListActions).appendTo("#tblAwbScreeningLog_@(Model.AwbId)_filter");

        $("#actAcceptAddScreening@(Model.AwbId)").on('click', function () {

            var tmpCurrentAWbId = $("#hdnAwbId_@Model.AwbId").val();
            var tmpCurrentAwbTaskId = $("#hdnTaskId_@Model.AwbId").val();

            if (tmpCurrentAWbId == '') {
                alert("Please save the AWB Details first.");
            } else {

                window.DIALOG_HANDLER.openRemoteDialog(function () {
                    var form = $("#AddEditAwbScreenFrom_" + tmpCurrentAWbId);

                    var tmpFromData = $(form).serializeObject();

                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("SaveAwbScreeningLog", "accept")",
                        data: JSON.stringify(tmpFromData),
                        success: function () {
                            $("#tblAwbScreeningLog_@Model.AwbId").DataTable().ajax.reload();;
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                }, function () {

                }, '@Url.Action("GetAddEditScreeningView", "Accept")', { ParentTaskId: '@Model.ParentTaskId', AwbId: tmpCurrentAWbId, FormId: 'AddEditAwbScreenFrom_' + tmpCurrentAWbId }, "Add Screening Log");
            }
        });

        var resizeSecurityTable = function () {

            var tabContianer = $("#tblAwbScreeningLog_@(Model.AwbId)_wrapper").parent();
            if ($(tabContianer).hasClass("active")) {
                $("#tblAwbScreeningLog_@Model.AwbId").DataTable().columns.adjust();
                $("#tblAwbScreeningLog_@(Model.AwbId)_wrapper").find(".dataTables_scrollBody").height(tabContianer.height() - 128);

                //bug in Jquery datatable, sometimes instead pushing the header to the right it pushes it to the left
                $('#tblAwbScreeningLog_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-left', '0');
                $('#tblAwbScreeningLog_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-right', '16px');
            }
        }

        resizeSecurityTable();

        $(window).on('resize', function () {
            resizeSecurityTable();
        })


        //=============  Screening Tab Script end ========================



        //======================= Attachments Tab begin ====================


        $("#tblAwbAttachments_@Model.AwbId").dataTable({
            "bJQueryUI": true,
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "autoWidth": false,
            "language": {
                "emptyTable": "No records found."
            },
            "sScrollY": '100px',
            "sAjaxSource": "@Url.Action("GetAwbAttachments", "Accept")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendAwbScreeningListFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0], "mData": "null", "sClass": "cm-datatable-action", "sTitle": "<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                        return '<input type="checkbox" data-id="' + full.Id + '" class="cm-datatable-select"/>';
                    }
                },
                {
                    "aTargets": [1], "mData": "FileName", "sTitle": 'File Name', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [2], "mData": "AttachmentImage", "sTitle": 'Image', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                        return '<img class="cm-photo-enlargable" src="' + data + '" style="width:34px;height:34px"/>';
                    }
                },
                {
                    "aTargets": [3], "mData": "UploadedBy", "sTitle": 'Uploaded By', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [4], "mData": "Description", "sTitle": 'Description', "bSearchable": false, "bSortable": true
                }
            ]
        });

        var resizeAttachmentsAwbsTable = function () {
            var tabContainer = $("#tblAwbAttachments_@(Model.AwbId)_wrapper").parent();
            if ($(tabContainer).hasClass("active")) {
                $("#tblAwbAttachments_@Model.AwbId").DataTable().columns.adjust();
                $("#tblAwbAttachments_@(Model.AwbId)_wrapper").find(".dataTables_scrollBody").height(tabContainer.height() - 128);

                //bug in Jquery datatable, sometimes instead pushing the header to the right it pushes it to the left
                $('#tblAwbAttachments_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-left', '0');
                $('#tblAwbAttachments_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-right', '16px');
            }
        }

        resizeAttachmentsAwbsTable();


        var tmpAcceptTaskScreeningListActions = {
            controlId: 'taskAcceptAttachmentsOptions@(Model.AwbId)',
            options: [
                 { id: 'actAcceptAddAttachment@(Model.AwbId)', name: "Add Attachment" },
                 { id: 'actAcceptDeleteAttachment@(Model.AwbId)', name: "Remove Attachments" },
            ]
        };

        $("#datatable-filter-action").tmpl(tmpAcceptTaskScreeningListActions).appendTo("#tblAwbAttachments_@(Model.AwbId)_filter");

        $("#actAcceptAddAttachment@(Model.AwbId)").on('click', function () {

            var tmpCurrentAWbId = $("#hdnAwbId_@Model.AwbId").val();
            var tmpCurrentAwbTaskId = $("#hdnTaskId_@Model.AwbId").val();

            if (tmpCurrentAWbId == '') {
                alert("Please save the AWB Details first.");
            } else {

                var htmlContent = $("#document-capture-attachment").tmpl(
                {
                    videoId: 'vidAttachmentCapture',
                    canvasId: 'cnvAttachmentCapture',
                    btnCaptureImage: 'btnCaptureAttachmentImage_@Model.AwbId',
                    formId: 'frmAttachmentSnapshot_@Model.AwbId',
                    fileName: 'txtFileName_@Model.AwbId',
                    fileDescription: 'txtFileDescription_@Model.AwbId'
                });

                window.DIALOG_HANDLER.showDocumentPopup(function () {
                    var canvas = document.getElementById("cnvAttachmentCapture");
                    var capImage = canvas.toDataURL();

                    var tmpFormData = {}

                    tmpFormData.AttachmentImage = capImage;
                    tmpFormData.FileName = $("#txtFileName_@Model.AwbId").val();
                    tmpFormData.Description = $("#txtFileDescription_@Model.AwbId").val();
                    tmpFormData.AwbId = '@Model.AwbId';
                    tmpFormData.ParentTaskId = '@Model.ParentTaskId';

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SaveAwbAttachment", "Accept")',
                        data: JSON.stringify(tmpFormData),
                        success: function (data) {

                            $("#tblAwbAttachments_@Model.AwbId").DataTable().ajax.reload();
                        },
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8"
                    });

                    window.MEDIA_HANDLER.stop();

                }, function () {
                    window.MEDIA_HANDLER.stop();
                }, htmlContent, "Take Attachment Snapshot");

                setTimeout(function () {
                    window.MEDIA_HANDLER.start('vidAttachmentCapture', 'cnvAttachmentCapture', 'doc');
                    $("#btnCaptureAttachmentImage_@Model.AwbId").click(function () {
                        var canvas = document.getElementById("cnvAttachmentCapture");
                        var context = canvas.getContext("2d");
                        var video = document.getElementById("vidAttachmentCapture");
                        var cropHeight = video.clientHeight;
                        var cropWidth = video.clientWidth;
                        canvas.width = cropWidth;
                        canvas.height = cropHeight
                        context.drawImage(video, 0, 0, cropWidth, cropHeight);
                    })
                }, 500);
            }
        });

        $("#actAcceptDeleteAttachment@(Model.AwbId)").on('click', function () {

            var tmpCurrentAWbId = $("#hdnAwbId_@Model.AwbId").val();
            var tmpCurrentAwbTaskId = $("#hdnTaskId_@Model.AwbId").val();
            var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
            var selectedAttachmentIds = [];
            if (selectedItems.length > 0) {
                for (var i = 0 ; i < selectedItems.length; i++) {
                    selectedAttachmentIds.push($(selectedItems[i]).attr("data-id"));
                }
            }

            var dataModel = { TaskId: '@Model.ParentTaskId', AwbAttachmentIds: selectedAttachmentIds.join(","), AwbId: '@Model.AwbId' };

            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteAwbAttachments", "Accept")',
                data: JSON.stringify(dataModel),
                success: function () {
                    $("#tblAwbAttachments_@Model.AwbId").DataTable().ajax.reload();
                },
                dataType: 'json',
                contentType: "application/json; charset=utf-8"
            });
        });

        //======================= Attachments Tab end ====================

        //======================= Attributes Tab begin ====================


        $("#tblAwbAttributes_@Model.AwbId").dataTable({
            "bJQueryUI": true,
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "autoWidth": false,
            "language": {
                "emptyTable": "No records found."
            },
            "sScrollY": '100px',
            "sAjaxSource": "@Url.Action("GetAwbAttributes", "Accept")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendAwbScreeningListFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0], "mData": "null", "sClass": "cm-datatable-action", "sTitle": "<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                        return '<input type="checkbox" data-id="' + full.Id + '" class="cm-datatable-select"/>';
                    }
                },
                {
                    "aTargets": [1], "mData": "AttributeType", "sTitle": 'Attribute Name', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [2], "mData": "SHCGroup", "sTitle": 'Special Handling Code', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [3], "mData": "Value", "sTitle": 'Value', "bSearchable": false, "bSortable": true
                }
            ]
        });

        var resizeAttributesAwbsTable = function () {
            var tabContainerHeigth = $("#tblAwbAttributes_@(Model.AwbId)_wrapper").parent();
            if ($(tabContainerHeigth).hasClass("active")) {
                $("#tblAwbAttributes_@Model.AwbId").DataTable().columns.adjust();
                $("#tblAwbAttributes_@(Model.AwbId)_wrapper").find(".dataTables_scrollBody").height(tabContainerHeigth.height() - 128);

                //bug in Jquery datatable, sometimes instead pushing the header to the right it pushes it to the left
                $('#tblAwbAttributes_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-left', '0');
                $('#tblAwbAttributes_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-right', '16px');
            }
        }

        resizeAttributesAwbsTable();


        var tmpAcceptTaskAttributes = {
            controlId: 'taskAcceptAttributesOptions@(Model.AwbId)',
            options: [
                 { id: 'actAcceptAddAttributes@(Model.AwbId)', name: "Add Attribute" },
                 { id: 'actAcceptDeleteAttributes@(Model.AwbId)', name: "Remove Attributes" },
            ]
        };

        $("#datatable-filter-action").tmpl(tmpAcceptTaskAttributes).appendTo("#tblAwbAttributes_@(Model.AwbId)_filter");

        $("#actAcceptAddAttributes@(Model.AwbId)").on('click', function () {

            var tmpCurrentAWbId = $("#hdnAwbId_@Model.AwbId").val();
            var tmpCurrentAwbTaskId = $("#hdnTaskId_@Model.AwbId").val();

            if (tmpCurrentAWbId == '') {
                alert("Please save the AWB Details first.");
            } else {

                window.DIALOG_HANDLER.openRemoteDialog(function () {
                    var form = $("#AddEditAwbAttribute_" + tmpCurrentAWbId);

                    var tmpFromData = $(form).serializeObject();
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("SaveAwbAttribute", "accept")",
                        data: JSON.stringify(tmpFromData),
                        success: function () {
                            $("#tblAwbAttributes_@Model.AwbId").DataTable().ajax.reload();;
                        },
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                }, function () {

                }, '@Url.Action("GetAddEditAttributeView", "Accept")', { ParentTaskId: '@Model.ParentTaskId', AwbId: tmpCurrentAWbId, FormId: 'AddEditAwbAttribute_' + tmpCurrentAWbId }, "Add Attribute");
            }

        });

        $("#actAcceptDeleteAttributes@(Model.AwbId)").on('click', function () {

            var tmpCurrentAWbId = $("#hdnAwbId_@Model.AwbId").val();
            var tmpCurrentAwbTaskId = $("#hdnTaskId_@Model.AwbId").val();
            var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
            var selectedAttributesIds = [];
            if (selectedItems.length > 0) {
                for (var i = 0 ; i < selectedItems.length; i++) {
                    selectedAttributesIds.push($(selectedItems[i]).attr("data-id"));
                }
            }

            var dataModel = { TaskId: '@Model.ParentTaskId', AwbAttributeIds: selectedAttributesIds.join(","), AwbId: '@Model.AwbId' };

            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteAwbAttributes", "Accept")',
                data: JSON.stringify(dataModel),
                success: function () {
                    $("#tblAwbAttributes_@Model.AwbId").DataTable().ajax.reload();
                },
                dataType: 'json',
                contentType: "application/json; charset=utf-8"
            });
        });

        //======================= Attributes Tab end ====================


        //======================= Consignments Tab begin ====================


        $("#tblAwbConsign_@Model.AwbId").dataTable({
            "bJQueryUI": true,
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "autoWidth": false,
            "language": {
                "emptyTable": "No records found."
            },
            "sScrollY": '100px',
            "sAjaxSource": "@Url.Action("GetAwbconsignmentDetails", "Accept")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendAwbScreeningListFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0], "mData": "null", "sClass": "cm-datatable-action", "sTitle": "<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                        return '<input type="checkbox" data-id="' + full.ULDId + '" class="cm-datatable-select"/>';
                    }
                },
                {
                    "aTargets": [1], "mData": "UldType", "sTitle": 'ULD Type', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [2], "mData": "ULDRef", "sTitle": 'Reference', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [3], "mData": "TotalPieces", "sTitle": 'Total Pieces', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [4], "mData": "TotalWeight", "sTitle": 'Total Weight', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [5], "mData": "Condition", "sTitle": 'Condition', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [6], "mData": "HasUCR", "sTitle": 'Has UCR', "bSearchable": false, "bSortable": true
                },
                {
                    "aTargets": [7], "mData": "ULDLocation", "sTitle": 'Location', "bSearchable": false, "bSortable": true
                }
            ]
        });

        var resizeConsignAwbsTable = function () {
            var containerHeigth = $("#tblAwbConsign_@(Model.AwbId)_wrapper").parent();
            if ($(containerHeigth).hasClass("active")) {
                $("#tblAwbConsign_@Model.AwbId").DataTable().columns.adjust();
                $("#tblAwbConsign_@(Model.AwbId)_wrapper").find(".dataTables_scrollBody").height(containerHeigth.height() - 128);

                //bug in Jquery datatable, sometimes instead pushing the header to the right it pushes it to the left
                $('#tblAwbConsign_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-left', '0');
                $('#tblAwbConsign_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-right', '16px');
            }
        }

        resizeConsignAwbsTable();


        var tmpAcceptTaskConsign = {
            controlId: 'taskAcceptConsignOptions@(Model.AwbId)',
            options: [
                 { id: 'actAcceptAddConsign@(Model.AwbId)', name: "Add Consignment" },
                 { id: 'actAcceptDeleteConsign@(Model.AwbId)', name: "Remove Consignments" },
            ]
        };

        $("#datatable-filter-action").tmpl(tmpAcceptTaskConsign).appendTo("#tblAwbConsign_@(Model.AwbId)_filter");

        $("#actAcceptAddConsign@(Model.AwbId)").on('click', function () {

            var tmpCurrentAWbId = $("#hdnAwbId_@Model.AwbId").val();
            var tmpCurrentAwbTaskId = $("#hdnTaskId_@Model.AwbId").val();

        });

        $("#actAcceptDeleteConsign@(Model.AwbId)").on('click', function () {

            var tmpCurrentAWbId = $("#hdnAwbId_@Model.AwbId").val();
            var tmpCurrentAwbTaskId = $("#hdnTaskId_@Model.AwbId").val();
            var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
            var selectedConsignIds = [];
            if (selectedItems.length > 0) {
                for (var i = 0 ; i < selectedItems.length; i++) {
                    selectedConsignIds.push($(selectedItems[i]).attr("data-id"));
                }
            }

            var dataModel = { TaskId: '@Model.TaskId', AwbConsignIds: selectedConsignIds.join(",") };

            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteAwbConsignmentDetails", "Accept")',
                data: JSON.stringify(dataModel),
                success: function () {
                    $("#tblAwbConsign_@Model.AwbId").DataTable().ajax.reload();
                },
                dataType: 'json',
                contentType: "application/json; charset=utf-8"
            });
        });

        //======================= Consignments Tab end ====================

        //======================= History Tab begin ====================

        var appendAwbTaskHisFilter = function (baseData) {
            if (baseData) {
                var tmpAwbId = '@Model.AwbId';
                var tmpTaskId = '@Model.ParentTaskId';
                baseData.push({ "name": "TaskId", "value": tmpTaskId });
                baseData.push({ "name": "AwbId", "value": tmpAwbId });
            }
            return baseData;
        }
        $("#tblAwbTaskHistory_@Model.AwbId").dataTable({
            "bJQueryUI": true,
            "sPaginationType": "bootstrap",
            "bProcessing": true,
            "bServerSide": true,
            "autoWidth": false,
            "language": {
                "emptyTable": "No records found."
            },
            "sScrollY": '100px',
            "sAjaxSource": "@Url.Action("GetAwbTaskHistory", "Accept")",
            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": appendAwbTaskHisFilter(aoData),
                    "success": fnCallback
                });
            },
            "aoColumnDefs": [
                    {
                        "aTargets": [0], "mData": "Reference", "sTitle": 'Reference', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [1], "mData": "Description", "sTitle": 'Transaction', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [2], "mData": "UserName", "sTitle": 'User', "bSearchable": false, "bSortable": true
                    },

                    {
                        "aTargets": [3], "mData": "TxnDate", "sTitle": 'Timestamp', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                            return new Date().getDataTableColumn(data);
                        }
                    }
            ]
        });

        var resizeHistoryAwbsTable = function () {
            var containerHeigth = $("#tblAwbTaskHistory_@(Model.AwbId)_wrapper").parent();
            if ($(containerHeigth).hasClass("active")) {
                $("#tblAwbTaskHistory_@Model.AwbId").DataTable().columns.adjust();
                $("#tblAwbTaskHistory_@(Model.AwbId)_wrapper").find(".dataTables_scrollBody").height(containerHeigth.height() - 128);

                //bug in Jquery datatable, sometimes instead pushing the header to the right it pushes it to the left
                $('#tblAwbTaskHistory_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-left', '0');
                $('#tblAwbTaskHistory_@(Model.AwbId)_wrapper.dataTables_scrollHeadInner').css('padding-right', '16px');
            }
        }

        resizeHistoryAwbsTable();

        //======================= History Tab end ====================


        var resizeAwbDetails = function () {
            var tmpDetailsParent = $("#dvAwbDetailsTab_@Model.AwbId").parent();

            var tmpHeader = $(tmpDetailsParent).children().eq(0);
            var tmpDetail1 = $(tmpDetailsParent).children().eq(1);
            var tmpDetail2 = $(tmpDetailsParent).children().eq(2);

            var tmpTabHeader = 80;

            $("#dvAwbDetailsTab_@Model.AwbId .tab-content").height(tmpDetailsParent.height() - (tmpHeader.outerHeight() + tmpDetail1.outerHeight() + tmpDetail2.outerHeight() + tmpTabHeader))
        };

        resizeAwbDetails();
        resizeSecurityTable();

        $(window).on("cm-tab-size-change", function () {
            resizeSecurityTable();
            resizeAttributesAwbsTable();
            resizeAttachmentsAwbsTable();
            resizeConsignAwbsTable();
            resizeHistoryAwbsTable();
        })

        $(window).on('resize', function () {
            resizeAwbDetails();
            $(window).trigger("cm-tab-size-change");
        })

    });
</script>
