﻿@model MCH.Web.Models.Accept.AddEditAcceptTaskModel


    @if (Model.AwbList != null && Model.AwbList.Any())
    {
        foreach (var item in Model.AwbList)
        {
            <text>
                <li><a href="#" data-id="@item.AwbId" data-task-id="@item.TaskId"  data-ref="@item.Reference"><span>@item.Reference</span></a></li>
            </text>
        }
    }
    else
    {
        <li><a href="#"><span>No AWBs</span></a></li>
    }

