﻿@model MCH.Web.Models.Task.SearchTaskViewModel


<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic cm-white-content" id="tbTaskManagement">

        <div id="tabsContainer" style="height:100%">
            <!-- Tabs Heading -->
            <div class="tabsbar tabsbar-2">
                <ul class="row row-merge">
                    <li class="col-md-3 glyphicons list active" id="tab-la-task-list"><a href="#tabTaskList" data-toggle="tab"><i></i> Task List</a></li>
                </ul>
            </div>
            <!-- // Tabs Heading END -->

            <div class="tab-content">

                <!-- Tab content -->
                <div class="tab-pane active" id="tabTaskList" style="height:100%">
                    <div class="widget widget-heading-simple margin-none" data-toggle="collapse-widget" data-collapse-closed="false">
                        <div class="widget-head">
                            <h4 class="heading">Filters:</h4>
                        </div>
                        <div class="widget-body">

                            <div class="row">
                                <div class="col-md-2">
                                    <h5>From</h5>
                                    @(Html.Kendo().DatePicker().Name("dpTaskFrom").Value(DateTime.Now))

                                </div>
                                <div class="col-md-2">
                                    <h5>To</h5>
                                    @(Html.Kendo().DatePicker().Name("dpTaskTo").Value(DateTime.Now))
                                </div>
                                <div class="col-md-2">
                                    <h5>Airline</h5>
                                    @(Html.Kendo().ComboBox().Name("cbxTasksFilterCarrier").BindTo(MCH.Web.Utilities.UIDataHelper.GetCarriers(null, "Select Carrier", "")).HtmlAttributes(new { style = "width:100%" }))
                                </div>
                                <div class="col-md-1">
                                    <h5>Flight #</h5>
                                    @Html.Kendo().TextBox().Name("txtFlightNumber").HtmlAttributes(new { style = "width:80px" })
                                </div>
                                <div class="col-md-2">
                                    <h5>Status</h5>
                                    @(Html.Kendo().ComboBox().Name("cbxTasksFilterStatues").BindTo(MCH.Web.Utilities.UIDataHelper.GetTaskStatuses((int?)Model.StatusId, "All Statuses", "")).HtmlAttributes(new { style = "width:100%" }))
                                </div>
                                <div class="col-md-3">
                                    <h5>&nbsp</h5>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" id="btnResetTaskList"><i class="fa fa-refresh"></i> Reset</button>
                                        <button class="btn btn-primary" id="btnSearchTaskList"><i class="fa fa-search"></i> Search</button>
                                        <button class="btn btn-success" id="btnAddNewTask"><i class="fa fa-plus"></i> New Task</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<table id="tblSearchLATask" class="display  dynamicTable" cellspacing="0" width="100%"></table>*@

                    <script type="text/javascript">

                        function checkColumns() {
                            var tmpGrid = $("#tblSerachTasks").data("kendoGrid");

                            var tmpFilterableColumns = getFilterableColumns(tmpGrid.columns);

                            console.log(tmpFilterableColumns);

                            
                        }

                        function getFilterableColumns(columns)
                        {
                            var tmpColumnsToFilter = [];
                            if (columns && columns.length > 0)
                            {
                                for (var i = 0; i < columns.length; i++) {
                                    var itemColumn = columns[i];

                                    if (itemColumn.filterable && itemColumn.filterable !== false)
                                    {
                                        tmpColumnsToFilter.push({ Text: itemColumn.title, Value: itemColumn.field });
                                    }
                                }
                            }
                            return tmpColumnsToFilter;
                        }
                        var appendTaskListFilter = function () {

                            var tmpFlightNumber = $("#txtFlightNumber").val();
                            var tmpTaskStatusId = $("#cbxTasksFilterStatues").data('kendoComboBox') != null ? $("#cbxTasksFilterStatues").data('kendoComboBox').value() : '';
                            var tmpCarrierId = $("#cbxTasksFilterCarrier").data('kendoComboBox') != null ? $("#cbxTasksFilterCarrier").data('kendoComboBox').value() : '';

                            //this value comes from dashboard selected Handling Station
                            var tmpWarehouseId = '@Model.WarehousePortId';

                            var tmpTaskTypeId = '@((int)Model.TaskTypeId)';

                            var filterData = {
                                From: $("#dpTaskFrom").val(),
                                To: $("#dpTaskTo").val(),
                                FlightNumber: tmpFlightNumber,
                                StatusId: tmpTaskStatusId,
                                Airline: tmpCarrierId,
                                WarehouseId: tmpWarehouseId,
                                TaskTypeId: tmpTaskTypeId
                            };



                            return filterData;
                        }
                    </script>


                    @(Html.Kendo().Grid<MCH.Web.Models.Task.DynamicTaskRow>().Name("tblSerachTasks")
                    .Columns(col =>
                    {
                        col.Bound(o => o.Id).Hidden(true);
                        col.Bound(o => o.Reference).Title("Reference").Filterable(false).Sortable(false);
                        col.Bound(o => o.TaskDate).Format("{0:MM/dd/yyyy HH:mm}").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("TaskDate", Model.TaskTypeId));
                        col.Bound(o => o.DueDate).Format("{0:MM/dd/yyyy HH:mm}").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("DueDate", Model.TaskTypeId));
                        col.Bound(o => o.StartDate).Format("{0:MM/dd/yyyy HH:mm}").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("StartDate", Model.TaskTypeId));
                        col.Bound(o => o.EndDate).Format("{0:MM/dd/yyyy HH:mm}").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("EndDate", Model.TaskTypeId));
                        col.Bound(o => o.Assignees).Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Assignees", Model.TaskTypeId));
                        col.Bound(o => o.Status).Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Status", Model.TaskTypeId));
                        col.Bound(o => o.Progress).Title("Progress").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Progress", Model.TaskTypeId));
                        col.Bound(o => o.IsReopened).HeaderTemplate("<a href='#'><i class='fa fa-refresh'>").Width(40);
                        col.Bound(o => o.Station).Title("Station").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Station", Model.TaskTypeId));
                        col.Bound(o => o.Warehouse).Title("Warehouse").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Warehouse", Model.TaskTypeId));

                        col.Bound(o => o.WarehouseLocation).Title("Warehouse Location").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("WarehouseLocation", Model.TaskTypeId));
                        col.Bound(o => o.OriginAirport).Title("Origin").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("OriginAirport", Model.TaskTypeId));
                        col.Bound(o => o.DestinationAirport).Title("Destination").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("DestinationAirport", Model.TaskTypeId));
                        col.Bound(o => o.Airline).Title("Airline").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Airline", Model.TaskTypeId));
                        col.Bound(o => o.FlightNumber).Title("Flight #").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("FlightNumber", Model.TaskTypeId));
                        col.Bound(o => o.ETA).Format("{0:MM/dd/yyyy HH:mm}").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("ETA", Model.TaskTypeId));
                        col.Bound(o => o.ETD).Format("{0:MM/dd/yyyy HH:mm}").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("ETD", Model.TaskTypeId));
                        col.Bound(o => o.PAXorCAO).Title("PAX/CAO").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("PAZorCAO", Model.TaskTypeId));
                        col.Bound(o => o.Driver).Title("Driver").Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Driver", Model.TaskTypeId));
                        col.Bound(o => o.ScreeningResult).Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("ScreeningResult", Model.TaskTypeId)); ;
                        col.Bound(o => o.Alerts).HeaderTemplate("<a href='#'><i class='fa fa-comment'>").Width(40).Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("Alerts", Model.TaskTypeId)); ;
                        col.Bound(o => o.SPHCodes).HeaderTemplate("<a href='#'><i class='fa fa-warning'>").Width(40).Hidden(MCH.Web.Utilities.TaskItemVisibility.IsHidden("SPHCodes", Model.TaskTypeId));
                    })
                    .Events(e => e.DataBound("checkColumns"))
                    .ToolBar(toolbar =>
                        {
                            toolbar.Template(@<text>
                                <div class="toolbar" style="float:right">
                                    <label class="category-label" for="category">Quick Search:</label>
                                    @Html.Kendo().TextBox().Name("tblSerachTasks_Search").HtmlAttributes(new { @class = "cm-grid-quick-search" })
                                </div>
                            </text>);
                        })
                                                                                .DataSource(dataSource => dataSource
                                                                                .Ajax().Read(read => read.Action("DynamicTaskListDataSource", "Tasks").Data("appendTaskListFilter"))
                                                                                .PageSize(20)
                                                                            )
                                                                                .Pageable(p => p.PageSizes(new int[] { 5, 10, 20 }))
                                                                                .Sortable()
                                                                                .Filterable()
                                                                                .Scrollable()
                                                                                .Resizable(resize => resize.Columns(true))
                                                                                .TableHtmlAttributes(new
                                                                                {
                                                                                    style = "table-layout:fixed;"
                                                                                })
                    )

                </div>
            </div>
        </div>
    </div>
</div>



<script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js")"></script>



@Html.Partial("_DynamicTasksListScript", Model)


