﻿@model MCH.Web.Models.Task.SearchTaskViewModel


<div class="innerAll spacing-x1 cm-right-content">
    <div class="box-generic cm-white-content" id="tbTaskManagement">

        <div id="tabsLAContainer" style="height:100%">
            <!-- Tabs Heading -->
            <div class="tabsbar tabsbar-2">
                <ul class="row row-merge">
                    <li class="col-md-3 glyphicons list active" id="tab-la-task-list"><a href="#tabLATaskList" data-toggle="tab"><i></i> Task List</a></li>
                </ul>
            </div>
            <!-- // Tabs Heading END -->

            <div class="tab-content">

                <!-- Tab content -->
                <div class="tab-pane active" id="tabLATaskList" style="height:100%">
                    <div class="widget widget-heading-simple margin-none" data-toggle="collapse-widget" data-collapse-closed="false">
                        <div class="widget-head">
                            <h4 class="heading">Filters:</h4>
                        </div>
                        <div class="widget-body">

                            <div class="row">
                                <div class="col-md-2">
                                    <h5>From</h5>
                                    @(Html.Kendo().DatePicker().Name("dpLATaskFrom").Value(DateTime.Now))

                                </div>
                                <div class="col-md-2">
                                    <h5>To</h5>
                                    @(Html.Kendo().DatePicker().Name("dpLATaskTo").Value(DateTime.Now))
                                </div>
                                <div class="col-md-2">
                                    <h5>Carrier</h5>
                                    @(Html.Kendo().ComboBox().Name("laTasksFilterCarrier").BindTo(MCH.Web.Utilities.UIDataHelper.GetCarriers(null, "Select Carrier", "")).HtmlAttributes(new { style = "width:100%" }))
                                </div>
                                <div class="col-md-1">
                                    <h5>Flight #</h5>
                                        @Html.Kendo().TextBox().Name("txtLAFlightNumber").HtmlAttributes(new {style="width:80px"})
                                </div>
                                <div class="col-md-2">
                                    <h5>Status</h5>
                                    @(Html.Kendo().ComboBox().Name("laTasksFilterStatues").BindTo(MCH.Web.Utilities.UIDataHelper.GetTaskStatuses((int?)Model.StatusId, "All Statuses", "")).HtmlAttributes(new { style = "width:100%" }))
                                </div>
                                <div class="col-md-3">
                                    <h5>&nbsp</h5>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" id="btnResetLATaskList"><i class="fa fa-refresh"></i> Reset</button>
                                        <button class="btn btn-primary" id="btnSearchLATaskList"><i class="fa fa-search"></i> Search</button>
                                        <button class="btn btn-success" id="btnLAAddNewTask"><i class="fa fa-plus"></i> New Task</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<table id="tblSearchLATask" class="display  dynamicTable" cellspacing="0" width="100%"></table>*@

                    <script type="text/javascript">
                        var appendLATaskListFilter = function () {

                            var tmpFlightNumber = $("#txtLAFlightNumber").val();
                            var tmpTaskStatusId = $("#laTasksFilterStatues").data('kendoComboBox') != null ? $("#laTasksFilterStatues").data('kendoComboBox').value() : '';
                            var tmpCarrierId = $("#laTasksFilterCarrier").data('kendoComboBox') != null ? $("#laTasksFilterCarrier").data('kendoComboBox').value() : '';

                            //this value comes from dashboard selected Handling Station
                            var tmpWarehouseId = '@Model.WarehousePortId';

                            var filterData = {
                                From: $("#dpLATaskFrom").val(),
                                To: $("#dpLATaskTo").val(),
                                FlightNumber: tmpFlightNumber,
                                TaskStatusId: tmpTaskStatusId,
                                CarrierId: tmpCarrierId,
                                WarehouseId: tmpWarehouseId
                            };

                            return filterData;
                        }
                    </script>


                    @(Html.Kendo().Grid<MCH.Web.Models.LiveAnimal.LATaskGridRow>().Name("tblSerachLATasks")
                    .Columns(col =>
                    {
                        col.Bound(o => o.Id).Visible(false);
                        col.Bound(o => o.HasAlert).HeaderTemplate("<a href='#'><i class='fa fa-warning'>").Width(40);
                        col.Bound(o => o.HasCommnets).HeaderTemplate("<a href='#'><i class='fa fa-comment'>").Width(40);
                        col.Bound(o => o.IsReopened).HeaderTemplate("<a href='#'><i class='fa fa-refresh'>").Width(40);
                        col.Bound(o => o.Status);
                        col.Bound(o => o.Progress);
                        col.Bound(o => o.Cutoff).Format("{0:MM/dd/yyyy HH:mm}");
                        col.Bound(o => o.FlightNumber).Title("Flight #");
                        col.Bound(o => o.Customer).Title("A/L");
                        col.Bound(o => o.ETD).Format("{0:MM/dd/yyyy HH:mm}");
                        col.Bound(o => o.Reference).Width(200);
                        col.Bound(o => o.AssignedTo);
                        col.Bound(o => o.Start).Format("{0:MM/dd/yyyy HH:mm}");
                        col.Bound(o => o.End).Format("{0:MM/dd/yyyy HH:mm}");
                    }).ToolBar(toolbar =>
                        {
                            toolbar.Template(@<text>
                                <div class="toolbar" style="float:right">
                                    <label class="category-label" for="category">Quick Search:</label>
                                    @Html.Kendo().TextBox().Name("tblSerachLATasks_Search").HtmlAttributes(new { @class = "cm-grid-quick-search" })
                                </div>
                            </text>);
                        })
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                                .Read(read => read.Action("SearchLATasks", "LATasks").Data("appendLATaskListFilter"))
                                .PageSize(25)
                            )
                                .Pageable(p => p.PageSizes(new int[] { 5, 10, 20 }))
                                .Sortable()
                                .Scrollable()
                                .Resizable(resize => resize.Columns(true))
                                .TableHtmlAttributes(new
                                {
                                    style = "table-layout:fixed;"
                                })
                                .Mobile()
                    )
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js")"></script>

@Html.Partial("_LACheckTasksScript", Model)


