﻿@model MCH.Web.Models.Task.SearchTaskViewModel

<script type="text/javascript">
    

    $(function () {

        

        var initLATasks = function () {
            var tabParent = $("#tabsLAContainer").parent();

            var tabContainer = $("#tabsLAContainer");

            var tabHeader = tabContainer.children(".tabsbar.tabsbar-2").first();

            var tmpRemainingHeight = tabParent.height() - tabHeader.outerHeight(true);

            tabContainer.children(".tab-content").first().height(tmpRemainingHeight);

        }

        var resizeLATable = function () {
            var tableWrapper = $("#tblSerachLATasks");

            var tableHeight = tableWrapper.outerHeight(true);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();
            var tmpContanerHeight = tmpTableContainer.height();

            tmpTableContainer.children('div').each(function (i, e) {
                if ($(this).attr('id') != 'tblSerachLATasks') {
                    tmpContanerHeight = tmpContanerHeight - $(this).outerHeight(true);
                }
            });

            //128 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.k-grid-content').height(tmpContanerHeight - 96);

        }

        initLATasks();

        initFilterFields();

        initCollapsiblePanel();

        var tmpCRTaskListActions = {
            controlId:'crTaskListOptions',
            options: [
                { id: 'crAssigneUsers', name: "Assigne User(s)" },
                { id: 'crReopenTasks', name: "Reopen Tasks" },
                { id: 'crDisableTasks', name: "Disable Tasks" },
            ]
        };


        $("#datatable-filter-action").tmpl(tmpCRTaskListActions).appendTo("#tblSearchCLGeneralTask_filter");


        $("#crAssigneUsers").click(function () {
           
        });

        $("#crReopenTasks").click(function () {
            alert("go to reopen tasks");
        });

        $("#crDisableTasks").click(function () {
            alert("go to disable tasks");
        });


        

        $("#tblSearchLATask a.nav-details").die().live('click', function () {

            var selectedTaskId = $(this).attr('data-id');
            var selectedTaskRef = $(this).attr('data-ref');

            var tabTemplateData = {};

            var tabHeaderId = 'tab-cr-task-details-' + selectedTaskId;

            tabTemplateData.headerId = tabHeaderId;
            tabTemplateData.iconClass = 'cargo';
            tabTemplateData.header = 'Task Details : ' + selectedTaskRef;
            tabTemplateData.contentId = 'tabCargoReceiverDetails_' + selectedTaskId;

            window.TAB_HANDLER.addTab('tabsLAContainer', tabTemplateData, '@Url.Action("GetTAskDetailsByType","Tasks")', { TaskId: selectedTaskId }, 'loading-bar');
            
        });

        resizeLATable();

        $(window).resize(function () {
            initLATasks();

            var isCurrentTabSelected = $("#tabLATaskList").hasClass('active');
            if (isCurrentTabSelected) {
                resizeLATable();
            }
        })

    });

    

    function initCollapsiblePanel() {
        $('.widget[data-toggle="collapse-widget"] .widget-body')
		.on('show.bs.collapse', function () {
		    $(this).parents('.widget:first').attr('data-collapse-closed', "false");
		})
		.on('shown.bs.collapse', function () {
		    setTimeout(function () { $(window).resize(); }, 500);
		})
		.on('hidden.bs.collapse', function () {
		    $(this).parents('.widget:first').attr('data-collapse-closed', "true");
		});

        $('.widget[data-toggle="collapse-widget"]').each(function () {
            // append toggle button
            if (!$(this).find('.widget-head > .collapse-toggle').length)
                $('<span class="collapse-toggle"></span>').appendTo($(this).find('.widget-head'));

            // make the widget body collapsible
            $(this).find('.widget-body').not('.collapse').addClass('collapse');

            // verify if the widget should be opened
            if ($(this).attr('data-collapse-closed') !== "true")
                $(this).find('.widget-body').addClass('in');

            // bind the toggle button
            $(this).find('.collapse-toggle').on('click', function () {
                $(this).parents('.widget:first').find('.widget-body').collapse('toggle');
            });
        });
    }

    function initFilterFields() {

        

        $("#btnSearchLATaskList").click(function () {
            //$("#tblSearchLATask").DataTable().ajax.reload();
        });

        $("#btnLAAddNewTask").click(function () {
            //console.log($("#tblSearchCLGeneralTask").DataTable().rows('.cm-datatable-selected').data());
        });

        $("#btnResetLATaskList").click(function () {
            
            $("#dpLATaskFrom").val('');
            $("#dpLATaskTo").val('');
            $("#txtLAFlightNumber").val('');
            //$("#tblSearchLATask").DataTable().ajax.reload();

        });
    }
</script>