﻿@model MCH.Web.Models.Task.TaskDetailsHistory

<div>
    <table id="tblDetailsAssignments_@Model.TaskId" class="display nowrap dynamicTable" cellspacing="0" width="100%"></table>
</div>

@Html.Partial("_TaskAssignmentsScript", Model)