﻿@model MCH.Web.Models.Task.TaskDetailsHistory

<script type="text/javascript">

    $(function () {
        //var tmpUsersGridLoaded = -1;
        var initAssignmentTableResize = function () {

            var tableWrapperId = 'tblDetailsAssignments_@(Model.TaskId)_wrapper';

            var tableWrapper = $("#" + tableWrapperId);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();

            //119 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.dataTables_scrollBody').height(tmpTableContainer.height() - 119);
        }

        var initTaskAssignments = function () {
            var appendUsersListFilter = function (baseData) {
                if (baseData) {
                    var tmpTaskId = '@Model.TaskId';
                    baseData.push({ "name": "TaskId", "value": tmpTaskId });
                }
                return baseData;
            }
            $("#tblDetailsAssignments_@Model.TaskId").dataTable({
                "bJQueryUI": true,
                "sScrollY": '250px',
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "language": {
                    "emptyTable": "No records found."
                },
                "fnDrawCallback": function (oSettings) {
                    //if (tmpUsersGridLoaded == -1) {
                    //    setTimeout(function () { initAssignmentTableResize(); }, 500);
                    //    tmpUsersGridLoaded = 1;
                    //}
                },
                "sAjaxSource": "@Url.Action("GetTaskAssignments", "Tasks")",
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": appendUsersListFilter(aoData),
                        "success": fnCallback
                    });
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0], "mData": "UserName", "sTitle": 'User', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [1], "mData": "Date", "sTitle": 'Assigned Date', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                            return new Date().getDataTableColumn(data);
                        }
                    },
                    {
                        "aTargets": [2], "mData": "IsOwner", "sTitle": 'Is Owner', "bSearchable": false, "bSortable": true,
                        "mRender": function (data, type, full) {
                            return full.IsOwner == 1 ? '<a href="#" data-id="' + full.Id + '" class="cm-action-check-task-user"><i class="fa fa-check-square-o">' : '<a href="#" data-id="' + full.Id + '" class="cm-action-check-task-user"><i class="fa fa-square-o">';
                        }
                    },
                    {
                        "aTargets": [3], "mData": "Id", "sTitle": " ", "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                            return '<a href="#" data-id="' + data + '" class="cm-action-delete-task-user"><i class="fa fa-trash-o">';
                        }
                    }
                ]
            });

            // grid actions

            $("#tblDetailsAssignments_@(Model.TaskId) a.cm-action-delete-task-user").die().live('click', function (e) {

                var tmpAssignmentId = $(this).attr("data-id");
                var assignmentsToDelete = tmpAssignmentId + " ";
                var dataModel = { TaskId: '@Model.TaskId', AssignmentsIdsString: assignmentsToDelete };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteAssignments", "Assigments")',
                    data: JSON.stringify(dataModel),
                    success: function () {
                        $("#tblDetailsAssignments_@Model.TaskId").DataTable().ajax.reload();
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8"
                });
            })


            var tmpAddUserAction = {
                controlId: 'btnAddUser_@Model.TaskId',
                text: "Assign New"
            };

            $("#datatable-filter-action-add").tmpl(tmpAddUserAction).appendTo("#tblDetailsAssignments_@(Model.TaskId)_filter");


            $("#btnAddUser_@Model.TaskId").die().live('click', function () {

                $.getJSON("@Url.Action("GetTaskAssignmentOptions", "Assigments")", { TaskId: '@Model.TaskId' }, function (data) {

                    var tmpUserOptionsArray = [];

                    $.each(data.UserOptions, function (key, val) {
                        tmpUserOptionsArray.push({ Id: val.Id, Text: val.Text });
                    });

                    var tmpOwnerOptionsArray = [];

                    $.each(data.OwnerOptions, function (key, val) {
                        tmpOwnerOptionsArray.push({ Id: val.Id, Text: val.Text });
                    });

                    var userTemplateData = {
                        empControlId: 'slcEmployees_@Model.TaskId',
                        ownControlId: 'slcOwner_@Model.TaskId',
                        "userOptions": tmpUserOptionsArray,
                        "ownerOptions": tmpOwnerOptionsArray
                    };

                    var htmlContent = $("#modal-content-users").tmpl(userTemplateData);

                    DIALOG_HANDLER.openStaticDialog(function () {

                        var selectedUsersIds = $('#slcEmployees_@Model.TaskId').select2('val');
                        var selectedOwnerId = $('#slcOwner_@Model.TaskId').select2('val');
                        var tmpUserTaskAssignments = { TaskId: '@Model.TaskId', UserIdString: selectedUsersIds.join(','), OwnerId: selectedOwnerId };

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("AssignTaskToUser", "Assigments")',
                            data: JSON.stringify(tmpUserTaskAssignments),
                            success: function () {
                                $("#tblDetailsAssignments_@Model.TaskId").DataTable().ajax.reload();
                                //reload task header
                                document.reloadTaskDetails('@Model.TaskId');
                            },
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8"
                        });

                    }, htmlContent, "Select Employees");

                    $('#slcEmployees_@Model.TaskId').select2();
                    $('#slcOwner_@Model.TaskId').select2();

                });
            });
        }

        initTaskAssignments();

        setTimeout(function () { initAssignmentTableResize(); }, 1000);

        $(window).on('cm-sub-resize', function () {
            initAssignmentTableResize();
        })
    });

</script>