﻿@model MCH.Web.Models.Task.TaskDetailsCR

<div class="row">
    <div class="widget widget-heading-simple margin-none col-md-12" id="divTaskDetialsHeader_@Model.TaskId" style="margin-bottom:5px !important;" data-toggle="collapse-widget" data-collapse-closed="false">
        <div class="widget-head">
            <h4 class="heading"></h4>
            <span class="collapse-toggle"></span>
        </div>
        <div class="widget-body in col-md-12" style="height: auto; padding:5px !important;">
            @Html.Partial("_TaskDetailsCLHeader", Model)
        </div>
    </div>
</div>


<div id="tabsCLReferences_@Model.TaskId" class="row">
    <div class="col-md-12" style="height:100%">
        <!-- Tabs Heading -->
        <div class="tabsbar tabsbar-2">
            <ul class="row row-merge">
                <li class="col-md-2 glyphicons group active"><a href="#tabCRAssignments_@Model.TaskId" data-toggle="tab"><i></i> Assigned Employees</a></li>
                <li class="col-md-2 glyphicons cargo "><a href="#tabCRUld_@Model.TaskId" data-toggle="tab"><i></i> ULDs</a></li>
                <li class="col-md-2 glyphicons calendar "><a href="#tabCRShipments_@Model.TaskId" data-toggle="tab"><i></i> Load Plan</a></li>
                <li class="col-md-2 glyphicons picture "><a href="#tabCRMedia_@Model.TaskId" data-toggle="tab"><i></i>Media</a></li>
                <li class="col-md-2 glyphicons notes_2  "><a href="#tabCRSpecInstruction_@Model.TaskId" data-toggle="tab"><i></i> Special Instructions</a></li>
                <li class="col-md-2 glyphicons history "><a href="#tabCRHistory_@Model.TaskId" data-toggle="tab"><i></i> History</a></li>

                @*<li class="col-md-2 glyphicons show_lines  "><a href="#tabCRAttributes_@Model.TaskId" data-toggle="tab"><i></i> Attributes</a></li>*@
            </ul>
        </div>
        <!-- // Tabs Heading END -->

        <div class="tab-content">
            <!-- Tab content -->
            <div class="tab-pane active" id="tabCRAssignments_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskAssignments", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabCRAssignments_" + Model.TaskId })
            </div>
            <div class="tab-pane " id="tabCRUld_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskULDsLoader", new MCH.Web.Models.Task.TaskDetailsUlds { TaskId = Model.TaskId, TabItemId = "tabCRUld_" + Model.TaskId })
            </div>
            <div class="tab-pane " id="tabCRShipments_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskLoadPlan", new MCH.Web.Models.Task.TaskDetailsShipments { TaskId = Model.TaskId, TabItemId = "tabCRShipments_" + Model.TaskId })
            </div>
            <div class="tab-pane " id="tabCRMedia_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskMedia", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabCRMedia_" + Model.TaskId })
            </div>
            <div class="tab-pane " id="tabCRSpecInstruction_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskInstructions", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabCRSpecInstruction_" + Model.TaskId })
            </div>
            <div class="tab-pane " id="tabCRHistory_@Model.TaskId" style="height:100%">
                @Html.Partial("_TaskHistory", new MCH.Web.Models.Task.TaskDetailsHistory { TaskId = Model.TaskId, TabItemId = "tabCRHistory_" + Model.TaskId })
            </div>

            @*<div class="tab-pane " id="tabCRAttributes_@Model.TaskId">

             </div>*@
        </div>
    </div>
</div>



@Html.Partial("_TaskDetailsCLScript", Model)

<script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-collapsible/assets/widget-collapsible.init.js")"></script>
