﻿@model MCH.Web.Models.Task.TaskDetailsShipments

<script type="text/javascript">

    $(function () {

        var initLoadPlanTableResize = function () {

            var tableWrapperId = 'tblDetailsLoadPlan_@(Model.TaskId)_wrapper';

            var tableWrapper = $("#" + tableWrapperId);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();

            //119 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.dataTables_scrollBody').height(tmpTableContainer.height() - 119);

        }

        var initTaskLoadPlan = function () {
            var appendShipmentsListFilter = function (baseData) {
                if (baseData) {
                    var tmpTaskId = '@Model.TaskId';
                    baseData.push({ "name": "TaskId", "value": tmpTaskId });
                }
                return baseData;
            }
            $("#tblDetailsLoadPlan_@Model.TaskId").dataTable({
                "bJQueryUI": true,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "bPaginate": true,
                "language": {
                    "emptyTable": "No records found."
                },
                "scrollY": "250px",
                "sAjaxSource": "@Url.Action("GetTaskLoadPlan", "Tasks")",
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": appendShipmentsListFilter(aoData),
                        "success": fnCallback
                    });
                },
                "aoColumnDefs": [
                    {
                        "aTargets": [0], "mData": "Reference", "sTitle": 'Reference', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [1], "mData": "ULD", "sTitle": 'ULD', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [2], "mData": "Consignee", "sTitle": 'Consignee', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [3], "mData": "Attributes", "sTitle": 'Attributes', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [4], "mData": "TotalPieces", "sTitle": 'Total Pcs', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [5], "mData": "LoadCount", "sTitle": 'Load Pcs', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [6], "mData": "PutAwayPieces", "sTitle": 'Received Pcs', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [7], "mData": "Location", "sTitle": 'Location', "bSearchable": false, "bSortable": true
                    }

                    @if(Model.ShowCustomsHistory)
                    {
                        <text>
                            , {
                                "aTargets": [8], "sClass": "cm-datatable-action", "mData": "Id", "sTitle": 'Customs History', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {

                                    return '<button class="btn btn-circle btn-primary cm-datatable-action-customsHistory" data-id="' + full.Id + '" title="Show Customs History"><i class="fa fa-book"></i></button>'
                                }
                            }
                        </text>
                    }
                ]
            });

            @if(Model.ShowCustomsHistory)
             {
                 <text>
            $("#tblDetailsLoadPlan_@(Model.TaskId) button.cm-datatable-action-customsHistory").die().live('click', function (e) {
                var tmpShipmentId = $(this).attr("data-id");
                DIALOG_HANDLER.openRemoteView(function () { }, '@Url.Action("GetCustomsHistoryView", "Customs")', { TaskId: '@Model.TaskId', ShipmentId: tmpShipmentId }, "Customs History");
            });
            </text>
             }
        }

        // init the content when the tab is selected and there is enough space to shrink
        $(document).on("cmEvent_TabSelected", function (e) {
            if (e && e.Id == '#@Model.TabItemId') {
                var tmpIsLoadedAttr = $(e.Id).attr("data-cm-loaded");
                var isLoaded = (typeof tmpIsLoadedAttr !== typeof undefined && tmpIsLoadedAttr !== false)
                if (!isLoaded) {
                    initTaskLoadPlan();
                    $(e.Id).attr("data-cm-loaded", "");
                } else {
                    $("#tblDetailsLoadPlan_@Model.TaskId").DataTable().ajax.reload();
                }
            }
        });

        $(window).on('cm-sub-resize', function () {
            initLoadPlanTableResize();
        })
    });

</script>