﻿@model MCH.Web.Models.Task.TaskDetailsUlds

<script type="text/javascript">
    $(function () {

        var initULDsTableResize = function () {

            var tableWrapperId = 'tblDetailsUlds_@(Model.TaskId)_wrapper';

            var tableWrapper = $("#" + tableWrapperId);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();

            //119 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.dataTables_scrollBody').height(tmpTableContainer.height() - 119);

        }

        var initULDList = function () {

            var appendULDListFilter = function (baseData) {
                if (baseData) {
                    var tmpTaskId = '@Model.TaskId';
                    baseData.push({ "name": "TaskId", "value": tmpTaskId });
                }
                return baseData;
            }
            $("#tblDetailsUlds_@Model.TaskId").dataTable({
                "bJQueryUI": true,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "language": {
                    "emptyTable": "No records found."
                },
                "sScrollY": '250px',
                "sAjaxSource": "@Url.Action("GetTaskUlds", "Uld")",
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": appendULDListFilter(aoData),
                        "success": fnCallback
                    });
                },
                "aoColumnDefs": [
                     {
                         "aTargets": [0], "mData": "null", "sClass": "cm-datatable-action", "sTitle": "<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                             return '<input type="checkbox" data-id="' + full.Id + '" class="cm-datatable-select"/>';
                         }
                     },
                    {
                        "aTargets": [1], "mData": "Prefix", "sTitle": 'Prefix', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [2], "mData": "Reference", "sTitle": 'Reference#', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [3], "mData": "Pieces", "sTitle": 'Pieces', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [4], "mData": "STC", "sTitle": 'STC', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [5], "sClass": "cm-datatable-action", "mData": "IsBUP", "sTitle": 'BUP', "bSearchable": false, "bSortable": true,
                        "mRender": function (data, type, full) {
                            
                            return full.IsBUP == 1 ? '<a href="#" data-id="' + full.Id + '" class="cm-action-check-uld-bup"><i class="fa fa-check-square-o">' : '<a href="#" data-id="' + full.Id + '" class="cm-action-check-uld-bup"><i class="fa fa-square-o">';
                        }
                    },
                    {
                        "aTargets": [6], "sClass": "cm-datatable-action",  "mData": "StatusId", "sTitle": 'Status', "bSearchable": false, "bSortable": true,
                        "mRender": function (data, type, full) {

                            var returnString = "";

                            if (data == 1 || data == 20) {
                                //pending
                                returnString = '<a href="#" title="Pending"><i class="fa fa-clock-o">';
                            }
                            else if (data == 4 || data == 25)
                            {
                                // complete
                                returnString = '<a href="#" title="Complete"><i class="fa fa-check-circle-o">';
                            }
                            else if (data == 2 || data == 3 || data == 22 || data == 23 || data == 24) {
                                // in progress
                                returnString = '<a href="#" title="In Progress"><i class="fa fa-spinner">';
                            }

                            return returnString;
                        }
                    },
                    {
                        "aTargets": [7], "mData": "Location", "sTitle": 'Location', "bSearchable": false, "bSortable": true
                    },
                ]
            });

            var tmpCRUldListActions = {
                controlId: 'crTaskULDOptions@(Model.TaskId)',
                options: [
                     { id: 'crUldDelete@(Model.TaskId)', name: "Delete" },
                     { id: 'crUldMarkBUP@(Model.TaskId)', name: "Mark as BUP" },
                     { id: 'crUldUnMarkBUP@(Model.TaskId)', name: "Unmark as BUP" }
                ]
            };

            $("#datatable-filter-action").tmpl(tmpCRUldListActions).appendTo("#tblDetailsUlds_@(Model.TaskId)_filter");

            $("#crUldMarkBUP@(Model.TaskId)").on('click', function () {
                var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
                var selectedUldIds = [];
                if (selectedItems.length > 0)
                {
                    for (var i = 0 ; i < selectedItems.length; i++)
                    {
                        selectedUldIds.push($(selectedItems[i]).attr("data-id"));
                    }
                }

                var dataModel = { TaskId: '@Model.TaskId', ULDStringIds: selectedUldIds.join(","), IsBUP:true };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MarkULDBUP", "Uld")',
                    data: JSON.stringify(dataModel),
                    success: function () {
                        $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8"
                });
            });

            $("#crUldUnMarkBUP@(Model.TaskId)").on('click', function () {
                var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
                var selectedUldIds = [];
                if (selectedItems.length > 0) {
                    for (var i = 0 ; i < selectedItems.length; i++) {
                        selectedUldIds.push($(selectedItems[i]).attr("data-id"));
                    }
                }

                var dataModel = { TaskId: '@Model.TaskId', ULDStringIds: selectedUldIds.join(","), IsBUP:false };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MarkULDBUP", "Uld")',
                    data: JSON.stringify(dataModel),
                    success: function () {
                        $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                    },
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8"
                });
            });
        }

        // init the content when the tab is selected and there is enough space to shrink
        $(document).on("cmEvent_TabSelected", function (e) {
            if (e && e.Id == '#@Model.TabItemId') {
                var tmpIsLoadedAttr = $(e.Id).attr("data-cm-loaded");
                var isLoaded = (typeof tmpIsLoadedAttr !== typeof undefined && tmpIsLoadedAttr !== false)
                if (!isLoaded) {
                    initULDList();
                    $(e.Id).attr("data-cm-loaded", "");
                } else {
                    $("#tblDetailsUlds_@Model.TaskId").DataTable().ajax.reload();
                }
            } 
        });

        $(window).on('cm-sub-resize', function () {
            initULDsTableResize();
        })
    });

</script>