﻿@model MCH.Web.Models.Task.TaskDetailsCR
<div class="col-md-10">
    <form id="frmTaskDetails_@Model.TaskId">
        @Html.HiddenFor(m => m.TaskId)
        <div class="col-md-4 form-horizontal">
            <!-- Group -->
            <div class="row">
                <label class="col-md-4 " for="Reference">
                    <span style="float:right">Reference:</span>
                </label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.Reference</span>
                </div>
            </div>
            <!-- // Group END -->
            <!-- Group -->
            <div class="row">
                <label class="col-md-4 " for="DueDate"><span style="float:right">Due Date:</span></label>
                <div class="col-md-8">
                    <div class="cm-edit-switch_@Model.TaskId">
                        <span style="border-radius:0px">@Model.DueDate</span>
                        <input class="form-control" name="DueDate" type="text" value="@Model.DueDate" id="dpCLTaskDue" style="display:none">
                    </div>
                </div>
            </div>
            <!-- // Group END -->
            <!-- Group -->
            <div class="row">
                <label class="col-md-4 " for="StartDate"><span style="float:right">Start Date:</span></label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.StartDate</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 " for="Completed"><span style="float:right">Completed:</span></label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.Completed</span>
                </div>
            </div>

            <div class="row">
                <label class="col-md-4 " for="PriorityId"><span style="float:right">Priority:</span></label>
                <div class="col-md-8">
                    <div class="cm-edit-switch_@Model.TaskId">
                        <span style="border-radius:0px">@Model.Priority</span>
                        <select style="display:none" name="PriorityId" class="cm-select">
                            <option value="2" @(Model.PriorityId == 2 ? "selected" : "")>Expedited</option>
                            <option value="1" @(Model.PriorityId == 1 ? "selected" : "")>Standard</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 " for="StatusId"><span style="float:right">Status:</span></label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.Status</span>
                </div>
            </div>

            <div class="row">
                <label class="col-md-4 " for="Progress"><span style="float:right">Progress:</span></label>
                <div class="col-md-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" title="@Model.Progress%" style="width: @Model.Progress%;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Group END -->

        </div>
        <div class="col-md-2 form-horizontal">
            @Html.HiddenFor(m => m.Flight.FlightId)

            <div class="row">
                <label class="col-md-6 " for="FligthNumber"><span style="float:right">FLT #:</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.Flight.FligthNumber</span>
                </div>
            </div>

            <div class="row">
                <label class="col-md-6 " for="OriginId"><span style="float:right">Origin:</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.Flight.Origin</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-6 " for="DestinationId"><span style="float:right">Destination:</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.Flight.Destination</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-6 " for="HandlingStationId"><span style="float:right">Station:</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.Flight.HandlingStation</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 form-horizontal">
            <div class="row">
                <label class="col-md-4 " for="CarrierId"><span style="float:right">Carrier:</span></label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.Flight.Carrier</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 " for="ETD"><span style="float:right">ETD:</span></label>
                <div class="col-md-8">
                    <div class="cm-edit-switch_@Model.TaskId">
                        <span style="border-radius:0px">@Model.Flight.ETD</span>
                        <input class="form-control" type="text" name="Flight.ETD" value="@Model.Flight.ETD" id="dpCLTaskETD" style="display:none">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4" for="ETA"><span style="float:right">ETA:</span></label>
                <div class="col-md-8">
                    <div class="cm-edit-switch_@Model.TaskId">
                        <span style="border-radius:0px">@Model.Flight.ETA</span>
                        <input class="form-control" type="text" name="Flight.ETA" value="@Model.Flight.ETA" id="dpCLTaskETA" style="display:none">
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <label class="col-md-4" for="Cutoff"><span style="float:right">Cutoff:</span></label>
                <div class="col-md-8">
                    <div class="cm-edit-switch_@Model.TaskId">
                        <span style="border-radius:0px">@Model.Flight.Cutoff</span>
                        <input class="form-control" type="text" name="Flight.Cutoff" value="@Model.Flight.Cutoff" id="dpCLTaskCutoff" style="display:none">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 form-horizontal">
            <div class="row">
                <label class="col-md-7" for="TotalULDs"><span style="float:right">Total ULDs:</span></label>
                <div class="col-md-5">
                    <span style="border-radius:0px">@Model.Flight.TotalULDs</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-7" for="TotalAWBs"><span style="float:right">Total AWBs:</span></label>
                <div class="col-md-5">
                    <span style="border-radius:0px">@Model.Flight.TotalAWBs</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-7" for="TotalHAWBs"><span style="float:right">TotalHAWBs:</span></label>
                <div class="col-md-5">
                    <span style="border-radius:0px">@Model.Flight.TotalHAWBs</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-7" for="TotalWeight"><span style="float:right">Total Weight:</span></label>
                <div class="col-md-5">
                    <span style="border-radius:0px">@Model.Flight.TotalWeight</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-7" for="TotalPieces"><span style="float:right">Total Pieces:</span></label>
                <div class="col-md-5">
                    <span style="border-radius:0px">@Model.Flight.TotalPieces</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-7" for="TotalVolume"><span style="float:right">Total Volume:</span></label>
                <div class="col-md-5">
                    <span style="border-radius:0px">@Model.Flight.TotalVolume</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-md-2">
    <div class="cm-edit-switch_@Model.TaskId">
        <div>
            <button id="btnEditTaskDetails_@Model.TaskId" class="btn btn-primary" type="button" style="float:right;margin-left:3px"><i class="fa fa-pencil cm-button-icon"></i> Edit</button>
            <button id="btnNOTOC_@Model.TaskId" class="btn btn-danger" type="button" style="float:right;margin-left:3px"><i class="fa fa-clipboard cm-button-icon"></i> NOTOC</button>
        </div>
        <div style="display:none">
            <button id="btnSaveTaskDetails_@Model.TaskId" class="btn btn-success" type="button" style="float:right;margin-left:3px; margin-bottom:2px ">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button id="btnCancelTaskDetails_@Model.TaskId" class="btn btn-danger" type="button" style="float:right;margin-left:3px; ">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
        </div>
        </div>
    </div>