﻿@model MCH.Web.Models.Task.TaskDetailsSC
<div class="col-md-12">
    <form id="frmTaskDetails_@Model.TaskId">
        @Html.HiddenFor(m => m.TaskId)
        <div class="col-md-4 form-horizontal">
            <!-- Group -->
            <div class="row">
                <label class="col-md-4 " for="Reference">
                    <span style="float:right">Reference:</span>
                </label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.Reference</span>
                </div>
            </div>
            <!-- // Group END -->
            <!-- Group -->
            <div class="row">
                <label class="col-md-4 " for="DueDate"><span style="float:right">Due Date:</span></label>
                <div class="col-md-8">
                    <div class="cm-edit-switch_@Model.TaskId">
                        <span style="border-radius:0px">@Model.DueDate</span>
                        <input class="form-control" name="DueDate" type="text" value="@Model.DueDate" id="dpCLTaskDue" style="display:none">
                    </div>
                </div>
            </div>
            <!-- // Group END -->
            <!-- Group -->
            <div class="row">
                <label class="col-md-4 " for="StartDate"><span style="float:right">Start Date:</span></label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.StartDate</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 " for="Completed"><span style="float:right">Completed:</span></label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.Completed</span>
                </div>
            </div>

            <div class="row">
                <label class="col-md-4 " for="PriorityId"><span style="float:right">Priority:</span></label>
                <div class="col-md-8">
                    <div class="cm-edit-switch_@Model.TaskId">
                        <span style="border-radius:0px">@Model.Priority</span>
                        <select style="display:none" name="PriorityId" class="cm-select">
                            <option value="2" @(Model.PriorityId == 2 ? "selected" : "")>Expedited</option>
                            <option value="1" @(Model.PriorityId == 1 ? "selected" : "")>Standard</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-4 " for="StatusId"><span style="float:right">Status:</span></label>
                <div class="col-md-8">
                    <span style="border-radius:0px">@Model.Status</span>
                </div>
            </div>

            <div class="row">
                <label class="col-md-4 " for="Progress"><span style="float:right">Progress:</span></label>
                <div class="col-md-8">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" title="@Model.Progress%" style="width: @Model.Progress%;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Group END -->

        </div>
        <div class="col-md-4 form-horizontal">

            <div class="row">
                <label class="col-md-6 " for="TotalScreenings"><span style="float:right">Total Screenings :</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.TotalScreenings</span>
                </div>
            </div>

            <div class="row">
                <label class="col-md-6 " for="PassedCount"><span style="float:right">Passed Counts :</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.PassedCount</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-6 " for="AlarmCounts"><span style="float:right">Alarm Counts:</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.AlarmCounts</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-6 " for="ClearedCounts"><span style="float:right">Cleared Counts:</span></label>
                <div class="col-md-6">
                    <span style="border-radius:0px">@Model.ClearedCounts</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 form-horizontal">
            <div class="row">
                <label class="col-md-8 " for="ScreenStatus"><span style="float:right">Screen Status:</span></label>
                <div class="col-md-4">
                    <span style="border-radius:0px">@Model.ScreenStatus</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-8 " for="TotalPCsToScreen"><span style="float:right">Total Pcs To Screen :</span></label>
                <div class="col-md-4">
                    <span style="border-radius:0px">@Model.TotalPCsToScreen</span>
                </div>
            </div>
            <div class="row">
                <label class="col-md-8" for="ScreeningReady"><span style="float:right">Screening Ready:</span></label>
                <div class="col-md-4">
                    <span style="border-radius:0px">@Model.ScreeningReady</span>
                </div>
            </div>
        </div>
    </form>
</div>
@*<div class="col-md-2">
    <div class="cm-edit-switch_@Model.TaskId">
        <div>
            <button id="btnEditTaskDetails_@Model.TaskId" class="btn btn-primary" type="button" style="float:right;margin-left:3px"><i class="fa fa-pencil cm-button-icon"></i> Edit</button>
            <button id="btnNOTOC_@Model.TaskId" class="btn btn-danger" type="button" style="float:right;margin-left:3px"><i class="fa fa-clipboard cm-button-icon"></i> NOTOC</button>
        </div>
        <div style="display:none">
            <button id="btnSaveTaskDetails_@Model.TaskId" class="btn btn-success" type="button" style="float:right;margin-left:3px; margin-bottom:2px ">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button id="btnCancelTaskDetails_@Model.TaskId" class="btn btn-danger" type="button" style="float:right;margin-left:3px; ">
                <i class="fa fa-ban"></i>
                Cancel
            </button>
        </div>
        </div>
    </div>*@