﻿@model MCH.Web.Models.Task.TaskDetailsCR

<script type="text/javascript">
    $(function () {

        document.reloadTaskDetails = function (taskId) {
            $("#divTaskDetialsHeader_"+taskId).find('.widget-head>.heading').html('<span class="loading-bar"></span>');

            var url = '@Url.Action("GetCLTaskDetailsHeader","Tasks")';

            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify({TaskId : taskId}),
                success: function (data) {
                    $("#divTaskDetialsHeader_"+taskId).find('.widget-head>.heading').html('');
                    var tmpDetialsContainer = $("#divTaskDetialsHeader_"+taskId).find(".widget-body");
                    $(tmpDetialsContainer).html(data);
                    //reload general tasks list
                    document.reloadTasksLis();
                },
                dataType: 'html',
                contentType: 'application/json; charset=utf-8'
            });
        }


        $(".cm-select2_@Model.TaskId").select2();

        $("#btnSaveTaskDetails_@Model.TaskId").die().live('click', function () {

            var formJsonData = form2js('frmTaskDetails_@Model.TaskId');
            $("#divTaskDetialsHeader_@Model.TaskId").find('.widget-head>.heading').html('<span class="loading-bar"></span>');
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveCLTaskDetails", "Tasks")",
                data: JSON.stringify(formJsonData),
                success: function (data) {
                    $("#divTaskDetialsHeader_@Model.TaskId").find('.widget-head>.heading').html('');
                    var tmpDetialsContainer = $("#divTaskDetialsHeader_@Model.TaskId").find(".widget-body");
                    $(tmpDetialsContainer).html(data);
                },
                dataType: 'html',
                contentType: 'application/json; charset=utf-8'
            });
        });

        $("#btnEditTaskDetails_@Model.TaskId").die().live('click', function () {
            makeClTaskEditable();
        });

        $("#btnCancelTaskDetails_@Model.TaskId").die().live('click', function () {
            makeClTaskReadonly();
        });




        var initCLTaskEditables = function () {

            // all that have not been initialized yet
            $(".cm-select").not(".select2-container").select2({
                minimumResultsForSearch: -1
            });
        }

        var makeClTaskReadonly = function () {
            $(".cm-edit-switch_@Model.TaskId").each(function (i, item) {
                $(item).children().eq(0).show();
                $(item).children().eq(1).hide();
            });
        }

        var makeClTaskEditable = function () {

            $(".cm-edit-switch_@Model.TaskId").each(function (i, item) {
                $(item).children().eq(0).hide();
                $(item).children().eq(1).show();
            });

            initCLTaskEditables();
        }


        $("#btnNOTOC_@Model.TaskId").die().live('click', function () {

            var tmpTaskId = '@Model.TaskId';
            var tmpFlightNumber = '@Model.Flight.FligthNumber';

            var tabTemplateData = {};

            tabTemplateData.headerId = 'tab-cl-flight-notoc_@Model.Flight.FlightId';
            tabTemplateData.iconClass = 'notes';
            tabTemplateData.header = 'NOTOC : FLIGHT # ' + tmpFlightNumber;
            tabTemplateData.contentId = 'tabFlightNotoc_' + '@Model.Flight.FlightId';

            window.TAB_HANDLER.addTab('tabsCLContainer', tabTemplateData, '@Url.Action("GetNotocView", "customs")', { TaskId: tmpTaskId, FlightId: '@Model.Flight.FlightId' }, 'loading-bar');


            @*DIALOG_HANDLER.openRemoteView(function () { }, '@Url.Action("GetNotocView", "customs")', { TaskId: tmpTaskId }, "Special Load Notification to caption (NOTOC)");*@

        });


        var initLoaderDetailsScreenResize = function () {
            var tabPanel = $("#tabCargoLoaderDetails_@Model.TaskId");

            var tmpTaskDetailsHeader = tabPanel.children('div').first();

            var tmpReferencesContainer = $("#tabsCLReferences_@Model.TaskId");

            tmpReferencesContainer.height(tabPanel.height() - tmpTaskDetailsHeader.outerHeight(true));

            var tabHolder = tmpReferencesContainer.children('div').first();

            var tabHolderTabHeader = tabHolder.children('div').first();

            var tabContent = tabHolder.children('div')[1];

            $(tabContent).height(tabHolder.height() - tabHolderTabHeader.outerHeight(true));
        }

        initLoaderDetailsScreenResize();

        $(window).resize(function () {

            initLoaderDetailsScreenResize();

            $(window).trigger("cm-sub-resize");
        });

    });
</script>