﻿@model MCH.Web.Models.Task.TaskDetailsSC

<script type="text/javascript">
    $(function () {

        document.reloadTaskDetails = function (taskId) {
            $("#divTaskDetialsHeader_"+taskId).find('.widget-head>.heading').html('<span class="loading-bar"></span>');

            var url = '@Url.Action("GetSCTaskDetailsHeader","Tasks")';

            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify({TaskId : taskId}),
                success: function (data) {
                    $("#divTaskDetialsHeader_"+taskId).find('.widget-head>.heading').html('');
                    var tmpDetialsContainer = $("#divTaskDetialsHeader_"+taskId).find(".widget-body");
                    $(tmpDetialsContainer).html(data);
                    //reload general tasks list
                },
                dataType: 'html',
                contentType: 'application/json; charset=utf-8'
            });
        }


        $(".cm-select2_@Model.TaskId").select2();

        $("#btnSaveTaskDetails_@Model.TaskId").die().live('click', function () {

            var formJsonData = form2js('frmTaskDetails_@Model.TaskId');
            $("#divTaskDetialsHeader_@Model.TaskId").find('.widget-head>.heading').html('<span class="loading-bar"></span>');
            $.ajax({
                type: 'POST',
                url: "@Url.Action("SaveSCTaskDetails", "Tasks")",
                data: JSON.stringify(formJsonData),
                success: function (data) {
                    $("#divTaskDetialsHeader_@Model.TaskId").find('.widget-head>.heading').html('');
                    var tmpDetialsContainer = $("#divTaskDetialsHeader_@Model.TaskId").find(".widget-body");
                    $(tmpDetialsContainer).html(data);
                },
                dataType: 'html',
                contentType: 'application/json; charset=utf-8'
            });
        });

        $("#btnEditTaskDetails_@Model.TaskId").die().live('click', function () {
            makeSCTaskEditable();
        });

        $("#btnCancelTaskDetails_@Model.TaskId").die().live('click', function () {
            makeSCTaskReadonly();
        });

        var initSCTaskEditables = function () {

            // all that have not been initialized yet
            $(".cm-select").not(".select2-container").select2({
                minimumResultsForSearch: -1
            });
        }

        var makeSCTaskReadonly = function () {
            $(".cm-edit-switch_@Model.TaskId").each(function (i, item) {
                $(item).children().eq(0).show();
                $(item).children().eq(1).hide();
            });
        }

        var makeSCTaskEditable = function () {

            $(".cm-edit-switch_@Model.TaskId").each(function (i, item) {
                $(item).children().eq(0).hide();
                $(item).children().eq(1).show();
            });

            initSCTaskEditables();
        }

        var initScreeningDetailsScreenResize = function () {
            var tabPanel = $("#tabCargoScreeningDetails_@Model.TaskId");

            var tmpTaskDetailsHeader = tabPanel.children('div').first();

            var tmpReferencesContainer = $("#tabsSCReferences_@Model.TaskId");

            tmpReferencesContainer.height(tabPanel.height() - tmpTaskDetailsHeader.outerHeight(true));

            var tabHolder = tmpReferencesContainer.children('div').first();

            var tabHolderTabHeader = tabHolder.children('div').first();

            var tabContent = tabHolder.children('div')[1];

            $(tabContent).height(tabHolder.height() - tabHolderTabHeader.outerHeight(true));
        }

        initScreeningDetailsScreenResize();

        $(window).resize(function () {

            initScreeningDetailsScreenResize();

            $(window).trigger("cm-sub-resize");
        });

    });
</script>