﻿@model MCH.Web.Models.Task.TaskDetailsScreening

<script type="text/javascript">
    $(function () {

        var initCargoScreenerTableResize = function () {

            var tableWrapperId = 'tblTaskScreenings_@(Model.TaskId)_wrapper';

            var tableWrapper = $("#" + tableWrapperId);

            var tmpTableContainer = tableWrapper.closest('.tab-pane').first();

            //119 is the header + footer + tbody header of the datatable, 48 is the height of each row
            tableWrapper.find('.dataTables_scrollBody').height(tmpTableContainer.height() - 149);

        }

        var initScreeningsList = function () {

            var appendScreeningListFilter = function (baseData) {
                if (baseData) {
                    var tmpTaskId = '@Model.TaskId';
                    baseData.push({ "name": "TaskId", "value": tmpTaskId });
                }
                return baseData;
            }
            $("#tblTaskScreenings_@Model.TaskId").dataTable({
                "bJQueryUI": true,
                "sPaginationType": "bootstrap",
                "bProcessing": true,
                "bServerSide": true,
                "language": {
                    "emptyTable": "No records found."
                },
                "scrollY": "250px",
                "sAjaxSource": "@Url.Action("GetTaskScreenings", "Screening")",
                "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                    oSettings.jqXHR = $.ajax({
                        "dataType": 'json',
                        "type": "POST",
                        "url": sSource,
                        "data": appendScreeningListFilter(aoData),
                        "success": fnCallback
                    });
                },
                "aoColumnDefs": [
                     {
                         "aTargets": [0], "mData": "null", "sClass": "cm-datatable-action", "sTitle": "<input type='checkbox' class='cm-datatable-select-header' />", "bSearchable": false, "bSortable": false, "mRender": function (data, type, full) {
                             return '<input type="checkbox" data-id="' + full.Id + '" class="cm-datatable-select"/>';
                         }
                     },
                    {
                        "aTargets": [1], "mData": "ScreeningDate", "sTitle": 'Screening Date', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                            return new Date().getDataTableColumn(data);
                        }
                    },
                    {
                        "aTargets": [2], "mData": "ScreenedPcs", "sTitle": 'Screened Pcs', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [3], "mData": "SampleNumber", "sTitle": 'Sample Number', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [4], "mData": "DeviceSerial", "sTitle": 'Device', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [5], "mData": "ScreeningMethod", "sTitle": 'Method', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [6], "mData": "Comment", "sTitle": 'Comment', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [7], "mData": "Result", "sTitle": 'Result', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [8], "mData": "Screener", "sTitle": 'Screener', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [9], "mData": "PreScreenedAtCCSF", "sTitle": 'Pre Screened At CCSF', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [10], "mData": "AlarmClearedBy", "sTitle": 'Alarm Cleared By', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [11], "mData": "ClearAlarmComment", "sTitle": 'Clear Alarm Comment', "bSearchable": false, "bSortable": true
                    },
                    {
                        "aTargets": [12], "mData": "AlarmClearedTimestamp", "sTitle": 'Alarm Cleared', "bSearchable": false, "bSortable": true, "mRender": function (data, type, full) {
                            return new Date().getDataTableColumn(data);
                        }
                    },
                    {
                        "aTargets": [13], "mData": "Whse", "sTitle": " Warehouse", "bSearchable": false, "bSortable": true
                    }
                ]
            });


            var tmpSCScreeningListActions = {
                controlId: 'scTaskScreeningOptions@(Model.TaskId)',
                options: [
                     { id: 'scClearAlarm@(Model.TaskId)', name: "Clear Alarm" },

                ]
            };

            if ('@Model.AlarmCount' != '0') {
                $("#datatable-filter-action").tmpl(tmpSCScreeningListActions).appendTo("#tblTaskScreenings_@(Model.TaskId)_filter");
            }


            $("#scClearAlarm@(Model.TaskId)").on('click', function (e) {

                var selectedItems = $(this).closest("div.dataTables_wrapper").find("input.cm-datatable-select:checked");
                var selectedScreeningsIds = [];
                if (selectedItems.length > 0) {
                    for (var i = 0 ; i < selectedItems.length; i++) {
                        selectedScreeningsIds.push($(selectedItems[i]).attr("data-id"));
                    }
                }

                var htmlContent = $("#modal-content-remark").tmpl({ inputId: 'txtClearComment@(Model.TaskId)' });

                DIALOG_HANDLER.openStaticDialog(function () {

                    var textInput = $("#txtClearComment@(Model.TaskId)").val().trim();

                    if (textInput && textInput !== "") {
                        var dataModel = { TaskId: '@Model.TaskId', ScreeningIdsString: selectedScreeningsIds.join(","), Comment: textInput };

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ClearAlarm", "Screening")',
                            data: JSON.stringify(dataModel),
                            success: function () {
                                $("#tblTaskScreenings_@Model.TaskId").DataTable().ajax.reload();
                                document.reloadTaskDetails('@Model.TaskId');
                            },
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8"
                        });
                    }

                }, htmlContent, "Add a Comment");
            })

        }

        initScreeningsList();

        setTimeout(function () { initCargoScreenerTableResize(); }, 1000);

        $(window).on('cm-sub-resize', function () {
            initCargoScreenerTableResize();
        })
    });

</script>