﻿@{
    Layout = null;
}
@model List<MCH.Web.Models.Common.MenuItemModel>

<title>Test Dynamic Menu</title>
<link href="@Url.Content("~/Content/assets/css/admin/module.admin.page.index.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/assets/css/custom/main.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/kendo/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/assets/css/Site.css")" rel="stylesheet" />

@Html.DynamicMenu(Model)