﻿@using MCH.Web.Models.Shared
@using MCH.Core.Models.Common
@model PartnerType


<div style="text-align:right; margin-bottom:10px;">
    <input type="button" class="k-button k-primary" style="float:left;" value="Add New" onclick="PartnerModel.OpenAddEdtiPartner()" />
    @Html.TextBox("txtFindAddresbook", "", new { @class = "k-textbox", style="width:300px;" })

    <input type="button" class="k-button k-primary" value="Find" onclick="PartnerModel.SearchAddressBook()" />
</div>

@(Html.Kendo().Grid<PartnerSimple>()
    .Name("addressBookGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.Id).Filterable(false)
            .ClientTemplate("<button style='min-width: 20px;' onclick=\"PartnerModel.onSelectPartner(#= Id #, '" + Model + "' )\" type='button' class='k-button' title='select'><span class='k-icon k-i-tick'></span></button>").Title("").Width(3);

        columns.Bound(p => p.Name).Width(17);
        columns.Bound(p => p.City).Width(8);
        columns.Bound(p => p.Country).Width(5);
        columns.Bound(p => p.AccountNumber).Width(7);
        columns.Command(c => c.Custom("edit").Text(" ")).Width(3)
           .HtmlAttributes(new
           {
               @class = "center",
               title = "Edit",
               onclick = "PartnerModel.OpenAddEdtiPartner(\"#=Id#\")"
           });
    })

    .Sortable()
    .Scrollable()
    .Filterable()
    .Pageable()
    .HtmlAttributes(new { style="height:550px;" })
    .DataSource(d => d
    .Ajax()
    .Read(r => r.Action("GetCustomersGrid", "Partner")
        ).PageSize(20))
        .AutoBind(false)
)

<script type="text/javascript">
    $(function () {
        $("#txtFindAddresbook").keyup(function (event) {
            if (event.keyCode == 13) {
                PartnerModel.SearchAddressBook();
            }
        });
    })
</script>