﻿@using MCH.Web.Models.Shared;
@model Agent

<script type="text/javascript">

    function onChangedAgent(e) {

        var id = parseInt(e.sender._selectedValue);
        if (isNaN(id))
            return;
        var url ='@Url.Action("GetAgentById", "Partner")';


        $.ajax({
            type: 'POST',
            dataType: "html",
            traditional: true,
            url: url,
            data:  { id: id},
            success: function (html) {

                $("#AgentEditor").html(html);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            },
            cache: false
        });
    }
</script>


<div class="lg_controls">
  
    <span class="cnt_100">Agent:</span>
    @(Html.Kendo().ComboBox().Name("IssuingCarriersAgent[Id]").Value(Model.Id.ToString()).DataSource(d => d.Read(r => r.Action("GetAgentList", "Partner"))).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
        .Events(e => e.Change("onChangedAgent"))
                             .HtmlAttributes(new { style = "width:100%", name = "IssuingCarriersAgent[Id]", id = "IssuingCarriersAgent_Id"})
    )
</div>

<div id="AgentEditor">
    @Html.Partial("_AgentEditor", Model)
</div>
