﻿@using MCH.Web.Models.Shared;
@model Agent

@{
    Layout = null;
}


<div class="inlinecontrols">
    <div class="lg_controls" style="width:70%">
        <span class="cnt_100">Name*:</span>
        @Html.TextBox("IssuingCarriersAgent[Name]", Model.Name, new { id = "IssuingCarriersAgent_Name", inputempty = "", data_inputempty_msg = "Name is required", @class = "k-textbox" })
    </div>
    <div class="lg_controls" style="width:28%">
        <span class="cnt_100">Account #:</span>
        @Html.TextBox("IssuingCarriersAgent[AccountNumber]", Model.AccountNumber, new { id = "IssuingCarriersAgent_AccountNumber", @class = "k-textbox" })
    </div>
</div>
<div class="inlinecontrols">
    <div class="lg_controls" style="width:70%">
        <span class="cnt_100">City*:</span>
        @Html.TextBox("IssuingCarriersAgent[City]", Model.City, new { id = "IssuingCarriersAgent_City", inputempty = "", data_inputempty_msg = "City is required", @class = "k-textbox" })
    </div>
    <div class="lg_controls" style="width:28%">
        <span class="cnt_100">IATACode*:</span>
        @Html.TextBox("IssuingCarriersAgent[IATACode]", Model.IATACode, new { id = "IssuingCarriersAgent_IATACode", inputempty = "", data_inputempty_msg = "IATACode is required", @class = "k-textbox" })
    </div>

</div>
<div class="inlinecontrols">
    <div class="lg_controls" style="width:70%">
        <span class="cnt_100">CASS Address:</span>
        @Html.TextBox("IssuingCarriersAgent[CASSAddress]", Model.CASSAddress, new { id = "IssuingCarriersAgent_CASSAddress", @class = "k-textbox" })
    </div>
    <div class="lg_controls" style="width:28%">
        <span class="cnt_100">Participant Identfier:</span>
        <div style="display: inline-table">
            @(Html.Kendo().ComboBoxFor(m => m.ParticipantIdentfierId).DataSource(d =>
             d.Read(r => r.Action("GetParticipantIdentifiers", "Partner")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "Identfier is invalid",
                                         id = "IssuingCarriersAgent_ParticipantIdentfierId",
                                         name = "IssuingCarriersAgent[ParticipantIdentfierId]",
                                         style = "width:100%"
                                     })
            )
        </div>
    </div>

</div>



