﻿@(Html.Kendo().Window().Name("wndCapturePhoto").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close())
    .Content(
    @<text>

        @Html.Partial("_PhotoCapturer")

    </text>))


@(Html.Kendo().Window().Name("wndImageViewer").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close()).Title("Image Viewer")
.Content(
    @<text>
    </text>
    ))

@(Html.Kendo().Window().Name("wndDocumentViewer").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close()).Title("Document Viewer")
.Content(
    @<text>
    </text>))

@(Html.Kendo().Window().Name("wndReportsViewer").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Minimize().Maximize().Close()).Title("Report  Viewer")
.Content(
    @<text>
        <div id="dvReportViewerContainer" style="width:100%; min-height:400px; height:100%">

        </div>
    </text>)
)


@(Html.Kendo().Window().Name("wndGlobalConfirmation").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Close()).Title("Confirmation")
.Content(""))

@(Html.Kendo().Window().Name("wndGlobalAlert").Draggable(true).Visible(false).Modal(true).Resizable().Actions(a => a.Close()).Title("Alert")
.Content(""))
