﻿@model MCH.Web.Models.Shared.DocumentUploaderModel
<div class="container-fluid height100per" style="height:auto">
    <div class="row cm-heightcalc100-32">
        <form class="col-md-12 form-horizontal form-widgets height100per" id="@Model.FormName">
            <div class="form-group">
                <label class="col-md-2 width134 control-label">Document Type : </label>
                <div class="col-md-8 cm-widthcalc100-134">
                    @(Html.Kendo().DropDownList()
                       .DataTextField("Name")
                       .DataValueField("Id")
                       .Name(Model.FormName + "DocTypes")
                       .HtmlAttributes(new { @class = "cm-doc-up-types" })
                    )
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 width134 control-label required">Document Name : </label>
                <div class="col-md-8 cm-widthcalc100-134">
                    @Html.TextBox("Document Name", null, new { id = Model.FormName + "DocName", @class = "k-textbox cm-doc-up-name", style = "width:100%", name = "documentName", required = "required" })
                    <span class="k-invalid-msg" data-for="documentName"></span>
                </div>
            </div>

            <div class="form-group cm-heightcalc100-65">
                <label class="col-md-2 width134 control-label">Select File from : </label>
                <input type="hidden" name="oneFileIsRequired" />
                <div class="col-md-8 cm-widthcalc100-134 height100per">
                    @(Html.Kendo().TabStrip().Name(Model.FormName + "UploaderTabs")
                    .Items(i =>
                    {
                        i.Add().Text("File System").Content(
                            @<text>
                                <input type="hidden" name="selectFile" />
                                @(Html.Kendo().Upload().Name(Model.FormName + "UploadControl").Multiple(false))
                                <span class="k-invalid-msg" data-for="selectFile"></span>
                            </text>
                            )
                            .HtmlAttributes(new { @class = "cm-heightcalc100-32" })
                            .Selected(true);
                        i.Add().Text("Document Snapshot").Content(
                            @<text>
                                <input type="hidden" name="takeSnapshot" />
                                <div class="form-group height100per">

                                    <div class="col-md-6 height100per">
                                        <video id="@Model.FormName-video" class="cm-doc-up-video cm-heightcalc100-32" style="width:100%;" autoplay></video>
                                        <input id="@Model.FormName-btn-capture" type="button" class="k-button k-primary cm-doc-up-btn-capture"
                                               style="width:100%" value="New Snapshot" />
                                    </div>
                                    <div class="col-md-6 height100per">
                                        <canvas id="@Model.FormName-canvas" class="cm-doc-up-canvas cm-heightcalc100-32" style="width:100%;"></canvas>
                                    </div>
                                </div>
                                <span class="k-invalid-msg" data-for="takeSnapshot"></span>

                            </text>)
                    .HtmlAttributes(new { @class = "cm-heightcalc100-32" });

                    }).HtmlAttributes(new { @class = "cm-doc-up-tab height100per" })
                    )

                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button op-window-close" value="Close" />
                <input type="button" class="k-button k-primary" id="@Model.FormName-btn-save" value="Save And Close" />
            </div>
        </div>
    </div>
</div>