﻿
<script id="modal-confirm-task-action" type="text/x-jQuery-tmpl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span>${message}</span>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-12 pull-right buttons-wrapp">
                <div class="pull-right">
                    <input type="button" value="No" class="k-button k-primary" id="${cancelGlobalButtonId}" />
                    <input type="button" value="Yes" class="k-button" style="background-color:rgb(200, 67, 67); color:white" id="${confirmButtonId}" />
                </div>
            </div>
        </div>
    </div>
</script>

<script id="modal-global-alert" type="text/x-jQuery-tmpl">
    <div style="text-align:center;">
        <div style="min-height:70px; min-width:250px;">
            <span>${message}</span>

        </div>
        <div style="margin-top:10px;">

            <input type="button" value="Ok" class="k-button k-primary op-window-close" />

        </div>
    </div>
</script>

<script id="modal-confirm-task-action-result" type="text/x-jQuery-tmpl">
    <div>
        <ul>
            {{each Messages}}
            <li>${$value}</li>
            {{/each}}
        </ul>
        <input type="button" value="Close" class="k-button op-window-close" />
    </div>
</script>

<script id="modal-content-remark" type="text/x-jQuery-tmpl">
    <form class="bootbox-form">
        <textarea class="bootbox-input bootbox-input-text form-control" id="${inputId}" />
    </form>
</script>


<script id="datatable-filter-action" type="text/x-jQuery-tmpl">
    <div class="btn-group" style="margin:5px">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="${controlId}">
            <i class="fa fa-cog" style="margin:3px"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            {{each options}}
            <li><a href="#" id="${$value.id}">${$value.name}</a></li>
            {{/each}}
        </ul>
    </div>
</script>

<script id="modal-content-users" type="text/x-jQuery-tmpl">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="inputEmail3" class="control-label">Employee :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <select multiple style="width: 100%;" id="${empControlId}">
                    {{each userOptions}}
                    <option value="${$value.Id}">${$value.Text}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="inputPassword3" class="control-label">Owner :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <select style="width: 100%;" id="${ownControlId}">
                    {{each ownerOptions}}
                    <option value="${$value.Id}">${$value.Text}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </form>
</script>

<script id="modal-content-add-uld" type="text/x-jQuery-tmpl">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-3">
                <label for="inputEmail3" class="control-label">ULD Type :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <select style="width: 100%;" id="${uldTypeControlId}">
                    {{each uldTypeOptions}}
                    <option value="${$value.Id}">${$value.Text}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="inputPassword3" class="control-label">Prefix :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <select style="width: 100%;" id="${prefixControlId}">
                    {{each unitTypeOptions}}
                    <option value="${$value.Id}">${$value.Text}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="inputPassword3" class="control-label">Serial :</label>
            </div>
            <div class="col-sm-9" style="padding:0px">
                <input type="text" class="form-control" id="${serialContorlId}" />
            </div>
        </div>
    </form>
</script>

<script id="datatable-filter-action-add" type="text/x-jQuery-tmpl">
    <div class="btn-group" style="margin:5px">
        <button type="button" class="btn btn-default" id="${controlId}">
            <i class="fa fa-plus-circle"></i>
            ${text}
        </button>
    </div>
</script>



<script id="tabsbar-header" type="text/x-jQuery-tmpl">
    <a href="#${contentId}" data-toggle="tab">
        <i></i> <span>${header}</span>
        <span class="btn tab-close">x</span>
    </a>
</script>

<script id="tabsbar-header-loading" type="text/x-jQuery-tmpl">
    <li class="col-md-3 glyphicons ${iconClass} cm-tab-item-dynamic" id="${headerId}">
        <a href="#${contentId}" data-toggle="tab">
            <i></i> <span class="loading-bar"></span>
        </a>
    </li>
</script>

<script id="tabsbar-content" type="text/x-jQuery-tmpl">
    <div class="tab-pane active" id="${contentId}">
    </div>
</script>


<script id="task-media-carousel" type="text/x-jQuery-tmpl">
    <div id="amazingcarousel-${TaskId}" class="cm-carousel" style="display:block;position:relative;width:100%;max-width:720px;margin:0px auto 0px;">
        <div class="amazingcarousel-list-container">
            <ul class="amazingcarousel-list">
                {{each MediaArray}}
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image">
                            <a href="data:image/png;base64,${$value.ImageLargUrl}" title="${$value.Title}" class="html5lightbox" data-group="amazingcarousel-${TaskId}" data-thumbnail="data:image/png;base64,${$value.ImageThumbUrl}" data-description="${$value.Description}">
                                <img src="data:image/png;base64,${$value.ImageMainUrl}" alt="Shipment Ref# ABC134234" />
                            </a>
                        </div>
                        <div class="amazingcarousel-title">
                            ${$value.Title}
                        </div>
                        <div class="amazingcarousel-description">${$value.Description}</div>
                    </div>
                </li>
                {{/each}}
            </ul>
            <div class="amazingcarousel-prev"></div>
            <div class="amazingcarousel-next"></div>
        </div>
        <div class="amazingcarousel-nav"></div>
        <div class="amazingcarousel-engine"><a href="http://amazingcarousel.com">jQuery Image Carousel</a></div>
    </div>
</script>


<script id="signature-form-template" type="text/x-jQuery-tmpl">
    <div id='${inputId}' class='signature-presenter'></div>
</script>

<script id="sign-usb-pad-template" type="text/x-jQuery-tmpl">
    <div class="row">
        <div class="col-md-12">
            <canvas id="${canvasId}" name="${canvasId}" width="600" height="150"
                    style='border:solid 1px; border-color:#cccccc;'></canvas>
        </div>
        <div class="col-md-12">
            <input type="button" class="k-button" value="Clear" id="${btnClearId}" />
            <input type="button" class="k-button k-primary" value="Accept" id="${btnAcceptId}" style="float:right" />
        </div>
    </div>
</script>

<script id="cm-enlarge-photo" type="text/x-jQuery-tmpl">
    <div style="width:100%; height:100%">
        <img id="${imageId}" style="width:100%; height:100%" />
    </div>
</script>

<script id="profile-photo" type="text/x-jQuery-tmpl">
    <div class="row" style="height:100%;width:100%">
        <div class="col-md-6">
            <video id="${videoId}" width="100%" height="100%" autoplay></video>
            <button id="${btnCaptureImage}" class="btn btn-primary"><i class="fa fa-camera"> </i> Capture</button>
        </div>
        <div class="col-md-6">
            <canvas id="${canvasId}" width="271" height="204"></canvas>
            <canvas id="${canvasId}_hidden" style="display:none"></canvas>
        </div>
    </div>
</script>

<script id="profile-document-photo" type="text/x-jQuery-tmpl">
    <div class="row" style="height:100%;width:100%">
        <div class="col-md-6">
            <video id="${videoId}" width="100%" height="100%" autoplay></video>
            <button id="${btnCaptureImage}" class="btn btn-primary"><i class="fa fa-camera"> </i> Capture</button>
        </div>
        <div class="col-md-6">
            <canvas id="${canvasId}" width="100%" height="100%"></canvas>
            <canvas id="${canvasId}_hidden" style="display:none"></canvas>
        </div>
    </div>
</script>

<script id="document-capture-attachment" type="text/x-jQuery-tmpl">
    <form class="form-horizontal" role="form" id="${fromId}">
        <div class="form-group">
            <div class="row" style="height:100%;width:100%">
                <div class="col-md-5">
                    <video id="${videoId}" width="100%" autoplay></video>
                    <a id="${btnCaptureImage}" class="btn btn-primary" style="width:100%"><i class="fa fa-camera"> </i> Capture</a>
                </div>
                <div class="col-md-5">
                    <canvas id="${canvasId}" width="100%"></canvas>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12" style="margin-bottom:20px">
                        <label for="inputEmail3" class="control-label">File Name :</label>
                        <input class="form-control" id="${fileName}" name="FileName" />
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail3" class="control-label">Description :</label>
                        <textarea class="form-control" id="${fileDescription}" name="Description" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>








