﻿<!DOCTYPE html>
<html>

<head>
    <title>Mobile Cargo Handler</title>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.common-bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/2014.3.1119/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/extend/kendo-extend.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/extend/form-extend.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/assets/css/admin/module.admin.page.index.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/admin/compared/module.admin.page.widget.dif.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/custom/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/custom/dynamic-grid.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/kendo/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/Site.css")" rel="stylesheet" />


    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.3.1119/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/modernizr/modernizr.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/template/jquery-template.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/library/form/form2js.js")"></script>
    <script src="@Url.Content("~/Content/kendo/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/main/jquery.ext.js")"></script>
    <script src="@Url.Content("~/Scripts/main/operational-settings.js")"></script>

    <!--Load application logic scripts-->
    <script src="@Url.Content("~/Scripts/main/navigation.js")"></script>
    <script src="@Url.Content("~/Scripts/main/common-dialogs.js")"></script>
    <script src="@Url.Content("~/Scripts/account/account-model.js")"></script>
    <script src="@Url.Content("~/Scripts/main/date-time-util.js")"></script>
    <script src="@Url.Content("~/Scripts/main/bootstrap-tab-utils.js")"></script>
    <script src="@Url.Content("~/Scripts/main/jSignature.min.js")"></script>
    <script src="@Url.Content("~/Scripts/main/image-capture.js")"></script>
    <script src="@Url.Content("~/Scripts/SigWebTablet.js")"></script>
    <script src="@Url.Content("~/Scripts/controls/photo-capturer.js")"></script>
    <script src="@Url.Content("~/Scripts/controls/common-controls.js")"></script>
    <script src="@Url.Content("~/Scripts/grid/dynamic-grid.js")"></script>
    <script src="@Url.Content("~/Scripts/main/main.js")"></script>
    <!--initialize application global handlers-->
    <script type="text/javascript">
        window.NAVIGATION_HANDLER = new NavigationHandler('@Url.Content("~/")', 'content');
        window.DIALOG_HANDLER = new CommonDialog('@Url.Content("~/")', '');
        window.ACCOUNT_HANDLER = new AccountModel('@Url.Action("logoff","account")');
        window.TAB_HANDLER = new TabHandler('@Url.Content("~/")');
        window.MEDIA_HANDLER = new MediaHandler();
        window.baseURL = '@Url.Content("~/")';
    </script>

</head>
<body style="padding-top:0;">
    <div class="container-fluid cm-container" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div id="menu" class="hidden-print col-sm-2 menu-collapse cm-menu-hidden">
                <div class="sidebar sidebar-default">

                    @if (MCH.Web.Utilities.SessionManager.UserInfo != null && MCH.Web.Utilities.SessionManager.UserInfo.AppNavigations != null)
                    {
                        @(Html.Partial("_MenuPartial", MCH.Web.Utilities.SessionManager.UserInfo.AppNavigations))
                    }

                </div>
            </div>

            <div id="content" class="col-sm-10" style="height:100%;">
                <h1 class="content-heading bg-white border-bottom">Loading <span>please wait...</span> <span class="loading-bar"></span></h1>
                @RenderBody()
            </div>

        </div>
    </div>

    @Html.Partial("_HtmlTemplates")

    @Html.Partial("_CommonWindows")

    <script>
        var basePath = '',
            commonPath = '@Url.Content("~/Content/assets/")',
            rootPath = '@Url.Content("~/Content/")',
                    DEV = false,
                    componentsPath = '@Url.Content("~/Content/assets/components/")';

        var primaryColor = '#4e72c2',
                dangerColor = '#b55151',
                infoColor = '#466baf',
                successColor = '#8baf46',
                warningColor = '#ab7a4b',
                inverseColor = '#45484d';

        var themerPrimaryColor = primaryColor;
    </script>
    <script>
        var _resizeGrids, _resizeGrid;
    $(document).on('grid-content-loaded', function () {
        _resizeGrids = $('[data-role="grid"]');        
    });
    function resizeGrid(force) {        
        _resizeGrids && _resizeGrids.length &&
        $.each(_resizeGrids, function (i, el) {
            _resizeGrid = $(el).data("kendoGrid");
            _resizeGrid && _resizeGrid.resize(force);
        });        
    }

    $(window).resize(function () {
        resizeGrid(false);
    });
    </script>

    <script src="@Url.Content("~/Scripts/main/menu-collapse.js")"></script>
    <script src="@Url.Content("~/Scripts/main/toolbar-collapse.js")"></script>

    <script src="@Url.Content("~/Scripts/utils/Globals.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/plugins/nicescroll/jquery.nicescroll.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/breakpoints/breakpoints.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-chat/assets/js/widget-chat.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/plugins/slimscroll/jquery.slimscroll.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/modules/admin/widgets/widget-scrollable/assets/js/widget-scrollable.init.js")"></script>

    <script src="@Url.Content("~/Content/assets/components/plugins/holder/holder.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/core/js/sidebar.main.init.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/core/js/sidebar.collapse.init.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Content/assets/components/core/js/core.init.js")"></script>

    @* Application controllers *@
    <script src="@Url.Content("~/Scripts/cargo-accept/aca-driver.js")"></script>
    <script src="@Url.Content("~/Scripts/cargo-accept/accept-carrier-shipper.js")"></script>
    <script src="@Url.Content("~/Scripts/controls/document-uploader.js")"></script>
    <script src="@Url.Content("~/Scripts/controls/signature-pad.js")"></script>
    <script src="@Url.Content("~/Scripts/controls/report-viewer.js")"></script>

</body>
</html>