﻿@helper ShowMenuItems(CMX.Shell.ServiceProxy.ShellMembershipService.AppNavigation[] items)
{

    foreach (var menuItem in items)
    {
        if (menuItem.ChildItems != null && menuItem.ChildItems.Any())
        {
            <li class="hasSubMenu">
                <a href="#" data-target="#menu_item_@menuItem.Id" data-toggle="collapse"><i class="@menuItem.IconKey"></i><span>@menuItem.Text</span></a>
                <ul class="collapse" id="menu_item_@menuItem.Id">
                    @ShowMenuItems(menuItem.ChildItems)
                </ul>
            </li>
        }
        else
        {
            string isDefaultString = menuItem.IsDefault ? "class=active" : String.Empty;
            string tmpTarget = Url.Action(!String.IsNullOrWhiteSpace(menuItem.NavigationPath) ? menuItem.NavigationPath.Trim().Split('/')[1] : String.Empty, !String.IsNullOrWhiteSpace(menuItem.NavigationPath) ? menuItem.NavigationPath.Trim().Split('/')[0] : string.Empty);


            <li @isDefaultString>
                <a href="#" data-target="@tmpTarget" data-nav-item data-task-type="@menuItem.MenuParam">                                   
                    <i class="glyphicon glyphicon-@menuItem.IconKey inline-block"></i><span class="cm-menu-hidden-text">@menuItem.Text</span>
                </a>
            </li>
        }
    }
}



<div class="sidebarMenuWrapper" style="position:relative; top:0;">
    @if (MCH.Web.Utilities.SessionManager.UserInfo.AppNavigations != null)
    {
        <ul class="list-unstyled">
            @ShowMenuItems(MCH.Web.Utilities.SessionManager.UserInfo.AppNavigations)
        </ul>
    }
</div>



<script type="text/javascript">
    $(document).ready(function () {
        window.refreshMenuTaskCounts = function () {

            $.getJSON("@Url.Action("GetMenuTaskCounts", "Dashboard")", function (data) {
                var items = [];
                $.each(data, function (key, val) {
                    var holder = $("a[data-task-type=" + val.TaskTypeId + "]");
                    $(holder).children("span.badge").html(val.Count);
                });
            });
        }

        window.refreshMenuTaskCounts();

        $('.sidebarMenuWrapper a[data-nav-item]').click(function (e) {
            if (!$(this).parent().hasClass("hasSubMenu")) {
                $(".sidebarMenuWrapper a").parent().removeClass("active");
                $(this).parent().addClass("active");
            }
            var targetUrl = $(this).attr('data-target');
            var itemTaskTypeId = $(this).attr("data-task-type");
            // if it is task menu item pass the task type
            if (itemTaskTypeId != null && itemTaskTypeId != '') {
                var taskNavData = {};
                taskNavData.TaskTypeId = itemTaskTypeId;
                taskNavData.WarehousePortId = '@MCH.Web.Utilities.SessionManager.UserInfo.DefaultSiteId';
                window.NAVIGATION_HANDLER.navigateTo(targetUrl, taskNavData, function () { $.event.trigger({ type: "grid-content-loaded" }); });
            } else {
                window.NAVIGATION_HANDLER.itemNavigate(targetUrl, function () { $.event.trigger({ type: "grid-content-loaded" }); });
            }

            window.NAVIGATION_HANDLER.setCurrentUrl(targetUrl);
        });

        @if (MCH.Web.Utilities.SessionManager.UserInfo != null &&  MCH.Web.Utilities.SessionManager.UserInfo.DefaultMenuItem != null)
        {
            string tmpMenuPath = MCH.Web.Utilities.SessionManager.UserInfo.DefaultMenuItem.NavigationPath;
            <text>
        // navigate to default screen

        var dashboardUrl = '@Url.Action(tmpMenuPath.Split('/')[1], tmpMenuPath.Split('/')[0])';
        window.NAVIGATION_HANDLER.itemNavigate(dashboardUrl, function () { $.event.trigger({ type: "grid-content-loaded" }); });
        window.NAVIGATION_HANDLER.setCurrentUrl(dashboardUrl);
        </text>
        }

        _menuCollapse.apply(".menu-collapse");
        _toolbarCollapse.apply(".k-grid-toolbar");
    })

</script>

