﻿@using MCH.Web.Models.Shared;
@using  MCH.Core.Models.Common
@model Partner


@Html.Hidden(Model.Type + "[Type]", Model.Type)
<div class="lg_controls" style="text-align:right;">
    <input type="button" style="width:70px;" class="k-button k-primary" value="Find" onclick="PartnerModel.OpenAddressBook('@Model.Type')" />
    @*<span class="cnt_100">@Model.Type:</span>
        @(Html.Kendo().ComboBox().Name(Model.Type + "[Id]").Value(Model.Id.ToString()).DataSource(d => d.Read(r => r.Action("GetCustomerList", "Partner"))).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                   .Events(e => e.Change("onChangedPartner"))

                                         .HtmlAttributes(new { style = "width:100%", id = Model.Type + "_Id", type = Model.Type })
        )*@

</div>

<div class="lg_controls" style="width: 70%; margin-top: -30px;">
    <span class="cnt_100">Name:</span>
    @Html.TextBox(Model.Type + "[NameR]", Model.Name, new { id = Model.Type + "_NameR", disabled = "disabled", @class = "k-textbox", inputempty = "", data_inputempty_msg = "Name is required" })
</div>
<div class="lg_controls">
    <span class="cnt_100">Information:</span>

    @Html.TextArea(Model.Type + "[SummaryR]", Model.Summary, new { id = Model.Type + "_SummaryR", disabled = "disabled", style = "height:60px;" })
</div>

@Html.Hidden(Model.Type + "[Id]", Model.Id, new { id = Model.Type + "_Id" })


