﻿@using MCH.Web.Models.Shared;
@using MCH.Core.Models.Common
@model Partner


<form id="divPartnerEditor" style="">
    <input type="hidden" value="@Model.Id" name="Id" />

    <div class="inlinecontrols">
        <div class="lg_controls" style="width:70%">
            <span class="cnt_100">Name*:</span>
            @Html.TextBox("Name", Model.Name, new { id = "partnerName", inputempty = "", data_inputempty_msg = "Name is required", @class = "k-textbox" })
        </div>
        <div class="lg_controls" style="width:28%">
            <span class="cnt_100">Account #:</span>
            @Html.TextBox("AccountNumber", Model.AccountNumber, new { id = "partnerAccountNumber", @class = "k-textbox" })
        </div>
    </div>

    <div class="lg_controls" style="width:100%">
        <span class="cnt_100">Address1*:</span>
        @Html.TextBox("Address1", Model.Address1, new { id = "partnerAddress1", inputempty = "", data_inputempty_msg = "Address1 is required", @class = "k-textbox" })
    </div>
    <div class="inlinecontrols">
        <div class="lg_controls" style="width:49%;">
            <span class="cnt_100">Country*:</span>
            <div>
                @(Html.Kendo().ComboBoxFor(m => m.CountryId).DataSource(d =>
                                         d.Read(r => r.Action("GetCountries", "Partner")
                                                 ))
                                         .Events(e => e.Change("PartnerModel.onCountryChange"))
                                                 .DataTextField("Name")
                                                 .DataValueField("Id")
                                                 .Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         type = Model.Type,
                                         id = "partnerCountryId",
                                         name = "CountryId",
                                         style = "width:100%;",
                                         comboselected = "",
                                         data_comboselected_msg = "Country is invalid",
                                         inputempty = "",
                                         data_inputempty_msg = "Country is required"
                                     })
                )
            </div>
        </div>
        <div class="lg_controls" style="width:49%;">
            <span class="cnt_100">State:</span>
            <div>
                @(Html.Kendo().ComboBoxFor(m => m.StateId).DataSource(d =>
                     d.Read(r => r.Action("GetStateCodes", "Partner").Data("PartnerModel.getCountryId")
                                     )).DataTextField("Name").DataValueField("Id").Placeholder("- select -")
                                     .HtmlAttributes(new
                                     {
                                         comboselected = "",
                                         data_comboselected_msg = "State is invalid",
                                         type = Model.Type,
                                         id = "partnerStateId",
                                         name = "StateId",
                                         style = "width:100%;"
                                     })
                )
            </div>

        </div>
    </div>
    <div class="inlinecontrols">
        <div class="lg_controls" style="width:70%;">
            <span class="cnt_100">City*:</span>
            @Html.TextBox("City", Model.City, new { id = "partnerCity", inputempty = "", data_inputempty_msg = "City is required", @class = "k-textbox" })
        </div>

        <div class="lg_controls" style="width:28%;">
            <span class="cnt_100">Postal:</span>
            @Html.TextBox("Postal", Model.Postal, new { id = "partnerPostal", @class = "k-textbox" })
        </div>
    </div>


    <div class="lg_controls" style="width:100%;">
        <span class="cnt_100">Email:</span>
        @Html.TextBox("Email", Model.Email, new { id = "partnerEmail", @class = "k-textbox", type = "email", pattern = "[^ @]*@[^ @]*" })
    </div>


    <div class="inlinecontrols">
        <div class="lg_controls" style="width:60%;">
            <span class="cnt_100">Phone:</span>
            @Html.TextBox("Phone", Model.Phone, new { id = "partnerPhone", @class = "k-textbox" })
        </div>
        <div class="lg_controls" style="width:38%;">
            <span class="cnt_100">Fax:</span>
            @Html.TextBox("Fax", Model.Fax, new { name = "partnerFax", id = "partnerFax", @class = "k-textbox" })
        </div>
    </div>

    <div class="pull-right" style="margin-top:10px;">
        <input type="button" style="width:60px;" class="k-button k-primary" value="Save" id="btnSavePartner" onclick="PartnerModel.onSavePartner()" />
</div>
</form>