﻿
<div class="container-fluid height100per paddingbottom32">
    <form class="row form-widgets cm-heightcalc100-32" id="frmPhotoCapturer">

        <div class="col-lg-6 height100per">
            <video id="vidPhotoCapture" class="cm-photo-up-video" style="width:100%;height:100%" autoplay></video>
        </div>

        <div class="col-lg-6 height100per">
            <canvas id="cnvPhotoCapture" class="cm-doc-up-canvas" style="width:100%;height:100%"></canvas>
        </div>

    </form>
    <div class="row col-lg-6 justify">
        <div class="row" style="margin-top: 2px;">
            <input id="btnCapturePhoto" type="button" class="k-button k-primary" style="width:100%" value="New Snapshot" />
        </div>
    </div>
    <div class="row cm-bottom-right">
        <div class="col-md-12 pull-right buttons-wrapp">
            <div class="pull-right">
                <input type="button" class="k-button " value="Close" id="btnClosePhotoCapturer" />
                <input type="button" class="k-button k-primary cm-photo-up-save" id="btnAcceptPhotoCapturer" value="Accept" />
            </div>
        </div>
    </div>
</div>


