﻿@model List<String>
@{
    ViewBag.Title = "Error";
    Layout = null;
}

@foreach (var err in Model)
{
    <hgroup class="title">
        <h1 class="error">Error.</h1>
        <h2 class="error">@err</h2>
    </hgroup>
}

