﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/dhtmlx")
    
</head>

@RenderSection("module");
<body onload="init();">

    @RenderBody()

</body>
</html>
